<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="alc alter--en-016-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/polkhawk-bombastic-shot-alc-alter-csr" rel="noopener noreferrer" target="_blank">
          Polkhawk, Bombastic Shot
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,730 <span class="thema-score thema-score-charm" title="CHARM">298</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">386</span> <span class="thema-score thema-score-grace" title="GRACE">351</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">308</span> <span class="thema-score thema-score-valor" title="VALOR">387</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈71
  </td>
</tr>
<tr data-id="alc alter--en-017-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nico-whiplash-allure-alc-alter-csr" rel="noopener noreferrer" target="_blank">
          Nico, Whiplash Allure
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,730 <span class="thema-score thema-score-charm" title="CHARM">449</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">337</span> <span class="thema-score thema-score-grace" title="GRACE">293</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">371</span> <span class="thema-score thema-score-valor" title="VALOR">280</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈71
  </td>
</tr>
<tr data-id="alc alter--en-018-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/vanitas-obliviate-schemer-alc-alter-csr" rel="noopener noreferrer" target="_blank">
          Vanitas, Obliviate Schemer
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,730 <span class="thema-score thema-score-charm" title="CHARM">359</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">321</span> <span class="thema-score thema-score-grace" title="GRACE">373</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">371</span> <span class="thema-score thema-score-valor" title="VALOR">306</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈71
  </td>
</tr>
<tr data-id="alc alter--en-019-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/vanitas-convergent-ruin-alc-alter-csr" rel="noopener noreferrer" target="_blank">
          Vanitas, Convergent Ruin
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,730 <span class="thema-score thema-score-charm" title="CHARM">346</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">318</span> <span class="thema-score thema-score-grace" title="GRACE">363</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">377</span> <span class="thema-score thema-score-valor" title="VALOR">326</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈71
  </td>
</tr>
<tr data-id="alc alter--en-029-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-029
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/temporal-spectrometer-alc-alter" rel="noopener noreferrer" target="_blank">
          Temporal Spectrometer
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">62</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">55</span> <span class="thema-score thema-score-grace" title="GRACE">61</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">65</span> <span class="thema-score thema-score-valor" title="VALOR">58</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">283</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">252</span> <span class="thema-score thema-score-grace" title="GRACE">279</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">297</span> <span class="thema-score thema-score-valor" title="VALOR">265</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,112<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-036-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-036
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/magebane-lash-alc-alter" rel="noopener noreferrer" target="_blank">
          Magebane Lash
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">65</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">58</span> <span class="thema-score thema-score-grace" title="GRACE">60</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">63</span> <span class="thema-score thema-score-valor" title="VALOR">55</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">297</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">266</span> <span class="thema-score thema-score-grace" title="GRACE">274</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">288</span> <span class="thema-score thema-score-valor" title="VALOR">251</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,668<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-039-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-039
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/the-elysian-astrolabe-alc-alter" rel="noopener noreferrer" target="_blank">
          The Elysian Astrolabe
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">61</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">65</span> <span class="thema-score thema-score-grace" title="GRACE">56</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">64</span> <span class="thema-score thema-score-valor" title="VALOR">55</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">279</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">297</span> <span class="thema-score thema-score-grace" title="GRACE">256</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">293</span> <span class="thema-score thema-score-valor" title="VALOR">251</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,668<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-040-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-040
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gloamspire-lance-alc-alter" rel="noopener noreferrer" target="_blank">
          Gloamspire Lance
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">66</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">56</span> <span class="thema-score thema-score-grace" title="GRACE">59</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">63</span> <span class="thema-score thema-score-valor" title="VALOR">57</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">301</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">256</span> <span class="thema-score thema-score-grace" title="GRACE">270</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">288</span> <span class="thema-score thema-score-valor" title="VALOR">261</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,668<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-089-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-089
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/the-eternal-kingdom-alc-alter" rel="noopener noreferrer" target="_blank">
          The Eternal Kingdom
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">54</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">67</span> <span class="thema-score thema-score-grace" title="GRACE">60</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">57</span> <span class="thema-score thema-score-valor" title="VALOR">63</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">247</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">306</span> <span class="thema-score thema-score-grace" title="GRACE">274</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">261</span> <span class="thema-score thema-score-valor" title="VALOR">288</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,224<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-186-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-186
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/scry-the-stars-alc-alter" rel="noopener noreferrer" target="_blank">
          Scry the Stars
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">63</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">61</span> <span class="thema-score thema-score-grace" title="GRACE">57</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">65</span> <span class="thema-score thema-score-valor" title="VALOR">55</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">288</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">279</span> <span class="thema-score thema-score-grace" title="GRACE">261</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">297</span> <span class="thema-score thema-score-valor" title="VALOR">251</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,224<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-194-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-194
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        10
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/neos-elemental-alc-alter" rel="noopener noreferrer" target="_blank">
          Neos Elemental
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">55</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">63</span> <span class="thema-score thema-score-grace" title="GRACE">60</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">60</span> <span class="thema-score thema-score-valor" title="VALOR">63</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">251</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">289</span> <span class="thema-score thema-score-grace" title="GRACE">274</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">274</span> <span class="thema-score thema-score-valor" title="VALOR">288</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,224<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-203-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-203
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/carter-synthetic-reaper-alc-alter" rel="noopener noreferrer" target="_blank">
          Carter, Synthetic Reaper
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">57</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">67</span> <span class="thema-score thema-score-grace" title="GRACE">61</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">57</span> <span class="thema-score thema-score-valor" title="VALOR">59</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">261</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">306</span> <span class="thema-score thema-score-grace" title="GRACE">278</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">261</span> <span class="thema-score thema-score-valor" title="VALOR">270</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,224<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-215-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-215
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/accompanying-guard-alc-alter" rel="noopener noreferrer" target="_blank">
          Accompanying Guard
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">17</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">24</span> <span class="thema-score thema-score-grace" title="GRACE">21</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">17</span> <span class="thema-score thema-score-valor" title="VALOR">24</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">136</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">192</span> <span class="thema-score thema-score-grace" title="GRACE">170</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">136</span> <span class="thema-score thema-score-valor" title="VALOR">192</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-216-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-216
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/automated-gardener-alc-alter" rel="noopener noreferrer" target="_blank">
          Automated Gardener
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">26</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">17</span> <span class="thema-score thema-score-grace" title="GRACE">19</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">19</span> <span class="thema-score thema-score-valor" title="VALOR">22</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">209</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">136</span> <span class="thema-score thema-score-grace" title="GRACE">153</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">152</span> <span class="thema-score thema-score-valor" title="VALOR">176</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-217-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-217
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/bombastic-sprint-alc-alter" rel="noopener noreferrer" target="_blank">
          Bombastic Sprint
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">26</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">34</span> <span class="thema-score thema-score-grace" title="GRACE">35</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">29</span> <span class="thema-score thema-score-valor" title="VALOR">31</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">164</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">215</span> <span class="thema-score thema-score-grace" title="GRACE">222</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">183</span> <span class="thema-score thema-score-valor" title="VALOR">196</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-218-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-218
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dawns-reversal-alc-alter" rel="noopener noreferrer" target="_blank">
          Dawn's Reversal
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">34</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">26</span> <span class="thema-score thema-score-grace" title="GRACE">29</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">38</span> <span class="thema-score thema-score-valor" title="VALOR">28</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">215</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">164</span> <span class="thema-score thema-score-grace" title="GRACE">183</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">241</span> <span class="thema-score thema-score-valor" title="VALOR">177</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-219-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-219
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/focusing-round-alc-alter" rel="noopener noreferrer" target="_blank">
          Focusing Round
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">24</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">19</span> <span class="thema-score thema-score-grace" title="GRACE">17</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">26</span> <span class="thema-score thema-score-valor" title="VALOR">17</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">193</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">152</span> <span class="thema-score thema-score-grace" title="GRACE">136</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">209</span> <span class="thema-score thema-score-valor" title="VALOR">136</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-220-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-220
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fortifying-aroma-alc-alter" rel="noopener noreferrer" target="_blank">
          Fortifying Aroma
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">23</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">27</span> <span class="thema-score thema-score-grace" title="GRACE">17</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">19</span> <span class="thema-score thema-score-valor" title="VALOR">17</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">185</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">217</span> <span class="thema-score thema-score-grace" title="GRACE">136</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">152</span> <span class="thema-score thema-score-valor" title="VALOR">136</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-221-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-221
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/frozen-dismissal-alc-alter" rel="noopener noreferrer" target="_blank">
          Frozen Dismissal
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">32</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">33</span> <span class="thema-score thema-score-grace" title="GRACE">27</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">37</span> <span class="thema-score thema-score-valor" title="VALOR">26</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">202</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">209</span> <span class="thema-score thema-score-grace" title="GRACE">171</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">234</span> <span class="thema-score thema-score-valor" title="VALOR">164</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-222-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-222
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/galestream-insight-alc-alter" rel="noopener noreferrer" target="_blank">
          Galestream Insight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">21</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">17</span> <span class="thema-score thema-score-grace" title="GRACE">23</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">24</span> <span class="thema-score thema-score-valor" title="VALOR">18</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">170</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">136</span> <span class="thema-score thema-score-grace" title="GRACE">184</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">192</span> <span class="thema-score thema-score-valor" title="VALOR">144</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-223-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-223
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gloamspire-prowler-alc-alter" rel="noopener noreferrer" target="_blank">
          Gloamspire Prowler
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">30</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">33</span> <span class="thema-score thema-score-grace" title="GRACE">31</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">27</span> <span class="thema-score thema-score-valor" title="VALOR">34</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">190</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">208</span> <span class="thema-score thema-score-grace" title="GRACE">196</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">171</span> <span class="thema-score thema-score-valor" title="VALOR">215</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-224-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-224
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        X
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/horticounter-alc-alter" rel="noopener noreferrer" target="_blank">
          Horticounter
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 215 <span class="thema-score thema-score-charm" title="CHARM">46</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">42</span> <span class="thema-score thema-score-grace" title="GRACE">40</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">48</span> <span class="thema-score thema-score-valor" title="VALOR">39</span></span><span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">246</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">225</span> <span class="thema-score thema-score-grace" title="GRACE">214</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">258</span> <span class="thema-score thema-score-valor" title="VALOR">209</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈6,100<br/>Foil ≈100
  </td>
</tr>
<tr data-id="alc alter--en-225-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-225
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/imperial-panzer-alc-alter" rel="noopener noreferrer" target="_blank">
          Imperial Panzer
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">23</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">19</span> <span class="thema-score thema-score-grace" title="GRACE">20</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">23</span> <span class="thema-score thema-score-valor" title="VALOR">18</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">184</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">154</span> <span class="thema-score thema-score-grace" title="GRACE">160</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">184</span> <span class="thema-score thema-score-valor" title="VALOR">144</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-226-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-226
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nico-raptures-embrace-alc-alter" rel="noopener noreferrer" target="_blank">
          Nico, Rapture's Embrace
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">27</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">20</span> <span class="thema-score thema-score-grace" title="GRACE">17</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">22</span> <span class="thema-score thema-score-valor" title="VALOR">17</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">217</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">161</span> <span class="thema-score thema-score-grace" title="GRACE">136</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">176</span> <span class="thema-score thema-score-valor" title="VALOR">136</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-226-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-226
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nico-raptures-embrace-alc-alter-csr" rel="noopener noreferrer" target="_blank">
          Nico, Rapture's Embrace
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,730 <span class="thema-score thema-score-charm" title="CHARM">445</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">333</span> <span class="thema-score thema-score-grace" title="GRACE">296</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">372</span> <span class="thema-score thema-score-valor" title="VALOR">284</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈71
  </td>
</tr>
<tr data-id="alc alter--en-227-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-227
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/perdition-alc-alter" rel="noopener noreferrer" target="_blank">
          Perdition
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 215 <span class="thema-score thema-score-charm" title="CHARM">38</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">51</span> <span class="thema-score thema-score-grace" title="GRACE">37</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">53</span> <span class="thema-score thema-score-valor" title="VALOR">36</span></span><span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">204</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">273</span> <span class="thema-score thema-score-grace" title="GRACE">198</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">284</span> <span class="thema-score thema-score-valor" title="VALOR">193</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈6,100<br/>Foil ≈100
  </td>
</tr>
<tr data-id="alc alter--en-228-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-228
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/polkhawk-boisterous-riot-alc-alter" rel="noopener noreferrer" target="_blank">
          Polkhawk, Boisterous Riot
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">17</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">24</span> <span class="thema-score thema-score-grace" title="GRACE">21</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">18</span> <span class="thema-score thema-score-valor" title="VALOR">23</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">136</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">194</span> <span class="thema-score thema-score-grace" title="GRACE">168</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">144</span> <span class="thema-score thema-score-valor" title="VALOR">184</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-228-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-228
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/polkhawk-boisterous-riot-alc-alter-csr" rel="noopener noreferrer" target="_blank">
          Polkhawk, Boisterous Riot
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,730 <span class="thema-score thema-score-charm" title="CHARM">300</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">386</span> <span class="thema-score thema-score-grace" title="GRACE">344</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">309</span> <span class="thema-score thema-score-valor" title="VALOR">391</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈71
  </td>
</tr>
<tr data-id="alc alter--en-229-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-229
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/reconnaissance-scout-alc-alter" rel="noopener noreferrer" target="_blank">
          Reconnaissance Scout
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">34</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">28</span> <span class="thema-score thema-score-grace" title="GRACE">33</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">29</span> <span class="thema-score thema-score-valor" title="VALOR">31</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">215</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">177</span> <span class="thema-score thema-score-grace" title="GRACE">209</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">183</span> <span class="thema-score thema-score-valor" title="VALOR">196</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-230-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-230
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/refabrication-alc-alter" rel="noopener noreferrer" target="_blank">
          Refabrication
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">27</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">35</span> <span class="thema-score thema-score-grace" title="GRACE">27</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">35</span> <span class="thema-score thema-score-valor" title="VALOR">31</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">171</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">221</span> <span class="thema-score thema-score-grace" title="GRACE">171</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">221</span> <span class="thema-score thema-score-valor" title="VALOR">196</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-231-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-231
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/slash-and-burn-alc-alter" rel="noopener noreferrer" target="_blank">
          Slash and Burn
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">18</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">17</span> <span class="thema-score thema-score-grace" title="GRACE">24</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">19</span> <span class="thema-score thema-score-valor" title="VALOR">25</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">144</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">138</span> <span class="thema-score thema-score-grace" title="GRACE">192</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">152</span> <span class="thema-score thema-score-valor" title="VALOR">200</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-232-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-232
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/surging-undertow-alc-alter" rel="noopener noreferrer" target="_blank">
          Surging Undertow
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">29</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">28</span> <span class="thema-score thema-score-grace" title="GRACE">36</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">30</span> <span class="thema-score thema-score-valor" title="VALOR">32</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">183</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">177</span> <span class="thema-score thema-score-grace" title="GRACE">228</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">190</span> <span class="thema-score thema-score-valor" title="VALOR">202</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-233-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-233
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/temptations-facade-alc-alter" rel="noopener noreferrer" target="_blank">
          Temptation's Facade
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">35</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">28</span> <span class="thema-score thema-score-grace" title="GRACE">30</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">33</span> <span class="thema-score thema-score-valor" title="VALOR">29</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">221</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">177</span> <span class="thema-score thema-score-grace" title="GRACE">190</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">209</span> <span class="thema-score thema-score-valor" title="VALOR">183</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈6,400<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-234-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-234
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/vanitas-dominus-rex-alc-alter" rel="noopener noreferrer" target="_blank">
          Vanitas, Dominus Rex
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 215 <span class="thema-score thema-score-charm" title="CHARM">44</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">40</span> <span class="thema-score thema-score-grace" title="GRACE">47</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">46</span> <span class="thema-score thema-score-valor" title="VALOR">38</span></span><span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">236</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">214</span> <span class="thema-score thema-score-grace" title="GRACE">252</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">246</span> <span class="thema-score thema-score-valor" title="VALOR">204</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,800<br/>Foil ≈100
  </td>
</tr>
<tr data-id="alc alter--en-234-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-234
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/vanitas-dominus-rex-alc-alter-csr" rel="noopener noreferrer" target="_blank">
          Vanitas, Dominus Rex
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,730 <span class="thema-score thema-score-charm" title="CHARM">362</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">325</span> <span class="thema-score thema-score-grace" title="GRACE">376</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">362</span> <span class="thema-score thema-score-valor" title="VALOR">305</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈71
  </td>
</tr>
<tr data-id="alc alter--en-235-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-235
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/cosmic-bolt-alc-alter" rel="noopener noreferrer" target="_blank">
          Cosmic Bolt
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 60 <span class="thema-score thema-score-charm" title="CHARM">11</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">13</span> <span class="thema-score thema-score-grace" title="GRACE">11</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">15</span> <span class="thema-score thema-score-valor" title="VALOR">10</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈13,300
  </td>
</tr>
</tbody>
</table>