<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="alc 1st--en-004-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/arisanna-herbalist-prodigy-alc1e-csr" rel="noopener noreferrer" target="_blank">
          Arisanna, Herbalist Prodigy
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">409</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">317</span> <span class="thema-score thema-score-grace" title="GRACE">387</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">401</span> <span class="thema-score thema-score-valor" title="VALOR">346</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈108
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-004.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
<tr data-id="alc 1st--en-005a-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-005A
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/arisanna-master-alchemist-alc1e-csra" rel="noopener noreferrer" target="_blank">
          Arisanna, Master Alchemist
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">410</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">317</span> <span class="thema-score thema-score-grace" title="GRACE">377</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">414</span> <span class="thema-score thema-score-valor" title="VALOR">342</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈108
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-005A.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
<tr data-id="alc 1st--en-005b-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-005B
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/arisanna-master-alchemist-alc1e-csrb" rel="noopener noreferrer" target="_blank">
          Arisanna, Master Alchemist
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,897 <span class="thema-score thema-score-charm" title="CHARM">458</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">277</span> <span class="thema-score thema-score-grace" title="GRACE">400</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">436</span> <span class="thema-score thema-score-valor" title="VALOR">326</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈72
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-005B.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
<tr data-id="alc 1st--en-007-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/arisanna-lucent-arbiter-alc1e-csr" rel="noopener noreferrer" target="_blank">
          Arisanna, Lucent Arbiter
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">401</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">340</span> <span class="thema-score thema-score-grace" title="GRACE">364</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">415</span> <span class="thema-score thema-score-valor" title="VALOR">340</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈108
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-007.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
<tr data-id="alc 1st--en-008-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/diana-keen-huntress-alc1e-csr" rel="noopener noreferrer" target="_blank">
          Diana, Keen Huntress
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">408</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">400</span> <span class="thema-score thema-score-grace" title="GRACE">387</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">344</span> <span class="thema-score thema-score-valor" title="VALOR">321</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈108
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-008.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
<tr data-id="alc 1st--en-009a-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-009A
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/diana-deadly-duelist-alc1e-csra" rel="noopener noreferrer" target="_blank">
          Diana, Deadly Duelist
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">361</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">395</span> <span class="thema-score thema-score-grace" title="GRACE">395</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">326</span> <span class="thema-score thema-score-valor" title="VALOR">383</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈108
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-009A.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
<tr data-id="alc 1st--en-009b-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-009B
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/diana-deadly-duelist-alc1e-csrb" rel="noopener noreferrer" target="_blank">
          Diana, Deadly Duelist
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,897 <span class="thema-score thema-score-charm" title="CHARM">365</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">395</span> <span class="thema-score thema-score-grace" title="GRACE">390</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">400</span> <span class="thema-score thema-score-valor" title="VALOR">347</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈72
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-009B.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
<tr data-id="alc 1st--en-010-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/diana-cursebreaker-alc1e-csr" rel="noopener noreferrer" target="_blank">
          Diana, Cursebreaker
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">401</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">400</span> <span class="thema-score thema-score-grace" title="GRACE">395</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">395</span> <span class="thema-score thema-score-valor" title="VALOR">269</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈108
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-010.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
<tr data-id="alc 1st--en-012-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tonoris-lone-mercenary-alc1e-csr" rel="noopener noreferrer" target="_blank">
          Tonoris, Lone Mercenary
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">372</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">307</span> <span class="thema-score thema-score-grace" title="GRACE">379</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">376</span> <span class="thema-score thema-score-valor" title="VALOR">426</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈108
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-012.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
<tr data-id="alc 1st--en-013a-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-013A
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tonoris-might-of-humanity-alc1e-csra" rel="noopener noreferrer" target="_blank">
          Tonoris, Might of Humanity
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">372</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">459</span> <span class="thema-score thema-score-grace" title="GRACE">309</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">268</span> <span class="thema-score thema-score-valor" title="VALOR">452</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈108
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-013A.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
<tr data-id="alc 1st--en-013b-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-013B
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tonoris-might-of-humanity-alc1e-csrb" rel="noopener noreferrer" target="_blank">
          Tonoris, Might of Humanity
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,897 <span class="thema-score thema-score-charm" title="CHARM">489</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">428</span> <span class="thema-score thema-score-grace" title="GRACE">309</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">266</span> <span class="thema-score thema-score-valor" title="VALOR">405</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈72
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-013B.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
<tr data-id="alc 1st--en-014-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tonoris-creations-will-alc1e-csr" rel="noopener noreferrer" target="_blank">
          Tonoris, Creation's Will
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">362</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">401</span> <span class="thema-score thema-score-grace" title="GRACE">303</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">390</span> <span class="thema-score thema-score-valor" title="VALOR">404</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈108
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-014.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
<tr data-id="alc 1st--en-099-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-099
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/crimson-tear-alc1e-csr" rel="noopener noreferrer" target="_blank">
          Crimson Tear
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">410</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">463</span> <span class="thema-score thema-score-grace" title="GRACE">309</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">397</span> <span class="thema-score thema-score-valor" title="VALOR">281</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈153
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-099.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
<tr data-id="alc 1st--en-128-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-128
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dahlia-idyllic-dreamer-alc1e-csr" rel="noopener noreferrer" target="_blank">
          Dahlia, Idyllic Dreamer
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">444</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">328</span> <span class="thema-score thema-score-grace" title="GRACE">404</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">328</span> <span class="thema-score thema-score-valor" title="VALOR">356</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈153
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-128.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
<tr data-id="alc 1st--en-166-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-166
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/rose-eternal-paragon-alc1e-csr" rel="noopener noreferrer" target="_blank">
          Rose, Eternal Paragon
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">405</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">366</span> <span class="thema-score thema-score-grace" title="GRACE">352</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">327</span> <span class="thema-score thema-score-valor" title="VALOR">410</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈153
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-166.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
<tr data-id="alc 1st--en-182-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-182
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/claude-fated-visionary-alc1e-csr" rel="noopener noreferrer" target="_blank">
          Claude, Fated Visionary
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">340</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">339</span> <span class="thema-score thema-score-grace" title="GRACE">407</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">452</span> <span class="thema-score thema-score-valor" title="VALOR">322</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈153
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-182.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 15 case (1 in 357 pack) chance of pulling one of the 16 CSRs in this set, but note that the population of these vary and some CSRs are rarer than others</div>
    </div>
  </td>
</tr>
</tbody>
</table>