<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="alc alter--en-016-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/polkhawk-bombastic-shot-alc-alter-csr" rel="noopener noreferrer" target="_blank">
          Polkhawk, Bombastic Shot
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈71
  </td>
</tr>
<tr data-id="alc alter--en-017-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nico-whiplash-allure-alc-alter-csr" rel="noopener noreferrer" target="_blank">
          Nico, Whiplash Allure
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈71
  </td>
</tr>
<tr data-id="alc alter--en-018-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/vanitas-obliviate-schemer-alc-alter-csr" rel="noopener noreferrer" target="_blank">
          Vanitas, Obliviate Schemer
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈71
  </td>
</tr>
<tr data-id="alc alter--en-019-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/vanitas-convergent-ruin-alc-alter-csr" rel="noopener noreferrer" target="_blank">
          Vanitas, Convergent Ruin
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈71
  </td>
</tr>
<tr data-id="alc alter--en-029-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-029
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/temporal-spectrometer-alc-alter" rel="noopener noreferrer" target="_blank">
          Temporal Spectrometer
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,112<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-036-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-036
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/magebane-lash-alc-alter" rel="noopener noreferrer" target="_blank">
          Magebane Lash
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,668<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-039-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-039
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/the-elysian-astrolabe-alc-alter" rel="noopener noreferrer" target="_blank">
          The Elysian Astrolabe
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,668<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-040-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-040
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gloamspire-lance-alc-alter" rel="noopener noreferrer" target="_blank">
          Gloamspire Lance
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,668<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-089-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-089
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/the-eternal-kingdom-alc-alter" rel="noopener noreferrer" target="_blank">
          The Eternal Kingdom
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,224<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-186-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-186
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/scry-the-stars-alc-alter" rel="noopener noreferrer" target="_blank">
          Scry the Stars
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,224<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-194-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-194
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        10
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/neos-elemental-alc-alter" rel="noopener noreferrer" target="_blank">
          Neos Elemental
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,224<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-203-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-203
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/carter-synthetic-reaper-alc-alter" rel="noopener noreferrer" target="_blank">
          Carter, Synthetic Reaper
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,224<br/>Foil ≈75
  </td>
</tr>
<tr data-id="alc alter--en-215-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-215
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/accompanying-guard-alc-alter" rel="noopener noreferrer" target="_blank">
          Accompanying Guard
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-216-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-216
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/automated-gardener-alc-alter" rel="noopener noreferrer" target="_blank">
          Automated Gardener
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-217-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-217
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/bombastic-sprint-alc-alter" rel="noopener noreferrer" target="_blank">
          Bombastic Sprint
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-218-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-218
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dawns-reversal-alc-alter" rel="noopener noreferrer" target="_blank">
          Dawn's Reversal
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-219-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-219
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/focusing-round-alc-alter" rel="noopener noreferrer" target="_blank">
          Focusing Round
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-220-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-220
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fortifying-aroma-alc-alter" rel="noopener noreferrer" target="_blank">
          Fortifying Aroma
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-221-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-221
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/frozen-dismissal-alc-alter" rel="noopener noreferrer" target="_blank">
          Frozen Dismissal
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-222-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-222
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/galestream-insight-alc-alter" rel="noopener noreferrer" target="_blank">
          Galestream Insight
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-223-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-223
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gloamspire-prowler-alc-alter" rel="noopener noreferrer" target="_blank">
          Gloamspire Prowler
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-224-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-224
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        X
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/horticounter-alc-alter" rel="noopener noreferrer" target="_blank">
          Horticounter
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈6,100<br/>Foil ≈100
  </td>
</tr>
<tr data-id="alc alter--en-225-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-225
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/imperial-panzer-alc-alter" rel="noopener noreferrer" target="_blank">
          Imperial Panzer
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-226-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-226
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nico-raptures-embrace-alc-alter" rel="noopener noreferrer" target="_blank">
          Nico, Rapture's Embrace
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-226-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-226
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nico-raptures-embrace-alc-alter-csr" rel="noopener noreferrer" target="_blank">
          Nico, Rapture's Embrace
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈71
  </td>
</tr>
<tr data-id="alc alter--en-227-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-227
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/perdition-alc-alter" rel="noopener noreferrer" target="_blank">
          Perdition
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈6,100<br/>Foil ≈100
  </td>
</tr>
<tr data-id="alc alter--en-228-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-228
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/polkhawk-boisterous-riot-alc-alter" rel="noopener noreferrer" target="_blank">
          Polkhawk, Boisterous Riot
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-228-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-228
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/polkhawk-boisterous-riot-alc-alter-csr" rel="noopener noreferrer" target="_blank">
          Polkhawk, Boisterous Riot
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈71
  </td>
</tr>
<tr data-id="alc alter--en-229-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-229
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/reconnaissance-scout-alc-alter" rel="noopener noreferrer" target="_blank">
          Reconnaissance Scout
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-230-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-230
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/refabrication-alc-alter" rel="noopener noreferrer" target="_blank">
          Refabrication
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-231-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-231
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/slash-and-burn-alc-alter" rel="noopener noreferrer" target="_blank">
          Slash and Burn
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈231
  </td>
</tr>
<tr data-id="alc alter--en-232-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-232
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/surging-undertow-alc-alter" rel="noopener noreferrer" target="_blank">
          Surging Undertow
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,800<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-233-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-233
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/temptations-facade-alc-alter" rel="noopener noreferrer" target="_blank">
          Temptation's Facade
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈6,400<br/>Foil ≈150
  </td>
</tr>
<tr data-id="alc alter--en-234-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-234
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/vanitas-dominus-rex-alc-alter" rel="noopener noreferrer" target="_blank">
          Vanitas, Dominus Rex
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,800<br/>Foil ≈100
  </td>
</tr>
<tr data-id="alc alter--en-234-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-234
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/vanitas-dominus-rex-alc-alter-csr" rel="noopener noreferrer" target="_blank">
          Vanitas, Dominus Rex
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈71
  </td>
</tr>
<tr data-id="alc alter--en-235-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-235
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/cosmic-bolt-alc-alter" rel="noopener noreferrer" target="_blank">
          Cosmic Bolt
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈13,300
  </td>
</tr>
</tbody>
</table>