<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/RII9Fa5K3C.jpg"
      alt="Allen, Beast Beckoner &ndash; DOA 1st &middot; EN-016"
      style="max-width: 440px;"
    >
    <figcaption>Allen, Beast Beckoner &ndash; DOA 1st &middot; EN-016</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">On Enter: Glimpse 3</span>, then reveal the top card of your deck. If that card is a Harmony or Melody card, put it into your hand.
As long as you control two or more Animal and/or Beast allies, Allen gets +2 level.
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; To get Allen's +2 level effect active, you can either control two Animals, one Animal and one Beast, or two Beasts.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-C">Common</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hanh Chu</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈24,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/allen-beast-beckoner-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>