<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="amb alter--en-015-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/imperial-seal-amb-alter" rel="noopener noreferrer" target="_blank">
          Imperial Seal
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">53</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">54</span> <span class="thema-score thema-score-grace" title="GRACE">66</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">61</span> <span class="thema-score thema-score-valor" title="VALOR">67</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">242</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">247</span> <span class="thema-score thema-score-grace" title="GRACE">302</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">279</span> <span class="thema-score thema-score-valor" title="VALOR">306</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈560<br/>Foil ≈50
  </td>
</tr>
<tr data-id="amb alter--en-022-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-022
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dragons-dawn-amb-alter" rel="noopener noreferrer" target="_blank">
          Dragon's Dawn
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 306 <span class="thema-score thema-score-charm" title="CHARM">52</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">66</span> <span class="thema-score thema-score-grace" title="GRACE">61</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">60</span> <span class="thema-score thema-score-valor" title="VALOR">67</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">238</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">302</span> <span class="thema-score thema-score-grace" title="GRACE">279</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">274</span> <span class="thema-score thema-score-valor" title="VALOR">283</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,100<br/>Foil ≈50
  </td>
</tr>
<tr data-id="amb alter--en-023-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-023
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/everflame-staff-amb-alter-csr" rel="noopener noreferrer" target="_blank">
          Everflame Staff
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,730 <span class="thema-score thema-score-charm" title="CHARM">380</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">372</span> <span class="thema-score thema-score-grace" title="GRACE">321</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">335</span> <span class="thema-score thema-score-valor" title="VALOR">322</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈125
  </td>
</tr>
<tr data-id="amb alter--en-025-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-025
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ebbing-tide-amb-alter" rel="noopener noreferrer" target="_blank">
          Ebbing Tide
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">52</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">58</span> <span class="thema-score thema-score-grace" title="GRACE">62</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">69</span> <span class="thema-score thema-score-valor" title="VALOR">60</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">238</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">265</span> <span class="thema-score thema-score-grace" title="GRACE">283</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">316</span> <span class="thema-score thema-score-valor" title="VALOR">274</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,100<br/>Foil ≈50
  </td>
</tr>
<tr data-id="amb alter--en-028-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-028
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sundering-moon-amb-alter" rel="noopener noreferrer" target="_blank">
          Sundering Moon
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">53</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">60</span> <span class="thema-score thema-score-grace" title="GRACE">69</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">58</span> <span class="thema-score thema-score-valor" title="VALOR">61</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">242</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">274</span> <span class="thema-score thema-score-grace" title="GRACE">315</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">266</span> <span class="thema-score thema-score-valor" title="VALOR">279</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,100<br/>Foil ≈50
  </td>
</tr>
<tr data-id="amb alter--en-062-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-062
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        6
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/mortal-ambition-amb-alter" rel="noopener noreferrer" target="_blank">
          Mortal Ambition
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">52</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">64</span> <span class="thema-score thema-score-grace" title="GRACE">66</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">54</span> <span class="thema-score thema-score-valor" title="VALOR">65</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">238</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">292</span> <span class="thema-score thema-score-grace" title="GRACE">302</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">247</span> <span class="thema-score thema-score-valor" title="VALOR">297</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,800<br/>Foil ≈50
  </td>
</tr>
<tr data-id="amb alter--en-185-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-185
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/oath-of-the-sakura-amb-alter" rel="noopener noreferrer" target="_blank">
          Oath of the Sakura
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">37</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">30</span> <span class="thema-score thema-score-grace" title="GRACE">30</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">28</span> <span class="thema-score thema-score-valor" title="VALOR">30</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">234</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">190</span> <span class="thema-score thema-score-grace" title="GRACE">190</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">176</span> <span class="thema-score thema-score-valor" title="VALOR">190</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈11,250<br/>Foil ≈135
  </td>
</tr>
<tr data-id="amb alter--en-194-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-194
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/three-visits-amb-alter" rel="noopener noreferrer" target="_blank">
          Three Visits
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">67</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">52</span> <span class="thema-score thema-score-grace" title="GRACE">61</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">61</span> <span class="thema-score thema-score-valor" title="VALOR">60</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">306</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">238</span> <span class="thema-score thema-score-grace" title="GRACE">279</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">279</span> <span class="thema-score thema-score-valor" title="VALOR">274</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,800<br/>Foil ≈50
  </td>
</tr>
<tr data-id="amb alter--en-214-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-214
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/exia.png" alt="EXIA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/zhao-yun-dragonsblood-amb-alter" rel="noopener noreferrer" target="_blank">
          Zhao Yun, Dragonsblood
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">55</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">67</span> <span class="thema-score thema-score-grace" title="GRACE">62</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">51</span> <span class="thema-score thema-score-valor" title="VALOR">66</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">251</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">307</span> <span class="thema-score thema-score-grace" title="GRACE">283</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">233</span> <span class="thema-score thema-score-valor" title="VALOR">302</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,800<br/>Foil ≈50
  </td>
</tr>
<tr data-id="amb alter--en-220-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-220
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dong-zhou-false-liege-amb-alter" rel="noopener noreferrer" target="_blank">
          Dong Zhou, False Liege
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">51</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">65</span> <span class="thema-score thema-score-grace" title="GRACE">53</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">65</span> <span class="thema-score thema-score-valor" title="VALOR">67</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">233</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">298</span> <span class="thema-score thema-score-grace" title="GRACE">242</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">297</span> <span class="thema-score thema-score-valor" title="VALOR">306</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,800<br/>Foil ≈50
  </td>
</tr>
<tr data-id="amb alter--en-230-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-230
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/bairui-resplendent-barrier-amb-alter" rel="noopener noreferrer" target="_blank">
          Bairui, Resplendent Barrier
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 215 <span class="thema-score thema-score-charm" title="CHARM">50</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">40</span> <span class="thema-score thema-score-grace" title="GRACE">37</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">52</span> <span class="thema-score thema-score-valor" title="VALOR">36</span></span><span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">268</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">214</span> <span class="thema-score thema-score-grace" title="GRACE">198</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">279</span> <span class="thema-score thema-score-valor" title="VALOR">193</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈4,300<br/>Foil ≈80
  </td>
</tr>
<tr data-id="amb alter--en-230-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-230
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/bairui-resplendent-barrier-amb-alter-csr" rel="noopener noreferrer" target="_blank">
          Bairui, Resplendent Barrier
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,730 <span class="thema-score thema-score-charm" title="CHARM">402</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">321</span> <span class="thema-score thema-score-grace" title="GRACE">297</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">419</span> <span class="thema-score thema-score-valor" title="VALOR">291</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈125
  </td>
</tr>
<tr data-id="amb alter--en-231-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-231
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/luxem.png" alt="LUXEM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/blinding-lapse-amb-alter" rel="noopener noreferrer" target="_blank">
          Blinding Lapse
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">36</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">34</span> <span class="thema-score thema-score-grace" title="GRACE">26</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">32</span> <span class="thema-score thema-score-valor" title="VALOR">27</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">228</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">215</span> <span class="thema-score thema-score-grace" title="GRACE">164</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">202</span> <span class="thema-score thema-score-valor" title="VALOR">171</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈11,250<br/>Foil ≈135
  </td>
</tr>
<tr data-id="amb alter--en-232-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-232
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/equanimitys-ashes-amb-alter" rel="noopener noreferrer" target="_blank">
          Equanimity's Ashes
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">21</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">24</span> <span class="thema-score thema-score-grace" title="GRACE">16</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">26</span> <span class="thema-score thema-score-valor" title="VALOR">16</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">168</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">192</span> <span class="thema-score thema-score-grace" title="GRACE">128</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">210</span> <span class="thema-score thema-score-valor" title="VALOR">128</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈230
  </td>
</tr>
<tr data-id="amb alter--en-233-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-233
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/floodward-sergeant-amb-alter" rel="noopener noreferrer" target="_blank">
          Floodward Sergeant
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">23</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">21</span> <span class="thema-score thema-score-grace" title="GRACE">23</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">17</span> <span class="thema-score thema-score-valor" title="VALOR">19</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">184</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">168</span> <span class="thema-score thema-score-grace" title="GRACE">184</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">136</span> <span class="thema-score thema-score-valor" title="VALOR">154</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈230
  </td>
</tr>
<tr data-id="amb alter--en-234-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-234
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/galvanizing-gale-amb-alter" rel="noopener noreferrer" target="_blank">
          Galvanizing Gale
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">15</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">23</span> <span class="thema-score thema-score-grace" title="GRACE">21</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">26</span> <span class="thema-score thema-score-valor" title="VALOR">18</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">121</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">184</span> <span class="thema-score thema-score-grace" title="GRACE">168</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">209</span> <span class="thema-score thema-score-valor" title="VALOR">144</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈230
  </td>
</tr>
<tr data-id="amb alter--en-235-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-235
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gustguard-bastion-amb-alter" rel="noopener noreferrer" target="_blank">
          Gustguard Bastion
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">26</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">18</span> <span class="thema-score thema-score-grace" title="GRACE">21</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">17</span> <span class="thema-score thema-score-valor" title="VALOR">21</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">210</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">144</span> <span class="thema-score thema-score-grace" title="GRACE">168</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">136</span> <span class="thema-score thema-score-valor" title="VALOR">168</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈230
  </td>
</tr>
<tr data-id="amb alter--en-236-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-236
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/hailfinch-amb-alter" rel="noopener noreferrer" target="_blank">
          Hailfinch
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">27</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">28</span> <span class="thema-score thema-score-grace" title="GRACE">36</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">31</span> <span class="thema-score thema-score-valor" title="VALOR">33</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">171</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">177</span> <span class="thema-score thema-score-grace" title="GRACE">228</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">195</span> <span class="thema-score thema-score-valor" title="VALOR">209</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈11,250<br/>Foil ≈135
  </td>
</tr>
<tr data-id="amb alter--en-237-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-237
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/herd-of-the-hearth-amb-alter" rel="noopener noreferrer" target="_blank">
          Herd of the Hearth
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">27</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">38</span> <span class="thema-score thema-score-grace" title="GRACE">26</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">31</span> <span class="thema-score thema-score-valor" title="VALOR">33</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">209</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">240</span> <span class="thema-score thema-score-grace" title="GRACE">164</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">196</span> <span class="thema-score thema-score-valor" title="VALOR">171</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈11,250<br/>Foil ≈135
  </td>
</tr>
<tr data-id="amb alter--en-238-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-238
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/hua-xiong-insurgents-fang-amb-alter" rel="noopener noreferrer" target="_blank">
          Hua Xiong, Insurgent's Fang
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 215 <span class="thema-score thema-score-charm" title="CHARM">49</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">42</span> <span class="thema-score thema-score-grace" title="GRACE">40</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">41</span> <span class="thema-score thema-score-valor" title="VALOR">43</span></span><span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">263</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">225</span> <span class="thema-score thema-score-grace" title="GRACE">214</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">220</span> <span class="thema-score thema-score-valor" title="VALOR">230</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈4,300<br/>Foil ≈80
  </td>
</tr>
<tr data-id="amb alter--en-238-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-238
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/hua-xiong-insurgents-fang-amb-alter-csr" rel="noopener noreferrer" target="_blank">
          Hua Xiong, Insurgent's Fang
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,730 <span class="thema-score thema-score-charm" title="CHARM">395</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">338</span> <span class="thema-score thema-score-grace" title="GRACE">321</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">330</span> <span class="thema-score thema-score-valor" title="VALOR">346</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈125
  </td>
</tr>
<tr data-id="amb alter--en-239-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-239
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/huang-zhong-unerring-aim-amb-alter" rel="noopener noreferrer" target="_blank">
          Huang Zhong, Unerring Aim
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 215 <span class="thema-score thema-score-charm" title="CHARM">51</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">36</span> <span class="thema-score thema-score-grace" title="GRACE">38</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">51</span> <span class="thema-score thema-score-valor" title="VALOR">39</span></span><span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">273</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">193</span> <span class="thema-score thema-score-grace" title="GRACE">204</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">273</span> <span class="thema-score thema-score-valor" title="VALOR">209</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈4,300<br/>Foil ≈80
  </td>
</tr>
<tr data-id="amb alter--en-239-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-239
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/huang-zhong-unerring-aim-amb-alter-csr" rel="noopener noreferrer" target="_blank">
          Huang Zhong, Unerring Aim
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,730 <span class="thema-score thema-score-charm" title="CHARM">410</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">290</span> <span class="thema-score thema-score-grace" title="GRACE">306</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">410</span> <span class="thema-score thema-score-valor" title="VALOR">314</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈125
  </td>
</tr>
<tr data-id="amb alter--en-240-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-240
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/incantation-of-prosperity-amb-alter" rel="noopener noreferrer" target="_blank">
          Incantation of Prosperity
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">23</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">15</span> <span class="thema-score thema-score-grace" title="GRACE">21</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">27</span> <span class="thema-score thema-score-valor" title="VALOR">17</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">184</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">120</span> <span class="thema-score thema-score-grace" title="GRACE">169</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">217</span> <span class="thema-score thema-score-valor" title="VALOR">136</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈230
  </td>
</tr>
<tr data-id="amb alter--en-241-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-241
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/leading-charge-amb-alter" rel="noopener noreferrer" target="_blank">
          Leading Charge
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">21</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">28</span> <span class="thema-score thema-score-grace" title="GRACE">17</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">16</span> <span class="thema-score thema-score-valor" title="VALOR">21</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">168</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">225</span> <span class="thema-score thema-score-grace" title="GRACE">137</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">128</span> <span class="thema-score thema-score-valor" title="VALOR">168</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈230
  </td>
</tr>
<tr data-id="amb alter--en-242-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-242
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lunge-of-evoking-winds-amb-alter" rel="noopener noreferrer" target="_blank">
          Lunge of Evoking Winds
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">23</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">39</span> <span class="thema-score thema-score-grace" title="GRACE">33</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">26</span> <span class="thema-score thema-score-valor" title="VALOR">34</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">145</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">247</span> <span class="thema-score thema-score-grace" title="GRACE">209</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">164</span> <span class="thema-score thema-score-valor" title="VALOR">215</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈11,250<br/>Foil ≈135
  </td>
</tr>
<tr data-id="amb alter--en-243-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-243
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/magnificent-banquet-amb-alter" rel="noopener noreferrer" target="_blank">
          Magnificent Banquet
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">31</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">39</span> <span class="thema-score thema-score-grace" title="GRACE">24</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">32</span> <span class="thema-score thema-score-valor" title="VALOR">29</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">196</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">247</span> <span class="thema-score thema-score-grace" title="GRACE">152</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">202</span> <span class="thema-score thema-score-valor" title="VALOR">183</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈11,250<br/>Foil ≈135
  </td>
</tr>
<tr data-id="amb alter--en-244-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-244
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/natures-insight-amb-alter" rel="noopener noreferrer" target="_blank">
          Nature's Insight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">36</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">25</span> <span class="thema-score thema-score-grace" title="GRACE">31</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">38</span> <span class="thema-score thema-score-valor" title="VALOR">25</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">228</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">158</span> <span class="thema-score thema-score-grace" title="GRACE">196</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">240</span> <span class="thema-score thema-score-valor" title="VALOR">158</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈11,250<br/>Foil ≈135
  </td>
</tr>
<tr data-id="amb alter--en-245-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-245
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/polearmed-steed-amb-alter" rel="noopener noreferrer" target="_blank">
          Pole-armed Steed
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">36</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">25</span> <span class="thema-score thema-score-grace" title="GRACE">31</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">38</span> <span class="thema-score thema-score-valor" title="VALOR">25</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">228</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">158</span> <span class="thema-score thema-score-grace" title="GRACE">196</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">240</span> <span class="thema-score thema-score-valor" title="VALOR">158</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈11,250<br/>Foil ≈135
  </td>
</tr>
<tr data-id="amb alter--en-246-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-246
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/restoring-embers-amb-alter" rel="noopener noreferrer" target="_blank">
          Restoring Embers
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">21</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">25</span> <span class="thema-score thema-score-grace" title="GRACE">15</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">25</span> <span class="thema-score thema-score-valor" title="VALOR">17</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">170</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">200</span> <span class="thema-score thema-score-grace" title="GRACE">120</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">200</span> <span class="thema-score thema-score-valor" title="VALOR">136</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈230
  </td>
</tr>
<tr data-id="amb alter--en-247-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-247
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/exia.png" alt="EXIA element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/scarlet-tassel-amb-alter" rel="noopener noreferrer" target="_blank">
          Scarlet Tassel
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 215 <span class="thema-score thema-score-charm" title="CHARM">34</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">51</span> <span class="thema-score thema-score-grace" title="GRACE">40</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">50</span> <span class="thema-score thema-score-valor" title="VALOR">40</span></span><span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">182</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">274</span> <span class="thema-score thema-score-grace" title="GRACE">214</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">268</span> <span class="thema-score thema-score-valor" title="VALOR">214</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,000<br/>Foil ≈80
  </td>
</tr>
<tr data-id="amb alter--en-248-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-248
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sink-the-mind-amb-alter" rel="noopener noreferrer" target="_blank">
          Sink the Mind
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">16</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">26</span> <span class="thema-score thema-score-grace" title="GRACE">20</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">25</span> <span class="thema-score thema-score-valor" title="VALOR">16</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">128</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">210</span> <span class="thema-score thema-score-grace" title="GRACE">160</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">200</span> <span class="thema-score thema-score-valor" title="VALOR">128</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈32,000<br/>Foil ≈230
  </td>
</tr>
<tr data-id="amb alter--en-249-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-249
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/torching-reach-amb-alter" rel="noopener noreferrer" target="_blank">
          Torching Reach
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">31</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">34</span> <span class="thema-score thema-score-grace" title="GRACE">26</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">37</span> <span class="thema-score thema-score-valor" title="VALOR">27</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">196</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">215</span> <span class="thema-score thema-score-grace" title="GRACE">164</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">234</span> <span class="thema-score thema-score-valor" title="VALOR">171</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈11,250<br/>Foil ≈135
  </td>
</tr>
</tbody>
</table>