<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="ambdp--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nameless-champion-cg-ambdp" rel="noopener noreferrer" target="_blank">
          Nameless Champion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,200
  </td>
</tr>
<tr data-id="ambdp--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nameless-champion-gm-ambdp" rel="noopener noreferrer" target="_blank">
          Nameless Champion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,200
  </td>
</tr>
<tr data-id="ambdp--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nameless-champion-gt-ambdp" rel="noopener noreferrer" target="_blank">
          Nameless Champion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,200
  </td>
</tr>
<tr data-id="ambdp--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nameless-champion-cr-ambdp" rel="noopener noreferrer" target="_blank">
          Nameless Champion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,200
  </td>
</tr>
<tr data-id="ambdp--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nameless-champion-rt-ambdp" rel="noopener noreferrer" target="_blank">
          Nameless Champion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,200
  </td>
</tr>
<tr data-id="ambdp--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nameless-champion-cw-ambdp" rel="noopener noreferrer" target="_blank">
          Nameless Champion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,200
  </td>
</tr>
<tr data-id="ambdp--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nameless-champion-at-ambdp" rel="noopener noreferrer" target="_blank">
          Nameless Champion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,200
  </td>
</tr>
<tr data-id="ambdp--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nameless-champion-mw-ambdp" rel="noopener noreferrer" target="_blank">
          Nameless Champion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,200
  </td>
</tr>
<tr data-id="ambdp--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nameless-champion-am-ambdp" rel="noopener noreferrer" target="_blank">
          Nameless Champion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,200
  </td>
</tr>
<tr data-id="ambdp--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nameless-champion-gw-ambdp" rel="noopener noreferrer" target="_blank">
          Nameless Champion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈600
  </td>
</tr>
<tr data-id="ambdp--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nameless-champion-ar-ambdp" rel="noopener noreferrer" target="_blank">
          Nameless Champion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈600
  </td>
</tr>
<tr data-id="ambdp--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nameless-champion-ac-ambdp" rel="noopener noreferrer" target="_blank">
          Nameless Champion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,200
  </td>
</tr>
<tr data-id="ambdp--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nameless-champion-tw-ambdp" rel="noopener noreferrer" target="_blank">
          Nameless Champion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,200
  </td>
</tr>
<tr data-id="ambdp--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nameless-champion-mr-ambdp" rel="noopener noreferrer" target="_blank">
          Nameless Champion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,200
  </td>
</tr>
<tr data-id="ambdp--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nameless-champion-cm-ambdp" rel="noopener noreferrer" target="_blank">
          Nameless Champion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈600
  </td>
</tr>
<tr data-id="ambdp--en-002-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/amorphous-missile-ambdp" rel="noopener noreferrer" target="_blank">
          Amorphous Missile
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-003-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/bellonas-runestone-ambdp" rel="noopener noreferrer" target="_blank">
          Bellona's Runestone
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-004-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/clandestine-chart-ambdp" rel="noopener noreferrer" target="_blank">
          Clandestine Chart
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-005-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/cowl-of-the-wild-ambdp" rel="noopener noreferrer" target="_blank">
          Cowl of the Wild
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-006-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/duxal-proclamation-ambdp" rel="noopener noreferrer" target="_blank">
          Duxal Proclamation
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-007-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/etherealys-promise-ambdp" rel="noopener noreferrer" target="_blank">
          Etherealys' Promise
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-008-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fauna-friend-ambdp" rel="noopener noreferrer" target="_blank">
          Fauna Friend
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-009-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gem-of-sorority-ambdp" rel="noopener noreferrer" target="_blank">
          Gem of Sorority
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-010-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gossamer-staff-ambdp" rel="noopener noreferrer" target="_blank">
          Gossamer Staff
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-011-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/halcyon-prism-ambdp" rel="noopener noreferrer" target="_blank">
          Halcyon Prism
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-012-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/intwined-bangle-ambdp" rel="noopener noreferrer" target="_blank">
          Intwined Bangle
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-013-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/marksmans-charm-ambdp" rel="noopener noreferrer" target="_blank">
          Marksman's Charm
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-014-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nagas-fang-ambdp" rel="noopener noreferrer" target="_blank">
          Naga's Fang
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-015-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ninja-tabi-ambdp" rel="noopener noreferrer" target="_blank">
          Ninja Tabi
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-016-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/oathbreakers-justice-ambdp" rel="noopener noreferrer" target="_blank">
          Oathbreaker's Justice
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-017-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/phantom-veil-ambdp" rel="noopener noreferrer" target="_blank">
          Phantom Veil
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-018-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/prismatic-codex-ambdp" rel="noopener noreferrer" target="_blank">
          Prismatic Codex
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈4,000
  </td>
</tr>
<tr data-id="ambdp--en-019-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/prismatic-perseverance-ambdp" rel="noopener noreferrer" target="_blank">
          Prismatic Perseverance
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈4,000
  </td>
</tr>
<tr data-id="ambdp--en-020-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-020
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/protectors-plate-ambdp" rel="noopener noreferrer" target="_blank">
          Protector's Plate
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-021-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-021
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sages-urn-ambdp" rel="noopener noreferrer" target="_blank">
          Sage's Urn
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-022-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-022
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sanguine-goblet-ambdp" rel="noopener noreferrer" target="_blank">
          Sanguine Goblet
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-023-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-023
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/shield-of-parvati-ambdp" rel="noopener noreferrer" target="_blank">
          Shield of Parvati
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-024-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-024
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sojourners-hunt-ambdp" rel="noopener noreferrer" target="_blank">
          Sojourner's Hunt
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-025-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-025
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/spectral-beacon-ambdp" rel="noopener noreferrer" target="_blank">
          Spectral Beacon
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-026-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-026
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/training-sword-ambdp" rel="noopener noreferrer" target="_blank">
          Training Sword
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-027-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-027
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/veilaras-promise-ambdp" rel="noopener noreferrer" target="_blank">
          Veilara's Promise
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-028-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-028
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/winged-talaria-ambdp" rel="noopener noreferrer" target="_blank">
          Winged Talaria
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,240
  </td>
</tr>
<tr data-id="ambdp--en-029-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-029
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/prismatic-spirit-ambdp" rel="noopener noreferrer" target="_blank">
          Prismatic Spirit
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈8,000
  </td>
</tr>
</tbody>
</table>