<table class="condensed-table set-list">
      <thead>
        <tr>
          <th style="text-align: left">Number</th>
          <th style="text-align: left">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
  <th colspan="3">CHAMPION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-001
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spirit-of-water-ambsd" rel="noopener noreferrer" target="_blank">
            Spirit of Water
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-006
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/kongming-wayward-maven-ambsd" rel="noopener noreferrer" target="_blank">
            Kongming, Wayward Maven
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-007
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/kongming-ascetic-vice-ambsd" rel="noopener noreferrer" target="_blank">
            Kongming, Ascetic Vice
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-008
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/kongming-fel-eidolon-ambsd" rel="noopener noreferrer" target="_blank">
            Kongming, Fel Eidolon
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">REGALIA</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-009
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/bauble-of-abundance-ambsd" rel="noopener noreferrer" target="_blank">
            Bauble of Abundance
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-011
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/fan-of-seven-debts-ambsd" rel="noopener noreferrer" target="_blank">
            Fan of Seven Debts
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-012
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/life-essence-amulet-ambsd" rel="noopener noreferrer" target="_blank">
            Life Essence Amulet
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-014
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/shard-of-empowerment-ambsd" rel="noopener noreferrer" target="_blank">
            Shard of Empowerment
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-017
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/tariff-ring-ambsd" rel="noopener noreferrer" target="_blank">
            Tariff Ring
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-018
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/sweet-ambrosia-ambsd" rel="noopener noreferrer" target="_blank">
            Sweet Ambrosia
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-021
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/coronal-of-rejuvenation-ambsd" rel="noopener noreferrer" target="_blank">
            Coronal of Rejuvenation
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-022
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/entrancing-filigree-ambsd" rel="noopener noreferrer" target="_blank">
            Entrancing Filigree
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">ALLY</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-023
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          5
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/ardent-cloudstriker-ambsd" rel="noopener noreferrer" target="_blank">
            Ardent Cloudstriker
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-025
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/formidable-youxia-ambsd" rel="noopener noreferrer" target="_blank">
            Formidable Youxia
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-034
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spirited-neophyte-ambsd" rel="noopener noreferrer" target="_blank">
            Spirited Neophyte
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-040
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/hydroguard-retainer-ambsd" rel="noopener noreferrer" target="_blank">
            Hydroguard Retainer
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-057
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/devoted-bloomweaver-ambsd" rel="noopener noreferrer" target="_blank">
            Devoted Bloomweaver
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">ACTION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-026
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/harmonious-mantra-ambsd" rel="noopener noreferrer" target="_blank">
            Harmonious Mantra
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-027
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/heighten-spellcraft-ambsd" rel="noopener noreferrer" target="_blank">
            Heighten Spellcraft
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-028
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/idle-thoughts-ambsd" rel="noopener noreferrer" target="_blank">
            Idle Thoughts
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-037
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/wisdoms-reprise-ambsd" rel="noopener noreferrer" target="_blank">
            Wisdom's Reprise
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-038
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/cone-of-frost-ambsd" rel="noopener noreferrer" target="_blank">
            Cone of Frost
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-039
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/coriolis-ward-ambsd" rel="noopener noreferrer" target="_blank">
            Coriolis Ward
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-041
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/rising-tides-ambsd" rel="noopener noreferrer" target="_blank">
            Rising Tides
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-043
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          5
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/tsunami-of-nanyue-ambsd" rel="noopener noreferrer" target="_blank">
            Tsunami of Nanyue
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-044
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/water-barrier-ambsd" rel="noopener noreferrer" target="_blank">
            Water Barrier
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-058
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/leeching-bolt-ambsd" rel="noopener noreferrer" target="_blank">
            Leeching Bolt
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-059
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          12
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/planar-abyss-ambsd" rel="noopener noreferrer" target="_blank">
            Planar Abyss
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-061
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/tera-sight-ambsd" rel="noopener noreferrer" target="_blank">
            Tera Sight
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">PHANTASIA</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-042
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/taiji-of-crystal-strategems-ambsd" rel="noopener noreferrer" target="_blank">
            Taiji of Crystal Strategems
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">DOMAIN</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-060
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/ruinous-pillars-of-qidao-ambsd" rel="noopener noreferrer" target="_blank">
            Ruinous Pillars of Qidao
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
      </tbody>
      </table>