<table class="condensed-table set-list">
      <thead>
        <tr>
          <th style="text-align: left">Number</th>
          <th style="text-align: left">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
  <th colspan="3">CHAMPION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-002
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spirit-of-wind-ambsd" rel="noopener noreferrer" target="_blank">
            Spirit of Wind
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-003
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/jin-fate-defiant-ambsd" rel="noopener noreferrer" target="_blank">
            Jin, Fate Defiant
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-004
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/jin-zealous-maverick-ambsd" rel="noopener noreferrer" target="_blank">
            Jin, Zealous Maverick
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-005
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/exia.png" alt="EXIA element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/jin-undying-resolve-ambsd" rel="noopener noreferrer" target="_blank">
            Jin, Undying Resolve
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">REGALIA</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-009
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/bauble-of-abundance-ambsd" rel="noopener noreferrer" target="_blank">
            Bauble of Abundance
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-010
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/executioners-spear-ambsd" rel="noopener noreferrer" target="_blank">
            Executioner's Spear
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-012
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/life-essence-amulet-ambsd" rel="noopener noreferrer" target="_blank">
            Life Essence Amulet
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-013
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/safeguard-amulet-ambsd" rel="noopener noreferrer" target="_blank">
            Safeguard Amulet
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-015
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/slate-whetstone-ambsd" rel="noopener noreferrer" target="_blank">
            Slate Whetstone
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-016
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/steel-halberd-ambsd" rel="noopener noreferrer" target="_blank">
            Steel Halberd
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-019
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/exia.png" alt="EXIA element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/berserker-plate-ambsd" rel="noopener noreferrer" target="_blank">
            Berserker Plate
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-020
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/exia.png" alt="EXIA element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/shuang-ji-of-sacrifice-ambsd" rel="noopener noreferrer" target="_blank">
            Shuang Ji of Sacrifice
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">ALLY</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-024
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/banner-knight-ambsd" rel="noopener noreferrer" target="_blank">
            Banner Knight
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-031
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/safeguard-paladin-ambsd" rel="noopener noreferrer" target="_blank">
            Safeguard Paladin
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-032
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/savage-swing-ambsd" rel="noopener noreferrer" target="_blank">
            Savage Swing
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-035
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/trusty-steed-ambsd" rel="noopener noreferrer" target="_blank">
            Trusty Steed
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-036
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          5
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/veteran-soldier-ambsd" rel="noopener noreferrer" target="_blank">
            Veteran Soldier
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-045
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          5
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/eminent-commander-ambsd" rel="noopener noreferrer" target="_blank">
            Eminent Commander
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-049
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/swift-recruit-ambsd" rel="noopener noreferrer" target="_blank">
            Swift Recruit
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-051
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/exia.png" alt="EXIA element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/bloodbond-bladesworn-ambsd" rel="noopener noreferrer" target="_blank">
            Bloodbond Bladesworn
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-052
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/exia.png" alt="EXIA element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/enrage-ambsd" rel="noopener noreferrer" target="_blank">
            Enrage
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">ACTION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-028
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/idle-thoughts-ambsd" rel="noopener noreferrer" target="_blank">
            Idle Thoughts
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-030
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/regenerate-ambsd" rel="noopener noreferrer" target="_blank">
            Regenerate
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-046
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/favorable-winds-ambsd" rel="noopener noreferrer" target="_blank">
            Favorable Winds
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-047
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/materialize-polearm-ambsd" rel="noopener noreferrer" target="_blank">
            Materialize Polearm
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-048
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/reclaim-ambsd" rel="noopener noreferrer" target="_blank">
            Reclaim
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-053
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/exia.png" alt="EXIA element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/exia-sight-ambsd" rel="noopener noreferrer" target="_blank">
            Exia Sight
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-055
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/exia.png" alt="EXIA element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/mend-flesh-ambsd" rel="noopener noreferrer" target="_blank">
            Mend Flesh
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-056
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/exia.png" alt="EXIA element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/relentless-outburst-ambsd" rel="noopener noreferrer" target="_blank">
            Relentless Outburst
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">ATTACK</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-029
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/pierce-the-heavens-ambsd" rel="noopener noreferrer" target="_blank">
            Pierce the Heavens
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-050
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/wind-cutter-ambsd" rel="noopener noreferrer" target="_blank">
            Wind Cutter
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-054
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/exia.png" alt="EXIA element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/hemorrhaging-rend-ambsd" rel="noopener noreferrer" target="_blank">
            Hemorrhaging Rend
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
      </tbody>
      </table>