<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/2JgdoyAChU.jpg"
      alt="Arcanist's Prism &ndash; KSP &middot; EN-004"
      style="max-width: 440px;"
    >
    <figcaption>Arcanist's Prism &ndash; KSP &middot; EN-004</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/KSP_(set)">Kickstarter Promotional</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          At the beginning of your recollection phase, put all cards from your memory on the bottom of your deck in any order, then draw that many cards.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-PR">Promotional Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Foil ≈1,500</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/arcanists-prism-ksp">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>