<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/6gBkBQ8OXV.jpg"
      alt="Arcane Disposition &ndash; DOA 1st &middot; EN-240"
      style="max-width: 440px;"
    >
    <figcaption>Arcane Disposition &ndash; DOA 1st &middot; EN-240</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Draw two cards. At the beginning of the next end phase, discard your hand.
<span class="effect__bubble">Class Bonus:</span>Draw a card.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈8,400</div>
<div>Foil &ndash; ≈141</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/arcane-disposition-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>