<p>This card is part of the <a href="/DOApSP_(set)">Silvie Previews</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/i97DcREOPa.jpg"
      alt="Arima, Gaia's Wings &ndash; DOApSP &middot; EN-266"
      style="max-width: 440px;"
    >
    <figcaption>Arima, Gaia's Wings &ndash; DOApSP &middot; EN-266</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Pride 6</span> <span class="effect__reminder">(This ally won't obey you unless your champion is level 6 or higher.)</span>
At the beginning of your recollection phase, put three <span class="effect__label">buff</span> counters on Arima.
<span class="effect__label">On Death:</span> Put Arima into your memory.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-SR">Super Rare</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/arima-gaias-wings-doapsp">view this card on Grand Archive Index</a>.
  </p>
</div>