<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/DjpIms87Ih.jpg"
      alt="Arrow Trap &ndash; DOA 1st &middot; EN-199"
      style="max-width: 440px;"
    >
    <figcaption>Arrow Trap &ndash; DOA 1st &middot; EN-199</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Prepare 1</span> <span class="effect__reminder">(You may remove a <span class="effect__label">preparation</span> counter from your champion as you activate this card.)</span>
Return target attacking ally to its owner's hand. <span class="effect__label">Class Bonus:</span> If Arrow Trap was prepared, destroy that ally instead.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-U">Uncommon</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈8,400</div>
<div>Foil ≈141</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/arrow-trap-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>