<p>This card is part of the <a href="/DOApSP_(set)">Silvie Previews</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/cpNNu6CXva.jpg"
      alt="Artificer's Opus &ndash; DOApSP &middot; EN-267"
      style="max-width: 440px;"
    >
    <figcaption>Artificer's Opus &ndash; DOApSP &middot; EN-267</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span><span class="effect__label">Efficiency</span> <span class="effect__reminder">(This card costs <span class="effect__label">LV</span> less to activate.)</span>
Artificer's Opus enters the field rested.
<span class="effect__label">Cleave</span> <span class="effect__reminder">(This ally attacks all units a chosen opponent controls. Its attacks can't be intercepted.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-SR">Super Rare</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/artificers-opus-doapsp">view this card on Grand Archive Index</a>.
  </p>
</div>