<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/XlYntGnjsq.jpg"
      alt="Attune with the Winds &ndash; DOA 1st &middot; EN-200"
      style="max-width: 440px;"
    >
    <figcaption>Attune with the Winds &ndash; DOA 1st &middot; EN-200</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Put a <span class="effect__label">buff</span> counter on each ally you control. <span class="effect__reminder">(Allies get +1 power and +1 life for each <span class="effect__label">buff</span> counter on them.)
<span class="effect__bubble">Class Bonus</span><span class="effect__reminder"><span class="effect__label">Harmonize</span></span> — If you've activated a Melody card this turn, draw a card.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈127</div>
<div>Normal &ndash; ≈4,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/attune-with-the-winds-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>