<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/LRcxPAyqLu.jpg"
      alt="Barrier Servant &ndash; DOAp &middot; EN-033"
      style="max-width: 440px;"
    >
    <figcaption>Barrier Servant &ndash; DOAp &middot; EN-033</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOAp_(set)">Dawn of Ashes Prelude</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Intercept</span> <span class="effect__reminder">(Whenever your champion is attacked while this ally is awake, you may redirect that attack to this ally.)</span>
<span class="effect__label">Remove two enlighten counters from your champion:</span> The next time damage would be dealt to Barrier Servant this turn, prevent that damage.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-C">Common</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">代々</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈22,500</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/barrier-servant-doap">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>