<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/RSFmULrSyR.jpg"
      alt="Barrier Servant &ndash; DOA 1st &middot; EN-072"
      style="max-width: 440px;"
    >
    <figcaption>Barrier Servant &ndash; DOA 1st &middot; EN-072</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Intercept</span> <span class="effect__reminder">(Whenever your champion is attacked while this ally is awake, you may redirect that attack to this ally.)</span>
<span class="effect__label">Remove two enlighten counters from your champion:</span> The next time damage would be dealt to Barrier Servant this turn, prevent that damage.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">代々</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈24,000</div>
<div>Foil &ndash; ≈157</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/barrier-servant-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>