<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/UMbEHC1RI2.jpg"
      alt="Beastbond Paws &ndash; DOA 1st &middot; EN-025"
      style="max-width: 440px;"
    >
    <figcaption>Beastbond Paws &ndash; DOA 1st &middot; EN-025</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Banish Beastbond Paws:</span> Target Animal or Beast ally you control gets +1<span class="effect__icon effect__icon--sword"></span> and gains <span class="effect__label">true sight</span> until end of turn. <span class="effect__reminder">(Units with <span class="effect__label">true sight</span> can attack units with <span class="effect__label">stealth</span>.)</span>
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-C">Common</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈24,000</div>
<div>Foil ≈157</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/beastbond-paws-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>