<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/nWcdRg8OH8.jpg"
      alt="Beastbond Boots &ndash; DOA 1st &middot; EN-023"
      style="max-width: 440px;"
    >
    <figcaption>Beastbond Boots &ndash; DOA 1st &middot; EN-023</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Banish Beastbond Paws:</span> Your champion gains <span class="effect__label">spellshroud</span> until end of turn. Activate this ability only if you control an Animal or Beast ally. <span class="effect__reminder">(Units with <span class="effect__label">spellshroud</span> can't be targeted by Spells.)</span>
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; The condition of needing to control an Animal or Beast ally is only checked upon activating the ability of Beastbond Boots.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈141</div>
<div>Normal &ndash; ≈8,400</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/beastbond-boots-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>