<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/oqfrsmwunn.jpg"
      alt="Benevolent Battle Priest &ndash; DOA 1st &middot; EN-161"
      style="max-width: 440px;"
    >
    <figcaption>Benevolent Battle Priest &ndash; DOA 1st &middot; EN-161</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span><span class="effect__label">On Attack: Recover 1</span>. <span class="effect__reminder">(To <span class="effect__label">recover</span>, remove that many damage counters from your champion.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">代々</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈141</div>
<div>Normal &ndash; ≈8,400</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/benevolent-battle-priest-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>