<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/kfoj1YF6NG.jpg"
      alt="Blazing Direwolf &ndash; DOA 1st &middot; EN-119"
      style="max-width: 440px;"
    >
    <figcaption>Blazing Direwolf &ndash; DOA 1st &middot; EN-119</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Pride 5</span> <span class="effect__reminder">(This ally won't obey you unless your champion is level 5 or higher.)</span>
<span class="effect__bubble">Class Bonus</span><span class="effect__label">On Attack:</span> Deal 2 damage to target unit. <span class="effect__reminder">(Apply this effect only if your champion's class matches this card's class.)</span>
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; A unit that does not obey you can't attack, intercept, retaliate, and its activated abilities can't be activated.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-U">Uncommon</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈8,400</div>
<div>Foil ≈141</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/blazing-direwolf-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>