<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/gpfRxHQmjz.jpg"
      alt="Blissful Calling &ndash; DOA 1st &middot; EN-073"
      style="max-width: 440px;"
    >
    <figcaption>Blissful Calling &ndash; DOA 1st &middot; EN-073</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Look at the top five cards of your deck. You may reveal an Animal or Beast card from among them and put it into your hand. Put the rest on the bottom of your deck in any order.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-C">Common</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">十尾</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈24,000</div>
<div>Foil &ndash; ≈157</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/blissful-calling-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>