<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/kGdhXWvHFi.jpg"
      alt="Blitz Mage &ndash; DOAp &middot; EN-065"
      style="max-width: 440px;"
    >
    <figcaption>Blitz Mage &ndash; DOAp &middot; EN-065</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOAp_(set)">Dawn of Ashes Prelude</a>
        </span>
      </div>
      
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-U">Uncommon</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">坊橋夜泊</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈15,000</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/blitz-mage-doap">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>