<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/yDUp8dJMnb.jpg"
      alt="Blue Slime &ndash; DOA 1st &middot; EN-162"
      style="max-width: 440px;"
    >
    <figcaption>Blue Slime &ndash; DOA 1st &middot; EN-162</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Pride 4</span> <span class="effect__reminder">(This ally won't obey you unless your champion is level 4 or higher.)</span>
<span class="effect__bubble">Class Bonus</span>Whenever Blue Slime is dealt damage, put a <span class="effect__label">buff</span> counter on it. <span class="effect__reminder">(Allies get +1 power and +1 life for each <span class="effect__label">buff</span> counter on them.)
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; A unit that does not obey you can't attack, intercept, retaliate, and its activated abilities can't be activated.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-U">Uncommon</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈8,400</div>
<div>Foil &ndash; ≈141</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/blue-slime-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>