<p>This card is part of the <a href="/P22_(set)">Promotional 2022</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/b86fb93157.jpg"
      alt="Bubble Mage &ndash; P22 &middot; EN-003"
      style="max-width: 440px;"
    >
    <figcaption>Bubble Mage &ndash; P22 &middot; EN-003</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">On Enter:</span> Rest target unit. <span class="effect__label">Class Bonus:</span> Until end of turn, if that unit would take damage, it takes that much damage plus 1 instead.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-PR">Promotional Rare</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Faicha</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈1,800</div>
<div>Foil &ndash; ≈220</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/bubble-mage-p22">view this card on Grand Archive Index</a>.
  </p>
</div>