<p>This card is part of the <a href="/DOAp_(set)">Dawn of Ashes Prelude</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/KHxN8Dsm36.jpg"
      alt="Caliburn of Silencing &ndash; DOAp &middot; EN-030"
      style="max-width: 440px;"
    >
    <figcaption>Caliburn of Silencing &ndash; DOAp &middot; EN-030</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span><span class="effect__label">On Champion Hit:</span> The hit champion loses all abilities until the beginning of your next turn. <span class="effect__reminder">(Apply this effect only if your champion's class matches this card's class.)</span>
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; A champion hit by Caliburn of Silencing has cards in its lineage lose their abilities temporarily, as well.</span><span class="card-template-stat-values-rule">2022-12-27 &ndash; On Hit only triggers when 1 or more damage is dealt from the source. If all of the damage was prevented, then On Hit will not trigger.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈7,500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/caliburn-of-silencing-doap">view this card on Grand Archive Index</a>.
  </p>
</div>