<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/LtkSUi2oga.jpg"
      alt="Call the Pack &ndash; DOA 1st &middot; EN-268"
      style="max-width: 440px;"
    >
    <figcaption>Call the Pack &ndash; DOA 1st &middot; EN-268</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span>This card costs 2 less to activate.
For each Animal ally you control, you may put a Beast ally card from your hand onto the field.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-R">Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈4,000</div>
<div>Foil ≈127</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/call-the-pack-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>