<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/Vh2NeDccZU.jpg"
      alt="Camelot, Impenetrable &ndash; DOA 1st &middot; EN-204"
      style="max-width: 440px;"
    >
    <figcaption>Camelot, Impenetrable &ndash; DOA 1st &middot; EN-204</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__reminder"><span class="effect__label">Upkeep</span></span> — Whenever you materialize a card, sacrifice Camelot.
Whenever you activate a wind element card, you may </span class="effect__label">negate</span> its activation. If you do, choose an ally and <span class="effect__label">suppress</span> it.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-SR">Super Rare</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">杭州新艺族</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈2,400</div>
<div>Foil &ndash; ≈109</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/camelot-impenetrable-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>