<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/LyIchxXIvz.jpg"
      alt="Channeling Stone &ndash; DOA 1st &middot; EN-028"
      style="max-width: 440px;"
    >
    <figcaption>Channeling Stone &ndash; DOA 1st &middot; EN-028</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Banish Channeling Stone:</span> The next card you activate this turn costs 2 less to activate.
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; The cost decrease only affects cards that are activated, not materialized.</span><span class="card-template-stat-values-rule">2022-12-27 &ndash; The type of cost decreased is based on the card's default cost type. In most cases, it will decrease reserve cost because it only affects activation costs. However, if a card can be activated from the material deck and has a memory cost as its default cost, the memory cost will decrease by 2.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈127</div>
<div>Normal &ndash; ≈4,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/channeling-stone-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>