<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/UotFB8kmhj.jpg"
      alt="Command the Hunt &ndash; DOA 1st &middot; EN-269"
      style="max-width: 440px;"
    >
    <figcaption>Command the Hunt &ndash; DOA 1st &middot; EN-269</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          This card costs 2 less to activate if no units have attacked this turn.
Allies you control get +2<span class="effect__icon effect__icon--sword"></span> and gain <span class="effect__label">vigor</span> until end of turn. Those allies must attack champions this turn if able. <span class="effect__reminder">(Units with <span class="effect__label">vigor</span> wake up at the beginning of your end phase.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-R">Rare</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈4,000</div>
<div>Foil &ndash; ≈127</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/command-the-hunt-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>