<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/MR6gGa8kWy.jpg"
      alt="Conduit of the Mad Mage &ndash; DOA 1st &middot; EN-243"
      style="max-width: 440px;"
    >
    <figcaption>Conduit of the Mad Mage &ndash; DOA 1st &middot; EN-243</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Whenever you activate a Mage Spell action, wake up Conduit of the Mad Mage, and it gets +1<span class="effect__icon effect__icon--sword"></span> until end of turn.
At the beginning of your end phase, sacrifice Conduit of the Mad Mage.
<span class="effect__label">Floating Memory</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-R">Rare</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">YOHAKU</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈4,000</div>
<div>Foil &ndash; ≈127</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/conduit-of-the-mad-mage-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>