<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/uGYK6hwTm0.jpg"
      alt="Deflecting Edge &ndash; DOA 1st &middot; EN-080"
      style="max-width: 440px;"
    >
    <figcaption>Deflecting Edge &ndash; DOA 1st &middot; EN-080</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          This card costs 1 less to activate if you control a Sword weapon.
Prevent the next 3 attack damage that would be dealt to target unit this turn.
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; Deflecting Edge can only prevent attack damage, which is damage dealt by attacks.</span><span class="card-template-stat-values-rule">2022-12-27 &ndash; The damage prevented does not need to be from one source. E.g. three different sources each dealing 1 attack damage each can all be prevented in the same turn.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-C">Common</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈24,000</div>
<div>Foil ≈157</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/deflecting-edge-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>