<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lost-spirit-demo22" rel="noopener noreferrer" target="_blank">
          Lost Spirit
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">7</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">7</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">7</span> <span class="thema-score thema-score-valor" title="VALOR">7</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lorraine-wandering-warrior-demo22" rel="noopener noreferrer" target="_blank">
          Lorraine, Wandering Warrior
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">8</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">6</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">8</span> <span class="thema-score thema-score-valor" title="VALOR">6</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lorraine-blademaster-demo22" rel="noopener noreferrer" target="_blank">
          Lorraine, Blademaster
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">7</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">6</span> <span class="thema-score thema-score-grace" title="GRACE">8</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">8</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/bauble-of-abundance-demo22" rel="noopener noreferrer" target="_blank">
          Bauble of Abundance
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">6</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">5</span> <span class="thema-score thema-score-grace" title="GRACE">9</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">8</span> <span class="thema-score thema-score-valor" title="VALOR">7</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/life-essence-amulet-demo22" rel="noopener noreferrer" target="_blank">
          Life Essence Amulet
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">8</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">5</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">9</span> <span class="thema-score thema-score-valor" title="VALOR">6</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ornamental-greatsword-demo22" rel="noopener noreferrer" target="_blank">
          Ornamental Greatsword
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">7</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">8</span> <span class="thema-score thema-score-grace" title="GRACE">9</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">5</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/seers-sword-demo22" rel="noopener noreferrer" target="_blank">
          Seer's Sword
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 60 <span class="thema-score thema-score-charm" title="CHARM">10</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">13</span> <span class="thema-score thema-score-grace" title="GRACE">12</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">14</span> <span class="thema-score thema-score-valor" title="VALOR">11</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sharpening-stone-demo22" rel="noopener noreferrer" target="_blank">
          Sharpening Stone
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">7</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">8</span> <span class="thema-score thema-score-grace" title="GRACE">9</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">5</span> <span class="thema-score thema-score-valor" title="VALOR">6</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/warriors-longsword-demo22" rel="noopener noreferrer" target="_blank">
          Warrior's Longsword
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 60 <span class="thema-score thema-score-charm" title="CHARM">10</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">14</span> <span class="thema-score thema-score-grace" title="GRACE">15</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">9</span> <span class="thema-score thema-score-valor" title="VALOR">12</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/banner-knight-demo22" rel="noopener noreferrer" target="_blank">
          Banner Knight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">6</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">7</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">9</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/crusader-of-aesa-demo22" rel="noopener noreferrer" target="_blank">
          Crusader of Aesa
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">6</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">8</span> <span class="thema-score thema-score-grace" title="GRACE">6</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">9</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/esteemed-knight-demo22" rel="noopener noreferrer" target="_blank">
          Esteemed Knight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">8</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">7</span> <span class="thema-score thema-score-grace" title="GRACE">6</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">5</span> <span class="thema-score thema-score-valor" title="VALOR">9</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/honorable-vanguard-demo22" rel="noopener noreferrer" target="_blank">
          Honorable Vanguard
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">8</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">6</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">8</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/inspiring-call-demo22" rel="noopener noreferrer" target="_blank">
          Inspiring Call
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 60 <span class="thema-score thema-score-charm" title="CHARM">12</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">13</span> <span class="thema-score thema-score-grace" title="GRACE">12</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">9</span> <span class="thema-score thema-score-valor" title="VALOR">14</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/opening-cut-demo22" rel="noopener noreferrer" target="_blank">
          Opening Cut
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">5</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">9</span> <span class="thema-score thema-score-grace" title="GRACE">8</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">7</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/reckless-slash-demo22" rel="noopener noreferrer" target="_blank">
          Reckless Slash
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">5</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">9</span> <span class="thema-score thema-score-grace" title="GRACE">8</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">7</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        6
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sudden-steel-demo22" rel="noopener noreferrer" target="_blank">
          Sudden Steel
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 60 <span class="thema-score thema-score-charm" title="CHARM">10</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">15</span> <span class="thema-score thema-score-grace" title="GRACE">14</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">9</span> <span class="thema-score thema-score-valor" title="VALOR">12</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/trusty-steed-demo22" rel="noopener noreferrer" target="_blank">
          Trusty Steed
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">7</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">6</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">9</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/veteran-soldier-demo22" rel="noopener noreferrer" target="_blank">
          Veteran Soldier
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">8</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">6</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">8</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-020
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/weaponsmith-demo22" rel="noopener noreferrer" target="_blank">
          Weaponsmith
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">8</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">8</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">6</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
</tbody>
</table>