<table>
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: left">Rarity</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lost-spirit_(card)#demo22--en-001-c">
      Lost Spirit
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-wandering-warrior_(card)#doa 1st--en-004-c">
      Lorraine, Wandering Warrior
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈37,500<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-wandering-warrior_(card)#doap--en-003-c">
      Lorraine, Wandering Warrior
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-wandering-warrior_(card)#demo22--en-002-c">
      Lorraine, Wandering Warrior
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-wandering-warrior_(card)#doa 1st--en-004-cur">
      Lorraine, Wandering Warrior
    </a>
  </td>
  <td style="text-align: left">
    CUR
  </td>
  <td style="text-align: right">
    Foil =70
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-blademaster_(card)#doa 1st--en-005-c">
      Lorraine, Blademaster
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈25,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-blademaster_(card)#doap--en-004-c">
      Lorraine, Blademaster
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-blademaster_(card)#demo22--en-003-c">
      Lorraine, Blademaster
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-blademaster_(card)#ksp--en-001-pr">
      Lorraine, Blademaster
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Foil ≈900
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-blademaster_(card)#doa 1st--en-005-cur">
      Lorraine, Blademaster
    </a>
  </td>
  <td style="text-align: left">
    CUR
  </td>
  <td style="text-align: right">
    Foil =70
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-021
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/bauble-of-abundance_(card)#doa 1st--en-021-c">
      Bauble of Abundance
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/bauble-of-abundance_(card)#doap--en-011-c">
      Bauble of Abundance
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/bauble-of-abundance_(card)#demo22--en-004-c">
      Bauble of Abundance
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-040
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/life-essence-amulet_(card)#doa 1st--en-040-c">
      Life Essence Amulet
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/life-essence-amulet_(card)#doap--en-017-c">
      Life Essence Amulet
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/life-essence-amulet_(card)#demo22--en-005-c">
      Life Essence Amulet
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-046
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/ornamental-greatsword_(card)#doa 1st--en-046-c">
      Ornamental Greatsword
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-021
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/ornamental-greatsword_(card)#doap--en-021-c">
      Ornamental Greatsword
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/ornamental-greatsword_(card)#demo22--en-006-c">
      Ornamental Greatsword
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-051
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/seers-sword_(card)#doa 1st--en-051-u">
      Seer's Sword
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈8,400<br/>Foil ≈141
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-022
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/seers-sword_(card)#doap--en-022-u">
      Seer's Sword
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/seers-sword_(card)#demo22--en-007-u">
      Seer's Sword
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-052
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/sharpening-stone_(card)#doa 1st--en-052-c">
      Sharpening Stone
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/sharpening-stone_(card)#demo22--en-008-c">
      Sharpening Stone
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-058
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/warriors-longsword_(card)#doa 1st--en-058-u">
      Warrior's Longsword
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈8,400<br/>Foil ≈141
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-026
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/warriors-longsword_(card)#doap--en-026-u">
      Warrior's Longsword
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/warriors-longsword_(card)#demo22--en-009-u">
      Warrior's Longsword
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-071
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/banner-knight_(card)#doa 1st--en-071-c">
      Banner Knight
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-032
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/banner-knight_(card)#doap--en-032-c">
      Banner Knight
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈22,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/banner-knight_(card)#demo22--en-010-c">
      Banner Knight
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/banner-knight_(card)#p22--en-007-cpr">
      Banner Knight
    </a>
  </td>
  <td style="text-align: left">
    CPR
  </td>
  <td style="text-align: right">
    Foil ≈100
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-079
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/crusader-of-aesa_(card)#doa 1st--en-079-c">
      Crusader of Aesa
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-036
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/crusader-of-aesa_(card)#doap--en-036-c">
      Crusader of Aesa
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/crusader-of-aesa_(card)#demo22--en-011-c">
      Crusader of Aesa
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-085
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/esteemed-knight_(card)#doa 1st--en-085-c">
      Esteemed Knight
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-040
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/esteemed-knight_(card)#doap--en-040-c">
      Esteemed Knight
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/esteemed-knight_(card)#demo22--en-012-c">
      Esteemed Knight
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-091
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/honorable-vanguard_(card)#doa 1st--en-091-c">
      Honorable Vanguard
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-044
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/honorable-vanguard_(card)#doap--en-044-c">
      Honorable Vanguard
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/honorable-vanguard_(card)#demo22--en-013-c">
      Honorable Vanguard
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/honorable-vanguard_(card)#p22--en-002-pr">
      Honorable Vanguard
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Normal ≈3,200<br/>Foil ≈400
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-093
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/inspiring-call_(card)#doa 1st--en-093-c">
      Inspiring Call
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-046
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/inspiring-call_(card)#doap--en-046-c">
      Inspiring Call
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/inspiring-call_(card)#demo22--en-014-u">
      Inspiring Call
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-100
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/opening-cut_(card)#doa 1st--en-100-c">
      Opening Cut
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-051
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/opening-cut_(card)#doap--en-051-c">
      Opening Cut
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/opening-cut_(card)#demo22--en-015-c">
      Opening Cut
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-105
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/reckless-slash_(card)#doa 1st--en-105-c">
      Reckless Slash
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-054
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/reckless-slash_(card)#doap--en-054-c">
      Reckless Slash
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/reckless-slash_(card)#demo22--en-016-c">
      Reckless Slash
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-112
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/sudden-steel_(card)#doa 1st--en-112-c">
      Sudden Steel
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-058
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/sudden-steel_(card)#doap--en-058-c">
      Sudden Steel
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/sudden-steel_(card)#demo22--en-017-u">
      Sudden Steel
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-114
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/trusty-steed_(card)#doa 1st--en-114-c">
      Trusty Steed
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-060
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/trusty-steed_(card)#doap--en-060-c">
      Trusty Steed
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/trusty-steed_(card)#demo22--en-018-c">
      Trusty Steed
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-115
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/veteran-soldier_(card)#doa 1st--en-115-c">
      Veteran Soldier
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-061
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/veteran-soldier_(card)#doap--en-061-c">
      Veteran Soldier
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/veteran-soldier_(card)#demo22--en-019-c">
      Veteran Soldier
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-116
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/weaponsmith_(card)#doa 1st--en-116-c">
      Weaponsmith
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-062
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/weaponsmith_(card)#doap--en-062-c">
      Weaponsmith
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-020
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/weaponsmith_(card)#demo22--en-020-c">
      Weaponsmith
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000
  </td>
</tr>
</tbody>
</table>