<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/spirit-of-fire-demo23" rel="noopener noreferrer" target="_blank">
          Spirit of Fire
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">5</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">9</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">7</span> <span class="thema-score thema-score-valor" title="VALOR">7</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,500
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/spirit-of-wind-demo23" rel="noopener noreferrer" target="_blank">
          Spirit of Wind
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">5</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">7</span> <span class="thema-score thema-score-grace" title="GRACE">9</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">7</span> <span class="thema-score thema-score-valor" title="VALOR">7</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,500
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lorraine-wandering-warrior-demo23" rel="noopener noreferrer" target="_blank">
          Lorraine, Wandering Warrior
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">8</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">6</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">8</span> <span class="thema-score thema-score-valor" title="VALOR">6</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈25,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lorraine-blademaster-demo23" rel="noopener noreferrer" target="_blank">
          Lorraine, Blademaster
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">7</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">6</span> <span class="thema-score thema-score-grace" title="GRACE">8</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">8</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈25,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/life-essence-amulet-demo23" rel="noopener noreferrer" target="_blank">
          Life Essence Amulet
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">8</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">5</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">9</span> <span class="thema-score thema-score-valor" title="VALOR">6</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈25,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ornamental-greatsword-demo23" rel="noopener noreferrer" target="_blank">
          Ornamental Greatsword
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">7</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">8</span> <span class="thema-score thema-score-grace" title="GRACE">9</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">5</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈25,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sword-of-seeking-demo23" rel="noopener noreferrer" target="_blank">
          Sword of Seeking
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 60 <span class="thema-score thema-score-charm" title="CHARM">10</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">15</span> <span class="thema-score thema-score-grace" title="GRACE">12</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">12</span> <span class="thema-score thema-score-valor" title="VALOR">11</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈25,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/warriors-longsword-demo23" rel="noopener noreferrer" target="_blank">
          Warrior's Longsword
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 60 <span class="thema-score thema-score-charm" title="CHARM">10</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">14</span> <span class="thema-score thema-score-grace" title="GRACE">15</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">9</span> <span class="thema-score thema-score-valor" title="VALOR">12</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈25,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/banner-knight-demo23" rel="noopener noreferrer" target="_blank">
          Banner Knight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">6</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">7</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">9</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈37,500
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/crusader-of-aesa-demo23" rel="noopener noreferrer" target="_blank">
          Crusader of Aesa
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">6</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">8</span> <span class="thema-score thema-score-grace" title="GRACE">6</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">9</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,500
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/deflecting-edge-demo23" rel="noopener noreferrer" target="_blank">
          Deflecting Edge
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">6</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">7</span> <span class="thema-score thema-score-grace" title="GRACE">9</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">5</span> <span class="thema-score thema-score-valor" title="VALOR">8</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈50,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/esteemed-knight-demo23" rel="noopener noreferrer" target="_blank">
          Esteemed Knight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">8</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">7</span> <span class="thema-score thema-score-grace" title="GRACE">6</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">5</span> <span class="thema-score thema-score-valor" title="VALOR">9</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈37,500
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/honorable-vanguard-demo23" rel="noopener noreferrer" target="_blank">
          Honorable Vanguard
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">8</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">6</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">8</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈25,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/inspiring-call-demo23" rel="noopener noreferrer" target="_blank">
          Inspiring Call
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">7</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">7</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">5</span> <span class="thema-score thema-score-valor" title="VALOR">9</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈25,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/savage-slash-demo23" rel="noopener noreferrer" target="_blank">
          Savage Slash
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">6</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">9</span> <span class="thema-score thema-score-grace" title="GRACE">8</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">5</span> <span class="thema-score thema-score-valor" title="VALOR">7</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈50,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/trusty-steed-demo23" rel="noopener noreferrer" target="_blank">
          Trusty Steed
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">7</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">6</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">9</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈25,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/veteran-soldier-demo23" rel="noopener noreferrer" target="_blank">
          Veteran Soldier
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">8</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">6</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">8</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈50,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/blazing-throw-demo23" rel="noopener noreferrer" target="_blank">
          Blazing Throw
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">5</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">9</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">8</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,500
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fiery-momentum-demo23" rel="noopener noreferrer" target="_blank">
          Fiery Momentum
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 60 <span class="thema-score thema-score-charm" title="CHARM">10</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">14</span> <span class="thema-score thema-score-grace" title="GRACE">13</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">11</span> <span class="thema-score thema-score-valor" title="VALOR">12</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,500
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-020
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/flame-rune-swordsman-demo23" rel="noopener noreferrer" target="_blank">
          Flame-Rune Swordsman
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">6</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">7</span> <span class="thema-score thema-score-grace" title="GRACE">6</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">9</span> <span class="thema-score thema-score-valor" title="VALOR">7</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,500
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-021
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/hasty-messenger-demo23" rel="noopener noreferrer" target="_blank">
          Hasty Messenger
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 60 <span class="thema-score thema-score-charm" title="CHARM">14</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">11</span> <span class="thema-score thema-score-grace" title="GRACE">13</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">11</span> <span class="thema-score thema-score-valor" title="VALOR">11</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,500
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-022
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/strapping-conscript-demo23" rel="noopener noreferrer" target="_blank">
          Strapping Conscript
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 60 <span class="thema-score thema-score-charm" title="CHARM">11</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">13</span> <span class="thema-score thema-score-grace" title="GRACE">12</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">10</span> <span class="thema-score thema-score-valor" title="VALOR">14</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈25,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-023
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tempered-steel-demo23" rel="noopener noreferrer" target="_blank">
          Tempered Steel
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 60 <span class="thema-score thema-score-charm" title="CHARM">9</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">13</span> <span class="thema-score thema-score-grace" title="GRACE">14</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">11</span> <span class="thema-score thema-score-valor" title="VALOR">13</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,500
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-024
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/favorable-winds-demo23" rel="noopener noreferrer" target="_blank">
          Favorable Winds
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">6</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">5</span> <span class="thema-score thema-score-grace" title="GRACE">9</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">9</span> <span class="thema-score thema-score-valor" title="VALOR">6</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,500
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-025
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/reclaim-demo23" rel="noopener noreferrer" target="_blank">
          Reclaim
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 60 <span class="thema-score thema-score-charm" title="CHARM">8</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">10</span> <span class="thema-score thema-score-grace" title="GRACE">13</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">17</span> <span class="thema-score thema-score-valor" title="VALOR">12</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,500
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-026
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/second-wind-demo23" rel="noopener noreferrer" target="_blank">
          Second Wind
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 60 <span class="thema-score thema-score-charm" title="CHARM">10</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">12</span> <span class="thema-score thema-score-grace" title="GRACE">12</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">15</span> <span class="thema-score thema-score-valor" title="VALOR">11</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,500
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-027
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/swift-recruit-demo23" rel="noopener noreferrer" target="_blank">
          Swift Recruit
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">6</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">7</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">6</span> <span class="thema-score thema-score-valor" title="VALOR">9</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈25,000
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-028
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/wind-cutter-demo23" rel="noopener noreferrer" target="_blank">
          Wind Cutter
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">5</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">7</span> <span class="thema-score thema-score-grace" title="GRACE">9</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">7</span> <span class="thema-score thema-score-valor" title="VALOR">7</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈12,500
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-029
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/windrider-vanguard-demo23" rel="noopener noreferrer" target="_blank">
          Windrider Vanguard
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 35 <span class="thema-score thema-score-charm" title="CHARM">7</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">7</span> <span class="thema-score thema-score-grace" title="GRACE">7</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">5</span> <span class="thema-score thema-score-valor" title="VALOR">9</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈25,000
  </td>
</tr>
</tbody>
</table>