<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/hx8pNXfft4.jpg"
      alt="Discordia, Harp of Malice &ndash; DOA 1st &middot; EN-032"
      style="max-width: 440px;"
    >
    <figcaption>Discordia, Harp of Malice &ndash; DOA 1st &middot; EN-032</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Whenever you activate a Harmony or Melody card, put a <span class="effect__label">music</span> counter on Discordia.
<span class="effect__icon effect__icon--rest"></span><span class="effect__label">:</span> Target champion gets -<span class="effect__label">X</span> level and your champion gets +<span class="effect__label">X</span> level until end of turn, where <span class="effect__label">X</span> is the amount of <span class="effect__label">music</span> counters on Discordia. At the beginning of the next end phase, banish Discordia.
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; The amount of level drained is only calculated during the resolution of Discordia's effect. If the amount of music counters on Discordia changes after the resolution of its effect, the amount of level changed does not adjust.</span><span class="card-template-stat-values-rule">2022-12-27 &ndash; If Discordia does not exist on the field during the resolution of its effect, the amount of music counters relevant for the ability is based on the last known amount of music counters of this instance of Discordia.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-SR">Super Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈2,400</div>
<div>Foil ≈109</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/discordia-harp-of-malice-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>