<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/optkFjaDTR.jpg"
      alt="Disorienting Winds &ndash; DOA 1st &middot; EN-208"
      style="max-width: 440px;"
    >
    <figcaption>Disorienting Winds &ndash; DOA 1st &middot; EN-208</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Efficiency</span> <span class="effect__reminder">(This card costs <span class="effect__label">LV</span> less to activate. <span class="effect__label">LV</span> refers to your champion's level.)</span>
Return target ally to its owner's hand. Draw a card.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈8,400</div>
<div>Foil &ndash; ≈141</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/disorienting-winds-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>