<table class="condensed-table">
      <thead>
        <tr>
          <th style="text-align: left">Number</th>
          <th style="text-align: left">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
  <th colspan="3">CHAMPION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-002
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <a href="/spirit-of-wind_(card)#doap--en-002-c">
        Spirit of Wind
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x1
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-003
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/lorraine-wandering-warrior_(card)#doap--en-003-c">
        Lorraine, Wandering Warrior
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x1
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-004
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/lorraine-blademaster_(card)#doap--en-004-c">
        Lorraine, Blademaster
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x1
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-005
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/lorraine-crux-knight_(card)#doap--en-005-c">
        Lorraine, Crux Knight
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x1
    </td>
  </tr>
<tr>
  <th colspan="3">REGALIA</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-012
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/clarent-sword-of-peace_(card)#doap--en-012-r">
        Clarent, Sword of Peace
      </a> (<abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>) x1
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-015
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/fire-resonance-bauble_(card)#doap--en-015-u">
        Fire Resonance Bauble
      </a> (<abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>) x1
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-026
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/warriors-longsword_(card)#doap--en-026-u">
        Warrior's Longsword
      </a> (<abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>) x1
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-021
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/ornamental-greatsword_(card)#doap--en-021-c">
        Ornamental Greatsword
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x1
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-024
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/sword-of-seeking_(card)#doap--en-024-u">
        Sword of Seeking
      </a> (<abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>) x1
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-017
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/life-essence-amulet_(card)#doap--en-017-c">
        Life Essence Amulet
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x1
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-029
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/prismatic-edge_(card)#doap--en-029-sr">
        Prismatic Edge
      </a> (<abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>) x1
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-022
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/seers-sword_(card)#doap--en-022-u">
        Seer's Sword
      </a> (<abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>) x1
    </td>
  </tr>
<tr>
  <th colspan="3">ALLY</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-032
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/banner-knight_(card)#doap--en-032-c">
        Banner Knight
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x3
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-036
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/crusader-of-aesa_(card)#doap--en-036-c">
        Crusader of Aesa
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x4
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-087
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <a href="/dream-fairy_(card)#doap--en-087-r">
        Dream Fairy
      </a> (<abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>) x3
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-038
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/dungeon-guide_(card)#doap--en-038-r">
        Dungeon Guide
      </a> (<abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>) x2
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-040
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/esteemed-knight_(card)#doap--en-040-c">
        Esteemed Knight
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x4
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-044
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/honorable-vanguard_(card)#doap--en-044-c">
        Honorable Vanguard
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x4
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-062
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/weaponsmith_(card)#doap--en-062-c">
        Weaponsmith
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x4
    </td>
  </tr>
<tr>
  <th colspan="3">ACTION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-108
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/crux-sight_(card)#doap--en-108-u">
        Crux Sight
      </a> (<abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>) x3
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-086
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <a href="/disorienting-winds_(card)#doap--en-086-u">
        Disorienting Winds
      </a> (<abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>) x2
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-089
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <a href="/favorable-winds_(card)#doap--en-089-c">
        Favorable Winds
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x3
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-046
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/inspiring-call_(card)#doap--en-046-c">
        Inspiring Call
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x2
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-057
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/scry-the-skies_(card)#doap--en-057-c">
        Scry the Skies
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x4
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-110
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/spirit-blade-ascension_(card)#doap--en-110-r">
        Spirit Blade: Ascension
      </a> (<abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>) x2
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-111
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/spirit-blade-dispersion_(card)#doap--en-111-r">
        Spirit Blade: Dispersion
      </a> (<abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>) x1
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-113
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/spirit-blade-infusion_(card)#doap--en-113-u">
        Spirit Blade: Infusion
      </a> (<abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>) x2
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-114
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/spirits-blessing_(card)#doap--en-114-r">
        Spirit's Blessing
      </a> (<abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>) x3
    </td>
  </tr>
<tr>
  <th colspan="3">ATTACK</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-090
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <a href="/hurricane-sweep_(card)#doap--en-090-r">
        Hurricane Sweep
      </a> (<abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>) x2
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-112
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/spirit-blade-ghost-strike_(card)#doap--en-112-u">
        Spirit Blade: Ghost Strike
      </a> (<abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>) x4
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-056
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/savage-slash_(card)#doap--en-056-c">
        Savage Slash
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x3
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-058
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/sudden-steel_(card)#doap--en-058-c">
        Sudden Steel
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x2
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-100
    </td>
    <td style="text-align: left">
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <a href="/wind-cutter_(card)#doap--en-100-c">
        Wind Cutter
      </a> (<abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>) x1
    </td>
  </tr>
      </tbody>
      </table>