<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td style="text-align: left">
    EN-000
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="/silvie-loved-by-all_(card)#doapsp--en-000-c">
          Silvie, Loved by All
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-000
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="/flute-of-taming_(card)#doapsp--en-000-r">
          Flute of Taming
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-000
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="/seed-of-nature_(card)#doapsp--en-000-sr">
          Seed of Nature
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="/silvie-wilds-whisperer_(card)#doapsp--en-010-c">
          Silvie, Wilds Whisperer
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="/silvie-with-the-pack_(card)#doapsp--en-011-c">
          Silvie, With the Pack
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-023
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="/beastbond-boots_(card)#doapsp--en-023-u">
          Beastbond Boots
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-024
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="/beastbond-ears_(card)#doapsp--en-024-c">
          Beastbond Ears
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-025
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="/beastbond-paws_(card)#doapsp--en-025-c">
          Beastbond Paws
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-027
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="/chalice-of-blood_(card)#doapsp--en-027-r">
          Chalice of Blood
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-043
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="/melodious-flute_(card)#doapsp--en-043-u">
          Melodious Flute
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-045
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="/orb-of-regret_(card)#doapsp--en-045-sr">
          Orb of Regret
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-049
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="/safeguard-amulet_(card)#doapsp--en-049-u">
          Safeguard Amulet
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-068
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="/bauble-of-beastcalling_(card)#doapsp--en-068-r">
          Horn of Beastcalling
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-073
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="/blissful-calling_(card)#doapsp--en-073-c">
          Blissful Calling
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-104
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="/rebellious-bull_(card)#doapsp--en-104-c">
          Rebellious Bull
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-109
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="/smack-with-flute_(card)#doapsp--en-109-c">
          Smack with Flute
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-110
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="/song-of-nurturing_(card)#doapsp--en-110-c">
          Song of Nurturing
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-119
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="/blazing-direwolf_(card)#doapsp--en-119-u">
          Blazing Direwolf
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-129
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="/embersong_(card)#doapsp--en-129-u">
          Embersong
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-130
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="/embertail-squirrel_(card)#doapsp--en-130-c">
          Embertail Squirrel
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-131
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="/energetic-beastbonder_(card)#doapsp--en-131-u">
          Energetic Beastbonder
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-152
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="/shout-at-your-pets_(card)#doapsp--en-152-u">
          Shout at Your Pets
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-200
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="/attune-with-the-winds_(card)#doapsp--en-200-r">
          Attune with the Winds
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-207
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="/cry-for-help_(card)#doapsp--en-207-u">
          Cry for Help
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-215
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="/menagerie-beastbonder_(card)#doapsp--en-215-c">
          Menagerie Beastbonder
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-227
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="/tempest-silverback_(card)#doapsp--en-227-u">
          Tempest Silverback
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-234
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="/windstream-mutt_(card)#doapsp--en-234-c">
          Windstream Mutt
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-266
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="/arima-gaias-wings_(card)#doapsp--en-266-sr">
          Arima, Gaia's Wings
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-267
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        8
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="/artificers-opus_(card)#doapsp--en-267-sr">
          Artificer's Opus
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-270
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="/gaias-songbird_(card)#doapsp--en-270-u">
          Gaia's Songbird
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-272
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="/invoke-dominance_(card)#doapsp--en-272-r">
          Invoke Dominance
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-273
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="/meadowbloom-dryad_(card)#doapsp--en-273-u">
          Meadowbloom Dryad
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-274
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="/tera-sight_(card)#doapsp--en-274-u">
          Tera Sight
        </a>
      </span>
    </div>
  </td>
  <td style="text-align: right">
    
  </td>
</tr>
</tbody>
</table>