<table class="condensed-table set-list">
      <thead>
        <tr>
          <th style="text-align: left">Number</th>
          <th style="text-align: left">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
    <td style="text-align: left">
      EN-011
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/bauble-of-abundance_(card)#doap--en-011-c">
            Bauble of Abundance
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-020KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="/orb-of-glitter_(card)#doap--en-020ks-sr">
            Orb of Glitter
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-035
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/conceal_(card)#doap--en-035-c">
            Conceal
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-037
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/deflecting-edge_(card)#doap--en-037-c">
            Deflecting Edge
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-038KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="/dungeon-guide_(card)#doap--en-038ks-r">
            Dungeon Guide
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-039
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          5
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/enraged-boars_(card)#doap--en-039-c">
            Enraged Boars
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-041KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="/galahad-court-knight_(card)#doap--en-041ks-sr">
            Galahad, Court Knight
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-042KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="/gildas-chronicler-of-aesa_(card)#doap--en-042ks-sr">
            Gildas, Chronicler of Aesa
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-043
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/gray-wolf_(card)#doap--en-043-c">
            Gray Wolf
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-045
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/idle-thoughts_(card)#doap--en-045-c">
            Idle Thoughts
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-047
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/invigorated-slash_(card)#doap--en-047-u">
            Invigorated Slash
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-050KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="/nimue-cursed-touch_(card)#doap--en-050ks-sr">
            Nimue, Cursed Touch
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-051
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/opening-cut_(card)#doap--en-051-c">
            Opening Cut
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-052
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/owl-familiar_(card)#doap--en-052-c">
            Owl Familiar
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-054
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/reckless-slash_(card)#doap--en-054-c">
            Reckless Slash
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-055
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/refurbish_(card)#doap--en-055-c">
            Refurbish
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-059
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/training-session_(card)#doap--en-059-c">
            Training Session
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-060
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/trusty-steed_(card)#doap--en-060-c">
            Trusty Steed
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-061
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          5
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/veteran-soldier_(card)#doap--en-061-c">
            Veteran Soldier
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-063
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/woodland-squirrels_(card)#doap--en-063-c">
            Woodland Squirrels
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-064
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/blazing-throw_(card)#doap--en-064-c">
            Blazing Throw
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-065
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/blitz-mage_(card)#doap--en-065-u">
            Blitz Mage
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-067
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/cremation-ritual_(card)#doap--en-067-c">
            Cremation Ritual
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-068
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/devastating-blow_(card)#doap--en-068-u">
            Devastating Blow
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-069KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          8
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="/disintegrate_(card)#doap--en-069ks-r">
            Disintegrate
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-070
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/fiery-momentum_(card)#doap--en-070-u">
            Fiery Momentum
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-073
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/flame-rune-swordsman_(card)#doap--en-073-c">
            Flame-Rune Swordsman
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-072KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="/flame-sweep_(card)#doap--en-072ks-r">
            Flame Sweep
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-077
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/increasing-danger_(card)#doap--en-077-u">
            Increasing Danger
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-078KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          8
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="/purge-in-flames_(card)#doap--en-078ks-r">
            Purge in Flames
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-079
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/reckless-researcher_(card)#doap--en-079-u">
            Reckless Researcher
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-080
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/rending-flames_(card)#doap--en-080-u">
            Rending Flames
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-081
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/spark-alight_(card)#doap--en-081-c">
            Spark Alight
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-082
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/spurn-to-ash_(card)#doap--en-082-u">
            Spurn to Ash
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-083
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/tempered-steel_(card)#doap--en-083-c">
            Tempered Steel
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-084
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/aesan-protector_(card)#doap--en-084-u">
            Aesan Protector
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-085
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/combo-strike_(card)#doap--en-085-u">
            Combo Strike
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-086
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          5
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/disorienting-winds_(card)#doap--en-086-u">
            Disorienting Winds
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-088
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/fairy-whispers_(card)#doap--en-088-u">
            Fairy Whispers
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-091
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/rallied-advance_(card)#doap--en-091-c">
            Rallied Advance
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-092KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          8
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="/ravaging-tempest_(card)#doap--en-092ks-r">
            Ravaging Tempest
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-093
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/reclaim_(card)#doap--en-093-c">
            Reclaim
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-094KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="/scattering-gusts_(card)#doap--en-094ks-r">
            Scattering Gusts
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-095
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/second-wind_(card)#doap--en-095-u">
            Second Wind
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-096
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/swift-recruit_(card)#doap--en-096-c">
            Swift Recruit
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-097
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/tactful-sergeant_(card)#doap--en-097-u">
            Tactful Sergeant
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-098
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/trained-hawk_(card)#doap--en-098-c">
            Trained Hawk
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-099
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/veiling-breeze_(card)#doap--en-099-c">
            Veiling Breeze
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-101
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/anger-the-skies_(card)#doap--en-101-u">
            Anger the Skies
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-105KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="/power-overwhelming_(card)#doap--en-105ks-r">
            Power Overwhelming
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-106KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="/reckless-conversion_(card)#doap--en-106ks-sr">
            Reckless Conversion
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-109KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="/ghosts-of-pendragon_(card)#doap--en-109ks-sr">
            Ghosts of Pendragon
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-110KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="/spirit-blade-ascension_(card)#doap--en-110ks-r">
            Spirit Blade: Ascension
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-111KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="/spirit-blade-dispersion_(card)#doap--en-111ks-r">
            Spirit Blade: Dispersion
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-113
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="/spirit-blade-infusion_(card)#doap--en-113-u">
            Spirit Blade: Infusion
          </a> 
        </span>
      </div>
    </td>
  </tr>
      </tbody>
      </table>