<table class="condensed-table set-list">
      <thead>
        <tr>
          <th style="text-align: left">Number</th>
          <th style="text-align: left">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
  <th colspan="3">CHAMPION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-009
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/silvie-loved-by-all_(card)#doap--en-009-c">
            Silvie, Loved by All
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-010
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/luxem.png" alt="LUXEM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="/zander-blinding-steel_(card)#doap--en-010-c">
            Zander, Blinding Steel
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">REGALIA</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-016
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="/flute-of-taming_(card)#doap--en-016-r">
            Flute of Taming
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-019
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="/orb-of-choking-fumes_(card)#doap--en-019-r">
            Orb of Choking Fumes
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-030
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/luxem.png" alt="LUXEM element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="/caliburn-of-silencing_(card)#doap--en-030-sr">
            Caliburn of Silencing
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-031
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="/seed-of-nature_(card)#doap--en-031-sr">
            Seed of Nature
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
      </tbody>
      </table>