<table class="condensed-table set-list">
      <thead>
        <tr>
          <th style="text-align: left">Number</th>
          <th style="text-align: left">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
    <td style="text-align: left">
      EN-011
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/bauble-of-abundance-doap" rel="noopener noreferrer" target="_blank">
            Bauble of Abundance
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-020KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/orb-of-glitter-doap-ks" rel="noopener noreferrer" target="_blank">
            Orb of Glitter
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-035
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/conceal-doap" rel="noopener noreferrer" target="_blank">
            Conceal
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-037
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/deflecting-edge-doap" rel="noopener noreferrer" target="_blank">
            Deflecting Edge
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-038KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/dungeon-guide-doap-ks" rel="noopener noreferrer" target="_blank">
            Dungeon Guide
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-039
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          5
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/enraged-boars-doap" rel="noopener noreferrer" target="_blank">
            Enraged Boars
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-041KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/galahad-court-knight-doap-ks" rel="noopener noreferrer" target="_blank">
            Galahad, Court Knight
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-042KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/gildas-chronicler-of-aesa-doap-ks" rel="noopener noreferrer" target="_blank">
            Gildas, Chronicler of Aesa
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-043
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/gray-wolf-doap" rel="noopener noreferrer" target="_blank">
            Gray Wolf
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-045
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/idle-thoughts-doap" rel="noopener noreferrer" target="_blank">
            Idle Thoughts
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-047
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/invigorated-slash-doap" rel="noopener noreferrer" target="_blank">
            Invigorated Slash
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-050KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/nimue-cursed-touch-doap-ks" rel="noopener noreferrer" target="_blank">
            Nimue, Cursed Touch
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-051
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/opening-cut-doap" rel="noopener noreferrer" target="_blank">
            Opening Cut
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-052
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/owl-familiar-doap" rel="noopener noreferrer" target="_blank">
            Owl Familiar
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-054
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/reckless-slash-doap" rel="noopener noreferrer" target="_blank">
            Reckless Slash
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-055
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/refurbish-doap" rel="noopener noreferrer" target="_blank">
            Refurbish
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-059
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/training-session-doap" rel="noopener noreferrer" target="_blank">
            Training Session
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-060
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/trusty-steed-doap" rel="noopener noreferrer" target="_blank">
            Trusty Steed
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-061
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          5
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/veteran-soldier-doap" rel="noopener noreferrer" target="_blank">
            Veteran Soldier
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-063
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/woodland-squirrels-doap" rel="noopener noreferrer" target="_blank">
            Woodland Squirrels
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-064
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/blazing-throw-doap" rel="noopener noreferrer" target="_blank">
            Blazing Throw
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-065
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/blitz-mage-doap" rel="noopener noreferrer" target="_blank">
            Blitz Mage
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-067
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/cremation-ritual-doap" rel="noopener noreferrer" target="_blank">
            Cremation Ritual
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-068
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/devastating-blow-doap" rel="noopener noreferrer" target="_blank">
            Devastating Blow
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-069KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          8
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/disintegrate-doap-ks" rel="noopener noreferrer" target="_blank">
            Disintegrate
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-070
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/fiery-momentum-doap" rel="noopener noreferrer" target="_blank">
            Fiery Momentum
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-073
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/flame-rune-swordsman-doap" rel="noopener noreferrer" target="_blank">
            Flame-Rune Swordsman
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-072KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/flame-sweep-doap-ks" rel="noopener noreferrer" target="_blank">
            Flame Sweep
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-077
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/increasing-danger-doap" rel="noopener noreferrer" target="_blank">
            Increasing Danger
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-078KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          8
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/purge-in-flames-doap-ks" rel="noopener noreferrer" target="_blank">
            Purge in Flames
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-079
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/reckless-researcher-doap" rel="noopener noreferrer" target="_blank">
            Reckless Researcher
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-080
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/rending-flames-doap" rel="noopener noreferrer" target="_blank">
            Rending Flames
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-081
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spark-alight-doap" rel="noopener noreferrer" target="_blank">
            Spark Alight
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-082
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spurn-to-ash-doap" rel="noopener noreferrer" target="_blank">
            Spurn to Ash
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-083
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/tempered-steel-doap" rel="noopener noreferrer" target="_blank">
            Tempered Steel
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-084
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/aesan-protector-doap" rel="noopener noreferrer" target="_blank">
            Aesan Protector
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-085
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/combo-strike-doap" rel="noopener noreferrer" target="_blank">
            Combo Strike
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-086
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          5
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/disorienting-winds-doap" rel="noopener noreferrer" target="_blank">
            Disorienting Winds
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-088
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/fairy-whispers-doap" rel="noopener noreferrer" target="_blank">
            Fairy Whispers
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-091
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/rallied-advance-doap" rel="noopener noreferrer" target="_blank">
            Rallied Advance
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-092KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          8
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/ravaging-tempest-doap-ks" rel="noopener noreferrer" target="_blank">
            Ravaging Tempest
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-093
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/reclaim-doap" rel="noopener noreferrer" target="_blank">
            Reclaim
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-094KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/scattering-gusts-doap-ks" rel="noopener noreferrer" target="_blank">
            Scattering Gusts
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-095
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/second-wind-doap" rel="noopener noreferrer" target="_blank">
            Second Wind
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-096
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/swift-recruit-doap" rel="noopener noreferrer" target="_blank">
            Swift Recruit
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-097
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/tactful-sergeant-doap" rel="noopener noreferrer" target="_blank">
            Tactful Sergeant
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-098
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/trained-hawk-doap" rel="noopener noreferrer" target="_blank">
            Trained Hawk
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-099
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/veiling-breeze-doap" rel="noopener noreferrer" target="_blank">
            Veiling Breeze
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-101
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/anger-the-skies-doap" rel="noopener noreferrer" target="_blank">
            Anger the Skies
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-105KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/power-overwhelming-doap-ks" rel="noopener noreferrer" target="_blank">
            Power Overwhelming
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-106KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/reckless-conversion-doap-ks" rel="noopener noreferrer" target="_blank">
            Reckless Conversion
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-109KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/ghosts-of-pendragon-doap-ks" rel="noopener noreferrer" target="_blank">
            Ghosts of Pendragon
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-110KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spirit-blade-ascension-doap-ks" rel="noopener noreferrer" target="_blank">
            Spirit Blade: Ascension
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-111KS
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spirit-blade-dispersion-doap-ks" rel="noopener noreferrer" target="_blank">
            Spirit Blade: Dispersion
          </a> 
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-113
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spirit-blade-infusion-doap" rel="noopener noreferrer" target="_blank">
            Spirit Blade: Infusion
          </a> 
        </span>
      </div>
    </td>
  </tr>
      </tbody>
      </table>