<table class="condensed-table set-list">
      <thead>
        <tr>
          <th style="text-align: left">Number</th>
          <th style="text-align: left">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
  <th colspan="3">CHAMPION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-001
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/spirit-of-fire-doap" rel="noopener noreferrer" target="_blank">
            Spirit of Fire
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-006
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/rai-spellcrafter-doap" rel="noopener noreferrer" target="_blank">
            Rai, Spellcrafter
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-007
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/rai-archmage-doap" rel="noopener noreferrer" target="_blank">
            Rai, Archmage
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-008
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/rai-storm-seer-doap" rel="noopener noreferrer" target="_blank">
            Rai, Storm Seer
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">REGALIA</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-014
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/endura-scepter-of-ignition-doap" rel="noopener noreferrer" target="_blank">
            Endura, Scepter of Ignition
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-027
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/wind-resonance-bauble-doap" rel="noopener noreferrer" target="_blank">
            Wind Resonance Bauble
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-025
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tome-of-knowledge-doap" rel="noopener noreferrer" target="_blank">
            Tome of Knowledge
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-023
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/surveillance-stone-doap" rel="noopener noreferrer" target="_blank">
            Surveillance Stone
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-018
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/mana-limiter-doap" rel="noopener noreferrer" target="_blank">
            Mana Limiter
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-017
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/life-essence-amulet-doap" rel="noopener noreferrer" target="_blank">
            Life Essence Amulet
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-013
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/crystal-of-empowerment-doap" rel="noopener noreferrer" target="_blank">
            Crystal of Empowerment
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-028
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/arcanists-prism-doap" rel="noopener noreferrer" target="_blank">
            Arcanist's Prism
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">ALLY</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-065
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/blitz-mage-doap" rel="noopener noreferrer" target="_blank">
            Blitz Mage
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-038
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dungeon-guide-doap" rel="noopener noreferrer" target="_blank">
            Dungeon Guide
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-076
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/impassioned-tutor-doap" rel="noopener noreferrer" target="_blank">
            Impassioned Tutor
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-048
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/library-witch-doap" rel="noopener noreferrer" target="_blank">
            Library Witch
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-049
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/magus-disciple-doap" rel="noopener noreferrer" target="_blank">
            Magus Disciple
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-033
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/barrier-servant-doap" rel="noopener noreferrer" target="_blank">
            Barrier Servant
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">ACTION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-075
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ignite-the-soul-doap" rel="noopener noreferrer" target="_blank">
            Ignite the Soul
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-101
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/anger-the-skies-doap" rel="noopener noreferrer" target="_blank">
            Anger the Skies
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-102
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          11
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/arcane-blast-doap" rel="noopener noreferrer" target="_blank">
            Arcane Blast
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-103
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/arcane-disposition-doap" rel="noopener noreferrer" target="_blank">
            Arcane Disposition
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-104
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/arcane-sight-doap" rel="noopener noreferrer" target="_blank">
            Arcane Sight
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-034
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          8
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/careful-study-doap" rel="noopener noreferrer" target="_blank">
            Careful Study
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-066
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/creative-shock-doap" rel="noopener noreferrer" target="_blank">
            Creative Shock
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-071
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fireball-doap" rel="noopener noreferrer" target="_blank">
            Fireball
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-074
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/focused-flames-doap" rel="noopener noreferrer" target="_blank">
            Focused Flames
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-053
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/peer-into-mana-doap" rel="noopener noreferrer" target="_blank">
            Peer into Mana
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-105
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/power-overwhelming-doap" rel="noopener noreferrer" target="_blank">
            Power Overwhelming
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-078
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          8
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/purge-in-flames-doap" rel="noopener noreferrer" target="_blank">
            Purge in Flames
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-057
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/scry-the-skies-doap" rel="noopener noreferrer" target="_blank">
            Scry the Skies
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-107
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/spellshield-arcane-doap" rel="noopener noreferrer" target="_blank">
            Spellshield: Arcane
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
      </tbody>
      </table>