<table class="condensed-table set-list">
      <thead>
        <tr>
          <th style="text-align: left">Number</th>
          <th style="text-align: left">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
  <th colspan="3">CHAMPION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-001
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spirit-of-fire-doasd" rel="noopener noreferrer" target="_blank">
            Spirit of Fire
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-007
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/rai-spellcrafter-doasd" rel="noopener noreferrer" target="_blank">
            Rai, Spellcrafter
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-008
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/rai-archmage-doasd" rel="noopener noreferrer" target="_blank">
            Rai, Archmage
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-009
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/rai-storm-seer-doasd" rel="noopener noreferrer" target="_blank">
            Rai, Storm Seer
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">REGALIA</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-019
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/crystal-of-empowerment-doasd" rel="noopener noreferrer" target="_blank">
            Crystal of Empowerment
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-020
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/endura-scepter-of-ignition-doasd" rel="noopener noreferrer" target="_blank">
            Endura, Scepter of Ignition
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-023
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/life-essence-amulet-doasd" rel="noopener noreferrer" target="_blank">
            Life Essence Amulet
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-024
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/mana-limiter-doasd" rel="noopener noreferrer" target="_blank">
            Mana Limiter
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-028
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/surveillance-stone-doasd" rel="noopener noreferrer" target="_blank">
            Surveillance Stone
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-030
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/tome-of-knowledge-doasd" rel="noopener noreferrer" target="_blank">
            Tome of Knowledge
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-032
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/water-resonance-bauble-doasd" rel="noopener noreferrer" target="_blank">
            Water Resonance Bauble
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-034
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/arcanists-prism-doasd" rel="noopener noreferrer" target="_blank">
            Arcanist's Prism
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">ALLY</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-039
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/barrier-servant-doasd" rel="noopener noreferrer" target="_blank">
            Barrier Servant
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-050
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/library-witch-doasd" rel="noopener noreferrer" target="_blank">
            Library Witch
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-051
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/magus-disciple-doasd" rel="noopener noreferrer" target="_blank">
            Magus Disciple
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-064
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/blitz-mage-doasd" rel="noopener noreferrer" target="_blank">
            Blitz Mage
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-069
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/flame-rune-swordsman-doasd" rel="noopener noreferrer" target="_blank">
            Flame-Rune Swordsman
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-072
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/impassioned-tutor-doasd" rel="noopener noreferrer" target="_blank">
            Impassioned Tutor
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">ACTION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-041
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          8
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/careful-study-doasd" rel="noopener noreferrer" target="_blank">
            Careful Study
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-048
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/idle-thoughts-doasd" rel="noopener noreferrer" target="_blank">
            Idle Thoughts
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-053
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/peer-into-mana-doasd" rel="noopener noreferrer" target="_blank">
            Peer into Mana
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-056
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/scry-the-skies-doasd" rel="noopener noreferrer" target="_blank">
            Scry the Skies
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-065
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/creative-shock-doasd" rel="noopener noreferrer" target="_blank">
            Creative Shock
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-066
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/cremation-ritual-doasd" rel="noopener noreferrer" target="_blank">
            Cremation Ritual
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-067
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          8
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/disintegrate-doasd" rel="noopener noreferrer" target="_blank">
            Disintegrate
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-068
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          4
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/fireball-doasd" rel="noopener noreferrer" target="_blank">
            Fireball
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-070
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/focused-flames-doasd" rel="noopener noreferrer" target="_blank">
            Focused Flames
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-071
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/ignite-the-soul-doasd" rel="noopener noreferrer" target="_blank">
            Ignite the Soul
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-073
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          8
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/purge-in-flames-doasd" rel="noopener noreferrer" target="_blank">
            Purge in Flames
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-090
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/anger-the-skies-doasd" rel="noopener noreferrer" target="_blank">
            Anger the Skies
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-091
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          11
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/arcane-blast-doasd" rel="noopener noreferrer" target="_blank">
            Arcane Blast
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-092
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/arcane-disposition-doasd" rel="noopener noreferrer" target="_blank">
            Arcane Disposition
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-093
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/arcane-sight-doasd" rel="noopener noreferrer" target="_blank">
            Arcane Sight
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-094
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/power-overwhelming-doasd" rel="noopener noreferrer" target="_blank">
            Power Overwhelming
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-095
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spellshield-arcane-doasd" rel="noopener noreferrer" target="_blank">
            Spellshield: Arcane
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
      </tbody>
      </table>