<table class="condensed-table set-list">
      <thead>
        <tr>
          <th style="text-align: left">Number</th>
          <th style="text-align: left">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
  <th colspan="3">CHAMPION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-003
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spirit-of-wind-doasd" rel="noopener noreferrer" target="_blank">
            Spirit of Wind
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-004
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/lorraine-wandering-warrior-doasd" rel="noopener noreferrer" target="_blank">
            Lorraine, Wandering Warrior
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-005
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/lorraine-blademaster-doasd" rel="noopener noreferrer" target="_blank">
            Lorraine, Blademaster
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-006
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/lorraine-crux-knight-doasd" rel="noopener noreferrer" target="_blank">
            Lorraine, Crux Knight
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">REGALIA</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-014
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/bauble-of-abundance-doasd" rel="noopener noreferrer" target="_blank">
            Bauble of Abundance
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-018
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/clarent-sword-of-peace-doasd" rel="noopener noreferrer" target="_blank">
            Clarent, Sword of Peace
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-021
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/fire-resonance-bauble-doasd" rel="noopener noreferrer" target="_blank">
            Fire Resonance Bauble
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-023
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/life-essence-amulet-doasd" rel="noopener noreferrer" target="_blank">
            Life Essence Amulet
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-027
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/ornamental-greatsword-doasd" rel="noopener noreferrer" target="_blank">
            Ornamental Greatsword
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-029
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/sword-of-seeking-doasd" rel="noopener noreferrer" target="_blank">
            Sword of Seeking
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-031
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/warriors-longsword-doasd" rel="noopener noreferrer" target="_blank">
            Warrior's Longsword
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-035
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-memory">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/prismatic-edge-doasd" rel="noopener noreferrer" target="_blank">
            Prismatic Edge
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">ALLY</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-038
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/banner-knight-doasd" rel="noopener noreferrer" target="_blank">
            Banner Knight
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-042
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/crusader-of-aesa-doasd" rel="noopener noreferrer" target="_blank">
            Crusader of Aesa
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-045
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/esteemed-knight-doasd" rel="noopener noreferrer" target="_blank">
            Esteemed Knight
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-047
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/honorable-vanguard-doasd" rel="noopener noreferrer" target="_blank">
            Honorable Vanguard
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-062
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          5
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/veteran-soldier-doasd" rel="noopener noreferrer" target="_blank">
            Veteran Soldier
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-063
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/weaponsmith-doasd" rel="noopener noreferrer" target="_blank">
            Weaponsmith
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-086
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          5
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/phalanx-captain-doasd" rel="noopener noreferrer" target="_blank">
            Phalanx Captain
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-088
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/swift-recruit-doasd" rel="noopener noreferrer" target="_blank">
            Swift Recruit
          </a>  x4
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">ACTION</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-043
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/deflecting-edge-doasd" rel="noopener noreferrer" target="_blank">
            Deflecting Edge
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-049
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          3
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/inspiring-call-doasd" rel="noopener noreferrer" target="_blank">
            Inspiring Call
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-060
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/training-session-doasd" rel="noopener noreferrer" target="_blank">
            Training Session
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-084
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/favorable-winds-doasd" rel="noopener noreferrer" target="_blank">
            Favorable Winds
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-087
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/reclaim-doasd" rel="noopener noreferrer" target="_blank">
            Reclaim
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-096
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/crux-sight-doasd" rel="noopener noreferrer" target="_blank">
            Crux Sight
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-097
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spirit-blade-ascension-doasd" rel="noopener noreferrer" target="_blank">
            Spirit Blade: Ascension
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-098
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spirit-blade-dispersion-doasd" rel="noopener noreferrer" target="_blank">
            Spirit Blade: Dispersion
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-100
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spirit-blade-infusion-doasd" rel="noopener noreferrer" target="_blank">
            Spirit Blade: Infusion
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-101
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spirits-blessing-doasd" rel="noopener noreferrer" target="_blank">
            Spirit's Blessing
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
  <th colspan="3">ATTACK</th>
</tr>
<tr>
    <td style="text-align: left">
      EN-052
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          1
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/opening-cut-doasd" rel="noopener noreferrer" target="_blank">
            Opening Cut
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-055
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/savage-slash-doasd" rel="noopener noreferrer" target="_blank">
            Savage Slash
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-059
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          6
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/sudden-steel-doasd" rel="noopener noreferrer" target="_blank">
            Sudden Steel
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-085
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          5
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/hurricane-sweep-doasd" rel="noopener noreferrer" target="_blank">
            Hurricane Sweep
          </a>  x1
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-089
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          2
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
        <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/wind-cutter-doasd" rel="noopener noreferrer" target="_blank">
            Wind Cutter
          </a>  x2
        </span>
      </div>
    </td>
  </tr>
<tr>
    <td style="text-align: left">
      EN-099
    </td>
    <td style="text-align: left">
      <div class="set-list-card-name">
        <span class="card-cost card-cost-reserve">
          0
        </span>
        <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
        <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
        <span class="name-wrapper">
          <a href="https://index.gatcg.com/edition/spirit-blade-ghost-strike-doasd" rel="noopener noreferrer" target="_blank">
            Spirit Blade: Ghost Strike
          </a>  x3
        </span>
      </div>
    </td>
  </tr>
      </tbody>
      </table>