<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="dtr 1st--en-004-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/alice-golden-queen-dtr1e-csr" rel="noopener noreferrer" target="_blank">
          Alice, Golden Queen
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">559</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">239</span> <span class="thema-score thema-score-grace" title="GRACE">399</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">424</span> <span class="thema-score thema-score-valor" title="VALOR">239</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈240
  </td>
</tr>
<tr data-id="dtr 1st--en-004-cur">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CUR" title="Collector Ultra Rare">CUR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/alice-golden-queen-dtr1e-cur" rel="noopener noreferrer" target="_blank">
          Alice, Golden Queen
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,960 <span class="thema-score thema-score-charm" title="CHARM">568</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">261</span> <span class="thema-score thema-score-grace" title="GRACE">362</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">446</span> <span class="thema-score thema-score-valor" title="VALOR">323</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈72
  </td>
</tr>
<tr data-id="dtr 1st--en-005-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ciel-loyal-valet-dtr1e-csr" rel="noopener noreferrer" target="_blank">
          Ciel, Loyal Valet
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">258</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">372</span> <span class="thema-score thema-score-grace" title="GRACE">486</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">372</span> <span class="thema-score thema-score-valor" title="VALOR">372</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈240
  </td>
</tr>
<tr data-id="dtr 1st--en-006-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ciel-omenbringer-dtr1e-csr" rel="noopener noreferrer" target="_blank">
          Ciel, Omenbringer
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">486</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">258</span> <span class="thema-score thema-score-grace" title="GRACE">429</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">372</span> <span class="thema-score thema-score-valor" title="VALOR">315</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈240
  </td>
</tr>
<tr data-id="dtr 1st--en-008-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/diana-aether-dilettante-dtr1e-csr" rel="noopener noreferrer" target="_blank">
          Diana, Aether Dilettante
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">372</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">372</span> <span class="thema-score thema-score-grace" title="GRACE">372</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">486</span> <span class="thema-score thema-score-valor" title="VALOR">258</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈240
  </td>
</tr>
<tr data-id="dtr 1st--en-009-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/diana-judgments-arrow-dtr1e-csr" rel="noopener noreferrer" target="_blank">
          Diana, Judgment's Arrow
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">429</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">315</span> <span class="thema-score thema-score-grace" title="GRACE">315</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">515</span> <span class="thema-score thema-score-valor" title="VALOR">286</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈240
  </td>
</tr>
<tr data-id="dtr 1st--en-022-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-022
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/the-looking-glass-dtr1e" rel="noopener noreferrer" target="_blank">
          The Looking Glass
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">60</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">60</span> <span class="thema-score thema-score-grace" title="GRACE">70</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">70</span> <span class="thema-score thema-score-valor" title="VALOR">66</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">272</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">274</span> <span class="thema-score thema-score-grace" title="GRACE">320</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">320</span> <span class="thema-score thema-score-valor" title="VALOR">302</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈3,500<br/>Foil ≈365
  </td>
</tr>
<tr data-id="dtr 1st--en-035-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-035
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/radiant-vega-dtr1e" rel="noopener noreferrer" target="_blank">
          Radiant Vega
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">60</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">68</span> <span class="thema-score thema-score-grace" title="GRACE">60</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">70</span> <span class="thema-score thema-score-valor" title="VALOR">68</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">274</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">311</span> <span class="thema-score thema-score-grace" title="GRACE">274</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">320</span> <span class="thema-score thema-score-valor" title="VALOR">309</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈3,500<br/>Foil ≈365
  </td>
</tr>
<tr data-id="dtr 1st--en-042-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-042
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        X
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/devouring-malice-dtr1e" rel="noopener noreferrer" target="_blank">
          Devouring Malice
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">68</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">72</span> <span class="thema-score thema-score-grace" title="GRACE">68</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">68</span> <span class="thema-score thema-score-valor" title="VALOR">50</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">308</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">329</span> <span class="thema-score thema-score-grace" title="GRACE">311</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">311</span> <span class="thema-score thema-score-valor" title="VALOR">229</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈3,500<br/>Foil ≈365
  </td>
</tr>
<tr data-id="dtr 1st--en-049-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-049
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/exalted.png" alt="EXALTED element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/cheshire-cat-impish-grin-dtr1e" rel="noopener noreferrer" target="_blank">
          Cheshire Cat, Impish Grin
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">80</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">56</span> <span class="thema-score thema-score-grace" title="GRACE">64</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">68</span> <span class="thema-score thema-score-valor" title="VALOR">58</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">365</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">255</span> <span class="thema-score thema-score-grace" title="GRACE">293</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">310</span> <span class="thema-score thema-score-valor" title="VALOR">265</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈10,500<br/>Foil ≈365
  </td>
</tr>
<tr data-id="dtr 1st--en-057-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-057
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/excalibur-reflected-edge-dtr1e" rel="noopener noreferrer" target="_blank">
          Excalibur, Reflected Edge
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">68</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">50</span> <span class="thema-score thema-score-grace" title="GRACE">68</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">80</span> <span class="thema-score thema-score-valor" title="VALOR">60</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">311</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">226</span> <span class="thema-score thema-score-grace" title="GRACE">311</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">366</span> <span class="thema-score thema-score-valor" title="VALOR">274</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈10,500<br/>Foil ≈365
  </td>
</tr>
<tr data-id="dtr 1st--en-070-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-070
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lawsur-the-carpenter-dtr1e-csr" rel="noopener noreferrer" target="_blank">
          Lawsur, the Carpenter
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">255</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">480</span> <span class="thema-score thema-score-grace" title="GRACE">359</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">487</span> <span class="thema-score thema-score-valor" title="VALOR">279</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈295
  </td>
</tr>
<tr data-id="dtr 1st--en-075-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-075
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/mad-hatter-morose-heritor-dtr1e-csr" rel="noopener noreferrer" target="_blank">
          Mad Hatter, Morose Heritor
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">445</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">246</span> <span class="thema-score thema-score-grace" title="GRACE">401</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">490</span> <span class="thema-score thema-score-valor" title="VALOR">278</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈295
  </td>
</tr>
<tr data-id="dtr 1st--en-078-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-078
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/noire-ace-of-spades-dtr1e-csr" rel="noopener noreferrer" target="_blank">
          Noire, Ace of Spades
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">503</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">240</span> <span class="thema-score thema-score-grace" title="GRACE">439</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">399</span> <span class="thema-score thema-score-valor" title="VALOR">279</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈295
  </td>
</tr>
<tr data-id="dtr 1st--en-113-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-113
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        6
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/duchess-six-of-hearts-dtr1e-csr" rel="noopener noreferrer" target="_blank">
          Duchess, Six of Hearts
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">407</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">335</span> <span class="thema-score thema-score-grace" title="GRACE">335</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">360</span> <span class="thema-score thema-score-valor" title="VALOR">423</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈295
  </td>
</tr>
<tr data-id="dtr 1st--en-123-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-123
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ignis-deus-dtr1e" rel="noopener noreferrer" target="_blank">
          Ignis Deus
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">66</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">65</span> <span class="thema-score thema-score-grace" title="GRACE">60</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">72</span> <span class="thema-score thema-score-valor" title="VALOR">63</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">302</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">297</span> <span class="thema-score thema-score-grace" title="GRACE">274</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">327</span> <span class="thema-score thema-score-valor" title="VALOR">288</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈10,500<br/>Foil ≈365
  </td>
</tr>
<tr data-id="dtr 1st--en-133-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-133
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/rouge-ace-of-hearts-dtr1e-csr" rel="noopener noreferrer" target="_blank">
          Rouge, Ace of Hearts
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">415</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">343</span> <span class="thema-score thema-score-grace" title="GRACE">367</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">336</span> <span class="thema-score thema-score-valor" title="VALOR">399</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈295
  </td>
</tr>
<tr data-id="dtr 1st--en-141-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-141
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        10
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/verita-queen-of-hearts-dtr1e-csr" rel="noopener noreferrer" target="_blank">
          Verita, Queen of Hearts
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">383</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">343</span> <span class="thema-score thema-score-grace" title="GRACE">359</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">360</span> <span class="thema-score thema-score-valor" title="VALOR">415</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈295
  </td>
</tr>
<tr data-id="dtr 1st--en-162-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-162
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/snow-white-weiss-queen-dtr1e-csr" rel="noopener noreferrer" target="_blank">
          Snow White, Weiss Queen
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">407</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">327</span> <span class="thema-score thema-score-grace" title="GRACE">335</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">360</span> <span class="thema-score thema-score-valor" title="VALOR">431</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈295
  </td>
</tr>
<tr data-id="dtr 1st--en-174-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-174
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/chrysalis-hazy-caterpillar-dtr1e-csr" rel="noopener noreferrer" target="_blank">
          Chrysalis, Hazy Caterpillar
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">401</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">334</span> <span class="thema-score thema-score-grace" title="GRACE">390</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">401</span> <span class="thema-score thema-score-valor" title="VALOR">334</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈295
  </td>
</tr>
<tr data-id="dtr 1st--en-200-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-200
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/chronowarp-dtr1e" rel="noopener noreferrer" target="_blank">
          Chronowarp
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">66</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">57</span> <span class="thema-score thema-score-grace" title="GRACE">69</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">73</span> <span class="thema-score thema-score-valor" title="VALOR">61</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">299</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">261</span> <span class="thema-score thema-score-grace" title="GRACE">315</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">334</span> <span class="thema-score thema-score-valor" title="VALOR">279</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈10,500<br/>Foil ≈365
  </td>
</tr>
<tr data-id="dtr 1st--en-203-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-203
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/humpty-dumpty-fates-fall-dtr1e-csr" rel="noopener noreferrer" target="_blank">
          Humpty Dumpty, Fate's Fall
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">431</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">312</span> <span class="thema-score thema-score-grace" title="GRACE">439</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">343</span> <span class="thema-score thema-score-valor" title="VALOR">335</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈295
  </td>
</tr>
<tr data-id="dtr 1st--en-220-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-220
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        6
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/soutirer-vortex-dtr1e" rel="noopener noreferrer" target="_blank">
          Soutirer Vortex
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">65</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">68</span> <span class="thema-score thema-score-grace" title="GRACE">61</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">70</span> <span class="thema-score thema-score-valor" title="VALOR">62</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">297</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">311</span> <span class="thema-score thema-score-grace" title="GRACE">277</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">320</span> <span class="thema-score thema-score-valor" title="VALOR">283</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈10,500<br/>Foil ≈365
  </td>
</tr>
<tr data-id="dtr 1st--en-221-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-221
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/spirelle-schwartz-queen-dtr1e-csr" rel="noopener noreferrer" target="_blank">
          Spirelle, Schwartz Queen
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">431</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">392</span> <span class="thema-score thema-score-grace" title="GRACE">319</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">407</span> <span class="thema-score thema-score-valor" title="VALOR">311</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈295
  </td>
</tr>
</tbody>
</table>