<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/TutGiIEvBD.jpg"
      alt="Empowering Harmony &ndash; DOA 1st &middot; EN-083"
      style="max-width: 440px;"
    >
    <figcaption>Empowering Harmony &ndash; DOA 1st &middot; EN-083</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Your champion gets +2 level until end of turn.
<span class="effect__bubble">Class Bonus</span><span class="effect__reminder"><span class="effect__label">Harmonize</span></span> — If you've activated a Melody card this turn, draw a card.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈157</div>
<div>Normal &ndash; ≈24,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/empowering-harmony-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>