<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/iqmqEbYI7S.jpg"
      alt="Energetic Beastbonder &ndash; DOA 1st &middot; EN-131"
      style="max-width: 440px;"
    >
    <figcaption>Energetic Beastbonder &ndash; DOA 1st &middot; EN-131</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Your champion gets +1 level as long as you control an Animal or Beast ally.
<span class="effect__bubble">Class Bonus</span><span class="effect__label">Floating Memory</span> <span class="effect__reminder">(While paying for a memory cost, you may banish this card from your graveyard to pay for 1 of that cost.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">砂木烟</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈141</div>
<div>Normal &ndash; ≈8,400</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/energetic-beastbonder-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>