<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/P24CQhcAce.jpg"
      alt="Ensnaring Fumes &ndash; DOA 1st &middot; EN-210"
      style="max-width: 440px;"
    >
    <figcaption>Ensnaring Fumes &ndash; DOA 1st &middot; EN-210</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          You may remove three <span class="effect__label">preparation</span> counters from your champion rather than pay this card's reserve cost.
Return all allies to their owner's hands.
<span class="effect__bubble">Class Bonus</span><span class="effect__label">Floating Memory</span> <span class="effect__reminder">
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; When opting for this card's alternative cost, you get to ignore all reserve costs associated with it. This includes all reserve cost increasing or decreasing effects. Other additional costs still must be paid.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-R">Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈4,000</div>
<div>Foil ≈127</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/ensnaring-fumes-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>