<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/LM6L48onvw.jpg"
      alt="Erupting Rhapsody &ndash; DOA 1st &middot; EN-132"
      style="max-width: 440px;"
    >
    <figcaption>Erupting Rhapsody &ndash; DOA 1st &middot; EN-132</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Banish any amount of fire element cards from your graveyard. Your champion gets +1 level until end of turn for each card banished this way.
<span class="effect__reminder"><span class="effect__label">Harmonize</span></span> — If you've activated a Melody card this turn, choose any amount of units and deal <span class="effect__label">LV</span> damage split among them.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈4,000</div>
<div>Foil &ndash; ≈127</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/erupting-rhapsody-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>