<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nia-mistveiled-scout-evp" rel="noopener noreferrer" target="_blank">
          Nia, Mistveiled Scout
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">370</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">260</span> <span class="thema-score thema-score-grace" title="GRACE">340</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">330</span> <span class="thema-score thema-score-valor" title="VALOR">300</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈180
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/arthur-young-heir-evp" rel="noopener noreferrer" target="_blank">
          Arthur, Young Heir
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">300</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">320</span> <span class="thema-score thema-score-grace" title="GRACE">330</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">310</span> <span class="thema-score thema-score-valor" title="VALOR">340</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈180
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lunete-frostbinder-priest-evp" rel="noopener noreferrer" target="_blank">
          Lunete, Frostbinder Priest
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">340</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">290</span> <span class="thema-score thema-score-grace" title="GRACE">300</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">370</span> <span class="thema-score thema-score-valor" title="VALOR">300</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈180
  </td>
</tr>
</tbody>
</table>