<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nia-mistveiled-scout-evp" rel="noopener noreferrer" target="_blank">
          Nia, Mistveiled Scout
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">370</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">260</span> <span class="thema-score thema-score-grace" title="GRACE">340</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">330</span> <span class="thema-score thema-score-valor" title="VALOR">300</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈26,300<br/>Foil ≈180<br/>Foil ≈616
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/arthur-young-heir-evp" rel="noopener noreferrer" target="_blank">
          Arthur, Young Heir
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">300</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">320</span> <span class="thema-score thema-score-grace" title="GRACE">330</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">310</span> <span class="thema-score thema-score-valor" title="VALOR">340</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈180
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lunete-frostbinder-priest-evp" rel="noopener noreferrer" target="_blank">
          Lunete, Frostbinder Priest
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">340</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">290</span> <span class="thema-score thema-score-grace" title="GRACE">300</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">370</span> <span class="thema-score thema-score-valor" title="VALOR">300</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈180
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gawain-chivalrous-thief-evp" rel="noopener noreferrer" target="_blank">
          Gawain, Chivalrous Thief
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">381</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">270</span> <span class="thema-score thema-score-grace" title="GRACE">307</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">320</span> <span class="thema-score thema-score-valor" title="VALOR">322</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈220
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/parcenet-royal-maid-evp" rel="noopener noreferrer" target="_blank">
          Parcenet, Royal Maid
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">383</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">257</span> <span class="thema-score thema-score-grace" title="GRACE">342</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">300</span> <span class="thema-score thema-score-valor" title="VALOR">318</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈220
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/luxem.png" alt="LUXEM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/uther-illustrious-king-evp" rel="noopener noreferrer" target="_blank">
          Uther, Illustrious King
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">282</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">333</span> <span class="thema-score thema-score-grace" title="GRACE">324</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">301</span> <span class="thema-score thema-score-valor" title="VALOR">360</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈220
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/astarte-celestial-dawn-evp" rel="noopener noreferrer" target="_blank">
          Astarte, Celestial Dawn
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">403</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">249</span> <span class="thema-score thema-score-grace" title="GRACE">304</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">355</span> <span class="thema-score thema-score-valor" title="VALOR">289</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈192
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/geni-gifted-mechanist-evp" rel="noopener noreferrer" target="_blank">
          Geni, Gifted Mechanist
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">322</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">287</span> <span class="thema-score thema-score-grace" title="GRACE">342</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">326</span> <span class="thema-score thema-score-valor" title="VALOR">323</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈192
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/perse-relentless-raptor-evp" rel="noopener noreferrer" target="_blank">
          Perse, Relentless Raptor
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">405</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">369</span> <span class="thema-score thema-score-grace" title="GRACE">304</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">245</span> <span class="thema-score thema-score-valor" title="VALOR">277</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈192
  </td>
</tr>
</tbody>
</table>