<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="evp--en-001-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nia-mistveiled-scout-evp" rel="noopener noreferrer" target="_blank">
          Nia, Mistveiled Scout
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">370</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">260</span> <span class="thema-score thema-score-grace" title="GRACE">340</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">330</span> <span class="thema-score thema-score-valor" title="VALOR">300</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈180
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-001.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
Rare pull from Dawn of Ashes Event Packs</div>
    </div>
  </td>
</tr>
<tr data-id="evp--en-002-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/arthur-young-heir-evp" rel="noopener noreferrer" target="_blank">
          Arthur, Young Heir
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">300</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">320</span> <span class="thema-score thema-score-grace" title="GRACE">330</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">310</span> <span class="thema-score thema-score-valor" title="VALOR">340</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈180
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-002.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
Rare pull from Dawn of Ashes Event Packs</div>
    </div>
  </td>
</tr>
<tr data-id="evp--en-003-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lunete-frostbinder-priest-evp" rel="noopener noreferrer" target="_blank">
          Lunete, Frostbinder Priest
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">340</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">290</span> <span class="thema-score thema-score-grace" title="GRACE">300</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">370</span> <span class="thema-score thema-score-valor" title="VALOR">300</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈180
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-003.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
Rare pull from Dawn of Ashes Event Packs</div>
    </div>
  </td>
</tr>
<tr data-id="evp--en-004-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gawain-chivalrous-thief-evp" rel="noopener noreferrer" target="_blank">
          Gawain, Chivalrous Thief
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">381</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">270</span> <span class="thema-score thema-score-grace" title="GRACE">307</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">320</span> <span class="thema-score thema-score-valor" title="VALOR">322</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈220
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-004.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
Rare pull from Fractured Crown Event Packs</div>
    </div>
  </td>
</tr>
<tr data-id="evp--en-005-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/parcenet-royal-maid-evp" rel="noopener noreferrer" target="_blank">
          Parcenet, Royal Maid
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">383</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">257</span> <span class="thema-score thema-score-grace" title="GRACE">342</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">300</span> <span class="thema-score thema-score-valor" title="VALOR">318</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈220
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-005.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
Rare pull from Fractured Crown Event Packs</div>
    </div>
  </td>
</tr>
<tr data-id="evp--en-006-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/luxem.png" alt="LUXEM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/uther-illustrious-king-evp" rel="noopener noreferrer" target="_blank">
          Uther, Illustrious King
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">282</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">333</span> <span class="thema-score thema-score-grace" title="GRACE">324</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">301</span> <span class="thema-score thema-score-valor" title="VALOR">360</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈220
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-006.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
Rare pull from Fractured Crown Event Packs</div>
    </div>
  </td>
</tr>
<tr data-id="evp--en-007-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/astarte-celestial-dawn-evp" rel="noopener noreferrer" target="_blank">
          Astarte, Celestial Dawn
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">403</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">249</span> <span class="thema-score thema-score-grace" title="GRACE">304</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">355</span> <span class="thema-score thema-score-valor" title="VALOR">289</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈192
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-007.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
Rare pull from Alchemical Revolution Event Packs</div>
    </div>
  </td>
</tr>
<tr data-id="evp--en-008-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/geni-gifted-mechanist-evp" rel="noopener noreferrer" target="_blank">
          Geni, Gifted Mechanist
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">322</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">287</span> <span class="thema-score thema-score-grace" title="GRACE">342</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">326</span> <span class="thema-score thema-score-valor" title="VALOR">323</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈192
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-008.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
Rare pull from Alchemical Revolution Event Packs</div>
    </div>
  </td>
</tr>
<tr data-id="evp--en-009-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/perse-relentless-raptor-evp" rel="noopener noreferrer" target="_blank">
          Perse, Relentless Raptor
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">405</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">369</span> <span class="thema-score thema-score-grace" title="GRACE">304</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">245</span> <span class="thema-score thema-score-valor" title="VALOR">277</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈192
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-009.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
Rare pull from Alchemical Revolution Event Packs</div>
    </div>
  </td>
</tr>
<tr data-id="evp--en-010-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ominous-shadow-evp" rel="noopener noreferrer" target="_blank">
          Ominous Shadow
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">364</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">299</span> <span class="thema-score thema-score-grace" title="GRACE">330</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">321</span> <span class="thema-score thema-score-valor" title="VALOR">286</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈259
  </td>
</tr>
<tr data-id="evp--en-011-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/overlord-mk-iii-evp" rel="noopener noreferrer" target="_blank">
          Overlord Mk III
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">271</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">389</span> <span class="thema-score thema-score-grace" title="GRACE">318</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">290</span> <span class="thema-score thema-score-valor" title="VALOR">332</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈259
  </td>
</tr>
<tr data-id="evp--en-012-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/slime-king-evp" rel="noopener noreferrer" target="_blank">
          Slime King
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">318</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">300</span> <span class="thema-score thema-score-grace" title="GRACE">313</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">319</span> <span class="thema-score thema-score-valor" title="VALOR">350</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈259
  </td>
</tr>
<tr data-id="evp--en-013-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dilu-auspicious-charger-evp" rel="noopener noreferrer" target="_blank">
          Dilu, Auspicious Charger
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">285</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">350</span> <span class="thema-score thema-score-grace" title="GRACE">348</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">296</span> <span class="thema-score thema-score-valor" title="VALOR">321</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈250
  </td>
</tr>
<tr data-id="evp--en-014-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/jueying-shadowmare-evp" rel="noopener noreferrer" target="_blank">
          Jueying, Shadowmare
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">286</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">348</span> <span class="thema-score thema-score-grace" title="GRACE">337</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">299</span> <span class="thema-score thema-score-valor" title="VALOR">330</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈250
  </td>
</tr>
<tr data-id="evp--en-015-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/red-hare-unrivaled-stallion-evp" rel="noopener noreferrer" target="_blank">
          Red Hare, Unrivaled Stallion
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,599 <span class="thema-score thema-score-charm" title="CHARM">301</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">361</span> <span class="thema-score thema-score-grace" title="GRACE">327</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">275</span> <span class="thema-score thema-score-valor" title="VALOR">335</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈290
  </td>
</tr>
<tr data-id="evp--en-016-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/zhou-yu-enlightened-sage-evp" rel="noopener noreferrer" target="_blank">
          Zhou Yu, Enlightened Sage
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">306</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">308</span> <span class="thema-score thema-score-grace" title="GRACE">325</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">313</span> <span class="thema-score thema-score-valor" title="VALOR">348</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈290
  </td>
</tr>
</tbody>
</table>