<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/R8uCwW5QJA.jpg"
      alt="Eye of Argus &ndash; DOA 1st &middot; EN-035"
      style="max-width: 440px;"
    >
    <figcaption>Eye of Argus &ndash; DOA 1st &middot; EN-035</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Banish Eye of Argus:</span> Target ally you control gains <span class="effect__label">true sight</span> until end of turn. Draw a card. <span class="effect__reminder">(Units with <span class="effect__label">true sight</span> can attack units with <span class="effect__label">stealth</span>.)</span>
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; If the target for the effect becomes invalid during the resolution, the entire effect is negated, including the card draw.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-R">Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈4,000</div>
<div>Foil ≈127</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/eye-of-argus-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>