<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/g6yl0CsSLX.jpg"
      alt="Fairy Whispers &ndash; DOA 1st &middot; EN-212"
      style="max-width: 440px;"
    >
    <figcaption>Fairy Whispers &ndash; DOA 1st &middot; EN-212</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Glimpse 3</span>. <span class="effect__reminder">(To <span class="effect__label">glimpse</span>, look at that many cards from the top of your deck. Put those cards back on the top or on the bottom of your deck in any order.)</span>
Reveal the top card of your deck. If that card is wind element, put it into your hand.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-U">Uncommon</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈8,400</div>
<div>Foil ≈141</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/fairy-whispers-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>