<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/BBCegEuGl6.jpg"
      alt="Focused Flames &ndash; DOA 1st &middot; EN-138"
      style="max-width: 440px;"
    >
    <figcaption>Focused Flames &ndash; DOA 1st &middot; EN-138</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span>This card costs 1 less to activate. <span class="effect__reminder">(Apply this effect only if your champion's class matches this card's class.)</span>
Deal 4 damage to target ally.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-U">Uncommon</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈8,400</div>
<div>Foil ≈141</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/focused-flames-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>