<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/FCu7lCgOzc.jpg"
      alt="Freeze Stiff &ndash; DOA 1st &middot; EN-169"
      style="max-width: 440px;"
    >
    <figcaption>Freeze Stiff &ndash; DOA 1st &middot; EN-169</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Rest up to two target allies. If either of those allies are attacking, negate their attacks and end the combat phase. <span class="effect__label">Class Bonus:</span> Those allies don't wake up during their controller's next wake up phase. <span class="effect__reminder">(Apply the additional effect only if your champion's class matches this card's class.)</span>
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; When Freeze Stiff causes the combat phase to end, it causes all other effects on the stack to be removed. This includes triggered effects as well as activated cards. Cards removed from the stack this way are banished.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hori</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈157</div>
<div>Normal &ndash; ≈24,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/freeze-stiff-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>