<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/assassins-ripper-ftca" rel="noopener noreferrer" target="_blank">
          Assassin's Ripper
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 800 <span class="thema-score thema-score-charm" title="CHARM">110</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">190</span> <span class="thema-score thema-score-grace" title="GRACE">189</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">180</span> <span class="thema-score thema-score-valor" title="VALOR">131</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/bauble-of-abundance-ftca" rel="noopener noreferrer" target="_blank">
          Bauble of Abundance
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 800 <span class="thema-score thema-score-charm" title="CHARM">145</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">110</span> <span class="thema-score thema-score-grace" title="GRACE">195</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">190</span> <span class="thema-score thema-score-valor" title="VALOR">160</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/beastbond-boots-ftca" rel="noopener noreferrer" target="_blank">
          Beastbond Boots
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 960 <span class="thema-score thema-score-charm" title="CHARM">220</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">238</span> <span class="thema-score thema-score-grace" title="GRACE">197</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">165</span> <span class="thema-score thema-score-valor" title="VALOR">140</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/beastbond-ears-ftca" rel="noopener noreferrer" target="_blank">
          Beastbond Ears
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 800 <span class="thema-score thema-score-charm" title="CHARM">220</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">150</span> <span class="thema-score thema-score-grace" title="GRACE">178</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">142</span> <span class="thema-score thema-score-valor" title="VALOR">110</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/beastbond-paws-ftca" rel="noopener noreferrer" target="_blank">
          Beastbond Paws
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 800 <span class="thema-score thema-score-charm" title="CHARM">183</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">220</span> <span class="thema-score thema-score-grace" title="GRACE">153</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">131</span> <span class="thema-score thema-score-valor" title="VALOR">113</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/crystal-of-empowerment-ftca" rel="noopener noreferrer" target="_blank">
          Crystal of Empowerment
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 800 <span class="thema-score thema-score-charm" title="CHARM">155</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">100</span> <span class="thema-score thema-score-grace" title="GRACE">211</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">220</span> <span class="thema-score thema-score-valor" title="VALOR">114</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/curved-dagger-ftca" rel="noopener noreferrer" target="_blank">
          Curved Dagger
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 960 <span class="thema-score thema-score-charm" title="CHARM">140</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">280</span> <span class="thema-score thema-score-grace" title="GRACE">250</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">165</span> <span class="thema-score thema-score-valor" title="VALOR">125</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/drawn-blade-ftca" rel="noopener noreferrer" target="_blank">
          Drawn Blade
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,140 <span class="thema-score thema-score-charm" title="CHARM">234</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">247</span> <span class="thema-score thema-score-grace" title="GRACE">281</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">158</span> <span class="thema-score thema-score-valor" title="VALOR">220</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/endura-scepter-of-ignition-ftca" rel="noopener noreferrer" target="_blank">
          Endura, Scepter of Ignition
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,140 <span class="thema-score thema-score-charm" title="CHARM">218</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">228</span> <span class="thema-score thema-score-grace" title="GRACE">232</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">242</span> <span class="thema-score thema-score-valor" title="VALOR">220</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fire-resonance-bauble-ftca" rel="noopener noreferrer" target="_blank">
          Fire Resonance Bauble
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 960 <span class="thema-score thema-score-charm" title="CHARM">172</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">213</span> <span class="thema-score thema-score-grace" title="GRACE">185</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">240</span> <span class="thema-score thema-score-valor" title="VALOR">150</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/jewel-of-enlightenment-ftca" rel="noopener noreferrer" target="_blank">
          Jewel of Enlightenment
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 960 <span class="thema-score thema-score-charm" title="CHARM">180</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">150</span> <span class="thema-score thema-score-grace" title="GRACE">210</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">250</span> <span class="thema-score thema-score-valor" title="VALOR">170</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/mana-limiter-ftca" rel="noopener noreferrer" target="_blank">
          Mana Limiter
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 960 <span class="thema-score thema-score-charm" title="CHARM">180</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">140</span> <span class="thema-score thema-score-grace" title="GRACE">215</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">265</span> <span class="thema-score thema-score-valor" title="VALOR">160</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/melodious-flute-ftca" rel="noopener noreferrer" target="_blank">
          Melodious Flute
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 960 <span class="thema-score thema-score-charm" title="CHARM">220</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">130</span> <span class="thema-score thema-score-grace" title="GRACE">195</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">239</span> <span class="thema-score thema-score-valor" title="VALOR">176</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈7,500<br/>Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ornamental-greatsword-ftca" rel="noopener noreferrer" target="_blank">
          Ornamental Greatsword
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 800 <span class="thema-score thema-score-charm" title="CHARM">145</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">190</span> <span class="thema-score thema-score-grace" title="GRACE">200</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">145</span> <span class="thema-score thema-score-valor" title="VALOR">120</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/poisoned-dagger-ftca" rel="noopener noreferrer" target="_blank">
          Poisoned Dagger
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 960 <span class="thema-score thema-score-charm" title="CHARM">150</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">250</span> <span class="thema-score thema-score-grace" title="GRACE">205</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">175</span> <span class="thema-score thema-score-valor" title="VALOR">180</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/quicksilver-grail-ftca" rel="noopener noreferrer" target="_blank">
          Quicksilver Grail
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,600 <span class="thema-score thema-score-charm" title="CHARM">283</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">250</span> <span class="thema-score thema-score-grace" title="GRACE">382</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">410</span> <span class="thema-score thema-score-valor" title="VALOR">275</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈201
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/safeguard-amulet-ftca" rel="noopener noreferrer" target="_blank">
          Safeguard Amulet
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 960 <span class="thema-score thema-score-charm" title="CHARM">190</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">150</span> <span class="thema-score thema-score-grace" title="GRACE">230</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">215</span> <span class="thema-score thema-score-valor" title="VALOR">175</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/seers-sword-ftca" rel="noopener noreferrer" target="_blank">
          Seer's Sword
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 960 <span class="thema-score thema-score-charm" title="CHARM">190</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">150</span> <span class="thema-score thema-score-grace" title="GRACE">230</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">215</span> <span class="thema-score thema-score-valor" title="VALOR">175</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sharpening-stone-ftca" rel="noopener noreferrer" target="_blank">
          Sharpening Stone
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 960 <span class="thema-score thema-score-charm" title="CHARM">167</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">200</span> <span class="thema-score thema-score-grace" title="GRACE">200</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">223</span> <span class="thema-score thema-score-valor" title="VALOR">170</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-020
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/smoke-bombs-ftca" rel="noopener noreferrer" target="_blank">
          Smoke Bombs
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 800 <span class="thema-score thema-score-charm" title="CHARM">168</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">165</span> <span class="thema-score thema-score-grace" title="GRACE">187</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">135</span> <span class="thema-score thema-score-valor" title="VALOR">145</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-021
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/surveillance-stone-ftca" rel="noopener noreferrer" target="_blank">
          Surveillance Stone
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 800 <span class="thema-score thema-score-charm" title="CHARM">143</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">165</span> <span class="thema-score thema-score-grace" title="GRACE">155</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">200</span> <span class="thema-score thema-score-valor" title="VALOR">137</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-022
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sword-of-seeking-ftca" rel="noopener noreferrer" target="_blank">
          Sword of Seeking
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 960 <span class="thema-score thema-score-charm" title="CHARM">170</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">150</span> <span class="thema-score thema-score-grace" title="GRACE">215</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">245</span> <span class="thema-score thema-score-valor" title="VALOR">180</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-023
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tome-of-knowledge-ftca" rel="noopener noreferrer" target="_blank">
          Tome of Knowledge
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 960 <span class="thema-score thema-score-charm" title="CHARM">162</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">200</span> <span class="thema-score thema-score-grace" title="GRACE">210</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">208</span> <span class="thema-score thema-score-valor" title="VALOR">180</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-024
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/warriors-longsword-ftca" rel="noopener noreferrer" target="_blank">
          Warrior's Longsword
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 960 <span class="thema-score thema-score-charm" title="CHARM">203</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">140</span> <span class="thema-score thema-score-grace" title="GRACE">207</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">240</span> <span class="thema-score thema-score-valor" title="VALOR">170</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-025
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/water-resonance-bauble-ftca" rel="noopener noreferrer" target="_blank">
          Water Resonance Bauble
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 960 <span class="thema-score thema-score-charm" title="CHARM">155</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">210</span> <span class="thema-score thema-score-grace" title="GRACE">235</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">157</span> <span class="thema-score thema-score-valor" title="VALOR">203</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-026
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/wind-resonance-bauble-ftca" rel="noopener noreferrer" target="_blank">
          Wind Resonance Bauble
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 960 <span class="thema-score thema-score-charm" title="CHARM">176</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">147</span> <span class="thema-score thema-score-grace" title="GRACE">209</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">260</span> <span class="thema-score thema-score-valor" title="VALOR">168</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈587
  </td>
</tr>
</tbody>
</table>