<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/og83WsAU35.jpg"
      alt="Gaia's Blessing &ndash; DOA 1st &middot; EN-067"
      style="max-width: 440px;"
    >
    <figcaption>Gaia's Blessing &ndash; DOA 1st &middot; EN-067</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Element Bonus</span>You may banish four Animal and/or Beast ally cards from your graveyard to activate this card from your material deck without paying its costs. 
Play with the top card of your deck revealed.
You may activate Animal and Beast ally cards from the top of your deck.
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; Using the ability of Gaia's Blessing to allow its activation from the material deck means you do not need a materialization phase to get it out. Activating a card is done at slow speed by default. </span><span class="card-template-stat-values-rule">2022-12-27 &ndash; Activating Gaia's Blessing by using its effect will ignore all costs associated with activating it, including any cost granting and cost increasing effects being applied.</span><span class="card-template-stat-values-rule">2022-12-27 &ndash; Each card banished from the graveyard counts as one card. Banishing a card that is both an Animal and Beast does not count as two cards banished for the effect of Gaia's Blessing.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-UR">Ultra Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈2,500</div>
<div>Foil ≈90</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/gaias-blessing-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>