<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/gSQIn8CzwQ.jpg"
      alt="Galahad, Court Knight &ndash; DOA 1st &middot; EN-087"
      style="max-width: 440px;"
    >
    <figcaption>Galahad, Court Knight &ndash; DOA 1st &middot; EN-087</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__reminder">(Unique — You can control only one object with this card's name.)</span>
<span class="effect__bubble">Class Bonus</span>Galahad can attack using Sword weapons you control.
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-03-10 &ndash; If Galahad uses a weapon, a durability counter on that weapon is removed as normal when damage is dealt. In addition, the weapon's effects are applied as normal.</span><span class="card-template-stat-values-rule">2022-12-27 &ndash; Galahad attacking using a weapon is declared the same way a champion attacking with a weapon is.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-SR">Super Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">D Lam</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈2,400</div>
<div>Foil ≈109</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/galahad-court-knight-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>