<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/1QCVryUEXv.jpg"
      alt="Glacial Guidance &ndash; DOA 1st &middot; EN-174"
      style="max-width: 440px;"
    >
    <figcaption>Glacial Guidance &ndash; DOA 1st &middot; EN-174</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Rest target ally. If that ally is attacking, end the combat phase.
<span class="effect__bubble">Class Bonus</span>Put an <span class="effect__label">enlighten</span> counter on your champion. <span class="effect__reminder">(You may remove three <span class="effect__label">enlighten</span> counters from your champion to draw a card.)
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; When Glacial Guidance causes the combat phase to end, it causes all other effects on the stack to be removed. This includes triggered effects as well as activated cards. Cards removed from the stack this way are banished.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-C">Common</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈24,000</div>
<div>Foil ≈157</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/glacial-guidance-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>