<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/favorable-winds-gsc" rel="noopener noreferrer" target="_blank">
          Favorable Winds
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,400<br/>Foil ≈200
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/empowering-harmony-gsc" rel="noopener noreferrer" target="_blank">
          Empowering Harmony
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,750<br/>Foil ≈250
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/strategic-planning-gsc" rel="noopener noreferrer" target="_blank">
          Strategic Planning
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈3,000<br/>Foil ≈200
  </td>
</tr>
</tbody>
</table>