<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/RCV3t2Qmvg.jpg"
      alt="Horn of Beastcalling &ndash; DOA 1st &middot; EN-068"
      style="max-width: 440px;"
    >
    <figcaption>Horn of Beastcalling &ndash; DOA 1st &middot; EN-068</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Banish Horn of Beastcalling:</span> The next Beast ally card you activate this turn costs 3 less to activate. <span class="effect__label">Class Bonus:</span> Draw a card. <span class="effect__reminder">(Apply the additional effect only if your champion's class matches this card's class.)</span>
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; The cost decrease only affects Beast ally cards that are activated, not materialized.</span><span class="card-template-stat-values-rule">2022-12-27 &ndash; The type of cost decreased is based on the card's default cost type. In most cases, it will decrease reserve cost because it only affects activation costs. However, if a card can be activated from the material deck and has a memory cost as its default cost, the memory cost will decrease by 3.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-R">Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈4,000</div>
<div>Foil ≈127</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/horn-of-beastcalling-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>