<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="hvn 1st--en-004-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/diao-chan-enchantress-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Diao Chan, Enchantress
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">486</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">286</span> <span class="thema-score thema-score-grace" title="GRACE">371</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">429</span> <span class="thema-score thema-score-valor" title="VALOR">288</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="hvn 1st--en-005-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/diao-chan-dreaming-wish-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Diao Chan, Dreaming Wish
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">458</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">315</span> <span class="thema-score thema-score-grace" title="GRACE">343</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">429</span> <span class="thema-score thema-score-valor" title="VALOR">315</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="hvn 1st--en-006-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/diao-chan-idyll-corsage-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Diao Chan, Idyll Corsage
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">390</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">340</span> <span class="thema-score thema-score-grace" title="GRACE">385</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">380</span> <span class="thema-score thema-score-valor" title="VALOR">365</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="hvn 1st--en-007-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/guo-jia-chosen-disciple-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Guo Jia, Chosen Disciple
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">373</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">315</span> <span class="thema-score thema-score-grace" title="GRACE">429</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">400</span> <span class="thema-score thema-score-valor" title="VALOR">343</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="hvn 1st--en-008-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/guo-jia-blessed-scion-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Guo Jia, Blessed Scion
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">375</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">341</span> <span class="thema-score thema-score-grace" title="GRACE">395</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">429</span> <span class="thema-score thema-score-valor" title="VALOR">320</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="hvn 1st--en-009-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/luxem.png" alt="LUXEM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/guo-jia-heavens-favored-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Guo Jia, Heaven's Favored
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">373</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">369</span> <span class="thema-score thema-score-grace" title="GRACE">362</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">457</span> <span class="thema-score thema-score-valor" title="VALOR">299</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="hvn 1st--en-010-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/kongming-erudite-strategist-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Kongming, Erudite Strategist
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">408</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">296</span> <span class="thema-score thema-score-grace" title="GRACE">352</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">368</span> <span class="thema-score thema-score-valor" title="VALOR">436</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="hvn 1st--en-011-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/art-of-war-hvn1e" rel="noopener noreferrer" target="_blank">
          Art of War
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">63</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">60</span> <span class="thema-score thema-score-grace" title="GRACE">59</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">69</span> <span class="thema-score thema-score-valor" title="VALOR">75</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">288</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">274</span> <span class="thema-score thema-score-grace" title="GRACE">270</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">313</span> <span class="thema-score thema-score-valor" title="VALOR">343</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈3,200<br/>Foil ≈360
  </td>
</tr>
<tr data-id="hvn 1st--en-014-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/huaji-of-heavens-rise-hvn1e" rel="noopener noreferrer" target="_blank">
          Huaji of Heaven's Rise
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">59</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">73</span> <span class="thema-score thema-score-grace" title="GRACE">61</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">62</span> <span class="thema-score thema-score-valor" title="VALOR">71</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">267</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">334</span> <span class="thema-score thema-score-grace" title="GRACE">279</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">283</span> <span class="thema-score thema-score-valor" title="VALOR">325</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,800<br/>Foil ≈230
  </td>
</tr>
<tr data-id="hvn 1st--en-019-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        7
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fabled-ruby-fatestone-hvn1e" rel="noopener noreferrer" target="_blank">
          Fabled Ruby Fatestone
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">57</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">71</span> <span class="thema-score thema-score-grace" title="GRACE">64</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">68</span> <span class="thema-score thema-score-valor" title="VALOR">66</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,800
  </td>
</tr>
<tr data-id="hvn 1st--en-019-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        7
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fabled-ruby-fatestone-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Fabled Ruby Fatestone
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">348</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">388</span> <span class="thema-score thema-score-grace" title="GRACE">372</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">390</span> <span class="thema-score thema-score-valor" title="VALOR">362</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈330
  </td>
</tr>
<tr data-id="hvn 1st--en-021-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-021
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        9
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fabled-sapphire-fatestone-hvn1e" rel="noopener noreferrer" target="_blank">
          Fabled Sapphire Fatestone
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">58</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">77</span> <span class="thema-score thema-score-grace" title="GRACE">59</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">60</span> <span class="thema-score thema-score-valor" title="VALOR">72</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,800
  </td>
</tr>
<tr data-id="hvn 1st--en-021-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-021
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        9
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fabled-sapphire-fatestone-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Fabled Sapphire Fatestone
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">348</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">370</span> <span class="thema-score thema-score-grace" title="GRACE">367</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">388</span> <span class="thema-score thema-score-valor" title="VALOR">387</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈330
  </td>
</tr>
<tr data-id="hvn 1st--en-025-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-025
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        8
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fabled-emerald-fatestone-hvn1e" rel="noopener noreferrer" target="_blank">
          Fabled Emerald Fatestone
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">60</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">79</span> <span class="thema-score thema-score-grace" title="GRACE">67</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">57</span> <span class="thema-score thema-score-valor" title="VALOR">63</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,800
  </td>
</tr>
<tr data-id="hvn 1st--en-025-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-025
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        8
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fabled-emerald-fatestone-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Fabled Emerald Fatestone
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">350</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">390</span> <span class="thema-score thema-score-grace" title="GRACE">371</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">368</span> <span class="thema-score thema-score-valor" title="VALOR">381</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈330
  </td>
</tr>
<tr data-id="hvn 1st--en-027-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-027
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        10
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fabled-azurite-fatestone-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Fabled Azurite Fatestone
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">345</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">393</span> <span class="thema-score thema-score-grace" title="GRACE">364</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">391</span> <span class="thema-score thema-score-valor" title="VALOR">367</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="hvn 1st--en-029-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-029
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/scepter-of-awakening-hvn1e" rel="noopener noreferrer" target="_blank">
          Scepter of Awakening
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">68</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">61</span> <span class="thema-score thema-score-grace" title="GRACE">72</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">70</span> <span class="thema-score thema-score-valor" title="VALOR">55</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">311</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">279</span> <span class="thema-score thema-score-grace" title="GRACE">329</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">320</span> <span class="thema-score thema-score-valor" title="VALOR">249</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈3,200<br/>Foil ≈360
  </td>
</tr>
<tr data-id="hvn 1st--en-062-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-062
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/shangxiang-fierce-princess-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Shangxiang, Fierce Princess
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">392</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">384</span> <span class="thema-score thema-score-grace" title="GRACE">380</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">356</span> <span class="thema-score thema-score-valor" title="VALOR">348</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈330
  </td>
</tr>
<tr data-id="hvn 1st--en-066-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-066
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sun-ce-weaponsmaster-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Sun Ce, Weaponsmaster
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">340</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">415</span> <span class="thema-score thema-score-grace" title="GRACE">379</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">330</span> <span class="thema-score thema-score-valor" title="VALOR">396</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈330
  </td>
</tr>
<tr data-id="hvn 1st--en-071-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-071
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/yuan-shao-crown-general-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Yuan Shao, Crown General
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">389</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">325</span> <span class="thema-score thema-score-grace" title="GRACE">351</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">369</span> <span class="thema-score thema-score-valor" title="VALOR">426</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈330
  </td>
</tr>
<tr data-id="hvn 1st--en-072-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-072
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/zhang-jiao-way-of-peace-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Zhang Jiao, Way of Peace
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">376</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">340</span> <span class="thema-score thema-score-grace" title="GRACE">372</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">362</span> <span class="thema-score thema-score-valor" title="VALOR">410</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈330
  </td>
</tr>
<tr data-id="hvn 1st--en-079-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-079
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/da-qiao-cinderbinder-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Da Qiao, Cinderbinder
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">410</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">380</span> <span class="thema-score thema-score-grace" title="GRACE">360</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">390</span> <span class="thema-score thema-score-valor" title="VALOR">320</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈330
  </td>
</tr>
<tr data-id="hvn 1st--en-117-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-117
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dian-wei-valorant-fury-hvn1e-csr" rel="noopener noreferrer" target="_blank">
          Dian Wei, Valorant Fury
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">380</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">390</span> <span class="thema-score thema-score-grace" title="GRACE">355</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">350</span> <span class="thema-score thema-score-valor" title="VALOR">385</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈330
  </td>
</tr>
<tr data-id="hvn 1st--en-127-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-127
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/jianyu-fates-premonition-hvn1e" rel="noopener noreferrer" target="_blank">
          Jianyu, Fate's Premonition
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">68</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">60</span> <span class="thema-score thema-score-grace" title="GRACE">65</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">70</span> <span class="thema-score thema-score-valor" title="VALOR">63</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">311</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">274</span> <span class="thema-score thema-score-grace" title="GRACE">295</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">320</span> <span class="thema-score thema-score-valor" title="VALOR">288</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈16,700<br/>Foil ≈360
  </td>
</tr>
<tr data-id="hvn 1st--en-185-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-185
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/harbinger-of-lightning-hvn1e" rel="noopener noreferrer" target="_blank">
          Harbinger of Lightning
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">67</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">69</span> <span class="thema-score thema-score-grace" title="GRACE">63</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">65</span> <span class="thema-score thema-score-valor" title="VALOR">62</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">305</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">315</span> <span class="thema-score thema-score-grace" title="GRACE">288</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">297</span> <span class="thema-score thema-score-valor" title="VALOR">283</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈16,700<br/>Foil ≈360
  </td>
</tr>
<tr data-id="hvn 1st--en-190-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-190
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/exia.png" alt="EXIA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/annihilation-hvn1e" rel="noopener noreferrer" target="_blank">
          Annihilation
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">65</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">68</span> <span class="thema-score thema-score-grace" title="GRACE">68</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">58</span> <span class="thema-score thema-score-valor" title="VALOR">67</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">297</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">310</span> <span class="thema-score thema-score-grace" title="GRACE">310</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">265</span> <span class="thema-score thema-score-valor" title="VALOR">306</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈16,700<br/>Foil ≈360
  </td>
</tr>
<tr data-id="hvn 1st--en-196-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-196
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/luxem.png" alt="LUXEM element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/glorious-presence-hvn1e" rel="noopener noreferrer" target="_blank">
          Glorious Presence
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">62</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">65</span> <span class="thema-score thema-score-grace" title="GRACE">64</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">68</span> <span class="thema-score thema-score-valor" title="VALOR">67</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">283</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">297</span> <span class="thema-score thema-score-grace" title="GRACE">293</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">311</span> <span class="thema-score thema-score-valor" title="VALOR">304</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈16,700<br/>Foil ≈360
  </td>
</tr>
<tr data-id="hvn 1st--en-208-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-208
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lu-bu-indomitable-titan-hvn1e" rel="noopener noreferrer" target="_blank">
          Lu Bu, Indomitable Titan
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">70</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">63</span> <span class="thema-score thema-score-grace" title="GRACE">63</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">62</span> <span class="thema-score thema-score-valor" title="VALOR">68</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">320</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">288</span> <span class="thema-score thema-score-grace" title="GRACE">288</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">281</span> <span class="thema-score thema-score-valor" title="VALOR">311</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈11,100<br/>Foil ≈230
  </td>
</tr>
<tr data-id="hvn 1st--en-208-cur">
  <td class="set-list-card-number" style="text-align: left">
    EN-208
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-CUR" title="Collector Ultra Rare">CUR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lu-bu-indomitable-titan-hvn1e-cur" rel="noopener noreferrer" target="_blank">
          Lu Bu, Indomitable Titan
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,960 <span class="thema-score thema-score-charm" title="CHARM">410</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">420</span> <span class="thema-score thema-score-grace" title="GRACE">380</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">350</span> <span class="thema-score thema-score-valor" title="VALOR">400</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil =72
  </td>
</tr>
</tbody>
</table>