<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/RtAD2vCFxY.jpg"
      alt="Hymn of Gaia's Grace &ndash; DOA 1st &middot; EN-271"
      style="max-width: 440px;"
    >
    <figcaption>Hymn of Gaia's Grace &ndash; DOA 1st &middot; EN-271</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Glimpse 3</span>. Draw a card.
You may put an Animal or Beast ally card with reserve cost <span class="effect__label">LV</span> or less from your hand onto the field. If you do, you may change the target of an attack that targets your champion to that ally.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-SR">Super Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈2,400</div>
<div>Foil ≈109</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/hymn-of-gaias-grace-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>