<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/OGVn8ltMpB.jpg"
      alt="Idle Thoughts &ndash; DOA 1st &middot; EN-092"
      style="max-width: 440px;"
    >
    <figcaption>Idle Thoughts &ndash; DOA 1st &middot; EN-092</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Look at the top four cards of your deck and then put them back in any order.
<span class="effect__label">Floating Memory</span> <span class="effect__reminder">(While paying for a memory cost, you may banish this card from your graveyard to pay for 1 of that cost.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈157</div>
<div>Normal &ndash; ≈24,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/idle-thoughts-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>