<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/vpOVdHNJP2.jpg"
      alt="Inspiring Call &ndash; DEMO22 &middot; EN-014"
      style="max-width: 440px;"
    >
    <figcaption>Inspiring Call &ndash; DEMO22 &middot; EN-014</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DEMO22_(set)">LGS Demo 2022</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          This card costs 2 less to activate if your champion has attacked this turn.
Allies you control get +1<span class="effect__icon effect__icon--sword"></span> until end of turn. Draw a card into your memory.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-U">Uncommon</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈24,000</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/inspiring-call-demo22">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>