<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/Y8BFq7icJG.jpg"
      alt="Intangible Geist &ndash; DOA 1st &middot; EN-250"
      style="max-width: 440px;"
    >
    <figcaption>Intangible Geist &ndash; DOA 1st &middot; EN-250</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">On Enter:</span> You may choose any amount of regalia cards from your banishment and put them into your material deck.
<span class="effect__bubble">Class Bonus</span>Prevent all attack damage that would be dealt to Intangible Geist.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈2,400</div>
<div>Foil &ndash; ≈109</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/intangible-geist-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>