<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/7db94hsayi.jpg"
      alt="Juggle Knives &ndash; DOA 1st &middot; EN-095"
      style="max-width: 440px;"
    >
    <figcaption>Juggle Knives &ndash; DOA 1st &middot; EN-095</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Deal 1 damage to target champion.
<span class="effect__bubble">Class Bonus</span>Draw a card. <span class="effect__reminder">(Apply this effect only if your champion's class matches this card's class.)</span>
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-C">Common</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">北飞飞</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈24,000</div>
<div>Foil ≈157</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/juggle-knives-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>