<table>
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: left">Rarity</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-blademaster_(card)#doa 1st--en-005-c">
      Lorraine, Blademaster
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Foil ≈157 &ndash; Normal ≈25,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-blademaster_(card)#doap--en-004-c">
      Lorraine, Blademaster
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-blademaster_(card)#demo22--en-003-c">
      Lorraine, Blademaster
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈12,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-blademaster_(card)#ksp--en-001-pr">
      Lorraine, Blademaster
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Foil ≈900
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/lorraine-blademaster_(card)#doa 1st--en-005-cur">
      Lorraine, Blademaster
    </a>
  </td>
  <td style="text-align: left">
    CUR
  </td>
  <td style="text-align: right">
    Foil =70
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
    <a href="/lorraine-crux-knight_(card)#doap--en-005-c">
      Lorraine, Crux Knight
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
    <a href="/lorraine-crux-knight_(card)#ksp--en-002-pr">
      Lorraine, Crux Knight
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Foil ≈2,600
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
    <a href="/rai-storm-seer_(card)#doap--en-008-c">
      Rai, Storm Seer
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
    <a href="/rai-storm-seer_(card)#ksp--en-003-pr">
      Rai, Storm Seer
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Foil ≈2,600
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-028
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
    <a href="/arcanists-prism_(card)#doap--en-028-sr">
      Arcanist's Prism
    </a>
  </td>
  <td style="text-align: left">
    SR
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
    <a href="/arcanists-prism_(card)#ksp--en-004-pr">
      Arcanist's Prism
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Foil ≈1,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/clarent-sword-of-peace_(card)#doap--en-012-r">
      Clarent, Sword of Peace
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/clarent-sword-of-peace_(card)#ksp--en-005-pr">
      Clarent, Sword of Peace
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Foil ≈1,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/endura-scepter-of-ignition_(card)#doap--en-014-r">
      Endura, Scepter of Ignition
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/endura-scepter-of-ignition_(card)#ksp--en-006-pr">
      Endura, Scepter of Ignition
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Foil ≈1,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-029
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
    <a href="/prismatic-edge_(card)#doap--en-029-sr">
      Prismatic Edge
    </a>
  </td>
  <td style="text-align: left">
    SR
  </td>
  <td style="text-align: right">
    Normal ≈7,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
    <a href="/prismatic-edge_(card)#ksp--en-007-pr">
      Prismatic Edge
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Foil ≈1,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-097
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/library-witch_(card)#doa 1st--en-097-c">
      Library Witch
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000 &ndash; Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-048
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/library-witch_(card)#doap--en-048-c">
      Library Witch
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/library-witch_(card)#ksp--en-008-pr">
      Library Witch
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Foil ≈1,500
  </td>
</tr>
</tbody>
</table>