<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/lorraine-blademaster_(card)#ksp--en-001-pr">
        Lorraine, Blademaster
      </a> (<abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>)
    </div>
  </td>
  <td style="text-align: right">
    Foil ≈900
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/lorraine-crux-knight_(card)#ksp--en-002-pr">
        Lorraine, Crux Knight
      </a> (<abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>)
    </div>
  </td>
  <td style="text-align: right">
    Foil ≈2,600
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <a href="/rai-storm-seer_(card)#ksp--en-003-pr">
        Rai, Storm Seer
      </a> (<abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>)
    </div>
  </td>
  <td style="text-align: right">
    Foil ≈2,600
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <a href="/arcanists-prism_(card)#ksp--en-004-pr">
        Arcanist's Prism
      </a> (<abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>)
    </div>
  </td>
  <td style="text-align: right">
    Foil ≈1,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/clarent-sword-of-peace_(card)#ksp--en-005-pr">
        Clarent, Sword of Peace
      </a> (<abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>)
    </div>
  </td>
  <td style="text-align: right">
    Foil ≈1,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/endura-scepter-of-ignition_(card)#ksp--en-006-pr">
        Endura, Scepter of Ignition
      </a> (<abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>)
    </div>
  </td>
  <td style="text-align: right">
    Foil ≈1,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <a href="/prismatic-edge_(card)#ksp--en-007-pr">
        Prismatic Edge
      </a> (<abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>)
    </div>
  </td>
  <td style="text-align: right">
    Foil ≈1,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <a href="/library-witch_(card)#ksp--en-008-pr">
        Library Witch
      </a> (<abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>)
    </div>
  </td>
  <td style="text-align: right">
    Foil ≈1,500
  </td>
</tr>
</tbody>
</table>