<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/pD2xsupcR8.jpg"
      alt="Lakeside Serpent &ndash; DOA 1st &middot; EN-177"
      style="max-width: 440px;"
    >
    <figcaption>Lakeside Serpent &ndash; DOA 1st &middot; EN-177</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Pride 6</span> <span class="effect__reminder">(This ally won't obey you unless your champion is level 6 or higher.)</span>
<span class="effect__bubble">Class Bonus</span>Lakeside Serpent gets +1<span class="effect__icon effect__icon--sword"></span> for each water element card in your graveyard. <span class="effect__reminder">(Apply this effect only if your champion's class matches this card's class.)</span>
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; A unit that does not obey you can't attack, intercept, retaliate, and its activated abilities can't be activated.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-R">Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈4,000</div>
<div>Foil ≈127</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/lakeside-serpent-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>