<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/zoRhMrDa0y.jpg"
      alt="Library Witch &ndash; KSP &middot; EN-008"
      style="max-width: 440px;"
    >
    <figcaption>Library Witch &ndash; KSP &middot; EN-008</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/KSP_(set)">Kickstarter Promotional</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Intercept</span>
<span class="effect__label">On Death:</span> Draw a card. 
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-PR">Promotional Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">蝦蝦</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Foil ≈1,500</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/library-witch-ksp">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>