<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/DegP154SpL.jpg"
      alt="Life Essence Amulet &ndash; DOAp &middot; EN-017"
      style="max-width: 440px;"
    >
    <figcaption>Life Essence Amulet &ndash; DOAp &middot; EN-017</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOAp_(set)">Dawn of Ashes Prelude</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Whenever an ally you control dies while it's not your turn, you may banish Life Essence Amulet. If you do, draw a card.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-C">Common</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈15,000</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/life-essence-amulet-doap">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>