<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/td18XKxnbq.jpg"
      alt="Lightweaver's Assault &ndash; DOA 1st &middot; EN-261"
      style="max-width: 440px;"
    >
    <figcaption>Lightweaver's Assault &ndash; DOA 1st &middot; EN-261</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Reveal all cards in your memory. Choose any amount of units and deal damage equal to the amount of cards revealed split among them.
<span class="effect__bubble">Class Bonus</span><span class="effect__bubble">Element Bonus</span>Whenever you reveal Lightweaver's Assault from your memory, choose a unit and deal 2 damage to it.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">北飞飞</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈109</div>
<div>Normal &ndash; ≈2,400</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/lightweavers-assault-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>