<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/YY63YRci9k.jpg"
      alt="Lorraine, Crux Knight &ndash; KSP &middot; EN-002"
      style="max-width: 440px;"
    >
    <figcaption>Lorraine, Crux Knight &ndash; KSP &middot; EN-002</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/KSP_(set)">Kickstarter Promotional</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Lorraine Lineage</span>
Lorraine's attacks get +1<span class="effect__icon effect__icon--sword"></span> for each regalia weapon card in your banishment. 
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-03-10 &ndash; With Lorraine's static effect, her attacks get the additional effects, not Lorraine herself. This means that Lorraine still needs a weapon or attack card in order to declare attacks because she does not have an attack stat.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-PR">Promotional Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">Hori</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Foil ≈2,600</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/lorraine-crux-knight-ksp">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>