<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/ceKi1jV7Db.jpg"
      alt="Lorraine, Spirit Ruler &ndash; DOA 1st &middot; EN-006"
      style="max-width: 440px;"
    >
    <figcaption>Lorraine, Spirit Ruler &ndash; DOA 1st &middot; EN-006</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Lorraine Lineage</span> <span class="effect__reminder">(Lorraine, Spirit Ruler must be leveled from a previous level "Lorraine" champion.)</span>
<span class="effect__label">On Enter:</span> Choose a Sword regalia card with memory cost 1 or less from your banishment and put it onto the field. It enters the field with three additional <span class="effect__label">durability</span> counters on it.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-C">Common</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hori</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈12,500</div>
<div>Foil &ndash; ≈157</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/lorraine-spirit-ruler-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>