<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/5LgjRd57k3.jpg"
      alt="Lunete, Frostbinder Priest &ndash; DOA 1st &middot; EN-178"
      style="max-width: 440px;"
    >
    <figcaption>Lunete, Frostbinder Priest &ndash; DOA 1st &middot; EN-178</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Allies your opponents control enter the field rested.
<span class="effect__reminder"><span class="effect__label">Balance</span> — </span>Lunete gets +3<span class="effect__icon effect__icon--heart"></span> as long as the amount of cards in your hand and memory are equal.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-R">Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">白帝</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈4,000</div>
<div>Foil ≈127</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/lunete-frostbinder-priest-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>