<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/1WJLjrUngO.jpg"
      alt="Luxem Sight &ndash; DOA 1st &middot; EN-262"
      style="max-width: 440px;"
    >
    <figcaption>Luxem Sight &ndash; DOA 1st &middot; EN-262</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Element Bonus</span>Whenever you reveal this card from your memory, <span class="effect__label">recover 3</span>. <span class="effect__reminder">(To <span class="effect__label">recover</span>, remove that many damage counters from your champion. Apply this effect only if your champion's element matches this card's element.)</span>
Draw a card.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-U">Uncommon</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">北飞飞</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈8,400</div>
<div>Foil ≈141</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/luxem-sight-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>