<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/8kkmb7LaXf.jpg"
      alt="Luxera's Map &ndash; DOA 1st &middot; EN-066"
      style="max-width: 440px;"
    >
    <figcaption>Luxera's Map &ndash; DOA 1st &middot; EN-066</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span>This card costs 1 less to materialize. 
Luxera's Map enters the field rested.
<span class="effect__icon effect__icon--rest"></span><span class="effect__label">, Banish Luxera's Map:</span> Search your deck for a card and put it into your memory. Then shuffle your deck. Activate this ability only at slow speed.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈90</div>
<div>Normal &ndash; ≈2,500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/luxeras-map-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>