<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/8kkmb7LaXf.jpg"
      alt="Luxera's Map &ndash; DOA 1st &middot; EN-066"
      style="max-width: 440px;"
    >
    <figcaption>Luxera's Map &ndash; DOA 1st &middot; EN-066</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span>This card costs 1 less to materialize. 
Luxera's Map enters the field rested.
<span class="effect__icon effect__icon--rest"></span><span class="effect__label">, Banish Luxera's Map:</span> Search your deck for a card and put it into your memory. Then shuffle your deck. Activate this ability only at slow speed.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-UR">Ultra Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈2,500</div>
<div>Foil ≈90</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/luxeras-map-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>