<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/hWISma1IxT.jpg"
      alt="Meadowbloom Dryad &ndash; DOApSP &middot; EN-273"
      style="max-width: 440px;"
    >
    <figcaption>Meadowbloom Dryad &ndash; DOApSP &middot; EN-273</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOApSP_(set)">Silvie Previews</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Preserve</span> <span class="effect__reminder">(When this ally dies, put it into your material deck preserved. As you materialize, you may instead return a preserved card to your hand.)</span>
<span class="effect__bubble">Class Bonus</span>Whenever Meadowbloom Dryad or another ally enters the field under your control, put a <span class="effect__label">buff</span> counter on target ally.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-U">Uncommon</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/meadowbloom-dryad-doapsp">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>