<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/a7cmhGlRHz.jpg"
      alt="Merlin, Memory Thief &ndash; DOA 1st &middot; EN-017"
      style="max-width: 440px;"
    >
    <figcaption>Merlin, Memory Thief &ndash; DOA 1st &middot; EN-017</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__icon effect__icon--rest"></span><span class="effect__label">:</span> Choose a card from a graveyard and banish it. If that card has <span class="effect__label">floating memory</span>, put a <span class="effect__label">level</span> counter on Merlin. <span class="effect__reminder">(Champions get +1 level for each <span class="effect__label">level</span> counter on them.)</span>
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; If Merlin's ability banishes a card that has Floating Memory but is restricted by a Class Bonus, a level counter will only be placed on Merlin if that card's owner has that Class Bonus restriction enabled.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-C">Common</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">YOHAKU</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈24,000</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/merlin-memory-thief-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>