<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/clLF6C7gFz.jpg"
      alt="Mind Freeze &ndash; DOA 1st &middot; EN-179"
      style="max-width: 440px;"
    >
    <figcaption>Mind Freeze &ndash; DOA 1st &middot; EN-179</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Banish <span class="effect__label">LV</span> cards at random from target opponent's memory. Return those cards to their memory at the beginning of their next end phase. <span class="effect__reminder">(<span class="effect__label">LV</span> refers to your champion's level.)</span>
<span class="effect__bubble">Class Bonus</span><span class="effect__label">Floating Memory</span></span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈8,400</div>
<div>Foil &ndash; ≈141</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/mind-freeze-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>