<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/7hntxsvTmj.jpg"
      alt="Mistbound Cutthroat &ndash; DOA 1st &middot; EN-181"
      style="max-width: 440px;"
    >
    <figcaption>Mistbound Cutthroat &ndash; DOA 1st &middot; EN-181</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Level 3+</span>Whenever another ally card enters your graveyard from your deck, return Mistbound Cutthroat from your graveyard to the field rested.
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; If Mistbound Cutthroat would be put into your graveyard alongside another ally card at the same time, Mistbound Cutthroat's effect would trigger.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈109</div>
<div>Normal &ndash; ≈2,400</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/mistbound-cutthroat-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>