<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/HLOHk9mGT9.jpg"
      alt="Mordred, Flawless Blade &ndash; DOA 1st &middot; EN-018"
      style="max-width: 440px;"
    >
    <figcaption>Mordred, Flawless Blade &ndash; DOA 1st &middot; EN-018</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Attack cards in your graveyard have <span class="effect__label">floating memory</span>. <span class="effect__reminder">(While paying for a memory cost, you may banish a card with <span class="effect__label">floating memory</span> from your graveyard to pay for 1 of that cost.)</span>
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; Multiple instances of floating memory on the same card are redundant. Any instances beyond the first are ignored.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hanh Chu</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈24,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/mordred-flawless-blade-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>