<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="mrc 1st--en-004-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tristan-underhanded-mrc-csr" rel="noopener noreferrer" target="_blank">
          Tristan, Underhanded
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">415</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">340</span> <span class="thema-score thema-score-grace" title="GRACE">384</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">401</span> <span class="thema-score thema-score-valor" title="VALOR">320</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈100
  </td>
</tr>
<tr data-id="mrc 1st--en-005-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tristan-hired-blade-mrc-csr" rel="noopener noreferrer" target="_blank">
          Tristan, Hired Blade
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">420</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">340</span> <span class="thema-score thema-score-grace" title="GRACE">380</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">400</span> <span class="thema-score thema-score-valor" title="VALOR">320</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈100
  </td>
</tr>
<tr data-id="mrc 1st--en-006-cur">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-CUR" title="Collector Ultra Rare">CUR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tristan-shadowreaver-mrc-cur" rel="noopener noreferrer" target="_blank">
          Tristan, Shadowreaver
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,960 <span class="thema-score thema-score-charm" title="CHARM">422</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">374</span> <span class="thema-score thema-score-grace" title="GRACE">380</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">412</span> <span class="thema-score thema-score-valor" title="VALOR">372</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil =72
  </td>
</tr>
<tr data-id="mrc 1st--en-036-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-036
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/atmos-armor-type-hermes-mrc-csr" rel="noopener noreferrer" target="_blank">
          Atmos Armor Type-Hermes
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">409</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">317</span> <span class="thema-score thema-score-grace" title="GRACE">387</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">401</span> <span class="thema-score thema-score-valor" title="VALOR">346</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈132
  </td>
</tr>
<tr data-id="mrc 1st--en-069-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-069
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sadi-blood-harvester-mrc-csr" rel="noopener noreferrer" target="_blank">
          Sadi, Blood Harvester
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">390</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">390</span> <span class="thema-score thema-score-grace" title="GRACE">383</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">370</span> <span class="thema-score thema-score-valor" title="VALOR">327</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈132
  </td>
</tr>
<tr data-id="mrc 1st--en-081-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-081
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        7
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/calamity-cannon-mrc-csr" rel="noopener noreferrer" target="_blank">
          Calamity Cannon
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">320</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">410</span> <span class="thema-score thema-score-grace" title="GRACE">387</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">397</span> <span class="thema-score thema-score-valor" title="VALOR">346</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈132
  </td>
</tr>
<tr data-id="mrc 1st--en-123-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-123
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/naia-diviner-of-fortunes-mrc-csr" rel="noopener noreferrer" target="_blank">
          Naia, Diviner of Fortunes
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">414</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">310</span> <span class="thema-score thema-score-grace" title="GRACE">380</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">410</span> <span class="thema-score thema-score-valor" title="VALOR">346</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈132
  </td>
</tr>
<tr data-id="mrc 1st--en-130-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-130
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ravishing-finale-mrc-csr" rel="noopener noreferrer" target="_blank">
          Ravishing Finale
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">403</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">370</span> <span class="thema-score thema-score-grace" title="GRACE">391</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">350</span> <span class="thema-score thema-score-valor" title="VALOR">346</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈132
  </td>
</tr>
<tr data-id="mrc 1st--en-134-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-134
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/andronika-eternal-herald-mrc-csr" rel="noopener noreferrer" target="_blank">
          Andronika, Eternal Herald
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">396</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">340</span> <span class="thema-score thema-score-grace" title="GRACE">387</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">380</span> <span class="thema-score thema-score-valor" title="VALOR">357</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈132
  </td>
</tr>
<tr data-id="mrc 1st--en-154-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-154
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/vainglory-retribution-mrc-csr" rel="noopener noreferrer" target="_blank">
          Vainglory Retribution
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">409</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">317</span> <span class="thema-score thema-score-grace" title="GRACE">387</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">401</span> <span class="thema-score thema-score-valor" title="VALOR">346</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈132
  </td>
</tr>
<tr data-id="mrc 1st--en-165-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-165
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/prima-materia-mrc-csr" rel="noopener noreferrer" target="_blank">
          Prima Materia
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">398</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">347</span> <span class="thema-score thema-score-grace" title="GRACE">353</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">410</span> <span class="thema-score thema-score-valor" title="VALOR">352</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈132
  </td>
</tr>
<tr data-id="mrc 1st--en-170-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-170
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/atmos-armor-type-ares-mrc-csr" rel="noopener noreferrer" target="_blank">
          Atmos Armor Type-Ares
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">400</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">347</span> <span class="thema-score thema-score-grace" title="GRACE">376</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">390</span> <span class="thema-score thema-score-valor" title="VALOR">347</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈132
  </td>
</tr>
<tr data-id="mrc 1st--en-175-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-175
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/cordelia-aurous-kaiser-mrc-csr" rel="noopener noreferrer" target="_blank">
          Cordelia, Aurous Kaiser
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">401</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">345</span> <span class="thema-score thema-score-grace" title="GRACE">380</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">380</span> <span class="thema-score thema-score-valor" title="VALOR">354</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈132
  </td>
</tr>
<tr data-id="mrc 1st--en-177-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-177
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        6
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/curse-amplification-mrc-csr" rel="noopener noreferrer" target="_blank">
          Curse Amplification
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">400</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">350</span> <span class="thema-score thema-score-grace" title="GRACE">380</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">398</span> <span class="thema-score thema-score-valor" title="VALOR">332</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈132
  </td>
</tr>
<tr data-id="mrc 1st--en-183-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-183
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/penumbral-waltz-mrc-csr" rel="noopener noreferrer" target="_blank">
          Penumbral Waltz
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">406</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">322</span> <span class="thema-score thema-score-grace" title="GRACE">396</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">390</span> <span class="thema-score thema-score-valor" title="VALOR">346</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈132
  </td>
</tr>
</tbody>
</table>