<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="mrc alter--en-001-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fragmented-spirit-of-fire-mrc-alter" rel="noopener noreferrer" target="_blank">
          Fragmented Spirit of Fire
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">53</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">68</span> <span class="thema-score thema-score-grace" title="GRACE">60</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">60</span> <span class="thema-score thema-score-valor" title="VALOR">60</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">243</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">311</span> <span class="thema-score thema-score-grace" title="GRACE">274</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">274</span> <span class="thema-score thema-score-valor" title="VALOR">274</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,200<br/>Foil ≈195
  </td>
</tr>
<tr data-id="mrc alter--en-002-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fragmented-spirit-of-water-mrc-alter" rel="noopener noreferrer" target="_blank">
          Fragmented Spirit of Water
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">53</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">60</span> <span class="thema-score thema-score-grace" title="GRACE">60</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">68</span> <span class="thema-score thema-score-valor" title="VALOR">60</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">243</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">274</span> <span class="thema-score thema-score-grace" title="GRACE">274</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">311</span> <span class="thema-score thema-score-valor" title="VALOR">274</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,200<br/>Foil ≈195
  </td>
</tr>
<tr data-id="mrc alter--en-003-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fragmented-spirit-of-wind-mrc-alter" rel="noopener noreferrer" target="_blank">
          Fragmented Spirit of Wind
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">53</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">60</span> <span class="thema-score thema-score-grace" title="GRACE">68</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">60</span> <span class="thema-score thema-score-valor" title="VALOR">60</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">243</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">274</span> <span class="thema-score thema-score-grace" title="GRACE">311</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">274</span> <span class="thema-score thema-score-valor" title="VALOR">274</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,200<br/>Foil ≈195
  </td>
</tr>
<tr data-id="mrc alter--en-012-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/mercurial-heart-mrc-alter" rel="noopener noreferrer" target="_blank">
          Mercurial Heart
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">65</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">53</span> <span class="thema-score thema-score-grace" title="GRACE">61</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">64</span> <span class="thema-score thema-score-valor" title="VALOR">58</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">297</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">242</span> <span class="thema-score thema-score-grace" title="GRACE">279</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">293</span> <span class="thema-score thema-score-valor" title="VALOR">265</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,400<br/>Foil ≈195
  </td>
</tr>
<tr data-id="mrc alter--en-032-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-032
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gloamspire-mantle-mrc-alter-csr" rel="noopener noreferrer" target="_blank">
          Gloamspire Mantle
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,730 <span class="thema-score thema-score-charm" title="CHARM">391</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">301</span> <span class="thema-score thema-score-grace" title="GRACE">349</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">368</span> <span class="thema-score thema-score-valor" title="VALOR">321</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈325
  </td>
</tr>
<tr data-id="mrc alter--en-034-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-034
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/shadows-claw-mrc-alter" rel="noopener noreferrer" target="_blank">
          Shadow's Claw
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">66</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">61</span> <span class="thema-score thema-score-grace" title="GRACE">56</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">63</span> <span class="thema-score thema-score-valor" title="VALOR">55</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">302</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">279</span> <span class="thema-score thema-score-grace" title="GRACE">256</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">288</span> <span class="thema-score thema-score-valor" title="VALOR">251</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈5,800<br/>Foil ≈195
  </td>
</tr>
<tr data-id="mrc alter--en-040-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-040
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/bertha-spry-howitzer-mrc-alter-csr" rel="noopener noreferrer" target="_blank">
          Bertha, Spry Howitzer
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,730 <span class="thema-score thema-score-charm" title="CHARM">380</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">351</span> <span class="thema-score thema-score-grace" title="GRACE">346</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">305</span> <span class="thema-score thema-score-valor" title="VALOR">348</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈325
  </td>
</tr>
<tr data-id="mrc alter--en-063-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-063
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/overlord-mk-iii-mrc-alter" rel="noopener noreferrer" target="_blank">
          Overlord Mk III
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">53</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">66</span> <span class="thema-score thema-score-grace" title="GRACE">62</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">57</span> <span class="thema-score thema-score-valor" title="VALOR">63</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">242</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">302</span> <span class="thema-score thema-score-grace" title="GRACE">283</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">261</span> <span class="thema-score thema-score-valor" title="VALOR">288</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈5,800<br/>Foil ≈195
  </td>
</tr>
<tr data-id="mrc alter--en-165-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-165
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/prima-materia-mrc-alter" rel="noopener noreferrer" target="_blank">
          Prima Materia
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">65</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">54</span> <span class="thema-score thema-score-grace" title="GRACE">58</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">66</span> <span class="thema-score thema-score-valor" title="VALOR">58</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">297</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">247</span> <span class="thema-score thema-score-grace" title="GRACE">265</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">302</span> <span class="thema-score thema-score-valor" title="VALOR">265</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈5,800<br/>Foil ≈195
  </td>
</tr>
<tr data-id="mrc alter--en-170-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-170
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/atmos-armor-type-ares-mrc-alter" rel="noopener noreferrer" target="_blank">
          Atmos Armor Type-Ares
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">64</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">58</span> <span class="thema-score thema-score-grace" title="GRACE">58</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">61</span> <span class="thema-score thema-score-valor" title="VALOR">60</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">293</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">265</span> <span class="thema-score thema-score-grace" title="GRACE">265</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">279</span> <span class="thema-score thema-score-valor" title="VALOR">274</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈5,800<br/>Foil ≈195
  </td>
</tr>
<tr data-id="mrc alter--en-180-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-180
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/final-stroke-mrc-alter" rel="noopener noreferrer" target="_blank">
          Final Stroke
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">66</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">66</span> <span class="thema-score thema-score-grace" title="GRACE">59</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">56</span> <span class="thema-score thema-score-valor" title="VALOR">54</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">302</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">302</span> <span class="thema-score thema-score-grace" title="GRACE">270</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">255</span> <span class="thema-score thema-score-valor" title="VALOR">247</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈5,800<br/>Foil ≈195
  </td>
</tr>
<tr data-id="mrc alter--en-191-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-191
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/vampiric-slime-mrc-alter" rel="noopener noreferrer" target="_blank">
          Vampiric Slime
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 301 <span class="thema-score thema-score-charm" title="CHARM">62</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">66</span> <span class="thema-score thema-score-grace" title="GRACE">58</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">58</span> <span class="thema-score thema-score-valor" title="VALOR">57</span></span><span class="thema-score-breakdown">Foil 1,376 <span class="thema-score thema-score-charm" title="CHARM">283</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">302</span> <span class="thema-score thema-score-grace" title="GRACE">265</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">265</span> <span class="thema-score thema-score-valor" title="VALOR">261</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈5,800<br/>Foil ≈195
  </td>
</tr>
<tr data-id="mrc alter--en-192-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-192
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/accursed-strength-mrc-alter" rel="noopener noreferrer" target="_blank">
          Accursed Strength
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">36</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">29</span> <span class="thema-score thema-score-grace" title="GRACE">27</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">36</span> <span class="thema-score thema-score-valor" title="VALOR">27</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">228</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">182</span> <span class="thema-score thema-score-grace" title="GRACE">171</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">228</span> <span class="thema-score thema-score-valor" title="VALOR">171</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈22,300<br/>Foil ≈935
  </td>
</tr>
<tr data-id="mrc alter--en-193-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-193
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/armed-and-dangerous-mrc-alter" rel="noopener noreferrer" target="_blank">
          Armed and Dangerous
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">20</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">25</span> <span class="thema-score thema-score-grace" title="GRACE">22</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">18</span> <span class="thema-score thema-score-valor" title="VALOR">18</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">162</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">200</span> <span class="thema-score thema-score-grace" title="GRACE">176</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">144</span> <span class="thema-score thema-score-valor" title="VALOR">144</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈54,200<br/>Foil ≈550
  </td>
</tr>
<tr data-id="mrc alter--en-194-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-194
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/winbless-lookout-mrc-alter" rel="noopener noreferrer" target="_blank">
          Winbless Lookout
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">23</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">21</span> <span class="thema-score thema-score-grace" title="GRACE">21</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">19</span> <span class="thema-score thema-score-valor" title="VALOR">19</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">186</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">168</span> <span class="thema-score thema-score-grace" title="GRACE">168</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">152</span> <span class="thema-score thema-score-valor" title="VALOR">152</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈54,200<br/>Foil ≈550
  </td>
</tr>
<tr data-id="mrc alter--en-195-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-195
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/charged-directive-mrc-alter" rel="noopener noreferrer" target="_blank">
          Charged Directive
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">22</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">25</span> <span class="thema-score thema-score-grace" title="GRACE">18</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">21</span> <span class="thema-score thema-score-valor" title="VALOR">17</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">144</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">200</span> <span class="thema-score thema-score-grace" title="GRACE">176</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">170</span> <span class="thema-score thema-score-valor" title="VALOR">136</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈54,200<br/>Foil ≈550
  </td>
</tr>
<tr data-id="mrc alter--en-196-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-196
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/counter-interference-mrc-alter" rel="noopener noreferrer" target="_blank">
          Counter Interference
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">30</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">33</span> <span class="thema-score thema-score-grace" title="GRACE">28</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">36</span> <span class="thema-score thema-score-valor" title="VALOR">28</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">189</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">209</span> <span class="thema-score thema-score-grace" title="GRACE">177</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">228</span> <span class="thema-score thema-score-valor" title="VALOR">177</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈22,300<br/>Foil ≈380
  </td>
</tr>
<tr data-id="mrc alter--en-197-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-197
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/decompose-mrc-alter" rel="noopener noreferrer" target="_blank">
          Decompose
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">24</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">36</span> <span class="thema-score thema-score-grace" title="GRACE">30</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">35</span> <span class="thema-score thema-score-valor" title="VALOR">30</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">152</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">228</span> <span class="thema-score thema-score-grace" title="GRACE">190</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">220</span> <span class="thema-score thema-score-valor" title="VALOR">190</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈22,300<br/>Foil ≈380
  </td>
</tr>
<tr data-id="mrc alter--en-198-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-198
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        8
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dorumegian-foundry-mrc-alter" rel="noopener noreferrer" target="_blank">
          Dorumegian Foundry
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">15</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">22</span> <span class="thema-score thema-score-grace" title="GRACE">19</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">28</span> <span class="thema-score thema-score-valor" title="VALOR">19</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">120</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">177</span> <span class="thema-score thema-score-grace" title="GRACE">152</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">225</span> <span class="thema-score thema-score-valor" title="VALOR">152</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈54,200<br/>Foil ≈550
  </td>
</tr>
<tr data-id="mrc alter--en-199-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-199
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/eternal-directive-mrc-alter" rel="noopener noreferrer" target="_blank">
          Eternal Directive
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">17</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">25</span> <span class="thema-score thema-score-grace" title="GRACE">21</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">18</span> <span class="thema-score thema-score-valor" title="VALOR">22</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">138</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">200</span> <span class="thema-score thema-score-grace" title="GRACE">168</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">144</span> <span class="thema-score thema-score-valor" title="VALOR">176</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈54,200<br/>Foil ≈550
  </td>
</tr>
<tr data-id="mrc alter--en-200-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-200
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/furnace-drone-mrc-alter" rel="noopener noreferrer" target="_blank">
          Furnace Drone
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">25</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">39</span> <span class="thema-score thema-score-grace" title="GRACE">27</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">33</span> <span class="thema-score thema-score-valor" title="VALOR">31</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">158</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">246</span> <span class="thema-score thema-score-grace" title="GRACE">171</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">209</span> <span class="thema-score thema-score-valor" title="VALOR">196</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈22,300<br/>Foil ≈380
  </td>
</tr>
<tr data-id="mrc alter--en-201-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-201
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/hector-praetorian-guard-mrc-alter" rel="noopener noreferrer" target="_blank">
          Hector, Praetorian Guard
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 215 <span class="thema-score thema-score-charm" title="CHARM">42</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">40</span> <span class="thema-score thema-score-grace" title="GRACE">46</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">39</span> <span class="thema-score thema-score-valor" title="VALOR">48</span></span><span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">225</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">214</span> <span class="thema-score thema-score-grace" title="GRACE">246</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">210</span> <span class="thema-score thema-score-valor" title="VALOR">257</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,900<br/>Foil ≈290
  </td>
</tr>
<tr data-id="mrc alter--en-201-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-201
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/hector-praetorian-guard-mrc-alter-csr" rel="noopener noreferrer" target="_blank">
          Hector, Praetorian Guard
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,730 <span class="thema-score thema-score-charm" title="CHARM">315</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">361</span> <span class="thema-score thema-score-grace" title="GRACE">355</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">309</span> <span class="thema-score thema-score-valor" title="VALOR">390</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈325
  </td>
</tr>
<tr data-id="mrc alter--en-202-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-202
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/moonveil-android-mrc-alter" rel="noopener noreferrer" target="_blank">
          Moonveil Android
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">37</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">35</span> <span class="thema-score thema-score-grace" title="GRACE">27</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">32</span> <span class="thema-score thema-score-valor" title="VALOR">24</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">234</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">221</span> <span class="thema-score thema-score-grace" title="GRACE">171</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">202</span> <span class="thema-score thema-score-valor" title="VALOR">152</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈22,300<br/>Foil ≈380
  </td>
</tr>
<tr data-id="mrc alter--en-203-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-203
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/throne-sentinel-mrc-alter" rel="noopener noreferrer" target="_blank">
          Throne Sentinel
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">37</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">32</span> <span class="thema-score thema-score-grace" title="GRACE">27</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">29</span> <span class="thema-score thema-score-valor" title="VALOR">30</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">234</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">202</span> <span class="thema-score thema-score-grace" title="GRACE">171</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">183</span> <span class="thema-score thema-score-valor" title="VALOR">190</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈22,300<br/>Foil ≈380
  </td>
</tr>
<tr data-id="mrc alter--en-204-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-204
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/punishing-cartridge-mrc-alter" rel="noopener noreferrer" target="_blank">
          Punishing Cartridge
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 215 <span class="thema-score thema-score-charm" title="CHARM">48</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">51</span> <span class="thema-score thema-score-grace" title="GRACE">37</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">44</span> <span class="thema-score thema-score-valor" title="VALOR">35</span></span><span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">257</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">273</span> <span class="thema-score thema-score-grace" title="GRACE">198</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">236</span> <span class="thema-score thema-score-valor" title="VALOR">188</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈7,200<br/>Foil ≈290
  </td>
</tr>
<tr data-id="mrc alter--en-205-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-205
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/radiant-repudiation-mrc-alter" rel="noopener noreferrer" target="_blank">
          Radiant Repudiation
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">18</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">21</span> <span class="thema-score thema-score-grace" title="GRACE">18</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">25</span> <span class="thema-score thema-score-valor" title="VALOR">21</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">144</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">170</span> <span class="thema-score thema-score-grace" title="GRACE">144</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">200</span> <span class="thema-score thema-score-valor" title="VALOR">168</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈54,200<br/>Foil ≈550
  </td>
</tr>
<tr data-id="mrc alter--en-206-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-206
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/regal-expulsion-mrc-alter" rel="noopener noreferrer" target="_blank">
          Regal Expulsion
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">33</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">30</span> <span class="thema-score thema-score-grace" title="GRACE">29</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">36</span> <span class="thema-score thema-score-valor" title="VALOR">27</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">209</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">190</span> <span class="thema-score thema-score-grace" title="GRACE">183</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">228</span> <span class="thema-score thema-score-valor" title="VALOR">170</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈22,300<br/>Foil ≈380
  </td>
</tr>
<tr data-id="mrc alter--en-207-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-207
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/scathing-seminary-mrc-alter" rel="noopener noreferrer" target="_blank">
          Scathing Seminary
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">25</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">19</span> <span class="thema-score thema-score-grace" title="GRACE">18</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">22</span> <span class="thema-score thema-score-valor" title="VALOR">19</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">200</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">154</span> <span class="thema-score thema-score-grace" title="GRACE">144</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">176</span> <span class="thema-score thema-score-valor" title="VALOR">152</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈54,200<br/>Foil ≈550
  </td>
</tr>
<tr data-id="mrc alter--en-208-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-208
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/shield-fragmentation-mrc-alter" rel="noopener noreferrer" target="_blank">
          Shield Fragmentation
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">18</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">25</span> <span class="thema-score thema-score-grace" title="GRACE">23</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">17</span> <span class="thema-score thema-score-valor" title="VALOR">20</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">144</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">200</span> <span class="thema-score thema-score-grace" title="GRACE">184</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">138</span> <span class="thema-score thema-score-valor" title="VALOR">160</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈54,200<br/>Foil ≈550
  </td>
</tr>
<tr data-id="mrc alter--en-209-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-209
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tend-the-land-mrc-alter" rel="noopener noreferrer" target="_blank">
          Tend the Land
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">26</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">17</span> <span class="thema-score thema-score-grace" title="GRACE">21</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">21</span> <span class="thema-score thema-score-valor" title="VALOR">18</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">210</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">136</span> <span class="thema-score thema-score-grace" title="GRACE">168</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">168</span> <span class="thema-score thema-score-valor" title="VALOR">144</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈54,200<br/>Foil ≈550
  </td>
</tr>
<tr data-id="mrc alter--en-210-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-210
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/vanguards-reversal-mrc-alter" rel="noopener noreferrer" target="_blank">
          Vanguard's Reversal
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">17</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">25</span> <span class="thema-score thema-score-grace" title="GRACE">20</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">20</span> <span class="thema-score thema-score-valor" title="VALOR">21</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">138</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">200</span> <span class="thema-score thema-score-grace" title="GRACE">160</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">160</span> <span class="thema-score thema-score-valor" title="VALOR">168</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈54,200<br/>Foil ≈550
  </td>
</tr>
<tr data-id="mrc alter--en-211-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-211
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/volda-smolders-spite-mrc-alter" rel="noopener noreferrer" target="_blank">
          Volda, Smolder's Spite
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 215 <span class="thema-score thema-score-charm" title="CHARM">49</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">43</span> <span class="thema-score thema-score-grace" title="GRACE">38</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">47</span> <span class="thema-score thema-score-valor" title="VALOR">38</span></span><span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">262</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">230</span> <span class="thema-score thema-score-grace" title="GRACE">204</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">252</span> <span class="thema-score thema-score-valor" title="VALOR">204</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,900<br/>Foil ≈290
  </td>
</tr>
<tr data-id="mrc alter--en-211-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-211
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/volda-smolders-spite-mrc-alter-csr" rel="noopener noreferrer" target="_blank">
          Volda, Smolder's Spite
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,730 <span class="thema-score thema-score-charm" title="CHARM">380</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">352</span> <span class="thema-score thema-score-grace" title="GRACE">310</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">376</span> <span class="thema-score thema-score-valor" title="VALOR">312</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈325
  </td>
</tr>
<tr data-id="mrc alter--en-212-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-212
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/baby-silver-slime-mrc-alter" rel="noopener noreferrer" target="_blank">
          Baby Silver Slime
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">26</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">18</span> <span class="thema-score thema-score-grace" title="GRACE">19</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">21</span> <span class="thema-score thema-score-valor" title="VALOR">19</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">210</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">144</span> <span class="thema-score thema-score-grace" title="GRACE">152</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">168</span> <span class="thema-score thema-score-valor" title="VALOR">152</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈54,200<br/>Foil ≈550
  </td>
</tr>
</tbody>
</table>