<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/AOfXF50NQl.jpg"
      alt="Nia, Mistveiled Scout &ndash; DOA 1st &middot; EN-183"
      style="max-width: 440px;"
    >
    <figcaption>Nia, Mistveiled Scout &ndash; DOA 1st &middot; EN-183</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span><span class="effect__label">Stealth</span> <span class="effect__reminder">(This unit can't be targeted by attacks unless permitted by <span class="effect__label">true sight</span>.)</span>
<span class="effect__label">On Enter:</span> Look at target opponent's memory, then choose any card name. 
Cards with the chosen name cost 1 more to play.
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; You do not need to name a card that you see revealed from the opponent's memory.</span><span class="card-template-stat-values-rule">2022-12-27 &ndash; The cost increase only affects cards that are played, which is a term used to group both activate and materialize.</span><span class="card-template-stat-values-rule">2022-12-27 &ndash; The type of cost increased is based on the card's default cost type. If the affected card has a reserve costs, it costs 1 more reserve. If the affected card has a memory cost, it costs 1 more memory.</span><span class="card-template-stat-values-rule">2022-12-27 &ndash; Nia's cost increasing effect affects all players.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-R">Rare</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hanh Chu</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈4,000</div>
<div>Foil &ndash; ≈127</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/nia-mistveiled-scout-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>