<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/N3mnlKMGOE.jpg"
      alt="Orb of Glitter &ndash; DOA 1st &middot; EN-044"
      style="max-width: 440px;"
    >
    <figcaption>Orb of Glitter &ndash; DOA 1st &middot; EN-044</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          At the beginning of your recollection phase, <span class="effect__label">glimpse 1</span>.
<span class="effect__label">Banish Orb of Glitter:</span> Draw a card.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈2,400</div>
<div>Foil &ndash; ≈109</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/orb-of-glitter-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>