<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/Woa1K0GUWh.jpg"
      alt="Orb of Glitter &ndash; DOAp &middot; EN-020KS"
      style="max-width: 440px;"
    >
    <figcaption>Orb of Glitter &ndash; DOAp &middot; EN-020KS</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOAp_(set)">Dawn of Ashes Prelude</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          At the beginning of your recollection phase, <span class="effect__label">glimpse 1</span>.
<span class="effect__label">Banish Orb of Glitter:</span> Draw a card.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-SR">Super Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈1,250</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/orb-of-glitter-doap-ks">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>