<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/LLgpatiC2S.jpg"
      alt="Orb of Choking Fumes &ndash; DOAp &middot; EN-019"
      style="max-width: 440px;"
    >
    <figcaption>Orb of Choking Fumes &ndash; DOAp &middot; EN-019</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOAp_(set)">Dawn of Ashes Prelude</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Banish Orb of Choking Fumes:</span> Cards your opponents activate this turn costs 1 more to activate. <span class="effect__label">Class Bonus:</span> Draw a card. <span class="effect__reminder">(Apply the additional effect only if your champion's class matches this card's class.)</span>
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; The cost increase only affects cards that are activated, not materialized.</span><span class="card-template-stat-values-rule">2022-12-27 &ndash; The type of cost increased is based on the card's default cost type. In most cases, it will increase reserve cost because it only affects activation costs. However, if a card can be activated from the material deck and has a memory cost as its default cost, the memory cost will increase by 1.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-R">Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈7,500</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/orb-of-choking-fumes-doap">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>