<table>
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: left">Rarity</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td style="text-align: left">
    EN-081
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/dungeon-guide_(card)#doa 1st--en-081-r">
      Dungeon Guide
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈4,000<br/>Foil ≈127
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-038
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/dungeon-guide_(card)#doap--en-038-r">
      Dungeon Guide
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-038KS
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/dungeon-guide_(card)#doap--en-038ks-r">
      Dungeon Guide
    </a>
  </td>
  <td style="text-align: left">
    R
  </td>
  <td style="text-align: right">
    Normal ≈2,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/dungeon-guide_(card)#p22--en-001-pr">
      Dungeon Guide
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Normal ≈1,180<br/>Foil ≈170
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-091
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/honorable-vanguard_(card)#doa 1st--en-091-c">
      Honorable Vanguard
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-044
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/honorable-vanguard_(card)#doap--en-044-c">
      Honorable Vanguard
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈30,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/honorable-vanguard_(card)#demo22--en-013-c">
      Honorable Vanguard
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/honorable-vanguard_(card)#p22--en-002-pr">
      Honorable Vanguard
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Normal ≈3,200<br/>Foil ≈400
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-163
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
    <a href="/bubble-mage_(card)#doa 1st--en-163-u">
      Bubble Mage
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈8,400<br/>Foil ≈141
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
    <a href="/bubble-mage_(card)#p22--en-003-pr">
      Bubble Mage
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Normal ≈1,800<br/>Foil ≈220
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-190
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
    <a href="/sink-into-oblivion_(card)#doa 1st--en-190-u">
      Sink into Oblivion
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈8,400<br/>Foil ≈141
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
    <a href="/sink-into-oblivion_(card)#p22--en-004-pr">
      Sink into Oblivion
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Normal ≈3,000<br/>Foil ≈500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-096
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/kingdom-informant_(card)#doa 1st--en-096-c">
      Kingdom Informant
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/kingdom-informant_(card)#p22--en-005-pr">
      Kingdom Informant
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Normal ≈2,800<br/>Foil ≈250
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-123
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/clumsy-apprentice_(card)#doa 1st--en-123-u">
      Clumsy Apprentice
    </a>
  </td>
  <td style="text-align: left">
    U
  </td>
  <td style="text-align: right">
    Normal ≈8,400<br/>Foil ≈141
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
    <a href="/clumsy-apprentice_(card)#p22--en-006-pr">
      Clumsy Apprentice
    </a>
  </td>
  <td style="text-align: left">
    PR
  </td>
  <td style="text-align: right">
    Normal ≈1,400<br/>Foil ≈200
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-071
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/banner-knight_(card)#doa 1st--en-071-c">
      Banner Knight
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈24,000<br/>Foil ≈157
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-032
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/banner-knight_(card)#doap--en-032-c">
      Banner Knight
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈22,500
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/banner-knight_(card)#demo22--en-010-c">
      Banner Knight
    </a>
  </td>
  <td style="text-align: left">
    C
  </td>
  <td style="text-align: right">
    Normal ≈36,000
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/banner-knight_(card)#p22--en-007-cpr">
      Banner Knight
    </a>
  </td>
  <td style="text-align: left">
    CPR
  </td>
  <td style="text-align: right">
    Foil ≈100
  </td>
</tr>
</tbody>
</table>