<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="p22--en-001-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dungeon-guide-p22" rel="noopener noreferrer" target="_blank">
          Dungeon Guide
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,180<br/>Foil ≈170
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P22/PR/EN-001.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Included in promo packs marked "P22 - 1" given to anyone who purchased merchandise at Anime Expo (1st-4th July 2022) and during the first Discord merchandise event (10th-11th August 2022)</div>
    </div>
  </td>
</tr>
<tr data-id="p22--en-002-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/honorable-vanguard-p22" rel="noopener noreferrer" target="_blank">
          Honorable Vanguard
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈3,200<br/>Foil ≈400
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P22/PR/EN-002.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Given out at Anime Expo (1st-4th July 2022)</div>
    </div>
  </td>
</tr>
<tr data-id="p22--en-003-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/bubble-mage-p22" rel="noopener noreferrer" target="_blank">
          Bubble Mage
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,800<br/>Foil ≈220
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P22/PR/EN-003.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Given out at summer conventions, starting with Anime Expo (1st-4th July 2022)</div>
    </div>
  </td>
</tr>
<tr data-id="p22--en-004-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sink-into-oblivion-p22" rel="noopener noreferrer" target="_blank">
          Sink into Oblivion
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈3,000<br/>Foil ≈500
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P22/PR/EN-004.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Given out through Discord promotions and tournaments from 14th October 2022</div>
    </div>
  </td>
</tr>
<tr data-id="p22--en-005-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/kingdom-informant-p22" rel="noopener noreferrer" target="_blank">
          Kingdom Informant
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,800<br/>Foil ≈250
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P22/PR/EN-005.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Given out at winter conventions, starting with Anime Frontier (2nd-4th December 2022)
The foil version was also given out during a Christmas Discord event</div>
    </div>
  </td>
</tr>
<tr data-id="p22--en-006-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/clumsy-apprentice-p22" rel="noopener noreferrer" target="_blank">
          Clumsy Apprentice
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,400<br/>Foil ≈200
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P22/PR/EN-006.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Included in silver "Clumsy Apprentice" promo packs given to anyone who purchased merchandise at Anime Frontier (2nd-4th December 2022) and on Discord</div>
    </div>
  </td>
</tr>
<tr data-id="p22--en-007-cpr">
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CPR" title="Collector Promo Rare">CPR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/banner-knight-p22" rel="noopener noreferrer" target="_blank">
          Banner Knight
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈100
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P22/CPR/EN-007.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
Awarded to "hand-selected individuals that have been true champions of the Grand Archive and paragons of the community" starting December 2022 and running throughout 2023</div>
    </div>
  </td>
</tr>
</tbody>
</table>