<table>
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: left">Rarity</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/dungeon-guide_(card)#p22--en-001-cr">
      Dungeon Guide
    </a>
  </td>
  <td style="text-align: left">
    CR
  </td>
  <td style="text-align: right">
    Normal ≈1,200 &ndash; Foil ≈150
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
    <a href="/honorable-vanguard_(card)#p22--en-002-cr">
      Honorable Vanguard
    </a>
  </td>
  <td style="text-align: left">
    CR
  </td>
  <td style="text-align: right">
    Foil ≈400 &ndash; Normal ≈3,200
  </td>
</tr>
<tr>
  <td style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
    <a href="/bubble-mage_(card)#p22--en-003-cr">
      Bubble Mage
    </a>
  </td>
  <td style="text-align: left">
    CR
  </td>
  <td style="text-align: right">
    Normal ≈1,800 &ndash; Foil ≈220
  </td>
</tr>
</tbody>
</table>