<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="p23--en-001-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/deflecting-edge-p23" rel="noopener noreferrer" target="_blank">
          Deflecting Edge
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,500<br/>Foil ≈180
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/PR/EN-001.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Included in silver "Merchandise Pack 1" promo packs given to anyone who purchased merchandise at conventions and on Discord between August and November 2023</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-002-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/frostsworn-paladin-p23" rel="noopener noreferrer" target="_blank">
          Frostsworn Paladin
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,500<br/>Foil ≈180
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/PR/EN-002.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Included in silver "Merchandise Pack 1" promo packs given to anyone who purchased merchandise at conventions and on Discord between August and November 2023</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-003-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nullifying-lantern-p23" rel="noopener noreferrer" target="_blank">
          Nullifying Lantern
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal =900<br/>Foil =180
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/PR/EN-003.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Included in silver "Merchandise Pack 1" promo packs given to anyone who purchased merchandise at conventions and on Discord between August and November 2023</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-004-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/scavenging-racoon-p23" rel="noopener noreferrer" target="_blank">
          Scavenging Raccoon
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,500<br/>Foil ≈180
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/PR/EN-004.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Included in silver "Merchandise Pack 1" promo packs given to anyone who purchased merchandise at conventions and on Discord between August and November 2023</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-005-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/imperious-highlander-p23" rel="noopener noreferrer" target="_blank">
          Imperious Highlander
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈7,000<br/>Foil ≈750
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/PR/EN-005.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features printed AX 2023 Exclusive stamp
Given out at Anime Expo (1st-4th July 2023)</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-006-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/inspiring-call-p23" rel="noopener noreferrer" target="_blank">
          Inspiring Call
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal =75<br/>Foil =62
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/PR/EN-006.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">The non-foil version was awarded to anyone with over 40,000 overall score during Path of Silver at Ascent Houston, USA, October 2023
The foil version was awarded to anyone with over 70,000 overall score during Path of Silver at Ascent Houston, USA, October 2023</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-006-cpr">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CPR" title="Collector Promo Rare">CPR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/inspiring-call-p23-cpr" rel="noopener noreferrer" target="_blank">
          Inspiring Call
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil =24
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/CPR/EN-006.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
Awarded to the top 8 collectors for each of the 3 Thema categories in Path of Silver at Ascent Houston, USA, October 2023, with Ascent Charm, Grace or Valor stamps</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-007-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/hasty-messenger-p23" rel="noopener noreferrer" target="_blank">
          Hasty Messenger
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈6,000<br/>Foil ≈3,000
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/PR/EN-007.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">The non-foil version was given to anyone who purchased the Regular Admission package for either Path of Steel or Path of Silver at Ascent Houston, USA, October 2023
The foil version was given to anyone who purchased the Champion's Package for Path of Steel or VIP Package for either Path of Steel or Path of Silver at Ascent Houston, USA, October 2023</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-008-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tide-diviner-p23" rel="noopener noreferrer" target="_blank">
          Tide Diviner
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈128
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/PR/EN-008.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Awarded to the top 32 players in Path of Steel at Ascent Houston, USA, October 2023, with Ascent Houston Top 32 stamp
Awarded to the top 32 players in Path of Steel at Ascent Auckland, New Zealand, December 2023, with Ascent Auckland Top 32 stamp
Awarded to the top 32 players in Path of Steel at Ascent Ontario, USA, February 2024, with Ascent Ontario Top 32 stamp</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-009-cpr">
  <td class="set-list-card-number" style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CPR" title="Collector Promo Rare">CPR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/aithne-spirit-of-fire-p23-houston" rel="noopener noreferrer" target="_blank">
          Aithne, Spirit of Fire
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil =16
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/CPR/EN-009.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
Awarded to the top 8 players in Path of Steel at Ascent Houston, USA, October 2023, with Ascent Houston 1st through 8th stamp
Awarded to the top 8 players in Path of Steel at Ascent Auckland, New Zealand, December 2023, with Ascent Auckland 1st through 8th stamp</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-010-cpr">
  <td class="set-list-card-number" style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CPR" title="Collector Promo Rare">CPR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/morrigan-lost-spirit-p23-houston" rel="noopener noreferrer" target="_blank">
          Morrigan, Lost Spirit
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil =8
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/CPR/EN-010.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
Awarded to the top 8 collectors in Path of Silver at Ascent Houston, USA, October 2023, with Ascent Houston 1st through 8th stamp</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-011-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/prismatic-spirit-p23" rel="noopener noreferrer" target="_blank">
          Prismatic Spirit
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈16,000
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/PR/EN-011.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Included in <span class="dead-link"><a href="/FTC_(set)#starter-kit">Fractured Crown Sealed Kits</a></span></div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-012-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gate-of-alterity-p23" rel="noopener noreferrer" target="_blank">
          Gate of Alterity
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈16,000
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/PR/EN-012.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Included in <span class="dead-link"><a href="/FTC_(set)#starter-kit">Fractured Crown Sealed Kits</a></span></div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-013-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/orb-of-regret-p23" rel="noopener noreferrer" target="_blank">
          Orb of Regret
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈100
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/PR/EN-013.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Dawn of Ashes season Regional and Ascent winner Nationals Entry card
Cards awarded at events in North America have a printed North American Nationals Qualifier stamp
Cards awarded at events in Oceania have a printed Oceania Nationals Qualifier stamp
Cards awarded at events in Southeast Asia have a printed Southeast Asia Nationals Qualifier stamp
Cards awarded at events in other regions have a printed Wildcard Nationals Qualifier stamp</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-014-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/orb-of-glitter-p23" rel="noopener noreferrer" target="_blank">
          Orb of Glitter
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈130
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/PR/EN-014.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Dawn of Ashes season Store Championship winner Nationals Entry card
Cards awarded at events in North America have a printed North American Nationals Qualifier stamp
Cards awarded at events in Oceania have a printed Oceania Nationals Qualifier stamp
Cards awarded at events in Southeast Asia have a printed Southeast Asia Nationals Qualifier stamp
Cards awarded at events in other regions have a printed Wildcard Nationals Qualifier stamp</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-015-cpr">
  <td class="set-list-card-number" style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CPR" title="Collector Promo Rare">CPR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gwendolyn-spirit-of-wind-ontario" rel="noopener noreferrer" target="_blank">
          Gwendolyn, Spirit of Wind
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil =32
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/CPR/EN-015.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
Awarded to the top 8 players in Path of Steel at Ascent Ontario, USA, February 2024, with Ascent Ontario 1st through 8th stamp</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-016-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ordinary-bear-p23" rel="noopener noreferrer" target="_blank">
          Ordinary Bear
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,800<br/>Foil ≈400
  </td>
</tr>
<tr data-id="p23--en-017-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fast-cure-p23" rel="noopener noreferrer" target="_blank">
          Fast Cure
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈64
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/PR/EN-017.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Fractured Crown season Regional and Ascent winner Nationals Entry card
Cards awarded at events in North America have a printed North American Nationals Qualifier stamp
Cards awarded at events in Oceania have a printed Oceania Nationals Qualifier stamp
Cards awarded at events in Southeast Asia have a printed Southeast Asia Nationals Qualifier stamp
Cards awarded at events in other regions have a printed Wildcard Nationals Qualifier stamp</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-018-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tithe-proclamation-p23" rel="noopener noreferrer" target="_blank">
          Tithe Proclamation
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈145
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/PR/EN-018.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Fractured Crown season Store Championship winner Nationals Entry card
Cards awarded at events in North America have a printed North American Nationals Qualifier stamp
Cards awarded at events in Oceania have a printed Oceania Nationals Qualifier stamp
Cards awarded at events in Southeast Asia have a printed Southeast Asia Nationals Qualifier stamp
Cards awarded at events in other regions have a printed Wildcard Nationals Qualifier stamp</div>
    </div>
  </td>
</tr>
<tr data-id="p23--en-019-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/creative-shock-p23" rel="noopener noreferrer" target="_blank">
          Creative Shock
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="p23--en-019-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/creative-shock-p23-csr" rel="noopener noreferrer" target="_blank">
          Creative Shock
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="p23--en-020-cpr">
  <td class="set-list-card-number" style="text-align: left">
    EN-020
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CPR" title="Collector Promo Rare">CPR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sabrina-spirit-of-water-p23-cpr" rel="noopener noreferrer" target="_blank">
          Sabrina, Spirit of Water
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil =36
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P23/CPR/EN-020.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature</div>
    </div>
  </td>
</tr>
</tbody>
</table>