<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="p24--en-001-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/blastshot-pump-p24" rel="noopener noreferrer" target="_blank">
          Blastshot Pump
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-001.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-002-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/bulwark-sword-p24" rel="noopener noreferrer" target="_blank">
          Bulwark Sword
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-002.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-003-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/charged-manaplate-p24" rel="noopener noreferrer" target="_blank">
          Charged Manaplate
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-003.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-004-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/cleric-robes-p24" rel="noopener noreferrer" target="_blank">
          Cleric Robes
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-004.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-005-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/crest-of-the-alliance-p24" rel="noopener noreferrer" target="_blank">
          Crest of the Alliance
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-005.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-006-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/flash-grenade-p24" rel="noopener noreferrer" target="_blank">
          Flash Grenade
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-006.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-007-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ingredient-pouch-p24" rel="noopener noreferrer" target="_blank">
          Ingredient Pouch
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-007.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Included in the ALC Launch Kit distributed to brick and mortar game stores, with Alchemical Revolution stamp</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-008-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/life-essence-amulet-p24" rel="noopener noreferrer" target="_blank">
          Life Essence Amulet
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-008.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-009-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/necklace-of-foresight-p24" rel="noopener noreferrer" target="_blank">
          Necklace of Foresight
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-009.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-010-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/plated-bullet-p24" rel="noopener noreferrer" target="_blank">
          Plated Bullet
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-010.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-011-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/powercharged-shield-p24" rel="noopener noreferrer" target="_blank">
          Powercharged Shield
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-011.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-012-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/prototype-pistol-p24" rel="noopener noreferrer" target="_blank">
          Prototype Pistol
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-012.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Included in the ALC Launch Kit distributed to brick and mortar game stores, with Alchemical Revolution stamp</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-013-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/prototype-staff-p24" rel="noopener noreferrer" target="_blank">
          Prototype Staff
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-013.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-014-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/quickdraw-piercer-p24" rel="noopener noreferrer" target="_blank">
          Quickdraw Piercer
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-014.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-015-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/scale-of-souls-p24" rel="noopener noreferrer" target="_blank">
          Scale of Souls
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-015.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-016-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/synth-disrupter-p24" rel="noopener noreferrer" target="_blank">
          Synth Disrupter
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-016.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-017-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tasershot-p24" rel="noopener noreferrer" target="_blank">
          Tasershot
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-017.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-018-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/worn-gearblade-p24" rel="noopener noreferrer" target="_blank">
          Worn Gearblade
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-018.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Included in the ALC Launch Kit distributed to brick and mortar game stores, with Alchemical Revolution stamp</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-019-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/penetrator-round-p24" rel="noopener noreferrer" target="_blank">
          Penetrator Round
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-019.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-020-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-020
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/deployment-beacon-p24" rel="noopener noreferrer" target="_blank">
          Deployment Beacon
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-020.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-021-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-021
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/cosmic-astroscope-p24" rel="noopener noreferrer" target="_blank">
          Cosmic Astroscope
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-021.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-022-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-022
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/archon-broadsword-p24" rel="noopener noreferrer" target="_blank">
          Archon Broadsword
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-022.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-023-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-023
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sentinel-fabricator-p24" rel="noopener noreferrer" target="_blank">
          Sentinel Fabricator
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-023.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-024-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-024
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/shadows-twin-p24" rel="noopener noreferrer" target="_blank">
          Shadow's Twin
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-024.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-025-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-025
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/backstep-p24" rel="noopener noreferrer" target="_blank">
          Backstep
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-025.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-026-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-026
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/evasive-maneuvers-p24" rel="noopener noreferrer" target="_blank">
          Evasive Maneuvers
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-026.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-027-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-027
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/foraging-servant-p24" rel="noopener noreferrer" target="_blank">
          Foraging Servant
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-027.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-028-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-028
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fortified-mana-shield-p24" rel="noopener noreferrer" target="_blank">
          Fortified Mana Shield
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-028.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-029-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-029
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        6
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/heavy-swing-p24" rel="noopener noreferrer" target="_blank">
          Heavy Swing
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-029.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-030-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-030
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/imperial-recruit-p24" rel="noopener noreferrer" target="_blank">
          Imperial Recruit
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-030.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-031-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-031
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/imperial-rifleman-p24" rel="noopener noreferrer" target="_blank">
          Imperial Rifleman
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-031.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-032-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-032
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/imperial-sentry-p24" rel="noopener noreferrer" target="_blank">
          Imperial Sentry
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-032.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-033-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-033
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/martial-guard-p24" rel="noopener noreferrer" target="_blank">
          Martial Guard
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-033.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-034-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-034
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/materialize-munitions-p24" rel="noopener noreferrer" target="_blank">
          Materialize Munitions
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-034.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-035-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-035
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/novice-mechanist-p24" rel="noopener noreferrer" target="_blank">
          Novice Mechanist
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-035.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-036-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-036
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/stalwart-shieldmate-p24" rel="noopener noreferrer" target="_blank">
          Stalwart Shieldmate
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-036.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Participation award for Store Championship events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-037-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-037
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/take-point-p24" rel="noopener noreferrer" target="_blank">
          Take Point
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-037.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-038-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-038
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/incendiary-shot-p24" rel="noopener noreferrer" target="_blank">
          Incendiary Shot
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-038.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-039-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-039
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/essence-of-blizzards-p24" rel="noopener noreferrer" target="_blank">
          Essence of Blizzards
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-039.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-040-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-040
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/recruitment-officer-p24" rel="noopener noreferrer" target="_blank">
          Recruitment Officer
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-040.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
<tr data-id="p24--en-041-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-041
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/cosmic-bolt-p24" rel="noopener noreferrer" target="_blank">
          Cosmic Bolt
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/P24/PR/EN-041.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Randomly included in sapphire "Alchemical Revolution Event Pack" promo packs given to participants of Regional events during the Alchemical Revolution season (24th January to 17th May 2024)</div>
    </div>
  </td>
</tr>
</tbody>
</table>