<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/s4tuDwxXmt.jpg"
      alt="Power Overwhelming &ndash; DOA 1st &middot; EN-245"
      style="max-width: 440px;"
    >
    <figcaption>Power Overwhelming &ndash; DOA 1st &middot; EN-245</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Remove any amount of <span class="effect__label">enlighten</span> counters from your champion. Your champion gets +1 level for each counter removed this way until end of turn.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈109</div>
<div>Normal &ndash; ≈2,400</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/power-overwhelming-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>