<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/wRbDKcqLjp.jpg"
      alt="Prismatic Edge &ndash; KSP &middot; EN-007"
      style="max-width: 440px;"
    >
    <figcaption>Prismatic Edge &ndash; KSP &middot; EN-007</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/KSP_(set)">Kickstarter Promotional</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span><span class="effect__label">On Enter:</span> Each player reveals all cards in their memory. If a fire element card was revealed, choose a unit and deal 3 damage to it. If a water element card was revealed, draw a card. If a wind element card was revealed, each opponent banishes a card at random from their memory.
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; For each element, the resulting effect is only performed once regardless of how many of that element is revealed. E.g. If five fire cards were revealed, you only get to deal 3 damage to one unit once.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-PR">Promotional Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Foil ≈1,500</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/prismatic-edge-ksp">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>