<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="ptm 1st--en-002-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/alice-distorted-queen-ptm1e-csr" rel="noopener noreferrer" target="_blank">
          Alice, Distorted Queen
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">423</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">335</span> <span class="thema-score thema-score-grace" title="GRACE">328</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">399</span> <span class="thema-score thema-score-valor" title="VALOR">375</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈230
  </td>
</tr>
<tr data-id="ptm 1st--en-003-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/alice-whims-monarch-ptm1e-csr" rel="noopener noreferrer" target="_blank">
          Alice, Whim's Monarch
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">431</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">319</span> <span class="thema-score thema-score-grace" title="GRACE">375</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">336</span> <span class="thema-score thema-score-valor" title="VALOR">399</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈230
  </td>
</tr>
<tr data-id="ptm 1st--en-004-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/alice-phantom-monarch-ptm1e-csr" rel="noopener noreferrer" target="_blank">
          Alice, Phantom Monarch
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">383</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">399</span> <span class="thema-score thema-score-grace" title="GRACE">328</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">415</span> <span class="thema-score thema-score-valor" title="VALOR">335</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈230
  </td>
</tr>
<tr data-id="ptm 1st--en-004-cur">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-CUR" title="Collector Ultra Rare">CUR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/alice-phantom-monarch-ptm1e-cur" rel="noopener noreferrer" target="_blank">
          Alice, Phantom Monarch
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,960 <span class="thema-score thema-score-charm" title="CHARM">461</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">258</span> <span class="thema-score thema-score-grace" title="GRACE">406</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">400</span> <span class="thema-score thema-score-valor" title="VALOR">435</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈72
  </td>
</tr>
<tr data-id="ptm 1st--en-005-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/merlin-memorite-vassal-ptm1e-csr" rel="noopener noreferrer" target="_blank">
          Merlin, Memorite Vassal
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">429</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">315</span> <span class="thema-score thema-score-grace" title="GRACE">372</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">401</span> <span class="thema-score thema-score-valor" title="VALOR">343</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈230
  </td>
</tr>
<tr data-id="ptm 1st--en-006-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/merlin-amethysts-glow-ptm1e-csr" rel="noopener noreferrer" target="_blank">
          Merlin, Amethyst's Glow
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">458</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">315</span> <span class="thema-score thema-score-grace" title="GRACE">429</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">372</span> <span class="thema-score thema-score-valor" title="VALOR">286</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈230
  </td>
</tr>
<tr data-id="ptm 1st--en-007-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/merlin-brilliant-vestige-ptm1e-csr" rel="noopener noreferrer" target="_blank">
          Merlin, Brilliant Vestige
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">486</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">316</span> <span class="thema-score thema-score-grace" title="GRACE">343</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">429</span> <span class="thema-score thema-score-valor" title="VALOR">286</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈230
  </td>
</tr>
<tr data-id="ptm 1st--en-013-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/exalted.png" alt="EXALTED element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lost-providence-ptm1e" rel="noopener noreferrer" target="_blank">
          Lost Providence
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">67</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">62</span> <span class="thema-score thema-score-grace" title="GRACE">70</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">67</span> <span class="thema-score thema-score-valor" title="VALOR">60</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">306</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">283</span> <span class="thema-score thema-score-grace" title="GRACE">320</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">305</span> <span class="thema-score thema-score-valor" title="VALOR">274</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,600<br/>Foil ≈230
  </td>
</tr>
<tr data-id="ptm 1st--en-024-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-024
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/palvor-sword-ptm1e" rel="noopener noreferrer" target="_blank">
          Palvor Sword
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">59</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">72</span> <span class="thema-score thema-score-grace" title="GRACE">59</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">71</span> <span class="thema-score thema-score-valor" title="VALOR">65</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">270</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">326</span> <span class="thema-score thema-score-grace" title="GRACE">270</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">325</span> <span class="thema-score thema-score-valor" title="VALOR">297</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,600<br/>Foil ≈230
  </td>
</tr>
<tr data-id="ptm 1st--en-025-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-025
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/vorpal-sword-ptm1e" rel="noopener noreferrer" target="_blank">
          Vorpal Sword
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">67</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">63</span> <span class="thema-score thema-score-grace" title="GRACE">68</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">65</span> <span class="thema-score thema-score-valor" title="VALOR">63</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">306</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">288</span> <span class="thema-score thema-score-grace" title="GRACE">311</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">295</span> <span class="thema-score thema-score-valor" title="VALOR">288</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,600<br/>Foil ≈230
  </td>
</tr>
<tr data-id="ptm 1st--en-027-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-027
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ticket-to-the-afterlife-ptm1e" rel="noopener noreferrer" target="_blank">
          Ticket to the Afterlife
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">70</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">59</span> <span class="thema-score thema-score-grace" title="GRACE">67</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">71</span> <span class="thema-score thema-score-valor" title="VALOR">59</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">317</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">270</span> <span class="thema-score thema-score-grace" title="GRACE">306</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">325</span> <span class="thema-score thema-score-valor" title="VALOR">270</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,600<br/>Foil ≈230
  </td>
</tr>
<tr data-id="ptm 1st--en-031-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-031
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        7
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/chance-seven-of-spades-ptm1e-csr" rel="noopener noreferrer" target="_blank">
          Chance, Seven of Spades
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">423</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">335</span> <span class="thema-score thema-score-grace" title="GRACE">368</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">359</span> <span class="thema-score thema-score-valor" title="VALOR">375</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="ptm 1st--en-078-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-078
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/bill-chimney-sweep-ptm1e-csr" rel="noopener noreferrer" target="_blank">
          Bill, Chimney Sweep
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">335</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">391</span> <span class="thema-score thema-score-grace" title="GRACE">288</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">527</span> <span class="thema-score thema-score-valor" title="VALOR">319</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="ptm 1st--en-116-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-116
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        6
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/hunt-weiss-king-ptm1e-csr" rel="noopener noreferrer" target="_blank">
          Hunt, Weiss King
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">359</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">319</span> <span class="thema-score thema-score-grace" title="GRACE">360</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">327</span> <span class="thema-score thema-score-valor" title="VALOR">495</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="ptm 1st--en-119-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-119
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        7
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/exalted.png" alt="EXALTED element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/labyrinth-jeweled-opus-ptm1e" rel="noopener noreferrer" target="_blank">
          Labyrinth, Jeweled Opus
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">70</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">59</span> <span class="thema-score thema-score-grace" title="GRACE">68</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">69</span> <span class="thema-score thema-score-valor" title="VALOR">60</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">320</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">270</span> <span class="thema-score thema-score-grace" title="GRACE">311</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">315</span> <span class="thema-score thema-score-valor" title="VALOR">272</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈10,400<br/>Foil ≈230
  </td>
</tr>
<tr data-id="ptm 1st--en-127-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-127
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/treacle-drowned-mouse-ptm1e-csr" rel="noopener noreferrer" target="_blank">
          Treacle, Drowned Mouse
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">407</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">335</span> <span class="thema-score thema-score-grace" title="GRACE">384</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">399</span> <span class="thema-score thema-score-valor" title="VALOR">335</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="ptm 1st--en-150-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-150
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/rowland-schwartz-knight-ptm1e-csr" rel="noopener noreferrer" target="_blank">
          Rowland, Schwartz Knight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">360</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">367</span> <span class="thema-score thema-score-grace" title="GRACE">399</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">335</span> <span class="thema-score thema-score-valor" title="VALOR">399</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="ptm 1st--en-156-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-156
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/turm-schwartz-rook-ptm1e-csr" rel="noopener noreferrer" target="_blank">
          Turm, Schwartz Rook
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">327</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">392</span> <span class="thema-score thema-score-grace" title="GRACE">399</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">327</span> <span class="thema-score thema-score-valor" title="VALOR">415</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="ptm 1st--en-164-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-164
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/aetherial-projection-ptm1e" rel="noopener noreferrer" target="_blank">
          Aetherial Projection
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">69</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">59</span> <span class="thema-score thema-score-grace" title="GRACE">68</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">70</span> <span class="thema-score thema-score-valor" title="VALOR">60</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">315</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">270</span> <span class="thema-score thema-score-grace" title="GRACE">309</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">320</span> <span class="thema-score thema-score-valor" title="VALOR">274</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈10,400<br/>Foil ≈230
  </td>
</tr>
<tr data-id="ptm 1st--en-174-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-174
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/jubjub-bird-mimsy-ghast-ptm1e-csr" rel="noopener noreferrer" target="_blank">
          Jubjub Bird, Mimsy Ghast
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">343</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">400</span> <span class="thema-score thema-score-grace" title="GRACE">391</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">383</span> <span class="thema-score thema-score-valor" title="VALOR">343</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="ptm 1st--en-175-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-175
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/merlin-surreal-figment-ptm1e" rel="noopener noreferrer" target="_blank">
          Merlin, Surreal Figment
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">72</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">59</span> <span class="thema-score thema-score-grace" title="GRACE">65</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">71</span> <span class="thema-score thema-score-valor" title="VALOR">59</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">329</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">270</span> <span class="thema-score thema-score-grace" title="GRACE">297</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">325</span> <span class="thema-score thema-score-valor" title="VALOR">267</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈10,400<br/>Foil ≈230
  </td>
</tr>
<tr data-id="ptm 1st--en-179-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-179
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/awaken-ombre-ptm1e" rel="noopener noreferrer" target="_blank">
          Awaken Ombre
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">59</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">69</span> <span class="thema-score thema-score-grace" title="GRACE">66</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">66</span> <span class="thema-score thema-score-valor" title="VALOR">66</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">267</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">315</span> <span class="thema-score thema-score-grace" title="GRACE">302</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">302</span> <span class="thema-score thema-score-valor" title="VALOR">302</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈10,400<br/>Foil ≈230
  </td>
</tr>
<tr data-id="ptm 1st--en-180-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-180
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/bandersnatch-frumious-foe-ptm1e-csr" rel="noopener noreferrer" target="_blank">
          Bandersnatch, Frumious Foe
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">343</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">431</span> <span class="thema-score thema-score-grace" title="GRACE">343</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">400</span> <span class="thema-score thema-score-valor" title="VALOR">343</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="ptm 1st--en-181-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-181
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/diana-haunt-reminiscence-ptm1e-csr" rel="noopener noreferrer" target="_blank">
          Diana, Haunt Reminiscence
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">391</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">400</span> <span class="thema-score thema-score-grace" title="GRACE">343</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">383</span> <span class="thema-score thema-score-valor" title="VALOR">343</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈270
  </td>
</tr>
<tr data-id="ptm 1st--en-185-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-185
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        8
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/jabberwocky-calamitys-call-ptm1e" rel="noopener noreferrer" target="_blank">
          Jabberwocky, Calamity's Call
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">59</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">81</span> <span class="thema-score thema-score-grace" title="GRACE">59</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">68</span> <span class="thema-score thema-score-valor" title="VALOR">59</span></span><span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">270</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">370</span> <span class="thema-score thema-score-grace" title="GRACE">270</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">308</span> <span class="thema-score thema-score-valor" title="VALOR">270</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈10,400<br/>Foil ≈230
  </td>
</tr>
</tbody>
</table>