<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="ptmevp--en-001-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/beseech-the-winds-ptmevp" rel="noopener noreferrer" target="_blank">
          Beseech the Winds
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 215 <span class="thema-score thema-score-charm" title="CHARM">44</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">32</span> <span class="thema-score thema-score-grace" title="GRACE">50</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">46</span> <span class="thema-score thema-score-valor" title="VALOR">43</span></span><span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">236</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">172</span> <span class="thema-score thema-score-grace" title="GRACE">268</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">246</span> <span class="thema-score thema-score-valor" title="VALOR">230</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈5,300<br/>Foil ≈1,570
  </td>
</tr>
<tr data-id="ptmevp--en-002-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/creative-shock-ptmevp" rel="noopener noreferrer" target="_blank">
          Creative Shock
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">28</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">21</span> <span class="thema-score thema-score-grace" title="GRACE">16</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">21</span> <span class="thema-score thema-score-valor" title="VALOR">17</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">226</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">168</span> <span class="thema-score thema-score-grace" title="GRACE">128</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">168</span> <span class="thema-score thema-score-valor" title="VALOR">136</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈28,500<br/>Foil ≈4,700
  </td>
</tr>
<tr data-id="ptmevp--en-003-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/displace-ptmevp" rel="noopener noreferrer" target="_blank">
          Displace
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">32</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">28</span> <span class="thema-score thema-score-grace" title="GRACE">32</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">34</span> <span class="thema-score thema-score-valor" title="VALOR">29</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">203</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">177</span> <span class="thema-score thema-score-grace" title="GRACE">202</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">215</span> <span class="thema-score thema-score-valor" title="VALOR">183</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈20,000<br/>Foil ≈3,130
  </td>
</tr>
<tr data-id="ptmevp--en-004-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ensnaring-fumes-ptmevp" rel="noopener noreferrer" target="_blank">
          Ensnaring Fumes
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">32</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">30</span> <span class="thema-score thema-score-grace" title="GRACE">31</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">34</span> <span class="thema-score thema-score-valor" title="VALOR">28</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">202</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">190</span> <span class="thema-score thema-score-grace" title="GRACE">196</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">215</span> <span class="thema-score thema-score-valor" title="VALOR">177</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈20,000<br/>Foil ≈3,130
  </td>
</tr>
<tr data-id="ptmevp--en-005-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/erratic-bolt-ptmevp" rel="noopener noreferrer" target="_blank">
          Erratic Bolt
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">32</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">31</span> <span class="thema-score thema-score-grace" title="GRACE">30</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">35</span> <span class="thema-score thema-score-valor" title="VALOR">27</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">202</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">196</span> <span class="thema-score thema-score-grace" title="GRACE">190</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">221</span> <span class="thema-score thema-score-valor" title="VALOR">171</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈20,000<br/>Foil ≈3,130
  </td>
</tr>
<tr data-id="ptmevp--en-006-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/exalted-dorumegian-throne-ptmevp" rel="noopener noreferrer" target="_blank">
          Exalted Dorumegian Throne
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">23</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">34</span> <span class="thema-score thema-score-grace" title="GRACE">30</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">26</span> <span class="thema-score thema-score-valor" title="VALOR">42</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">145</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">215</span> <span class="thema-score thema-score-grace" title="GRACE">190</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">164</span> <span class="thema-score thema-score-valor" title="VALOR">266</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈20,000<br/>Foil ≈3,130
  </td>
</tr>
<tr data-id="ptmevp--en-007-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fire-resonance-bauble-ptmevp" rel="noopener noreferrer" target="_blank">
          Fire Resonance Bauble
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">19</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">24</span> <span class="thema-score thema-score-grace" title="GRACE">18</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">25</span> <span class="thema-score thema-score-valor" title="VALOR">17</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">154</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">192</span> <span class="thema-score thema-score-grace" title="GRACE">144</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">200</span> <span class="thema-score thema-score-valor" title="VALOR">136</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈28,500<br/>Foil ≈4,700
  </td>
</tr>
<tr data-id="ptmevp--en-008-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fractal-of-rain-ptmevp" rel="noopener noreferrer" target="_blank">
          Fractal of Rain
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">29</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">28</span> <span class="thema-score thema-score-grace" title="GRACE">33</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">33</span> <span class="thema-score thema-score-valor" title="VALOR">32</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">183</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">177</span> <span class="thema-score thema-score-grace" title="GRACE">209</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">209</span> <span class="thema-score thema-score-valor" title="VALOR">202</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈20,000<br/>Foil ≈3,130
  </td>
</tr>
<tr data-id="ptmevp--en-009-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/frostbind-ptmevp" rel="noopener noreferrer" target="_blank">
          Frostbind
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">21</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">21</span> <span class="thema-score thema-score-grace" title="GRACE">18</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">26</span> <span class="thema-score thema-score-valor" title="VALOR">17</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">168</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">168</span> <span class="thema-score thema-score-grace" title="GRACE">144</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">210</span> <span class="thema-score thema-score-valor" title="VALOR">136</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈28,500<br/>Foil ≈4,700
  </td>
</tr>
<tr data-id="ptmevp--en-010-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/hasty-messenger-ptmevp" rel="noopener noreferrer" target="_blank">
          Hasty Messenger
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">29</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">18</span> <span class="thema-score thema-score-grace" title="GRACE">18</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">19</span> <span class="thema-score thema-score-valor" title="VALOR">19</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">233</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">145</span> <span class="thema-score thema-score-grace" title="GRACE">144</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">152</span> <span class="thema-score thema-score-valor" title="VALOR">152</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈28,500<br/>Foil ≈4,700
  </td>
</tr>
<tr data-id="ptmevp--en-011-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/luxem.png" alt="LUXEM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lightweavers-assault-ptmevp" rel="noopener noreferrer" target="_blank">
          Lightweaver's Assault
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 215 <span class="thema-score thema-score-charm" title="CHARM">36</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">45</span> <span class="thema-score thema-score-grace" title="GRACE">44</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">47</span> <span class="thema-score thema-score-valor" title="VALOR">43</span></span><span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">193</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">241</span> <span class="thema-score thema-score-grace" title="GRACE">236</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">252</span> <span class="thema-score thema-score-valor" title="VALOR">230</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈5,300<br/>Foil ≈1,570
  </td>
</tr>
<tr data-id="ptmevp--en-012-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/primordial-ritual-ptmevp" rel="noopener noreferrer" target="_blank">
          Primordial Ritual
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">28</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">31</span> <span class="thema-score thema-score-grace" title="GRACE">32</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">36</span> <span class="thema-score thema-score-valor" title="VALOR">28</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">177</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">196</span> <span class="thema-score thema-score-grace" title="GRACE">202</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">228</span> <span class="thema-score thema-score-valor" title="VALOR">177</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈20,000<br/>Foil ≈3,130
  </td>
</tr>
<tr data-id="ptmevp--en-013-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/reclaim-ptmevp" rel="noopener noreferrer" target="_blank">
          Reclaim
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">15</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">20</span> <span class="thema-score thema-score-grace" title="GRACE">22</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">26</span> <span class="thema-score thema-score-valor" title="VALOR">20</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">121</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">160</span> <span class="thema-score thema-score-grace" title="GRACE">176</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">209</span> <span class="thema-score thema-score-valor" title="VALOR">160</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈28,500<br/>Foil ≈4,700
  </td>
</tr>
<tr data-id="ptmevp--en-014-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/revitalizing-cleanse-ptmevp" rel="noopener noreferrer" target="_blank">
          Revitalizing Cleanse
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">24</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">13</span> <span class="thema-score thema-score-grace" title="GRACE">21</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">26</span> <span class="thema-score thema-score-valor" title="VALOR">19</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">193</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">104</span> <span class="thema-score thema-score-grace" title="GRACE">168</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">209</span> <span class="thema-score thema-score-valor" title="VALOR">152</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈28,500<br/>Foil ≈4,700
  </td>
</tr>
<tr data-id="ptmevp--en-015-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tether-in-flames-ptmevp" rel="noopener noreferrer" target="_blank">
          Tether in Flames
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">32</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">37</span> <span class="thema-score thema-score-grace" title="GRACE">29</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">33</span> <span class="thema-score thema-score-valor" title="VALOR">24</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">202</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">234</span> <span class="thema-score thema-score-grace" title="GRACE">183</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">209</span> <span class="thema-score thema-score-valor" title="VALOR">152</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈20,000<br/>Foil ≈3,130
  </td>
</tr>
<tr data-id="ptmevp--en-016-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/luxem.png" alt="LUXEM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/uncover-the-plot-ptmevp" rel="noopener noreferrer" target="_blank">
          Uncover the Plot
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 155 <span class="thema-score thema-score-charm" title="CHARM">28</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">27</span> <span class="thema-score thema-score-grace" title="GRACE">32</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">36</span> <span class="thema-score thema-score-valor" title="VALOR">32</span></span><span class="thema-score-breakdown">Foil 980 <span class="thema-score thema-score-charm" title="CHARM">177</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">171</span> <span class="thema-score thema-score-grace" title="GRACE">202</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">228</span> <span class="thema-score thema-score-valor" title="VALOR">202</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈20,000<br/>Foil ≈3,130
  </td>
</tr>
<tr data-id="ptmevp--en-017-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/varuck-smoldering-spire-ptmevp" rel="noopener noreferrer" target="_blank">
          Varuck, Smoldering Spire
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 215 <span class="thema-score thema-score-charm" title="CHARM">35</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">46</span> <span class="thema-score thema-score-grace" title="GRACE">42</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">50</span> <span class="thema-score thema-score-valor" title="VALOR">42</span></span><span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">188</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">246</span> <span class="thema-score thema-score-grace" title="GRACE">225</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">268</span> <span class="thema-score thema-score-valor" title="VALOR">225</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈5,300<br/>Foil ≈1,570
  </td>
</tr>
<tr data-id="ptmevp--en-018-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/water-resonance-bauble-ptmevp" rel="noopener noreferrer" target="_blank">
          Water Resonance Bauble
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">18</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">17</span> <span class="thema-score thema-score-grace" title="GRACE">22</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">28</span> <span class="thema-score thema-score-valor" title="VALOR">18</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">144</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">136</span> <span class="thema-score thema-score-grace" title="GRACE">176</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">226</span> <span class="thema-score thema-score-valor" title="VALOR">144</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈28,500<br/>Foil ≈4,700
  </td>
</tr>
<tr data-id="ptmevp--en-019-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/wind-resonance-bauble-ptmevp" rel="noopener noreferrer" target="_blank">
          Wind Resonance Bauble
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">20</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">17</span> <span class="thema-score thema-score-grace" title="GRACE">23</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">25</span> <span class="thema-score thema-score-valor" title="VALOR">18</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">160</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">136</span> <span class="thema-score thema-score-grace" title="GRACE">184</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">202</span> <span class="thema-score thema-score-valor" title="VALOR">144</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈28,500<br/>Foil ≈4,700
  </td>
</tr>
<tr data-id="ptmevp--en-020-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-020
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/zephyr-ptmevp" rel="noopener noreferrer" target="_blank">
          Zephyr
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 103 <span class="thema-score thema-score-charm" title="CHARM">19</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">20</span> <span class="thema-score thema-score-grace" title="GRACE">20</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">24</span> <span class="thema-score thema-score-valor" title="VALOR">20</span></span><span class="thema-score-breakdown">Foil 826 <span class="thema-score thema-score-charm" title="CHARM">153</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">160</span> <span class="thema-score thema-score-grace" title="GRACE">160</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">194</span> <span class="thema-score thema-score-valor" title="VALOR">159</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈28,500<br/>Foil ≈4,700
  </td>
</tr>
<tr data-id="ptmevp--en-021-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-021
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/burst-asunder-ptmevp" rel="noopener noreferrer" target="_blank">
          Burst Asunder
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">273</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">188</span> <span class="thema-score thema-score-grace" title="GRACE">252</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">203</span> <span class="thema-score thema-score-valor" title="VALOR">236</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈1,480
  </td>
</tr>
<tr data-id="ptmevp--en-022-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-022
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/false-step-ptmevp" rel="noopener noreferrer" target="_blank">
          False Step
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">268</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">204</span> <span class="thema-score thema-score-grace" title="GRACE">257</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">209</span> <span class="thema-score thema-score-valor" title="VALOR">214</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈1,480
  </td>
</tr>
<tr data-id="ptmevp--en-023-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-023
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/hone-by-fire-ptmevp" rel="noopener noreferrer" target="_blank">
          Hone by Fire
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">268</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">263</span> <span class="thema-score thema-score-grace" title="GRACE">204</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">192</span> <span class="thema-score thema-score-valor" title="VALOR">225</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈1,480
  </td>
</tr>
<tr data-id="ptmevp--en-024-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-024
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/regenerate-ptmevp" rel="noopener noreferrer" target="_blank">
          Regenerate
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">284</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">182</span> <span class="thema-score thema-score-grace" title="GRACE">225</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">247</span> <span class="thema-score thema-score-valor" title="VALOR">214</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈1,480
  </td>
</tr>
<tr data-id="ptmevp--en-025-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-025
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/safeguard-amulet-ptmevp" rel="noopener noreferrer" target="_blank">
          Safeguard Amulet
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">246</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">214</span> <span class="thema-score thema-score-grace" title="GRACE">220</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">258</span> <span class="thema-score thema-score-valor" title="VALOR">214</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈600
  </td>
</tr>
<tr data-id="ptmevp--en-026-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-026
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/scatter-essence-ptmevp" rel="noopener noreferrer" target="_blank">
          Scatter Essence
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,152 <span class="thema-score thema-score-charm" title="CHARM">246</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">210</span> <span class="thema-score thema-score-grace" title="GRACE">252</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">230</span> <span class="thema-score thema-score-valor" title="VALOR">214</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈1,480
  </td>
</tr>
</tbody>
</table>