<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="ptmlgs--en-001-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/arcane-sight-ptmlgs" rel="noopener noreferrer" target="_blank">
          Arcane Sight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">302</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">265</span> <span class="thema-score thema-score-grace" title="GRACE">302</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">331</span> <span class="thema-score thema-score-valor" title="VALOR">288</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈520
  </td>
</tr>
<tr data-id="ptmlgs--en-002-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/astra-sight-ptmlgs" rel="noopener noreferrer" target="_blank">
          Astra Sight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">278</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">288</span> <span class="thema-score thema-score-grace" title="GRACE">273</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">357</span> <span class="thema-score thema-score-valor" title="VALOR">292</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈520
  </td>
</tr>
<tr data-id="ptmlgs--en-003-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/crux-sight-ptmlgs" rel="noopener noreferrer" target="_blank">
          Crux Sight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">297</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">288</span> <span class="thema-score thema-score-grace" title="GRACE">318</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">320</span> <span class="thema-score thema-score-valor" title="VALOR">265</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈520
  </td>
</tr>
<tr data-id="ptmlgs--en-004-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/exia.png" alt="EXIA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/exia-sight-ptmlgs" rel="noopener noreferrer" target="_blank">
          Exia Sight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">274</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">325</span> <span class="thema-score thema-score-grace" title="GRACE">283</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">309</span> <span class="thema-score thema-score-valor" title="VALOR">297</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈520
  </td>
</tr>
<tr data-id="ptmlgs--en-005-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/luxem.png" alt="LUXEM element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/luxem-sight-ptmlgs" rel="noopener noreferrer" target="_blank">
          Luxem Sight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">311</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">274</span> <span class="thema-score thema-score-grace" title="GRACE">274</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">318</span> <span class="thema-score thema-score-valor" title="VALOR">311</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈520
  </td>
</tr>
<tr data-id="ptmlgs--en-006-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/neos-sight-ptmlgs" rel="noopener noreferrer" target="_blank">
          Neos Sight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">315</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">274</span> <span class="thema-score thema-score-grace" title="GRACE">297</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">323</span> <span class="thema-score thema-score-valor" title="VALOR">279</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈520
  </td>
</tr>
<tr data-id="ptmlgs--en-007-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/tera.png" alt="TERA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tera-sight-ptmlgs" rel="noopener noreferrer" target="_blank">
          Tera Sight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">272</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">297</span> <span class="thema-score thema-score-grace" title="GRACE">279</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">320</span> <span class="thema-score thema-score-valor" title="VALOR">320</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈520
  </td>
</tr>
<tr data-id="ptmlgs--en-008-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/umbra.png" alt="UMBRA element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/umbra-sight-ptmlgs" rel="noopener noreferrer" target="_blank">
          Umbra Sight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,488 <span class="thema-score thema-score-charm" title="CHARM">283</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">272</span> <span class="thema-score thema-score-grace" title="GRACE">320</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">320</span> <span class="thema-score thema-score-valor" title="VALOR">293</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈520
  </td>
</tr>
</tbody>
</table>