<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/vlkjVrvkDp.jpg"
      alt="Rai, Spellcrafter &ndash; DOA 1st &middot; EN-007"
      style="max-width: 440px;"
    >
    <figcaption>Rai, Spellcrafter &ndash; DOA 1st &middot; EN-007</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">On Enter:</span> Put two <span class="effect__label">enlighten</span> counters on Rai.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-CUR">Collector Ultra Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">十尾</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Foil =70</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/rai-spellcrafter-doa1e-cur">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>