<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/YhAITKWOxn.jpg"
      alt="Rai, Archmage &ndash; DOA 1st &middot; EN-008"
      style="max-width: 440px;"
    >
    <figcaption>Rai, Archmage &ndash; DOA 1st &middot; EN-008</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Rai Lineage</span>
<span class="effect__label">Inherited Effect:</span> Whenever you activate your first Mage action card each turn, put an <span class="effect__label">enlighten</span> counter on your champion.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hori</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; =70</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/rai-archmage-doa1e-cur">view this card on Grand Archive Index</a>.
  </p>
</div>