<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/n1R4he95hm.jpg"
      alt="Rai, Storm Seer &ndash; KSP &middot; EN-003"
      style="max-width: 440px;"
    >
    <figcaption>Rai, Storm Seer &ndash; KSP &middot; EN-003</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/KSP_(set)">Kickstarter Promotional</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Rai Lineage</span>
Rai gets +1 level for each arcane element Mage Spell card in your banishment.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-PR">Promotional Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">Hori</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Foil ≈2,600</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/rai-storm-seer-ksp">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>