<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="rdoevp--en-001-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/battlefield-spotter-rdoevp" rel="noopener noreferrer" target="_blank">
          Battlefield Spotter
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-002-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/convoking-slime-rdoevp" rel="noopener noreferrer" target="_blank">
          Convoking Slime
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-003-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dematerialize-rdoevp" rel="noopener noreferrer" target="_blank">
          Dematerialize
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-004-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dissuading-halt-rdoevp" rel="noopener noreferrer" target="_blank">
          Dissuading Halt
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-005-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dormant-sacrificial-altar-rdoevp" rel="noopener noreferrer" target="_blank">
          Dormant Sacrificial Altar
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-006-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/eternal-magistrate-rdoevp" rel="noopener noreferrer" target="_blank">
          Eternal Magistrate
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-007-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/expel-the-departed-rdoevp" rel="noopener noreferrer" target="_blank">
          Expel the Departed
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-008-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fractal-of-creation-rdoevp" rel="noopener noreferrer" target="_blank">
          Fractal of Creation
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-009-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fracturize-rdoevp" rel="noopener noreferrer" target="_blank">
          Fracturize
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-010-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        6
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/geldus-terror-of-dorumegia-rdoevp" rel="noopener noreferrer" target="_blank">
          Geldus, Terror of Dorumegia
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-011-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gentle-respite-rdoevp" rel="noopener noreferrer" target="_blank">
          Gentle Respite
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-012-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/ghosts-of-pendragon-rdoevp" rel="noopener noreferrer" target="_blank">
          Ghosts of Pendragon
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-013-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/inzali-unshackled-blaze-rdoevp" rel="noopener noreferrer" target="_blank">
          Inzali, Unshackled Blaze
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-014-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/raze-the-land-rdoevp" rel="noopener noreferrer" target="_blank">
          Raze the Land
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-015-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sanctum-of-esoteric-truth-rdoevp" rel="noopener noreferrer" target="_blank">
          Sanctum of Esoteric Truth
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-016-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/scout-the-land-rdoevp" rel="noopener noreferrer" target="_blank">
          Scout the Land
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-017-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/shatter-the-brittle-rdoevp" rel="noopener noreferrer" target="_blank">
          Shatter the Brittle
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-018-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/spurn-to-ash-rdoevp" rel="noopener noreferrer" target="_blank">
          Spurn to Ash
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-019-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/storm-of-thorns-rdoevp" rel="noopener noreferrer" target="_blank">
          Storm of Thorns
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-020-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-020
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/unbroken-mustang-rdoevp" rel="noopener noreferrer" target="_blank">
          Unbroken Mustang
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-021-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-021
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/censer-of-restful-peace-rdoevp" rel="noopener noreferrer" target="_blank">
          Censer of Restful Peace
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-022-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-022
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/diffusive-block-rdoevp" rel="noopener noreferrer" target="_blank">
          Diffusive Block
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-023-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-023
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fairy-whispers-rdoevp" rel="noopener noreferrer" target="_blank">
          Fairy Whispers
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-024-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-024
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/harness-lightning-rdoevp" rel="noopener noreferrer" target="_blank">
          Harness Lightning
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-025-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-025
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/reduce-to-ash-rdoevp" rel="noopener noreferrer" target="_blank">
          Reduce to Ash
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr data-id="rdoevp--en-026-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-026
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/woodland-squirrels-rdoevp" rel="noopener noreferrer" target="_blank">
          Woodland Squirrels
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
</tbody>
</table>