<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="rec-aur--en-001-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/flawless-spirit-of-mordred-rec-aur" rel="noopener noreferrer" target="_blank">
          Flawless Spirit of Mordred
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 233 <span class="thema-score thema-score-charm" title="CHARM">43</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">42</span> <span class="thema-score thema-score-grace" title="GRACE">51</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">46</span> <span class="thema-score thema-score-valor" title="VALOR">51</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-002-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/mordred-burnished-avenger-rec-aur" rel="noopener noreferrer" target="_blank">
          Mordred, Burnished Avenger
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 233 <span class="thema-score thema-score-charm" title="CHARM">45</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">46</span> <span class="thema-score thema-score-grace" title="GRACE">49</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">41</span> <span class="thema-score thema-score-valor" title="VALOR">52</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-003-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/mordred-flawless-blade-rec-aur" rel="noopener noreferrer" target="_blank">
          Mordred, Flawless Blade
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">13</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">13</span> <span class="thema-score thema-score-grace" title="GRACE">13</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">13</span> <span class="thema-score thema-score-valor" title="VALOR">13</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-004-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/exalted.png" alt="EXALTED element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/mordred-fated-luminary-rec-aur" rel="noopener noreferrer" target="_blank">
          Mordred, Fated Luminary
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 233 <span class="thema-score thema-score-charm" title="CHARM">45</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">44</span> <span class="thema-score thema-score-grace" title="GRACE">46</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">41</span> <span class="thema-score thema-score-valor" title="VALOR">57</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-005-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/luxem.png" alt="LUXEM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/mordred-aurelian-regent-rec-aur" rel="noopener noreferrer" target="_blank">
          Mordred, Aurelian Regent
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 233 <span class="thema-score thema-score-charm" title="CHARM">44</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">44</span> <span class="thema-score thema-score-grace" title="GRACE">42</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">43</span> <span class="thema-score thema-score-valor" title="VALOR">60</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-006-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/drawn-blade-rec-aur" rel="noopener noreferrer" target="_blank">
          Drawn Blade
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">29</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">36</span> <span class="thema-score thema-score-grace" title="GRACE">38</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">31</span> <span class="thema-score thema-score-valor" title="VALOR">33</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-007-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dummy-trainer-rec-aur" rel="noopener noreferrer" target="_blank">
          Dummy Trainer
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">32</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">37</span> <span class="thema-score thema-score-grace" title="GRACE">34</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">34</span> <span class="thema-score thema-score-valor" title="VALOR">30</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-008-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/exalted.png" alt="EXALTED element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/rhongomiant-groves-spire-rec-aur" rel="noopener noreferrer" target="_blank">
          Rhongomiant, Grove's Spire
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 233 <span class="thema-score thema-score-charm" title="CHARM">41</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">52</span> <span class="thema-score thema-score-grace" title="GRACE">42</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">46</span> <span class="thema-score thema-score-valor" title="VALOR">52</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-009-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/safeguard-amulet-rec-aur" rel="noopener noreferrer" target="_blank">
          Safeguard Amulet
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">19</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">25</span> <span class="thema-score thema-score-grace" title="GRACE">21</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">24</span> <span class="thema-score thema-score-valor" title="VALOR">23</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-010-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sword-of-seeking-rec-aur" rel="noopener noreferrer" target="_blank">
          Sword of Seeking
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">19</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">25</span> <span class="thema-score thema-score-grace" title="GRACE">21</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">24</span> <span class="thema-score thema-score-valor" title="VALOR">23</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-011-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tariff-ring-rec-aur" rel="noopener noreferrer" target="_blank">
          Tariff Ring
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">25</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">20</span> <span class="thema-score thema-score-grace" title="GRACE">24</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">24</span> <span class="thema-score thema-score-valor" title="VALOR">19</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-012-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/mirrordepths-blade-rec-aur" rel="noopener noreferrer" target="_blank">
          Mirrordepth's Blade
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">28</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">36</span> <span class="thema-score thema-score-grace" title="GRACE">36</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">34</span> <span class="thema-score thema-score-valor" title="VALOR">33</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-013-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/exalted.png" alt="EXALTED element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dauntless-assault-rec-aur" rel="noopener noreferrer" target="_blank">
          Dauntless Assault
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">18</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">26</span> <span class="thema-score thema-score-grace" title="GRACE">23</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">19</span> <span class="thema-score thema-score-valor" title="VALOR">26</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-014-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/deflecting-edge-rec-aur" rel="noopener noreferrer" target="_blank">
          Deflecting Edge
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">11</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">16</span> <span class="thema-score thema-score-grace" title="GRACE">15</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">11</span> <span class="thema-score thema-score-valor" title="VALOR">12</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-015-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dungeon-guide-rec-aur" rel="noopener noreferrer" target="_blank">
          Dungeon Guide
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">38</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">27</span> <span class="thema-score thema-score-grace" title="GRACE">33</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">35</span> <span class="thema-score thema-score-valor" title="VALOR">34</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-016-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/exalted.png" alt="EXALTED element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gildas-faesworn-monarch-rec-aur" rel="noopener noreferrer" target="_blank">
          Gildas, Faesworn Monarch
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">71</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">59</span> <span class="thema-score thema-score-grace" title="GRACE">64</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">68</span> <span class="thema-score thema-score-valor" title="VALOR">64</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-016-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/exalted.png" alt="EXALTED element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gildas-faesworn-monarch-rec-aur-csr" rel="noopener noreferrer" target="_blank">
          Gildas, Faesworn Monarch
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">405</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">337</span> <span class="thema-score thema-score-grace" title="GRACE">365</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">388</span> <span class="thema-score thema-score-valor" title="VALOR">365</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈315
  </td>
</tr>
<tr data-id="rec-aur--en-017-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/inspiring-call-rec-aur" rel="noopener noreferrer" target="_blank">
          Inspiring Call
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">12</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">11</span> <span class="thema-score thema-score-grace" title="GRACE">16</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">10</span> <span class="thema-score thema-score-valor" title="VALOR">16</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-018-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/invigorated-slash-rec-aur" rel="noopener noreferrer" target="_blank">
          Invigorated Slash
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">10</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">16</span> <span class="thema-score thema-score-grace" title="GRACE">16</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">10</span> <span class="thema-score thema-score-valor" title="VALOR">13</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-019-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/safeguard-paragon-rec-aur" rel="noopener noreferrer" target="_blank">
          Safeguard Paragon
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">19</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">25</span> <span class="thema-score thema-score-grace" title="GRACE">20</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">22</span> <span class="thema-score thema-score-valor" title="VALOR">26</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-020-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-020
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/savage-slash-rec-aur" rel="noopener noreferrer" target="_blank">
          Savage Slash
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">13</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">13</span> <span class="thema-score thema-score-grace" title="GRACE">13</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">13</span> <span class="thema-score thema-score-valor" title="VALOR">13</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-021-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-021
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        6
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/sudden-steel-rec-aur" rel="noopener noreferrer" target="_blank">
          Sudden Steel
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">10</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">16</span> <span class="thema-score thema-score-grace" title="GRACE">16</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">10</span> <span class="thema-score thema-score-valor" title="VALOR">13</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-022-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-022
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/training-dummy-rec-aur" rel="noopener noreferrer" target="_blank">
          Training Dummy
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">13</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">15</span> <span class="thema-score thema-score-grace" title="GRACE">11</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">10</span> <span class="thema-score thema-score-valor" title="VALOR">16</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-023-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-023
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/trickster-of-the-fae-realm-rec-aur" rel="noopener noreferrer" target="_blank">
          Trickster of the Fae Realm
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">37</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">31</span> <span class="thema-score thema-score-grace" title="GRACE">33</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">37</span> <span class="thema-score thema-score-valor" title="VALOR">29</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-024-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-024
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/warrior-of-the-fae-realm-rec-aur" rel="noopener noreferrer" target="_blank">
          Warrior of the Fae Realm
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">36</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">35</span> <span class="thema-score thema-score-grace" title="GRACE">31</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">34</span> <span class="thema-score thema-score-valor" title="VALOR">31</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-025-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-025
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dredging-streams-rec-aur" rel="noopener noreferrer" target="_blank">
          Dredging Streams
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">14</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">16</span> <span class="thema-score thema-score-grace" title="GRACE">10</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">15</span> <span class="thema-score thema-score-valor" title="VALOR">10</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-026-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-026
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/drenching-finish-rec-aur" rel="noopener noreferrer" target="_blank">
          Drenching Finish
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">10</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">16</span> <span class="thema-score thema-score-grace" title="GRACE">12</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">15</span> <span class="thema-score thema-score-valor" title="VALOR">12</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-027-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-027
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/freezing-hail-rec-aur" rel="noopener noreferrer" target="_blank">
          Freezing Hail
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">10</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">16</span> <span class="thema-score thema-score-grace" title="GRACE">13</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">15</span> <span class="thema-score thema-score-valor" title="VALOR">11</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-028-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-028
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/frostbind-rec-aur" rel="noopener noreferrer" target="_blank">
          Frostbind
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">21</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">24</span> <span class="thema-score thema-score-grace" title="GRACE">21</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">26</span> <span class="thema-score thema-score-valor" title="VALOR">20</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-029-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-029
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/frostsworn-paladin-rec-aur" rel="noopener noreferrer" target="_blank">
          Frostsworn Paladin
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">27</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">17</span> <span class="thema-score thema-score-grace" title="GRACE">20</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">25</span> <span class="thema-score thema-score-valor" title="VALOR">23</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-030-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-030
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lakereaving-chill-rec-aur" rel="noopener noreferrer" target="_blank">
          Lakereaving Chill
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">28</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">37</span> <span class="thema-score thema-score-grace" title="GRACE">33</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">36</span> <span class="thema-score thema-score-valor" title="VALOR">33</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-031-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-031
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/regulus-blitz-rec-aur" rel="noopener noreferrer" target="_blank">
          Regulus Blitz
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 233 <span class="thema-score thema-score-charm" title="CHARM">41</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">52</span> <span class="thema-score thema-score-grace" title="GRACE">45</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">43</span> <span class="thema-score thema-score-valor" title="VALOR">52</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-032-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-032
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/snow-fairy-rec-aur" rel="noopener noreferrer" target="_blank">
          Snow Fairy
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">42</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">24</span> <span class="thema-score thema-score-grace" title="GRACE">33</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">39</span> <span class="thema-score thema-score-valor" title="VALOR">29</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-033-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-033
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/striking-tides-rec-aur" rel="noopener noreferrer" target="_blank">
          Striking Tides
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">19</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">25</span> <span class="thema-score thema-score-grace" title="GRACE">22</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">23</span> <span class="thema-score thema-score-valor" title="VALOR">23</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
<tr data-id="rec-aur--en-034-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-034
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/luxem.png" alt="LUXEM element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/luminescent-slash-rec-aur" rel="noopener noreferrer" target="_blank">
          Luminescent Slash
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 233 <span class="thema-score thema-score-charm" title="CHARM">41</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">53</span> <span class="thema-score thema-score-grace" title="GRACE">43</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">51</span> <span class="thema-score thema-score-valor" title="VALOR">45</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈15,000
  </td>
</tr>
</tbody>
</table>