<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="rec-brv--en-001-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/spirit-of-water-rec-brv" rel="noopener noreferrer" target="_blank">
          Spirit of Water
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">11</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">13</span> <span class="thema-score thema-score-grace" title="GRACE">13</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">15</span> <span class="thema-score thema-score-valor" title="VALOR">13</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈17,000
  </td>
</tr>
<tr data-id="rec-brv--en-002-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/merlin-memorite-vassal-rec-brv" rel="noopener noreferrer" target="_blank">
          Merlin, Memorite Vassal
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">15</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">11</span> <span class="thema-score thema-score-grace" title="GRACE">13</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">14</span> <span class="thema-score thema-score-valor" title="VALOR">12</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈17,000
  </td>
</tr>
<tr data-id="rec-brv--en-003-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/merlin-amethysts-glow-rec-brv" rel="noopener noreferrer" target="_blank">
          Merlin, Amethyst's Glow
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">16</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">11</span> <span class="thema-score thema-score-grace" title="GRACE">15</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">13</span> <span class="thema-score thema-score-valor" title="VALOR">10</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈17,000
  </td>
</tr>
<tr data-id="rec-brv--en-004-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/merlin-brilliant-vestige-rec-brv" rel="noopener noreferrer" target="_blank">
          Merlin, Brilliant Vestige
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">17</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">11</span> <span class="thema-score thema-score-grace" title="GRACE">12</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">15</span> <span class="thema-score thema-score-valor" title="VALOR">10</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈17,000
  </td>
</tr>
<tr data-id="rec-brv--en-005-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/assassins-mantle-rec-brv" rel="noopener noreferrer" target="_blank">
          Assassin's Mantle
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">38</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">28</span> <span class="thema-score thema-score-grace" title="GRACE">36</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">35</span> <span class="thema-score thema-score-valor" title="VALOR">30</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈17,000
  </td>
</tr>
<tr data-id="rec-brv--en-006-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/life-essence-amulet-rec-brv" rel="noopener noreferrer" target="_blank">
          Life Essence Amulet
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">17</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">9</span> <span class="thema-score thema-score-grace" title="GRACE">14</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">16</span> <span class="thema-score thema-score-valor" title="VALOR">9</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈17,000
  </td>
</tr>
<tr data-id="rec-brv--en-007-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/poisoned-dagger-rec-brv" rel="noopener noreferrer" target="_blank">
          Poisoned Dagger
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">24</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">22</span> <span class="thema-score thema-score-grace" title="GRACE">23</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">24</span> <span class="thema-score thema-score-valor" title="VALOR">19</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈17,000
  </td>
</tr>
<tr data-id="rec-brv--en-008-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/prismspire-scepter-rec-brv" rel="noopener noreferrer" target="_blank">
          Prismspire Scepter
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">35</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">31</span> <span class="thema-score thema-score-grace" title="GRACE">33</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">39</span> <span class="thema-score thema-score-valor" title="VALOR">29</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈17,000
  </td>
</tr>
<tr data-id="rec-brv--en-009-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/proto-key-crest-rec-brv" rel="noopener noreferrer" target="_blank">
          Proto Key Crest
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">36</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">29</span> <span class="thema-score thema-score-grace" title="GRACE">35</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">36</span> <span class="thema-score thema-score-valor" title="VALOR">31</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈17,000
  </td>
</tr>
<tr data-id="rec-brv--en-010-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/shardforged-blade-rec-brv" rel="noopener noreferrer" target="_blank">
          Shardforged Blade
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">31</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">38</span> <span class="thema-score thema-score-grace" title="GRACE">32</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">36</span> <span class="thema-score thema-score-valor" title="VALOR">30</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈17,000
  </td>
</tr>
<tr data-id="rec-brv--en-011-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/tariff-ring-rec-brv" rel="noopener noreferrer" target="_blank">
          Tariff Ring
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">16</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">10</span> <span class="thema-score thema-score-grace" title="GRACE">16</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">13</span> <span class="thema-score thema-score-valor" title="VALOR">10</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈17,000
  </td>
</tr>
<tr data-id="rec-brv--en-012-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/luminous-quartz-rec-brv" rel="noopener noreferrer" target="_blank">
          Luminous Quartz
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 233 <span class="thema-score thema-score-charm" title="CHARM">45</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">52</span> <span class="thema-score thema-score-grace" title="GRACE">42</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">52</span> <span class="thema-score thema-score-valor" title="VALOR">42</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈17,000
  </td>
</tr>
<tr data-id="rec-brv--en-013-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/another-beginning-rec-brv" rel="noopener noreferrer" target="_blank">
          Another Beginning
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">36</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">30</span> <span class="thema-score thema-score-grace" title="GRACE">36</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">35</span> <span class="thema-score thema-score-valor" title="VALOR">30</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-014-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/converge-reflections-rec-brv" rel="noopener noreferrer" target="_blank">
          Converge Reflections
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">28</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">38</span> <span class="thema-score thema-score-grace" title="GRACE">31</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">40</span> <span class="thema-score thema-score-valor" title="VALOR">30</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-015-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/crystalline-reality-rec-brv" rel="noopener noreferrer" target="_blank">
          Crystalline Reality
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">23</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">24</span> <span class="thema-score thema-score-grace" title="GRACE">20</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">26</span> <span class="thema-score thema-score-valor" title="VALOR">19</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-016-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dormouse-informant-rec-brv" rel="noopener noreferrer" target="_blank">
          Dormouse Informant
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">26</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">18</span> <span class="thema-score thema-score-grace" title="GRACE">22</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">26</span> <span class="thema-score thema-score-valor" title="VALOR">20</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-017-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/find-the-lost-rec-brv" rel="noopener noreferrer" target="_blank">
          Find the Lost
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">13</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">18</span> <span class="thema-score thema-score-grace" title="GRACE">11</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">13</span> <span class="thema-score thema-score-valor" title="VALOR">10</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-018-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        null
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fractured-memories-rec-brv" rel="noopener noreferrer" target="_blank">
          Fractured Memories
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">16</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">10</span> <span class="thema-score thema-score-grace" title="GRACE">13</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">16</span> <span class="thema-score thema-score-valor" title="VALOR">10</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-019-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gentle-respite-rec-brv" rel="noopener noreferrer" target="_blank">
          Gentle Respite
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">29</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">18</span> <span class="thema-score thema-score-grace" title="GRACE">26</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">19</span> <span class="thema-score thema-score-valor" title="VALOR">20</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-020-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-020
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lost-being-rec-brv" rel="noopener noreferrer" target="_blank">
          Lost Being
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">13</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">16</span> <span class="thema-score thema-score-grace" title="GRACE">11</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">15</span> <span class="thema-score thema-score-valor" title="VALOR">10</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-021-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-021
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/memorite-blade-rec-brv" rel="noopener noreferrer" target="_blank">
          Memorite Blade
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">11</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">16</span> <span class="thema-score thema-score-grace" title="GRACE">13</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">15</span> <span class="thema-score thema-score-valor" title="VALOR">10</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-022-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-022
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/memorite-obelith-rec-brv" rel="noopener noreferrer" target="_blank">
          Memorite Obelith
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">13</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">14</span> <span class="thema-score thema-score-grace" title="GRACE">11</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">16</span> <span class="thema-score thema-score-valor" title="VALOR">11</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-023-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-023
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/memorite-shardwing-rec-brv" rel="noopener noreferrer" target="_blank">
          Memorite Shardwing
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">18</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">9</span> <span class="thema-score thema-score-grace" title="GRACE">12</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">15</span> <span class="thema-score thema-score-valor" title="VALOR">11</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-024-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-024
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/obelith-escort-rec-brv" rel="noopener noreferrer" target="_blank">
          Obelith Escort
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">22</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">24</span> <span class="thema-score thema-score-grace" title="GRACE">19</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">26</span> <span class="thema-score thema-score-valor" title="VALOR">21</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-025b-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-025B
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/overlapping-visages-rec-brv-b" rel="noopener noreferrer" target="_blank">
          Overlapping Visages
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈34,000
  </td>
</tr>
<tr data-id="rec-brv--en-025a-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-025A
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/overlapping-visages-rec-brv-a" rel="noopener noreferrer" target="_blank">
          Overlapping Visages
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">13</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">15</span> <span class="thema-score thema-score-grace" title="GRACE">10</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">16</span> <span class="thema-score thema-score-valor" title="VALOR">11</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈34,000<br/>Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-026-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-026
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/protect-her-at-all-costs-rec-brv" rel="noopener noreferrer" target="_blank">
          Protect Her At All Costs
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">29</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">36</span> <span class="thema-score thema-score-grace" title="GRACE">33</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">31</span> <span class="thema-score thema-score-valor" title="VALOR">38</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-027-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-027
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/return-to-the-archive-rec-brv" rel="noopener noreferrer" target="_blank">
          Return to the Archive
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">25</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">19</span> <span class="thema-score thema-score-grace" title="GRACE">23</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">26</span> <span class="thema-score thema-score-valor" title="VALOR">19</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-028-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-028
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/shardwing-searchlight-rec-brv" rel="noopener noreferrer" target="_blank">
          Shardwing Searchlight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">36</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">28</span> <span class="thema-score thema-score-grace" title="GRACE">32</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">40</span> <span class="thema-score thema-score-valor" title="VALOR">31</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-029-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-029
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/undeniable-truth-rec-brv" rel="noopener noreferrer" target="_blank">
          Undeniable Truth
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">13</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">16</span> <span class="thema-score thema-score-grace" title="GRACE">10</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">16</span> <span class="thema-score thema-score-valor" title="VALOR">10</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-030-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-030
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/quiet-refraction-rec-brv" rel="noopener noreferrer" target="_blank">
          Quiet Refraction
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">16</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">9</span> <span class="thema-score thema-score-grace" title="GRACE">13</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">15</span> <span class="thema-score thema-score-valor" title="VALOR">12</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-031-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-031
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/seep-into-the-mind-rec-brv" rel="noopener noreferrer" target="_blank">
          Seep Into the Mind
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">31</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">36</span> <span class="thema-score thema-score-grace" title="GRACE">33</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">37</span> <span class="thema-score thema-score-valor" title="VALOR">30</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-032-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-032
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/shattered-hope-rec-brv" rel="noopener noreferrer" target="_blank">
          Shattered Hope
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">12</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">16</span> <span class="thema-score thema-score-grace" title="GRACE">11</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">16</span> <span class="thema-score thema-score-valor" title="VALOR">10</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-033-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-033
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/stand-before-the-queen-rec-brv" rel="noopener noreferrer" target="_blank">
          Stand Before the Queen
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">29</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">36</span> <span class="thema-score thema-score-grace" title="GRACE">30</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">38</span> <span class="thema-score thema-score-valor" title="VALOR">34</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-034-c">
  <td class="set-list-card-number" style="text-align: left">
    EN-034
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-C" title="Common">C</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/will-to-save-rec-brv" rel="noopener noreferrer" target="_blank">
          Will to Save
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 65 <span class="thema-score thema-score-charm" title="CHARM">16</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">10</span> <span class="thema-score thema-score-grace" title="GRACE">13</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">15</span> <span class="thema-score thema-score-valor" title="VALOR">11</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-035-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-035
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/dualitys-convergence-rec-brv" rel="noopener noreferrer" target="_blank">
          Duality's Convergence
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 233 <span class="thema-score thema-score-charm" title="CHARM">41</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">47</span> <span class="thema-score thema-score-grace" title="GRACE">47</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">55</span> <span class="thema-score thema-score-valor" title="VALOR">43</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-036-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-036
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        6
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/materialize-the-soul-rec-brv" rel="noopener noreferrer" target="_blank">
          Materialize the Soul
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">64</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">69</span> <span class="thema-score thema-score-grace" title="GRACE">62</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">71</span> <span class="thema-score thema-score-valor" title="VALOR">60</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-037-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-037
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/possessed-reaping-rec-brv" rel="noopener noreferrer" target="_blank">
          Possessed Reaping
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 233 <span class="thema-score thema-score-charm" title="CHARM">43</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">54</span> <span class="thema-score thema-score-grace" title="GRACE">45</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">49</span> <span class="thema-score thema-score-valor" title="VALOR">42</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈68,000
  </td>
</tr>
<tr data-id="rec-brv--en-038-ur">
  <td class="set-list-card-number" style="text-align: left">
    EN-038
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <abbr class="card-rarity-label card-rarity-label-UR" title="Ultra Rare">UR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/spirit-blade-terminus-rec-brv" rel="noopener noreferrer" target="_blank">
          Spirit Blade: Terminus
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 326 <span class="thema-score thema-score-charm" title="CHARM">59</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">74</span> <span class="thema-score thema-score-grace" title="GRACE">66</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">63</span> <span class="thema-score thema-score-valor" title="VALOR">64</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈17,000
  </td>
</tr>
<tr data-id="rec-brv--en-038-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-038
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/crux.png" alt="CRUX element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/spirit-blade-terminus-rec-brv-csr" rel="noopener noreferrer" target="_blank">
          Spirit Blade: Terminus
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,860 <span class="thema-score thema-score-charm" title="CHARM">337</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">422</span> <span class="thema-score thema-score-grace" title="GRACE">377</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">359</span> <span class="thema-score thema-score-valor" title="VALOR">365</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈355
  </td>
</tr>
</tbody>
</table>