<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/aKBLFcgUVY.jpg"
      alt="Reckless Conversion &ndash; DOAp &middot; EN-106KS"
      style="max-width: 440px;"
    >
    <figcaption>Reckless Conversion &ndash; DOAp &middot; EN-106KS</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOAp_(set)">Dawn of Ashes Prelude</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Draw two cards into your memory then banish four cards at random from it.
<span class="effect__bubble">Class Bonus</span>Return all cards from your memory to your hand. <span class="effect__reminder">(Apply this effect only if your champion's class matches this card's class.)</span>
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-SR">Super Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈1,250</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/reckless-conversion-doap-ks">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>