<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/bykfREmIYx.jpg"
      alt="Restorative Slash &ndash; DOA 1st &middot; EN-185"
      style="max-width: 440px;"
    >
    <figcaption>Restorative Slash &ndash; DOA 1st &middot; EN-185</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">On Attack: Recover 3</span>. <span class="effect__reminder"> (To <span class="effect__label">recover</span>, remove that many damage counters from your champion.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈157</div>
<div>Normal &ndash; ≈24,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/restorative-slash-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>