<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/uciVVe1Lzv.jpg"
      alt="Revitalizing Cleanse &ndash; DOA 1st &middot; EN-186"
      style="max-width: 440px;"
    >
    <figcaption>Revitalizing Cleanse &ndash; DOA 1st &middot; EN-186</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Reveal all cards in your memory. <span class="effect__label">Recover X</span> where <span class="effect__label">X</span> is the amount of water element cards revealed this way. Draw a card. <span class="effect__reminder">(To <span class="effect__label">recover</span>, remove that many damage counters from your champion.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-C">Common</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈24,000</div>
<div>Foil &ndash; ≈157</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/revitalizing-cleanse-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>