<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/CIitqQbXmj.jpg"
      alt="Scattering Gusts &ndash; DOA 1st &middot; EN-221"
      style="max-width: 440px;"
    >
    <figcaption>Scattering Gusts &ndash; DOA 1st &middot; EN-221</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Suppress</span> up to two target allies. <span class="effect__reminder">(To <span class="effect__label">suppress</span> an ally, banish it and return it to the field under its owner's control at the beginning of the next end phase.)</span>
<span class="effect__bubble">Class Bonus</span>Put an <span class="effect__label">enlighten</span> counter on your champion.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-R">Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈4,000</div>
<div>Foil ≈127</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/scattering-gusts-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>