<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/mLsQ49MEEH.jpg"
      alt="Scry the Skies &ndash; DOAp &middot; EN-057"
      style="max-width: 440px;"
    >
    <figcaption>Scry the Skies &ndash; DOAp &middot; EN-057</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOAp_(set)">Dawn of Ashes Prelude</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Glimpse LV</span>. Draw a card into your memory. <span class="effect__reminder">(To <span class="effect__label">glimpse</span>, look at that many cards from the top of your deck. Put those cards back on the top or on the bottom of your deck in any order.)</span>
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-C">Common</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈60,000</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/scry-the-skies-doap">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>