<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/1ydDsSao23.jpg"
      alt="Second Wind &ndash; DOA 1st &middot; EN-222"
      style="max-width: 440px;"
    >
    <figcaption>Second Wind &ndash; DOA 1st &middot; EN-222</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Wake up target ally. <span class="effect__label">Class Bonus:</span> That ally gets +1<span class="effect__icon effect__icon--sword"></span> until end of turn. <span class="effect__reminder">(Apply the additional effect only if your champion's class matches this card's class.)</span>
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-U">Uncommon</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈8,400</div>
<div>Foil ≈141</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/second-wind-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>