<p>This card is part of the <a href="/DOApSP_(set)">Silvie Previews</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/FNzSiF5sdt.jpg"
      alt="Seed of Nature &ndash; DOApSP &middot; EN-000"
      style="max-width: 440px;"
    >
    <figcaption>Seed of Nature &ndash; DOApSP &middot; EN-000</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Seed of Nature enters the field rested.
<span class="effect__label">On Enter:</span> Your champion gets +2 level until end of turn.
<span class="effect__bubble">Class Bonus</span><span class="effect__icon effect__icon--rest"></span><span class="effect__label">, Banish Crystal of Nature:</span> Your champion gets +2 level until end of turn.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-SR">Super Rare</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/seed-of-nature-doapsp">view this card on Grand Archive Index</a>.
  </p>
</div>