<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/5dnNqK3KZU.jpg"
      alt="Seed of Nature &ndash; DOAp &middot; EN-031"
      style="max-width: 440px;"
    >
    <figcaption>Seed of Nature &ndash; DOAp &middot; EN-031</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOAp_(set)">Dawn of Ashes Prelude</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Seed of Nature enters the field rested.
<span class="effect__label">On Enter:</span> Your champion gets +2 level until end of turn.
<span class="effect__bubble">Class Bonus</span><span class="effect__icon effect__icon--rest"></span><span class="effect__label">, Banish Crystal of Nature:</span> Your champion gets +2 level until end of turn.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-SR">Super Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈7,500</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/seed-of-nature-doap">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>