<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/0beAgM1UT6.jpg"
      alt="Sharpening Stone &ndash; DOA 1st &middot; EN-052"
      style="max-width: 440px;"
    >
    <figcaption>Sharpening Stone &ndash; DOA 1st &middot; EN-052</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Banish Sharpening Stone:</span> Up to one target Dagger or Sword weapon you control gets +1<span class="effect__icon effect__icon--sword"></span> until end of turn. Draw a card.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈157</div>
<div>Normal &ndash; ≈24,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/sharpening-stone-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>