<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/Iv7LtURffY.jpg"
      alt="Silvie, Earth's Tune &ndash; DOA 1st &middot; EN-012"
      style="max-width: 440px;"
    >
    <figcaption>Silvie, Earth's Tune &ndash; DOA 1st &middot; EN-012</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Silvie Lineage</span> <span class="effect__reminder">(Silvie, Earth's Tune must be leveled from a previous level "Silvie" champion.)</span>
<span class="effect__label">On Enter:</span> Reveal cards from the top of your deck until you reveal a tera element Animal or Beast ally card. Put that card into your hand and the rest on the bottom of your deck in a random order.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-C">Common</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">Kumai</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈12,500</div>
<div>Foil ≈157</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/silvie-earths-tune-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>