<p>This card is part of the <a href="/DOApSP_(set)">Silvie Previews</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/QefBxAEoEC.jpg"
      alt="Silvie, Wilds Whisperer &ndash; DOApSP &middot; EN-010"
      style="max-width: 440px;"
    >
    <figcaption>Silvie, Wilds Whisperer &ndash; DOApSP &middot; EN-010</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">On Enter:</span> The next Animal or Beast ally card you activate this turn enters the field with an additional <span class="effect__label">buff</span> counter on it. <span class="effect__reminder">(Allies get +1 power and +1 life for each <span class="effect__label">buff</span> counter on them.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Kumai</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/silvie-wilds-whisperer-doapsp">view this card on Grand Archive Index</a>.
  </p>
</div>