<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/ZJlM2O8m8r.jpg"
      alt="Silvie, With the Pack &ndash; DOApSP &middot; EN-011"
      style="max-width: 440px;"
    >
    <figcaption>Silvie, With the Pack &ndash; DOApSP &middot; EN-011</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOApSP_(set)">Silvie Previews</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Silvie Lineage</span> <span class="effect__reminder">(Silvie, With the Pack must be leveled from a previous level "Silvie" champion.)</span>
<span class="effect__label">On Enter:</span> If you control an Animal ally, draw a card. If you control a Beast ally, draw a card.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-C">Common</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">Kumai</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/silvie-with-the-pack-doapsp">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>