<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/TehAgfflE3.jpg"
      alt="Silvie, Loved by All &ndash; DOAp &middot; EN-009"
      style="max-width: 440px;"
    >
    <figcaption>Silvie, Loved by All &ndash; DOAp &middot; EN-009</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOAp_(set)">Dawn of Ashes Prelude</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Silvie Lineage</span> <span class="effect__reminder">(Silvie, Loved by All must be leveled from a previous level "Silvie" champion.)</span>
Animal and Beast allies you control get +1<span class="effect__icon effect__icon--heart"></span> and have <span class="effect__label">intercept</span>.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-C">Common</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">砂木烟</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈7,500</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/silvie-loved-by-all-doap">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>