<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/D9UsW03VXK.jpg"
      alt="Silvie, With the Pack &ndash; DOA 1st &middot; EN-011"
      style="max-width: 440px;"
    >
    <figcaption>Silvie, With the Pack &ndash; DOA 1st &middot; EN-011</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Silvie Lineage</span>
<span class="effect__label">On Enter:</span> If you control an Animal ally, draw a card. If you control a Beast ally, draw a card.
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; If you control both an Animal and a Beast during the resolution of the On Enter effect, you will draw two cards.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-CUR">Collector Ultra Rare</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Kumai</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; =70</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/silvie-with-the-pack-doa1e-cur">view this card on Grand Archive Index</a>.
  </p>
</div>