<p>This card is part of the <a href="/P22_(set)">Promotional 2022</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/GwFYbuvGp5.jpg"
      alt="Sink into Oblivion &ndash; P22 &middot; EN-004"
      style="max-width: 440px;"
    >
    <figcaption>Sink into Oblivion &ndash; P22 &middot; EN-004</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Target player puts the top three cards of their deck into their graveyard.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Kumai</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈3,000</div>
<div>Foil &ndash; ≈500</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/sink-into-oblivion-p22">view this card on Grand Archive Index</a>.
  </p>
</div>