<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="slc--cn-001-pr">
  <td class="set-list-card-number" style="text-align: left">
    CN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/allied-warpriestess-slc" rel="noopener noreferrer" target="_blank">
          Allied Warpriestess
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,170<br/>Foil ≈140
  </td>
</tr>
<tr data-id="slc--cn-002-pr">
  <td class="set-list-card-number" style="text-align: left">
    CN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/backstep-slc" rel="noopener noreferrer" target="_blank">
          Backstep
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,170<br/>Foil ≈140
  </td>
</tr>
<tr data-id="slc--cn-003-pr">
  <td class="set-list-card-number" style="text-align: left">
    CN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/cremation-ritual-slc" rel="noopener noreferrer" target="_blank">
          Cremation Ritual
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,170<br/>Foil ≈140
  </td>
</tr>
<tr data-id="slc--cn-003-cpr">
  <td class="set-list-card-number" style="text-align: left">
    CN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CPR" title="Collector Promo Rare">CPR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/cremation-ritual-slc-cpr" rel="noopener noreferrer" target="_blank">
          Cremation Ritual
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈100
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/SLC/CPR/CN-003.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 50 pack chance of pulling one of the 4 CSRs in this set</div>
    </div>
  </td>
</tr>
<tr data-id="slc--cn-004-pr">
  <td class="set-list-card-number" style="text-align: left">
    CN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/force-load-slc" rel="noopener noreferrer" target="_blank">
          Force Load
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,170<br/>Foil ≈140
  </td>
</tr>
<tr data-id="slc--cn-005-pr">
  <td class="set-list-card-number" style="text-align: left">
    CN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/healing-aura-slc" rel="noopener noreferrer" target="_blank">
          Healing Aura
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,170<br/>Foil ≈140
  </td>
</tr>
<tr data-id="slc--cn-006-pr">
  <td class="set-list-card-number" style="text-align: left">
    CN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/hypothermia-slc" rel="noopener noreferrer" target="_blank">
          Hypothermia
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,170<br/>Foil ≈140
  </td>
</tr>
<tr data-id="slc--cn-006-cpr">
  <td class="set-list-card-number" style="text-align: left">
    CN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CPR" title="Collector Promo Rare">CPR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/hypothermia-slc-cpr" rel="noopener noreferrer" target="_blank">
          Hypothermia
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈100
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/SLC/CPR/CN-006.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 50 pack chance of pulling one of the 4 CSRs in this set</div>
    </div>
  </td>
</tr>
<tr data-id="slc--cn-007-pr">
  <td class="set-list-card-number" style="text-align: left">
    CN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/imperial-recruit-slc" rel="noopener noreferrer" target="_blank">
          Imperial Recruit
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,170<br/>Foil ≈140
  </td>
</tr>
<tr data-id="slc--cn-008-pr">
  <td class="set-list-card-number" style="text-align: left">
    CN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/increasing-danger-slc" rel="noopener noreferrer" target="_blank">
          Increasing Danger
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,170<br/>Foil ≈140
  </td>
</tr>
<tr data-id="slc--cn-008-cpr">
  <td class="set-list-card-number" style="text-align: left">
    CN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CPR" title="Collector Promo Rare">CPR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/increasing-danger-slc-cpr" rel="noopener noreferrer" target="_blank">
          Increasing Danger
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈100
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/SLC/CPR/CN-008.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 50 pack chance of pulling one of the 4 CSRs in this set</div>
    </div>
  </td>
</tr>
<tr data-id="slc--cn-009-pr">
  <td class="set-list-card-number" style="text-align: left">
    CN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lurking-assailant-slc" rel="noopener noreferrer" target="_blank">
          Lurking Assailant
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,170<br/>Foil ≈140
  </td>
</tr>
<tr data-id="slc--cn-010-pr">
  <td class="set-list-card-number" style="text-align: left">
    CN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/navigate-the-streets-slc" rel="noopener noreferrer" target="_blank">
          Navigate the Streets
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,170<br/>Foil ≈140
  </td>
</tr>
<tr data-id="slc--cn-011-pr">
  <td class="set-list-card-number" style="text-align: left">
    CN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/potion-of-healing-slc" rel="noopener noreferrer" target="_blank">
          Potion of Healing
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,170<br/>Foil ≈140
  </td>
</tr>
<tr data-id="slc--cn-012-pr">
  <td class="set-list-card-number" style="text-align: left">
    CN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/resolute-stand-slc" rel="noopener noreferrer" target="_blank">
          Resolute Stand
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,170<br/>Foil ≈140
  </td>
</tr>
<tr data-id="slc--cn-012-cpr">
  <td class="set-list-card-number" style="text-align: left">
    CN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CPR" title="Collector Promo Rare">CPR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/resolute-stand-slc-cpr" rel="noopener noreferrer" target="_blank">
          Resolute Stand
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈100
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/SLC/CPR/CN-012.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 50 pack chance of pulling one of the 4 CSRs in this set</div>
    </div>
  </td>
</tr>
<tr data-id="slc--cn-013-pr">
  <td class="set-list-card-number" style="text-align: left">
    CN-013
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/study-the-fables-slc" rel="noopener noreferrer" target="_blank">
          Study the Fables
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,170<br/>Foil ≈140
  </td>
</tr>
<tr data-id="slc--cn-014-pr">
  <td class="set-list-card-number" style="text-align: left">
    CN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/varuckan-acolyte-slc" rel="noopener noreferrer" target="_blank">
          Varuckan Acolyte
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,170<br/>Foil ≈140
  </td>
</tr>
<tr data-id="slc--cn-015-pr">
  <td class="set-list-card-number" style="text-align: left">
    CN-015
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/windrider-vanguard-slc" rel="noopener noreferrer" target="_blank">
          Windrider Vanguard
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈1,170<br/>Foil ≈140
  </td>
</tr>
</tbody>
</table>