<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/allied-warpriestess-slc" rel="noopener noreferrer" target="_blank">
          Allied Warpriestess
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/backstep-slc" rel="noopener noreferrer" target="_blank">
          Backstep
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/cremation-ritual-slc" rel="noopener noreferrer" target="_blank">
          Cremation Ritual
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CPR" title="Collector Promo Rare">CPR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/cremation-ritual-slc-csr" rel="noopener noreferrer" target="_blank">
          Cremation Ritual
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/force-load-slc" rel="noopener noreferrer" target="_blank">
          Force Load
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CPR" title="Collector Promo Rare">CPR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/healing-aura-slc" rel="noopener noreferrer" target="_blank">
          Healing Aura
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/hypothermia-slc" rel="noopener noreferrer" target="_blank">
          Hypothermia
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/hypothermia-slc-csr" rel="noopener noreferrer" target="_blank">
          Hypothermia
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/imperial-recruit-slc" rel="noopener noreferrer" target="_blank">
          Imperial Recruit
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/increasing-danger-slc" rel="noopener noreferrer" target="_blank">
          Increasing Danger
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-CPR" title="Collector Promo Rare">CPR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/increasing-danger-slc-csr" rel="noopener noreferrer" target="_blank">
          Increasing Danger
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/lurking-assailant-slc" rel="noopener noreferrer" target="_blank">
          Lurking Assailant
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/navigate-the-streets-slc" rel="noopener noreferrer" target="_blank">
          Navigate the Streets
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/potion-of-healing-slc" rel="noopener noreferrer" target="_blank">
          Potion of Healing
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/resolute-stand-slc" rel="noopener noreferrer" target="_blank">
          Resolute Stand
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CPR" title="Collector Promo Rare">CPR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/resolute-stand-slc-csr" rel="noopener noreferrer" target="_blank">
          Resolute Stand
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-013
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/study-the-fables-slc" rel="noopener noreferrer" target="_blank">
          Study the Fables
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/varuckan-acolyte-slc" rel="noopener noreferrer" target="_blank">
          Varuckan Acolyte
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
<tr>
  <td class="set-list-card-number" style="text-align: left">
    CN-015
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/windrider-vanguard-slc" rel="noopener noreferrer" target="_blank">
          Windrider Vanguard
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    
  </td>
</tr>
</tbody>
</table>