<table class="set-list">
<thead>
  <tr>
    <th style="text-align: left">Number</th>
    <th style="text-align: left">Name</th>
    <th style="text-align: right">Population</th>
  </tr>
</thead>
<tbody>
  <tr data-id="sp1--en-001-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-001
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        11
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/arcane-blast-sp1" rel="noopener noreferrer" target="_blank">
          Arcane Blast
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 233 <span class="thema-score thema-score-charm" title="CHARM">48</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">50</span> <span class="thema-score thema-score-grace" title="GRACE">40</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">60</span> <span class="thema-score thema-score-valor" title="VALOR">35</span></span><span class="thema-score-breakdown">Foil 1,246 <span class="thema-score thema-score-charm" title="CHARM">257</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">267</span> <span class="thema-score thema-score-grace" title="GRACE">214</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">321</span> <span class="thema-score thema-score-valor" title="VALOR">187</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈8,000<br/>Foil ≈600
  </td>
</tr>
<tr data-id="sp1--en-002-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-002
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/barrier-servant-sp1" rel="noopener noreferrer" target="_blank">
          Barrier Servant
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">40</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">26</span> <span class="thema-score thema-score-grace" title="GRACE">32</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">38</span> <span class="thema-score thema-score-valor" title="VALOR">31</span></span><span class="thema-score-breakdown">Foil 1,060 <span class="thema-score thema-score-charm" title="CHARM">254</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">165</span> <span class="thema-score thema-score-grace" title="GRACE">203</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">241</span> <span class="thema-score thema-score-valor" title="VALOR">197</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈14,000<br/>Foil ≈900
  </td>
</tr>
<tr data-id="sp1--en-003-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-003
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/blitz-mage-sp1" rel="noopener noreferrer" target="_blank">
          Blitz Mage
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">23</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">24</span> <span class="thema-score thema-score-grace" title="GRACE">20</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">26</span> <span class="thema-score thema-score-valor" title="VALOR">19</span></span><span class="thema-score-breakdown">Foil 893 <span class="thema-score thema-score-charm" title="CHARM">185</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">191</span> <span class="thema-score thema-score-grace" title="GRACE">159</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">207</span> <span class="thema-score thema-score-valor" title="VALOR">151</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈40,000<br/>Foil ≈1,200
  </td>
</tr>
<tr data-id="sp1--en-004-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/cemetery-sentry-sp1" rel="noopener noreferrer" target="_blank">
          Cemetery Sentry
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">35</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">36</span> <span class="thema-score thema-score-grace" title="GRACE">30</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">33</span> <span class="thema-score thema-score-valor" title="VALOR">33</span></span><span class="thema-score-breakdown">Foil 1,060 <span class="thema-score thema-score-charm" title="CHARM">223</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">229</span> <span class="thema-score thema-score-grace" title="GRACE">190</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">209</span> <span class="thema-score thema-score-valor" title="VALOR">209</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈14,000<br/>Foil ≈900
  </td>
</tr>
<tr data-id="sp1--en-005-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-005
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/esteemed-knight-sp1" rel="noopener noreferrer" target="_blank">
          Esteemed Knight
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">24</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">20</span> <span class="thema-score thema-score-grace" title="GRACE">25</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">18</span> <span class="thema-score thema-score-valor" title="VALOR">25</span></span><span class="thema-score-breakdown">Foil 893 <span class="thema-score thema-score-charm" title="CHARM">191</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">160</span> <span class="thema-score thema-score-grace" title="GRACE">199</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">144</span> <span class="thema-score thema-score-valor" title="VALOR">199</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈40,000<br/>Foil ≈1,200
  </td>
</tr>
<tr data-id="sp1--en-006-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-006
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fireball-sp1" rel="noopener noreferrer" target="_blank">
          Fireball
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">34</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">36</span> <span class="thema-score thema-score-grace" title="GRACE">31</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">38</span> <span class="thema-score thema-score-valor" title="VALOR">28</span></span><span class="thema-score-breakdown">Foil 1,061 <span class="thema-score thema-score-charm" title="CHARM">216</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">229</span> <span class="thema-score thema-score-grace" title="GRACE">197</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">241</span> <span class="thema-score thema-score-valor" title="VALOR">178</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈14,000<br/>Foil ≈900
  </td>
</tr>
<tr data-id="sp1--en-007-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-007
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/fishing-accident-sp1" rel="noopener noreferrer" target="_blank">
          Fishing Accident
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">31</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">35</span> <span class="thema-score thema-score-grace" title="GRACE">33</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">36</span> <span class="thema-score thema-score-valor" title="VALOR">32</span></span><span class="thema-score-breakdown">Foil 1,060 <span class="thema-score thema-score-charm" title="CHARM">197</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">222</span> <span class="thema-score thema-score-grace" title="GRACE">209</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">229</span> <span class="thema-score thema-score-valor" title="VALOR">203</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈14,000<br/>Foil ≈900
  </td>
</tr>
<tr data-id="sp1--en-008-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/freezing-hail-sp1" rel="noopener noreferrer" target="_blank">
          Freezing Hail
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">30</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">34</span> <span class="thema-score thema-score-grace" title="GRACE">33</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">39</span> <span class="thema-score thema-score-valor" title="VALOR">31</span></span><span class="thema-score-breakdown">Foil 1,060 <span class="thema-score thema-score-charm" title="CHARM">190</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">216</span> <span class="thema-score thema-score-grace" title="GRACE">209</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">248</span> <span class="thema-score thema-score-valor" title="VALOR">197</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈14,000<br/>Foil ≈900
  </td>
</tr>
<tr data-id="sp1--en-009-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-009
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gildas-chronicler-of-aesa-sp1-csr" rel="noopener noreferrer" target="_blank">
          Gildas, Chronicler of Aesa
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,400 <span class="thema-score thema-score-charm" title="CHARM">340</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">210</span> <span class="thema-score thema-score-grace" title="GRACE">270</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">310</span> <span class="thema-score thema-score-valor" title="VALOR">270</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈160
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/SP1/CSR/EN-009.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 25 box (1 in 200 pack) chance of pulling one of the 4 CSRs in this set</div>
    </div>
  </td>
</tr>
<tr data-id="sp1--en-010-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-010
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/hurricane-sweep-sp1" rel="noopener noreferrer" target="_blank">
          Hurricane Sweep
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 233 <span class="thema-score thema-score-charm" title="CHARM">44</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">50</span> <span class="thema-score thema-score-grace" title="GRACE">48</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">45</span> <span class="thema-score thema-score-valor" title="VALOR">46</span></span><span class="thema-score-breakdown">Foil 1,246 <span class="thema-score thema-score-charm" title="CHARM">235</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">267</span> <span class="thema-score thema-score-grace" title="GRACE">257</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">241</span> <span class="thema-score thema-score-valor" title="VALOR">246</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈8,000<br/>Foil ≈600
  </td>
</tr>
<tr data-id="sp1--en-011-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-011
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/nimue-cursed-touch-sp1-csr" rel="noopener noreferrer" target="_blank">
          Nimue, Cursed Touch
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,400 <span class="thema-score thema-score-charm" title="CHARM">320</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">220</span> <span class="thema-score thema-score-grace" title="GRACE">270</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">330</span> <span class="thema-score thema-score-valor" title="VALOR">260</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈160
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/SP1/CSR/EN-011.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 25 box (1 in 200 pack) chance of pulling one of the 4 CSRs in this set</div>
    </div>
  </td>
</tr>
<tr data-id="sp1--en-012-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-012
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/reclaim-sp1" rel="noopener noreferrer" target="_blank">
          Reclaim
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">31</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">28</span> <span class="thema-score thema-score-grace" title="GRACE">36</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">38</span> <span class="thema-score thema-score-valor" title="VALOR">34</span></span><span class="thema-score-breakdown">Foil 1,060 <span class="thema-score thema-score-charm" title="CHARM">197</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">178</span> <span class="thema-score thema-score-grace" title="GRACE">229</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">240</span> <span class="thema-score thema-score-valor" title="VALOR">216</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈14,000<br/>Foil ≈900
  </td>
</tr>
<tr data-id="sp1--en-013-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-013
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/rending-flames-sp1" rel="noopener noreferrer" target="_blank">
          Rending Flames
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 233 <span class="thema-score thema-score-charm" title="CHARM">40</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">52</span> <span class="thema-score thema-score-grace" title="GRACE">46</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">48</span> <span class="thema-score thema-score-valor" title="VALOR">47</span></span><span class="thema-score-breakdown">Foil 1,246 <span class="thema-score thema-score-charm" title="CHARM">214</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">278</span> <span class="thema-score thema-score-grace" title="GRACE">246</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">257</span> <span class="thema-score thema-score-valor" title="VALOR">251</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈8,000<br/>Foil ≈600
  </td>
</tr>
<tr data-id="sp1--en-014-sr">
  <td class="set-list-card-number" style="text-align: left">
    EN-014
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-SR" title="Super Rare">SR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/snow-fairy-sp1" rel="noopener noreferrer" target="_blank">
          Snow Fairy
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 233 <span class="thema-score thema-score-charm" title="CHARM">50</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">43</span> <span class="thema-score thema-score-grace" title="GRACE">48</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">48</span> <span class="thema-score thema-score-valor" title="VALOR">44</span></span><span class="thema-score-breakdown">Foil 1,246 <span class="thema-score thema-score-charm" title="CHARM">267</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">230</span> <span class="thema-score thema-score-grace" title="GRACE">257</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">257</span> <span class="thema-score thema-score-valor" title="VALOR">235</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈8,000<br/>Foil ≈600
  </td>
</tr>
<tr data-id="sp1--en-015-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-015
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/stillwater-patrol-sp1" rel="noopener noreferrer" target="_blank">
          Stillwater Patrol
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">23</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">20</span> <span class="thema-score thema-score-grace" title="GRACE">22</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">21</span> <span class="thema-score thema-score-valor" title="VALOR">26</span></span><span class="thema-score-breakdown">Foil 893 <span class="thema-score thema-score-charm" title="CHARM">183</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">160</span> <span class="thema-score thema-score-grace" title="GRACE">175</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">168</span> <span class="thema-score thema-score-valor" title="VALOR">207</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈40,000<br/>Foil ≈1,200
  </td>
</tr>
<tr data-id="sp1--en-016-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-016
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/swift-recruit-sp1" rel="noopener noreferrer" target="_blank">
          Swift Recruit
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">25</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">20</span> <span class="thema-score thema-score-grace" title="GRACE">23</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">20</span> <span class="thema-score thema-score-valor" title="VALOR">24</span></span><span class="thema-score-breakdown">Foil 893 <span class="thema-score thema-score-charm" title="CHARM">199</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">160</span> <span class="thema-score thema-score-grace" title="GRACE">183</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">160</span> <span class="thema-score thema-score-valor" title="VALOR">191</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈40,000<br/>Foil ≈1,200
  </td>
</tr>
<tr data-id="sp1--en-017-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-017
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/luxem.png" alt="LUXEM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/triskit-guidance-angel-sp1-csr" rel="noopener noreferrer" target="_blank">
          Triskit, Guidance Angel
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,400 <span class="thema-score thema-score-charm" title="CHARM">310</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">230</span> <span class="thema-score thema-score-grace" title="GRACE">300</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">260</span> <span class="thema-score thema-score-valor" title="VALOR">300</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈160
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/SP1/CSR/EN-017.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 25 box (1 in 200 pack) chance of pulling one of the 4 CSRs in this set</div>
    </div>
  </td>
</tr>
<tr data-id="sp1--en-018-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-018
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        5
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/veteran-soldier-sp1" rel="noopener noreferrer" target="_blank">
          Veteran Soldier
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">23</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">21</span> <span class="thema-score thema-score-grace" title="GRACE">23</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">20</span> <span class="thema-score thema-score-valor" title="VALOR">25</span></span><span class="thema-score-breakdown">Foil 891 <span class="thema-score thema-score-charm" title="CHARM">183</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">167</span> <span class="thema-score thema-score-grace" title="GRACE">183</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">159</span> <span class="thema-score thema-score-valor" title="VALOR">199</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈40,000<br/>Foil ≈1,200
  </td>
</tr>
<tr data-id="sp1--en-019-u">
  <td class="set-list-card-number" style="text-align: left">
    EN-019
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/woodland-squirrels-sp1" rel="noopener noreferrer" target="_blank">
          Woodland Squirrels
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 112 <span class="thema-score thema-score-charm" title="CHARM">30</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">16</span> <span class="thema-score thema-score-grace" title="GRACE">21</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">24</span> <span class="thema-score thema-score-valor" title="VALOR">21</span></span><span class="thema-score-breakdown">Foil 892 <span class="thema-score thema-score-charm" title="CHARM">239</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">128</span> <span class="thema-score thema-score-grace" title="GRACE">167</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">191</span> <span class="thema-score thema-score-valor" title="VALOR">167</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈40,000<br/>Foil ≈1,200
  </td>
</tr>
<tr data-id="sp1--en-020-csr">
  <td class="set-list-card-number" style="text-align: left">
    EN-020
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/luxem.png" alt="LUXEM element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/zander-blinding-steel-sp1-csr" rel="noopener noreferrer" target="_blank">
          Zander, Blinding Steel
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Foil 1,400 <span class="thema-score thema-score-charm" title="CHARM">240</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">290</span> <span class="thema-score thema-score-grace" title="GRACE">310</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">240</span> <span class="thema-score thema-score-valor" title="VALOR">320</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈160
  </td>
</tr><tr class="set-list-card-obtain-method-row">
  <td colspan="3">
    <div class="set-list-card-obtain-method-row-content">
      <div class="set-list-card-obtain-method-row-content-image" role="presentation" style="background-image: url('https://img.silvie.org/cdn/cards/SP1/CSR/EN-020.jpg')"></div>
      <div class="set-list-card-obtain-method-row-content-text">Features a stamped artist signature
There is a 1 in 25 box (1 in 200 pack) chance of pulling one of the 4 CSRs in this set</div>
    </div>
  </td>
</tr>
<tr data-id="sp1--en-021-r">
  <td class="set-list-card-number" style="text-align: left">
    EN-021
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-R" title="Rare">R</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/zephyr-sp1" rel="noopener noreferrer" target="_blank">
          Zephyr
        </a>
      </span>
    </div>
    <div class="set-list-thema-score" title="Thema score">
  <span class="thema-score-breakdown">Normal 167 <span class="thema-score thema-score-charm" title="CHARM">36</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">31</span> <span class="thema-score thema-score-grace" title="GRACE">30</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">38</span> <span class="thema-score thema-score-valor" title="VALOR">32</span></span><span class="thema-score-breakdown">Foil 1,060 <span class="thema-score thema-score-charm" title="CHARM">229</span> <span class="thema-score thema-score-ferocity" title="FEROCITY">197</span> <span class="thema-score thema-score-grace" title="GRACE">190</span> <span class="thema-score thema-score-mystique" title="MYSTIQUE">241</span> <span class="thema-score thema-score-valor" title="VALOR">203</span></span>
</div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈14,000<br/>Foil ≈900
  </td>
</tr>
<tr data-id="sp1--en-022-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-022
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/fire.png" alt="FIRE element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/embertail-squirrel-sp1" rel="noopener noreferrer" target="_blank">
          Embertail Squirrel
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,700
  </td>
</tr>
<tr data-id="sp1--en-023-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-023
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/giant-tortoise-sp1" rel="noopener noreferrer" target="_blank">
          Giant Tortoise
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,700
  </td>
</tr>
<tr data-id="sp1--en-024-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-024
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/gray-wolf-sp1" rel="noopener noreferrer" target="_blank">
          Gray Wolf
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,700
  </td>
</tr>
<tr data-id="sp1--en-025-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-025
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/trained-hawk-sp1" rel="noopener noreferrer" target="_blank">
          Trained Hawk
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,700
  </td>
</tr>
<tr data-id="sp1--en-026-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-026
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/trusty-steed-sp1" rel="noopener noreferrer" target="_blank">
          Trusty Steed
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,700
  </td>
</tr>
<tr data-id="sp1--en-027-pr">
  <td class="set-list-card-number" style="text-align: left">
    EN-027
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/wind.png" alt="WIND element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/windstream-mutt-sp1" rel="noopener noreferrer" target="_blank">
          Windstream Mutt
        </a>
      </span>
    </div>
    
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Normal ≈2,700
  </td>
</tr>
</tbody>
</table>