<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/aK1pOa89OQ.jpg"
      alt="Spellshield: Arcane &ndash; DOA 1st &middot; EN-247"
      style="max-width: 440px;"
    >
    <figcaption>Spellshield: Arcane &ndash; DOA 1st &middot; EN-247</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span>This card costs 1 less to activate.
The next time damage would be dealt to your champion this turn, prevent that damage. Put an amount of <span class="effect__label">enlighten</span> counters on your champion equal to the amount of damage prevented this way.
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; If unpreventable damage is dealt under Spellshield: Arcane's effect, the damage prevented is zero and no enlighten counters will be generated.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-R">Rare</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈4,000</div>
<div>Foil &ndash; ≈127</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/spellshield-arcane-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>