<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/Nf85zFKYkf.jpg"
      alt="Spirit Blade: Ensoul &ndash; DOA 1st &middot; EN-253"
      style="max-width: 440px;"
    >
    <figcaption>Spirit Blade: Ensoul &ndash; DOA 1st &middot; EN-253</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Choose any amount of Sword weapon cards with memory cost 1 or less from your banishment and/or material deck and put them onto the field. Until end of turn, Sword weapons you control can attack as though they were allies. At the beginning of your <a style="color: orange;"><b>next</b></a> end phase, sacrifice all Sword weapons you control.
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; 'At the beginning of your end phase, sacrifice all Sword weapons you control.' -> 'At the beginning of your next end phase, sacrifice all Sword weapons you control.'</span><span class="card-template-stat-values-rule">2022-12-27 &ndash; The Sword weapons may attack as though they were allies, but are not actually allies. This means that they don't take retaliation damage, or damage in general.</span><span class="card-template-stat-values-rule">2022-12-27 &ndash; When a Sword weapon attacks as though it were an ally, a durability counter is not removed during the damage step.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-SR">Super Rare</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈2,400</div>
<div>Foil &ndash; ≈109</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/spirit-blade-ensoul-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>