<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/NMdgeTIcF8.jpg"
      alt="Spirit Blade: Ghost Strike &ndash; DOA 1st &middot; EN-254"
      style="max-width: 440px;"
    >
    <figcaption>Spirit Blade: Ghost Strike &ndash; DOA 1st &middot; EN-254</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">On Attack:</span> You may banish a card from your material deck. If you do, your champion's attacks get +1<span class="effect__icon effect__icon--sword"></span> until end of turn.
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-03-10 &ndash; Attack cards resolve as damage is dealt. This means if you paid for the Spectral Shift cost, you would banish this card On Hit, and return a crux element card to your hand.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈8,400</div>
<div>Foil &ndash; ≈141</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/spirit-blade-ghost-strike-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>