<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/EtI3gm9YhK.jpg"
      alt="Spirit Blade: Ascension &ndash; DOAp &middot; EN-110KS"
      style="max-width: 440px;"
    >
    <figcaption>Spirit Blade: Ascension &ndash; DOAp &middot; EN-110KS</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOAp_(set)">Dawn of Ashes Prelude</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          As an additional cost to activate this card, return a Sword regalia you own to your material deck.
Choose a Sword regalia card from your material deck or banishment and put it onto the field.
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-R">Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈2,500</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/spirit-blade-ascension-doap-ks">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>