<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/EX4dUHwhuK.jpg"
      alt="Stillwater Patrol &ndash; DOA 1st &middot; EN-192"
      style="max-width: 440px;"
    >
    <figcaption>Stillwater Patrol &ndash; DOA 1st &middot; EN-192</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">True Sight</span> <span class="effect__reminder">(This ally can attack units with <span class="effect__label">stealth</span>.)</span>
As long as Stillwater Patrol is attacking a unit with <span class="effect__label">stealth</span>, Stillwater Patrol gets +1<span class="effect__icon effect__icon--sword"></span>.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-C">Common</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Gendo</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈24,000</div>
<div>Foil &ndash; ≈157</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/stillwater-patrol-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>