<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/YvWLIZCNPE.jpg"
      alt="Strapping Conscript &ndash; DOA 1st &middot; EN-156"
      style="max-width: 440px;"
    >
    <figcaption>Strapping Conscript &ndash; DOA 1st &middot; EN-156</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span><span class="effect__bubble">Level 2+</span>Strapping Conscript gets +1<span class="effect__icon effect__icon--sword"></span> and +1<span class="effect__icon effect__icon--heart"></span>. <span class="effect__reminder">(Apply this effect only if your champion's class matches this card's class, and only if your champion is level 2 or higher.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-U">Uncommon</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">ジェゼ一</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈8,400</div>
<div>Foil &ndash; ≈141</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/strapping-conscript-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>