<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/8K31b06xIE.jpg"
      alt="Sudden Steel &ndash; DEMO22 &middot; EN-017"
      style="max-width: 440px;"
    >
    <figcaption>Sudden Steel &ndash; DEMO22 &middot; EN-017</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DEMO22_(set)">LGS Demo 2022</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Class Bonus</span><span class="effect__label">Efficiency</span> <span class="effect__reminder">(This card costs <span class="effect__label">LV</span> less to activate. <span class="effect__label">LV</span> refers to your champion's level. Apply this effect only if your champion's class matches this card's class.)</span>
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-U">Uncommon</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈36,000</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/sudden-steel-demo22">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>