<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/iHA1lQ7AWU.jpg"
      alt="Surveillance Stone &ndash; DOA 1st &middot; EN-054"
      style="max-width: 440px;"
    >
    <figcaption>Surveillance Stone &ndash; DOA 1st &middot; EN-054</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Whenever an opponent declares an attack with a unit for the third time each turn, you may banish Surveillance Stone. If you do, draw a card.
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈141</div>
<div>Normal &ndash; ≈8,400</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/surveillance-stone-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>