<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/dfoXKlqFzL.jpg"
      alt="Swift Recruit &ndash; DOAp &middot; EN-096"
      style="max-width: 440px;"
    >
    <figcaption>Swift Recruit &ndash; DOAp &middot; EN-096</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOAp_(set)">Dawn of Ashes Prelude</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Intercept</span> <span class="effect__reminder">(Whenever your champion is attacked while this ally is awake, you may redirect that attack to this ally.)</span>
<span class="effect__label">Floating Memory</span> <span class="effect__reminder">(While paying for a memory cost, you may banish this card from your graveyard to pay for 1 of that cost.)</span>
        </span>
      </span>
    </div>
      
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-C">Common</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">Hanh Chu</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈7,500</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/swift-recruit-doap">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>