<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/7nYzUmPXth.jpg"
      alt="Thousand Refractions &ndash; DOA 1st &middot; EN-263"
      style="max-width: 440px;"
    >
    <figcaption>Thousand Refractions &ndash; DOA 1st &middot; EN-263</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Prepare 1</span> <span class="effect__reminder">(You may remove a <span class="effect__label">preparation</span> counter from your champion as you activate this card.)</span>
<span class="effect__bubble">Class Bonus</span><span class="effect__label">On Hit:</span> If Thousand Refractions was prepared, wake up your champion and return Thousand Refractions to your hand.
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; On Hit only triggers when 1 or more damage is dealt from the source. If all of the damage was prevented, then On Hit will not trigger.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">北飞飞</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈2,400</div>
<div>Foil &ndash; ≈109</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/thousand-refractions-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>