<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/km4WwJ41d1.jpg"
      alt="Tidal Sweep &ndash; DOA 1st &middot; EN-195"
      style="max-width: 440px;"
    >
    <figcaption>Tidal Sweep &ndash; DOA 1st &middot; EN-195</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Cleave</span> <span class="effect__reminder">(Attack all units a chosen opponent controls. This attack can't be intercepted.)</span>
<span class="effect__bubble">Class Bonus</span><span class="effect__label">Floating Memory</span> <span class="effect__reminder">(While paying for a memory cost, you may banish this card from your graveyard to pay for 1 of that cost.)</span>
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; During the retaliation step, all units being attacked can retaliate if able.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-R">Rare</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hanh Chu</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈4,000</div>
<div>Foil &ndash; ≈127</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/tidal-sweep-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>