<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/XJ1zwwWgAL.jpg"
      alt="Tide Diviner &ndash; DOA 1st &middot; EN-196"
      style="max-width: 440px;"
    >
    <figcaption>Tide Diviner &ndash; DOA 1st &middot; EN-196</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">On Enter:</span> Look at the top 1+<span class="effect__label">LV</span> cards of your deck. Put one of those cards into your hand and the rest into your graveyard. <span class="effect__reminder">(<span class="effect__label">LV</span> refers to your champion's level.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hori</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈4,000</div>
<div>Foil &ndash; ≈127</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/tide-diviner-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>