<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/z09TggcKMu.jpg"
      alt="Tome of Sacred Lightning &ndash; DOA 1st &middot; EN-062"
      style="max-width: 440px;"
    >
    <figcaption>Tome of Sacred Lightning &ndash; DOA 1st &middot; EN-062</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__bubble">Element Bonus</span>You may banish a Book regalia you control to activate this card from your material deck. If you do, Tome of Sacred Lightning enters the field with all abilities of the banished card.
<span class="effect__bubble">Class Bonus</span><span class="effect__icon effect__icon--rest"></span><span class="effect__label">:</span> Banish a card at random from your memory. If a card was banished this way, draw a card.
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; Using Tome of Sacred Lightning's ability to allow its activation from the material deck means you do not need a materialization phase to get it out. Activating a card is done at slow speed by default. </span><span class="card-template-stat-values-rule">2022-12-27 &ndash; When you activate Tome of Sacred Lightning, you still need to pay for its costs. This isn't relevant unless there is a cost granting/modification effect being applied.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-UR">Ultra Rare</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈2,500</div>
<div>Foil &ndash; ≈90</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/tome-of-sacred-lightning-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>