<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/s44IFqW5Zr.jpg"
      alt="Trained Hawk &ndash; DOA 1st &middot; EN-228"
      style="max-width: 440px;"
    >
    <figcaption>Trained Hawk &ndash; DOA 1st &middot; EN-228</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">True Sight</span> <span class="effect__reminder">(This ally can attack units with <span class="effect__label">stealth</span>.)</span>
<span class="effect__label">Vigor</span> <span class="effect__reminder">(This ally wakes up at the beginning of your end phase.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">道漫</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Foil &ndash; ≈157</div>
<div>Normal &ndash; ≈24,000</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/trained-hawk-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>