<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/wvB73Brx15.jpg"
      alt="Triskit, Guidance Angel &ndash; DOA 1st &middot; EN-264"
      style="max-width: 440px;"
    >
    <figcaption>Triskit, Guidance Angel &ndash; DOA 1st &middot; EN-264</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__reminder">(Unique — You can control only one object with this card's name.)</span>
Fire, water and wind elements are enabled for you.
<span class="effect__label">On Enter:</span> You may banish your champion. If you do, Triskit becomes a unique champion with base level 3.
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; When Triskit becomes a champion due to her effect, she loses all current types, including the ally type.</span><span class="card-template-stat-values-rule">2022-12-27 &ndash; Triskit retains her power stat as she becomes a champion. This allows her to declare attacks without a weapon or attack card. She may still attack with weapons and/or attack cards.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Rarity</span>
      <span class="card-template-stat-values">
        <span class="card-rarity-label card-rarity-label-SR">Super Rare</span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">Hori</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈2,400</div>
<div>Foil &ndash; ≈110</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/triskit-guidance-angel-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>