<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/ePYUhRjA7E.jpg"
      alt="Varuck, Smoldering Spire &ndash; DOA 1st &middot; EN-158"
      style="max-width: 440px;"
    >
    <figcaption>Varuck, Smoldering Spire &ndash; DOA 1st &middot; EN-158</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__reminder"><span class="effect__label">Upkeep</span></span> — Whenever you materialize a card, sacrifice Varuck.
Damage dealt by fire element sources you control can't be prevented.
        </span>
      </span>
    </div>
        <div class="card-template-stat">
      <span class="card-template-stat-heading">Rules</span>
      <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; Champions are considered to be of each element as cards that exists in their lineage. Damage from a fire element champion's attacks becomes unpreventable under the effects of Varuck.</span></span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">杭州新艺族</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈2,400</div>
<div>Foil &ndash; ≈109</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/varuck-smoldering-spire-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>