<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/yfZkptsQkc.jpg"
      alt="Veiling Breeze &ndash; DOA 1st &middot; EN-229"
      style="max-width: 440px;"
    >
    <figcaption>Veiling Breeze &ndash; DOA 1st &middot; EN-229</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          Reveal any amount of wind element cards from your memory. Until end of turn, whenever damage would be dealt to your champion, prevent an amount of that damage equal to the amount of cards revealed this way.
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; Veiling Breeze counts the amount of wind cards revealed during resolution. It does not care about the amount of wind cards in your memory after it has resolved.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-C">Common</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">道漫</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Normal ≈24,000</div>
<div>Foil ≈157</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/veiling-breeze-doa1e">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>