<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/KM0F5NH1Wd.jpg"
      alt="Zander, Always Watching &ndash; DOA 1st &middot; EN-014"
      style="max-width: 440px;"
    >
    <figcaption>Zander, Always Watching &ndash; DOA 1st &middot; EN-014</figcaption>
  </figure>
  <div class="card-template-info">
    <div class="card-template-stats">
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Set</span>
        <span class="card-template-stat-values">
          <a href="/DOA-1st_(set)">Dawn of Ashes First Edition</a>
        </span>
      </div>
         <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Zander Lineage</span>
<span class="effect__label">Inherited Effect:</span> As long as Zander is attacking a rested unit, Zander's attacks get +1<span class="effect__icon effect__icon--sword"></span>.
        </span>
      </span>
    </div>
          <div class="card-template-stat">
        <span class="card-template-stat-heading">Rules</span>
        <span class="card-template-stat-values"><span class="card-template-stat-values-rule">2022-12-27 &ndash; If Zander is attacking multiple rested units with Cleave, the attack only gets +1 power, not +1 power for each rested unit.</span></span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Rarity</span>
        <span class="card-template-stat-values">
          <span class="card-rarity-label card-rarity-label-CUR">Collector Ultra Rare</span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Illustrator</span>
        <span class="card-template-stat-values">
          <span class="dead-link"><a href="/illustrators">Hanh Chu</a></span>
        </span>
      </div>
      <div class="card-template-stat">
        <span class="card-template-stat-heading">Population</span>
        <span class="card-template-stat-values">
          <div>Foil =70</div>
        </span>
      </div>
    </div>
    <p class="card-template-index-link">
      <a href="https://index.gatcg.com/edition/zander-always-watching-doa1e-cur">View this card on Grand Archive Index</a>.
    </p>
  </div>
</div>