<p>This card is part of the <a href="/DOA 1st_(set)">Dawn of Ashes First Edition</a> set.</p>
<div class="card-template">
  <figure class="image">
    <img
      src="https://img.silvie.org/api-data/IpAeXdnGn0.jpg"
      alt="Zander, Corhazi's Chosen &ndash; DOA 1st &middot; EN-015"
      style="max-width: 440px;"
    >
    <figcaption>Zander, Corhazi's Chosen &ndash; DOA 1st &middot; EN-015</figcaption>
  </figure>
  <div class="card-template-stats">
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Effect</span>
      <span class="card-template-stat-values">
        <span class="card-template-stat-values-effect">
          <span class="effect__label">Zander Lineage</span> <span class="effect__reminder">(Zander, Corhazi's Chosen must be leveled from a previous level "Zander" champion.)</span>
<span class="effect__label">On Enter:</span> Zander gains <span class="effect__label">stealth</span> and <span class="effect__label">spellshroud</span> until the beginning of your next turn. Put a <span class="effect__label">preparation</span> counter on Zander. <span class="effect__reminder">(Units with <span class="effect__label">spellshroud</span> can't be targeted by Spells.)</span>
        </span>
      </span>
    </div>
    
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Illustrator</span>
      <span class="card-template-stat-values">
        <span class="dead-link"><a href="/illustrators">北飞飞</a></span>
      </span>
    </div>
    <div class="card-template-stat">
      <span class="card-template-stat-heading">Population</span>
      <span class="card-template-stat-values">
        <div>Normal &ndash; ≈12,500</div>
<div>Foil &ndash; ≈157</div>
      </span>
    </div>
  </div>
  <p>
    For the full card stats, <a href="https://index.gatcg.com/edition/zander-corhazis-chosen-doa1e">view this card on Grand Archive Index</a>.
  </p>
</div>