<span class="flag">
  {%- case include.code -%}
    {%- when "cn" -%}
      <abbr title="Chinese">🇨🇳</abbr> Chinese
    {%- when "en" -%}
      <abbr title="English">🇬🇧</abbr> English
    {%- when "fr" -%}
      <abbr title="French">🇫🇷</abbr> French
    {%- when "de" -%}
      <abbr title="German">🇩🇪</abbr> German
    {%- when "id" -%}
      <abbr title="Indonesian">🇮🇩</abbr> Indonesian
    {%- when "it" -%}
      <abbr title="Italian">🇮🇹</abbr> Italian
    {%- when "jp" -%}
      <abbr title="Japanese">🇯🇵</abbr> Japanese
    {%- when "kr" -%}
      <abbr title="Korean">🇰🇷</abbr> Korean
    {%- when "pt" -%}
      <abbr title="Portuguese">🇵🇹</abbr> Portuguese
    {%- when "es" -%}
      <abbr title="Spanish">🇪🇸</abbr> Spanish
    {%- when "th" -%}
      <abbr title="Thai">🇹🇭</abbr> Thai
  {%- endcase -%}
</span>