<section class="pack-simulator" data-list="{{ include.list }}">
  <div class="pack-simulator-button-container">
    <button type="button" class="pack-simulator-button pack-simulator-button-open" disabled>
      Open pack
    </button>
    <button type="button" class="pack-simulator-button pack-simulator-button-automate" disabled>
      Automate 100%
    </button>
  </div>
  <p>You've opened <strong class="pack-simulator-opened-count">0</strong> packs and pulled <strong class="pack-simulator-pulled-count">0</strong> of <strong class="pack-simulator-total-count">0</strong> cards in this set (<span class="pack-simulator-pulled-percentage">0%</span> complete).</p>
  <p class="pack-simulator-100-percent" style="display: none">Tada! You completed the set!</p>
  <p class="pack-simulator-100-percent-automation" style="display: none">Automation complete.</p>
  <div class="pack-simulator-field"></div>
</section>
<script src="/scripts/pack-simulator.js"></script>