<section class="pack-simulator" data-list="{{ include.list }}">
  <button type="button" class="pack-simulator-button" disabled>
    Open pack
  </button>
  <p>You've opened <strong class="pack-simulator-opened-count">0</strong> packs and pulled <strong class="pack-simulator-pulled-count">0</strong> of <strong class="pack-simulator-total-count">0</strong> cards in this set (<span class="pack-simulator-pulled-percentage">0%</span> complete).</p>
  <div class="pack-simulator-field"></div>
</section>
<script src="/scripts/pack-simulator.js"></script>