.card-template {
  column-gap: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: unset;
  }

  .image {
    margin: 0;

    img {
      border-radius: 4.75%/3.5%;
      max-width: 320px !important;
    }
  }

  > p {
    flex: 1 1 100%;
    margin: 0;
  }

  &-info {
    flex: 1 1 auto;
  }

  &-index-link {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    margin-top: 16px;
  }

  &-stat {
    margin-bottom: 8px;

    &-heading {
      display: block;
      font-weight: 600;
    }

    &-values {
      &-effect {
        background: #f0fbff;
        border: 1px solid #c8d4d8;
        box-sizing: border-box;
        display: block;
        padding: 8px;
        width: 100%;

        .effect__label {
          font-weight: 700;

          &::before {
            content: '';
            display: block;
          }
        }
        
        .effect__reminder {
          font-style: italic
        }
      }
    }
  }
}

.set-list {
  &-card-number,
  &-card-population {
    font-size: 14px;

    @media screen and (min-width: 768px) {
      font-size: inherit;
    }
  }
  
  &-card-obtain-method-row {
    td {
      background: #fffff2;
    }

    &-content {
      display: flex;
      flex-direction: column;
      padding: 2px;
      row-gap: 8px;

      @media screen and (min-width: 600px) {
        column-gap: 16px;
        flex-direction: row;
      }

      &-image {
        background-repeat: no-repeat;
        background-size: contain;
        height: 358px;

        @media screen and (min-width: 600px) {
          flex: 0 0 256px;
        }
      }

      &-text {
        font-style: italic;
        font-size: 14px;
        line-height: 17px;
        flex: 1 1 auto;
        text-align: left;
        white-space: pre-wrap;

        @media screen and (min-width: 600px) {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }

  &-thema-score {
    cursor: help;
    font-size: 12px;

    .thema-score-breakdown {
      display: block;
      font-weight: bold;
    }

    .thema-score {
      font-weight: normal;
  
      &::before {
        content: "● ";
        font-size: 8px;

        @media screen and (min-width: 768px) {
          font-size: inherit;
        }
      }

      &-charm {
        color: #CD6BFF;
      }

      &-ferocity {
        color: #AD1000;
      }

      &-grace {
        color: #014EC8;
      }

      &-mystique {
        color: #6400BA;
      }

      &-valor {
        color: #C67A00;
      }
    }
  }

  &-card-name {
    align-items: center;
    column-gap: 8px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;

    .name-wrapper {
      flex: 1 1 100%;
    }

    .image-element {
      vertical-align: top;
    }

    @media screen and (min-width: 768px) {
      flex-wrap: unset;

      .name-wrapper {
        flex: 1 1 auto;
        order: -2;
      }

      .card-rarity-label {
        order: -1;
      }
    }
  }

  &-custom {
    .set-list-card-number {
      font-size: small;
    }

    .name-wrapper-set-name {
      display: block;
      font-size: small;
    }

    .in-print {
      background: #ffe1e1;
    }

    &-by-illustrator {
      th,
      td {
        &:first-of-type {
          @media screen and (min-width: 768px) {
            width: 400px;
          }
        }
      }

      &-subrow {
        color: #6d6d6d;
        font-size: 90%;
      }
    }
  }

  &-named-cards-article {
    tr {
      background-position: left 14%;
      background-repeat: no-repeat;
      background-size: 256px;

      td {
        height: 100px;

        &:first-of-type {
          padding-left: 272px;
        }
      }
    }
  }
}

.in-print {
  background: #ffe1e1;
}

.card-cost {
  align-items: center;
  border: 1px solid #9d9d9d;
  border-radius: 100%;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  height: 24px;
  vertical-align: -1px;
  width: 24px;

  &-memory {
    background: #a9e8f4;
  }

  &-reserve {
    background: #f1df76;
  }
}

.card-rarity-label {
  font-weight: bold;

  &-C {
    color: #7f7f7f;
  }

  &-CPR,
  &-CSR,
  &-CUR {
    color: #000;
  }

  &-U {
    color: #31b131;
  }

  &-R {
    color: #4380ff;
  }

  &-SR {
    color: #913ce6;
  }

  &-UR {
    color: #e89600;
  }

  &-PR {
    color: #f05def;
  }
}