.card-template {
  column-gap: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: -20px;
  row-gap: 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  .image {
    margin: 0;

    img {
      border-radius: 4.75%/3.5%;
      max-width: 320px !important;
    }
  }

  > p {
    flex: 1 1 100%;
    margin: 0;
  }

  &-stats {
    flex: 1 1 auto;
  }

  &-stat {
    margin-bottom: 8px;

    &-heading {
      display: block;
      font-weight: 600;
    }

    &-values {
      &-effect {
        background: #f0fbff;
        border: 1px solid #c8d4d8;
        display: block;
        padding: 8px;
        width: 100%;

        .effect__label {
          font-weight: 700;

          &::before {
            content: '';
            display: block;
          }
        }
        
        .effect__reminder {
          font-style: italic
        }
      }
    }
  }
}

.card-rarity-label {
  font-weight: bold;

  &-C {
    color: #7f7f7f;
  }

  &-CPR,
  &-CSR,
  &-CUR {
    color: #000;
  }

  &-U {
    color: #31b131;
  }

  &-R {
    color: #4380ff;
  }

  &-SR {
    color: #913ce6;
  }

  &-UR {
    color: #e89600;
  }

  &-PR {
    color: #f05def;
  }
}