.curs-table {
  max-width: 100%;

  table {
    border-collapse: collapse;
    margin: 0;
    position: relative;

    td {
      padding: 0;
      text-align: center;
    }

    th {
      padding: 0;
      text-align: center;
    }

    thead {
      tr:nth-child(1) th {
        position: sticky;
        top: 0;
      }

      tr:nth-child(2) th {
        position: sticky;
        top: 24px;
      }
    }
  }
}