<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Element</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/norm.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=NORM">
    NORM
  </a>
</div>
  </td>
  <td style="text-align: right">
    502 cards
    <div class="set-list-custom-by-illustrator-subrow">1,060 editions</div>
  </td>
  <td style="text-align: right">
    1,538
    <div class="set-list-custom-by-illustrator-subrow">666 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/water.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=WATER">
    WATER
  </a>
</div>
  </td>
  <td style="text-align: right">
    230 cards
    <div class="set-list-custom-by-illustrator-subrow">355 editions</div>
  </td>
  <td style="text-align: right">
    610
    <div class="set-list-custom-by-illustrator-subrow">288 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/wind.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=WIND">
    WIND
  </a>
</div>
  </td>
  <td style="text-align: right">
    205 cards
    <div class="set-list-custom-by-illustrator-subrow">349 editions</div>
  </td>
  <td style="text-align: right">
    592
    <div class="set-list-custom-by-illustrator-subrow">275 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/fire.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=FIRE">
    FIRE
  </a>
</div>
  </td>
  <td style="text-align: right">
    200 cards
    <div class="set-list-custom-by-illustrator-subrow">337 editions</div>
  </td>
  <td style="text-align: right">
    579
    <div class="set-list-custom-by-illustrator-subrow">266 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/tera.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=TERA">
    TERA
  </a>
</div>
  </td>
  <td style="text-align: right">
    63 cards
    <div class="set-list-custom-by-illustrator-subrow">113 editions</div>
  </td>
  <td style="text-align: right">
    166
    <div class="set-list-custom-by-illustrator-subrow">72 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/umbra.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=UMBRA">
    UMBRA
  </a>
</div>
  </td>
  <td style="text-align: right">
    48 cards
    <div class="set-list-custom-by-illustrator-subrow">79 editions</div>
  </td>
  <td style="text-align: right">
    119
    <div class="set-list-custom-by-illustrator-subrow">59 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/luxem.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=LUXEM">
    LUXEM
  </a>
</div>
  </td>
  <td style="text-align: right">
    34 cards
    <div class="set-list-custom-by-illustrator-subrow">57 editions</div>
  </td>
  <td style="text-align: right">
    91
    <div class="set-list-custom-by-illustrator-subrow">42 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/astra.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=ASTRA">
    ASTRA
  </a>
</div>
  </td>
  <td style="text-align: right">
    28 cards
    <div class="set-list-custom-by-illustrator-subrow">45 editions</div>
  </td>
  <td style="text-align: right">
    74
    <div class="set-list-custom-by-illustrator-subrow">36 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/neos.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=NEOS">
    NEOS
  </a>
</div>
  </td>
  <td style="text-align: right">
    27 cards
    <div class="set-list-custom-by-illustrator-subrow">49 editions</div>
  </td>
  <td style="text-align: right">
    76
    <div class="set-list-custom-by-illustrator-subrow">33 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/arcane.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=ARCANE">
    ARCANE
  </a>
</div>
  </td>
  <td style="text-align: right">
    25 cards
    <div class="set-list-custom-by-illustrator-subrow">65 editions</div>
  </td>
  <td style="text-align: right">
    101
    <div class="set-list-custom-by-illustrator-subrow">43 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/exia.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=EXIA">
    EXIA
  </a>
</div>
  </td>
  <td style="text-align: right">
    22 cards
    <div class="set-list-custom-by-illustrator-subrow">32 editions</div>
  </td>
  <td style="text-align: right">
    51
    <div class="set-list-custom-by-illustrator-subrow">23 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/crux.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=CRUX">
    CRUX
  </a>
</div>
  </td>
  <td style="text-align: right">
    19 cards
    <div class="set-list-custom-by-illustrator-subrow">58 editions</div>
  </td>
  <td style="text-align: right">
    83
    <div class="set-list-custom-by-illustrator-subrow">35 foil</div>
  </td>
</tr>
  </tbody>
</table>