<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Type</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/action.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=ACTION">
    ACTION
  </a>
</div>
  </td>
  <td style="text-align: right">
    612 cards
    <div class="set-list-custom-by-illustrator-subrow">1,118 editions</div>
  </td>
  <td style="text-align: right">
    1,849
    <div class="set-list-custom-by-illustrator-subrow">873 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/ally.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=ALLY">
    ALLY
  </a>
</div>
  </td>
  <td style="text-align: right">
    540 cards
    <div class="set-list-custom-by-illustrator-subrow">928 editions</div>
  </td>
  <td style="text-align: right">
    1,575
    <div class="set-list-custom-by-illustrator-subrow">780 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/item.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=ITEM">
    ITEM
  </a>
</div>
  </td>
  <td style="text-align: right">
    293 cards
    <div class="set-list-custom-by-illustrator-subrow">540 editions</div>
  </td>
  <td style="text-align: right">
    786
    <div class="set-list-custom-by-illustrator-subrow">360 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/champion.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=CHAMPION">
    CHAMPION
  </a>
</div>
  </td>
  <td style="text-align: right">
    116 cards
    <div class="set-list-custom-by-illustrator-subrow">309 editions</div>
  </td>
  <td style="text-align: right">
    389
    <div class="set-list-custom-by-illustrator-subrow">180 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/attack.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=ATTACK">
    ATTACK
  </a>
</div>
  </td>
  <td style="text-align: right">
    100 cards
    <div class="set-list-custom-by-illustrator-subrow">195 editions</div>
  </td>
  <td style="text-align: right">
    327
    <div class="set-list-custom-by-illustrator-subrow">147 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/weapon.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=WEAPON">
    WEAPON
  </a>
</div>
  </td>
  <td style="text-align: right">
    87 cards
    <div class="set-list-custom-by-illustrator-subrow">153 editions</div>
  </td>
  <td style="text-align: right">
    227
    <div class="set-list-custom-by-illustrator-subrow">104 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/phantasia.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=PHANTASIA">
    PHANTASIA
  </a>
</div>
  </td>
  <td style="text-align: right">
    78 cards
    <div class="set-list-custom-by-illustrator-subrow">108 editions</div>
  </td>
  <td style="text-align: right">
    188
    <div class="set-list-custom-by-illustrator-subrow">87 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/domain.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=DOMAIN">
    DOMAIN
  </a>
</div>
  </td>
  <td style="text-align: right">
    39 cards
    <div class="set-list-custom-by-illustrator-subrow">53 editions</div>
  </td>
  <td style="text-align: right">
    98
    <div class="set-list-custom-by-illustrator-subrow">46 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/mastery.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=MASTERY">
    MASTERY
  </a>
</div>
  </td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    7
    <div class="set-list-custom-by-illustrator-subrow">3 foil</div>
  </td>
</tr>
  </tbody>
</table>