<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Class</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=CLERIC">
  CLERIC
</a>
  </td>
  <td style="text-align: right">
    349 cards
    <div class="set-list-custom-by-illustrator-subrow">578 editions</div>
  </td>
  <td style="text-align: right">
    915
    <div class="set-list-custom-by-illustrator-subrow">438 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=TAMER">
  TAMER
</a>
  </td>
  <td style="text-align: right">
    246 cards
    <div class="set-list-custom-by-illustrator-subrow">444 editions</div>
  </td>
  <td style="text-align: right">
    696
    <div class="set-list-custom-by-illustrator-subrow">323 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=MAGE">
  MAGE
</a>
  </td>
  <td style="text-align: right">
    235 cards
    <div class="set-list-custom-by-illustrator-subrow">583 editions</div>
  </td>
  <td style="text-align: right">
    918
    <div class="set-list-custom-by-illustrator-subrow">412 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=WARRIOR">
  WARRIOR
</a>
  </td>
  <td style="text-align: right">
    202 cards
    <div class="set-list-custom-by-illustrator-subrow">488 editions</div>
  </td>
  <td style="text-align: right">
    762
    <div class="set-list-custom-by-illustrator-subrow">334 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=GUARDIAN">
  GUARDIAN
</a>
  </td>
  <td style="text-align: right">
    186 cards
    <div class="set-list-custom-by-illustrator-subrow">302 editions</div>
  </td>
  <td style="text-align: right">
    464
    <div class="set-list-custom-by-illustrator-subrow">210 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=RANGER">
  RANGER
</a>
  </td>
  <td style="text-align: right">
    179 cards
    <div class="set-list-custom-by-illustrator-subrow">263 editions</div>
  </td>
  <td style="text-align: right">
    422
    <div class="set-list-custom-by-illustrator-subrow">197 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=ASSASSIN">
  ASSASSIN
</a>
  </td>
  <td style="text-align: right">
    152 cards
    <div class="set-list-custom-by-illustrator-subrow">295 editions</div>
  </td>
  <td style="text-align: right">
    485
    <div class="set-list-custom-by-illustrator-subrow">245 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=SPIRIT">
  SPIRIT
</a>
  </td>
  <td style="text-align: right">
    29 cards
    <div class="set-list-custom-by-illustrator-subrow">66 editions</div>
  </td>
  <td style="text-align: right">
    76
    <div class="set-list-custom-by-illustrator-subrow">25 foil</div>
  </td>
</tr>
  </tbody>
</table>