<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Illustrator</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Primea Studio&rarity=2">Primea Studio</a></td>
  <td style="text-align: right">
    16 cards
    <div class="set-list-custom-by-illustrator-subrow">16 editions</div>
  </td>
  <td style="text-align: right">
    979,500
    <div class="set-list-custom-by-illustrator-subrow">5,500 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=木叶&rarity=2">木叶</a></td>
  <td style="text-align: right">
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    344,587
    <div class="set-list-custom-by-illustrator-subrow">1,387 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫&rarity=2">道漫</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    344,760
    <div class="set-list-custom-by-illustrator-subrow">4,660 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart&rarity=2">Dragonart</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td style="text-align: right">
    211,900
    <div class="set-list-custom-by-illustrator-subrow">1,400 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=砂木烟&rarity=2">砂木烟</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    90,000
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sineia&rarity=2">Sineia</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    72,000
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Unknown&rarity=2">Unknown</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    32,000
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Deeya Chaturvedi&rarity=2">Deeya Chaturvedi</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    7,500
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
  </tbody>
</table>