<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Illustrator</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Primea Studio&rarity=3">Primea Studio</a></td>
  <td style="text-align: right">
    159 cards
    <div class="set-list-custom-by-illustrator-subrow">171 editions</div>
  </td>
  <td style="text-align: right">
    3,720,039
    <div class="set-list-custom-by-illustrator-subrow">104,439 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫&rarity=3">道漫</a></td>
  <td style="text-align: right">
    109 cards
    <div class="set-list-custom-by-illustrator-subrow">219 editions</div>
  </td>
  <td style="text-align: right">
    2,890,659
    <div class="set-list-custom-by-illustrator-subrow">73,919 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=木叶&rarity=3">木叶</a></td>
  <td style="text-align: right">
    84 cards
    <div class="set-list-custom-by-illustrator-subrow">90 editions</div>
  </td>
  <td style="text-align: right">
    1,988,400
    <div class="set-list-custom-by-illustrator-subrow">42,800 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart&rarity=3">Dragonart</a></td>
  <td style="text-align: right">
    70 cards
    <div class="set-list-custom-by-illustrator-subrow">81 editions</div>
  </td>
  <td style="text-align: right">
    1,601,745
    <div class="set-list-custom-by-illustrator-subrow">48,245 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=砂木烟&rarity=3">砂木烟</a></td>
  <td style="text-align: right">
    18 cards
    <div class="set-list-custom-by-illustrator-subrow">19 editions</div>
  </td>
  <td style="text-align: right">
    412,177
    <div class="set-list-custom-by-illustrator-subrow">12,777 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Parhelion Studio Co.&rarity=3">Parhelion Studio Co.</a></td>
  <td style="text-align: right">
    14 cards
    <div class="set-list-custom-by-illustrator-subrow">14 editions</div>
  </td>
  <td style="text-align: right">
    485,670
    <div class="set-list-custom-by-illustrator-subrow">6,570 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hanh Chu&rarity=3">Hanh Chu</a></td>
  <td style="text-align: right">
    13 cards
    <div class="set-list-custom-by-illustrator-subrow">23 editions</div>
  </td>
  <td style="text-align: right">
    393,995
    <div class="set-list-custom-by-illustrator-subrow">8,895 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gyool&rarity=3">Gyool</a></td>
  <td style="text-align: right">
    12 cards
    <div class="set-list-custom-by-illustrator-subrow">12 editions</div>
  </td>
  <td style="text-align: right">
    301,950
    <div class="set-list-custom-by-illustrator-subrow">7,950 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Alkaid&rarity=3">Alkaid</a></td>
  <td style="text-align: right">
    11 cards
    <div class="set-list-custom-by-illustrator-subrow">11 editions</div>
  </td>
  <td style="text-align: right">
    241,370
    <div class="set-list-custom-by-illustrator-subrow">6,570 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Rachel Liu&rarity=3">Rachel Liu</a></td>
  <td style="text-align: right">
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    192,617
    <div class="set-list-custom-by-illustrator-subrow">5,217 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=十尾&rarity=3">十尾</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    174,545
    <div class="set-list-custom-by-illustrator-subrow">3,745 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Pinakes&rarity=3">Pinakes</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    155,135
    <div class="set-list-custom-by-illustrator-subrow">2,435 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=杭州新艺族&rarity=3">杭州新艺族</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    136,182
    <div class="set-list-custom-by-illustrator-subrow">6,882 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart Chu&rarity=3">Dragonart Chu</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    107,547
    <div class="set-list-custom-by-illustrator-subrow">4,647 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Kaze&rarity=3">Kaze</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    95,675
    <div class="set-list-custom-by-illustrator-subrow">3,075 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Faicha&rarity=3">Faicha</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td style="text-align: right">
    153,472
    <div class="set-list-custom-by-illustrator-subrow">3,562 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=北飞飞&rarity=3">北飞飞</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    117,742
    <div class="set-list-custom-by-illustrator-subrow">2,342 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt TaroTarou&rarity=3">DragonArt TaroTarou</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    77,382
    <div class="set-list-custom-by-illustrator-subrow">3,282 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=代々&rarity=3">代々</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    73,225
    <div class="set-list-custom-by-illustrator-subrow">2,365 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Parhelion Studio&rarity=3">Parhelion Studio</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    67,000
    <div class="set-list-custom-by-illustrator-subrow">4,000 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sineia&rarity=3">Sineia</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    90,112
    <div class="set-list-custom-by-illustrator-subrow">1,912 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Marchon&rarity=3">Marchon</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    66,245
    <div class="set-list-custom-by-illustrator-subrow">1,845 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Pekoe&rarity=3">Pekoe</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    66,245
    <div class="set-list-custom-by-illustrator-subrow">1,845 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=AquaGirl&rarity=3">AquaGirl</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    58,245
    <div class="set-list-custom-by-illustrator-subrow">1,845 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=檸檬夾心餅&rarity=3">檸檬夾心餅</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    52,802
    <div class="set-list-custom-by-illustrator-subrow">1,242 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=坊橋夜泊&rarity=3">坊橋夜泊</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    94,982
    <div class="set-list-custom-by-illustrator-subrow">5,122 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=NR&rarity=3">NR</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    82,204
    <div class="set-list-custom-by-illustrator-subrow">1,184 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=KHΩA&rarity=3">KHΩA</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    38,830
    <div class="set-list-custom-by-illustrator-subrow">1,230 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Kumai&rarity=3">Kumai</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    29,000
    <div class="set-list-custom-by-illustrator-subrow">1,000 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 白霜茶&rarity=3">DragonArt 白霜茶</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    21,270
    <div class="set-list-custom-by-illustrator-subrow">1,870 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 艾瞳A-Ton&rarity=3">DragonArt 艾瞳A-Ton</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    39,635
    <div class="set-list-custom-by-illustrator-subrow">935 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=白帝&rarity=3">白帝</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td style="text-align: right">
    33,452
    <div class="set-list-custom-by-illustrator-subrow">592 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=SalmonTea&rarity=3">SalmonTea</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    27,415
    <div class="set-list-custom-by-illustrator-subrow">615 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Yui&rarity=3">Yui</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    27,415
    <div class="set-list-custom-by-illustrator-subrow">615 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=繪來&rarity=3">繪來</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    26,200
    <div class="set-list-custom-by-illustrator-subrow">1,000 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿清Roro&rarity=3">阿清Roro</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    22,500
    <div class="set-list-custom-by-illustrator-subrow">500 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Siriuf Long&rarity=3">Siriuf Long</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    19,415
    <div class="set-list-custom-by-illustrator-subrow">615 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hori&rarity=3">Hori</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    17,352
    <div class="set-list-custom-by-illustrator-subrow">592 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=YOHAKU&rarity=3">YOHAKU</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    17,352
    <div class="set-list-custom-by-illustrator-subrow">592 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ジェゼ一&rarity=3">ジェゼ一</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    17,352
    <div class="set-list-custom-by-illustrator-subrow">592 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Tris&rarity=3">DragonArt Tris</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    10,635
    <div class="set-list-custom-by-illustrator-subrow">935 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 倉倉&rarity=3">DragonArt 倉倉</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    10,635
    <div class="set-list-custom-by-illustrator-subrow">935 foil</div>
  </td>
</tr>
  </tbody>
</table>