<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Illustrator</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫">道漫</a></td>
  <td>
    398 cards
    <div class="set-list-custom-by-illustrator-subrow">877 editions</div>
  </td>
  <td>
    1,368
    <div class="set-list-custom-by-illustrator-subrow">559 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hanh Chu">Hanh Chu</a></td>
  <td>
    44 cards
    <div class="set-list-custom-by-illustrator-subrow">103 editions</div>
  </td>
  <td>
    167
    <div class="set-list-custom-by-illustrator-subrow">71 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=砂木烟">砂木烟</a></td>
  <td>
    28 cards
    <div class="set-list-custom-by-illustrator-subrow">47 editions</div>
  </td>
  <td>
    80
    <div class="set-list-custom-by-illustrator-subrow">37 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=十尾">十尾</a></td>
  <td>
    17 cards
    <div class="set-list-custom-by-illustrator-subrow">42 editions</div>
  </td>
  <td>
    55
    <div class="set-list-custom-by-illustrator-subrow">26 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=北飞飞">北飞飞</a></td>
  <td>
    16 cards
    <div class="set-list-custom-by-illustrator-subrow">27 editions</div>
  </td>
  <td>
    47
    <div class="set-list-custom-by-illustrator-subrow">23 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hori">Hori</a></td>
  <td>
    15 cards
    <div class="set-list-custom-by-illustrator-subrow">50 editions</div>
  </td>
  <td>
    66
    <div class="set-list-custom-by-illustrator-subrow">27 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Chu">DragonArt Chu</a></td>
  <td>
    15 cards
    <div class="set-list-custom-by-illustrator-subrow">16 editions</div>
  </td>
  <td>
    30
    <div class="set-list-custom-by-illustrator-subrow">16 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=代々">代々</a></td>
  <td>
    13 cards
    <div class="set-list-custom-by-illustrator-subrow">31 editions</div>
  </td>
  <td>
    49
    <div class="set-list-custom-by-illustrator-subrow">25 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Faicha">Faicha</a></td>
  <td>
    13 cards
    <div class="set-list-custom-by-illustrator-subrow">24 editions</div>
  </td>
  <td>
    38
    <div class="set-list-custom-by-illustrator-subrow">21 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=檸檬夾心餅">檸檬夾心餅</a></td>
  <td>
    12 cards
    <div class="set-list-custom-by-illustrator-subrow">18 editions</div>
  </td>
  <td>
    33
    <div class="set-list-custom-by-illustrator-subrow">15 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Rachel Liu">Rachel Liu</a></td>
  <td>
    12 cards
    <div class="set-list-custom-by-illustrator-subrow">17 editions</div>
  </td>
  <td>
    21
    <div class="set-list-custom-by-illustrator-subrow">8 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Primea Studio">Primea Studio</a></td>
  <td>
    12 cards
    <div class="set-list-custom-by-illustrator-subrow">12 editions</div>
  </td>
  <td>
    24
    <div class="set-list-custom-by-illustrator-subrow">12 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Kumai">Kumai</a></td>
  <td>
    9 cards
    <div class="set-list-custom-by-illustrator-subrow">20 editions</div>
  </td>
  <td>
    31
    <div class="set-list-custom-by-illustrator-subrow">15 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=NR">NR</a></td>
  <td>
    9 cards
    <div class="set-list-custom-by-illustrator-subrow">14 editions</div>
  </td>
  <td>
    20
    <div class="set-list-custom-by-illustrator-subrow">10 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=坊橋夜泊">坊橋夜泊</a></td>
  <td>
    8 cards
    <div class="set-list-custom-by-illustrator-subrow">21 editions</div>
  </td>
  <td>
    34
    <div class="set-list-custom-by-illustrator-subrow">15 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 白霜茶">DragonArt 白霜茶</a></td>
  <td>
    8 cards
    <div class="set-list-custom-by-illustrator-subrow">9 editions</div>
  </td>
  <td>
    17
    <div class="set-list-custom-by-illustrator-subrow">8 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=D Lam">D Lam</a></td>
  <td>
    7 cards
    <div class="set-list-custom-by-illustrator-subrow">13 editions</div>
  </td>
  <td>
    23
    <div class="set-list-custom-by-illustrator-subrow">11 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=杭州新艺族">杭州新艺族</a></td>
  <td>
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td>
    16
    <div class="set-list-custom-by-illustrator-subrow">8 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gyool">Gyool</a></td>
  <td>
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td>
    11
    <div class="set-list-custom-by-illustrator-subrow">5 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=silvie">silvie</a></td>
  <td>
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td>
    6
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gendo">Gendo</a></td>
  <td>
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">11 editions</div>
  </td>
  <td>
    20
    <div class="set-list-custom-by-illustrator-subrow">9 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sineia">Sineia</a></td>
  <td>
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">9 editions</div>
  </td>
  <td>
    11
    <div class="set-list-custom-by-illustrator-subrow">5 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt TaroTarou">DragonArt TaroTarou</a></td>
  <td>
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td>
    11
    <div class="set-list-custom-by-illustrator-subrow">6 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Tris">DragonArt Tris</a></td>
  <td>
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td>
    9
    <div class="set-list-custom-by-illustrator-subrow">5 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ジェゼ一">ジェゼ一</a></td>
  <td>
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">9 editions</div>
  </td>
  <td>
    17
    <div class="set-list-custom-by-illustrator-subrow">8 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Zeronext">Zeronext</a></td>
  <td>
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td>
    8
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Pinakes">Pinakes</a></td>
  <td>
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td>
    10
    <div class="set-list-custom-by-illustrator-subrow">6 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Taki">Taki</a></td>
  <td>
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td>
    7
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿清Roro">阿清Roro</a></td>
  <td>
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td>
    7
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Deeya Chaturvedi">Deeya Chaturvedi</a></td>
  <td>
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td>
    5
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=白帝">白帝</a></td>
  <td>
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td>
    12
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=YOHAKU">YOHAKU</a></td>
  <td>
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td>
    8
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=SODA">SODA</a></td>
  <td>
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td>
    5
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Andrew Yang">Andrew Yang</a></td>
  <td>
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td>
    3
    <div class="set-list-custom-by-illustrator-subrow">1 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sunny">Sunny</a></td>
  <td>
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td>
    4
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=桃李タロ">桃李タロ</a></td>
  <td>
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td>
    4
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿冰">阿冰</a></td>
  <td>
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td>
    4
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart Antilous">Dragonart Antilous</a></td>
  <td>
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td>
    3
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart 白霜搽">Dragonart 白霜搽</a></td>
  <td>
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td>
    2
    <div class="set-list-custom-by-illustrator-subrow">1 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Leviathan">Leviathan</a></td>
  <td>
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td>
    2
    <div class="set-list-custom-by-illustrator-subrow">1 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart KS">Dragonart KS</a></td>
  <td>
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td>
    1
    <div class="set-list-custom-by-illustrator-subrow">1 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=HYONEE">HYONEE</a></td>
  <td>
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td>
    1
    <div class="set-list-custom-by-illustrator-subrow">1 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=蝦蝦">蝦蝦</a></td>
  <td>
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td>
    1
    <div class="set-list-custom-by-illustrator-subrow">1 foil</div>
  </td>
</tr>
  </tbody>
</table>