<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Illustrator</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫">道漫</a></td>
  <td style="text-align: right">
    397 cards
    <div class="set-list-custom-by-illustrator-subrow">896 editions</div>
  </td>
  <td style="text-align: right">
    1,411
    <div class="set-list-custom-by-illustrator-subrow">599 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=木叶">木叶</a></td>
  <td style="text-align: right">
    84 cards
    <div class="set-list-custom-by-illustrator-subrow">116 editions</div>
  </td>
  <td style="text-align: right">
    133
    <div class="set-list-custom-by-illustrator-subrow">79 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Primea Studio">Primea Studio</a></td>
  <td style="text-align: right">
    69 cards
    <div class="set-list-custom-by-illustrator-subrow">83 editions</div>
  </td>
  <td style="text-align: right">
    115
    <div class="set-list-custom-by-illustrator-subrow">62 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hanh Chu">Hanh Chu</a></td>
  <td style="text-align: right">
    54 cards
    <div class="set-list-custom-by-illustrator-subrow">115 editions</div>
  </td>
  <td style="text-align: right">
    183
    <div class="set-list-custom-by-illustrator-subrow">80 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=十尾">十尾</a></td>
  <td style="text-align: right">
    32 cards
    <div class="set-list-custom-by-illustrator-subrow">72 editions</div>
  </td>
  <td style="text-align: right">
    81
    <div class="set-list-custom-by-illustrator-subrow">44 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=砂木烟">砂木烟</a></td>
  <td style="text-align: right">
    32 cards
    <div class="set-list-custom-by-illustrator-subrow">52 editions</div>
  </td>
  <td style="text-align: right">
    92
    <div class="set-list-custom-by-illustrator-subrow">44 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Rachel Liu">Rachel Liu</a></td>
  <td style="text-align: right">
    25 cards
    <div class="set-list-custom-by-illustrator-subrow">30 editions</div>
  </td>
  <td style="text-align: right">
    51
    <div class="set-list-custom-by-illustrator-subrow">25 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=北飞飞">北飞飞</a></td>
  <td style="text-align: right">
    21 cards
    <div class="set-list-custom-by-illustrator-subrow">32 editions</div>
  </td>
  <td style="text-align: right">
    57
    <div class="set-list-custom-by-illustrator-subrow">28 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Chu">DragonArt Chu</a></td>
  <td style="text-align: right">
    21 cards
    <div class="set-list-custom-by-illustrator-subrow">22 editions</div>
  </td>
  <td style="text-align: right">
    42
    <div class="set-list-custom-by-illustrator-subrow">22 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 白霜茶">DragonArt 白霜茶</a></td>
  <td style="text-align: right">
    18 cards
    <div class="set-list-custom-by-illustrator-subrow">19 editions</div>
  </td>
  <td style="text-align: right">
    37
    <div class="set-list-custom-by-illustrator-subrow">18 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=代々">代々</a></td>
  <td style="text-align: right">
    17 cards
    <div class="set-list-custom-by-illustrator-subrow">37 editions</div>
  </td>
  <td style="text-align: right">
    59
    <div class="set-list-custom-by-illustrator-subrow">31 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Faicha">Faicha</a></td>
  <td style="text-align: right">
    17 cards
    <div class="set-list-custom-by-illustrator-subrow">30 editions</div>
  </td>
  <td style="text-align: right">
    45
    <div class="set-list-custom-by-illustrator-subrow">25 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hori">Hori</a></td>
  <td style="text-align: right">
    15 cards
    <div class="set-list-custom-by-illustrator-subrow">50 editions</div>
  </td>
  <td style="text-align: right">
    67
    <div class="set-list-custom-by-illustrator-subrow">28 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=檸檬夾心餅">檸檬夾心餅</a></td>
  <td style="text-align: right">
    14 cards
    <div class="set-list-custom-by-illustrator-subrow">20 editions</div>
  </td>
  <td style="text-align: right">
    37
    <div class="set-list-custom-by-illustrator-subrow">17 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt TaroTarou">DragonArt TaroTarou</a></td>
  <td style="text-align: right">
    13 cards
    <div class="set-list-custom-by-illustrator-subrow">14 editions</div>
  </td>
  <td style="text-align: right">
    27
    <div class="set-list-custom-by-illustrator-subrow">14 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Kumai">Kumai</a></td>
  <td style="text-align: right">
    12 cards
    <div class="set-list-custom-by-illustrator-subrow">29 editions</div>
  </td>
  <td style="text-align: right">
    37
    <div class="set-list-custom-by-illustrator-subrow">19 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=NR">NR</a></td>
  <td style="text-align: right">
    10 cards
    <div class="set-list-custom-by-illustrator-subrow">15 editions</div>
  </td>
  <td style="text-align: right">
    21
    <div class="set-list-custom-by-illustrator-subrow">11 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=坊橋夜泊">坊橋夜泊</a></td>
  <td style="text-align: right">
    8 cards
    <div class="set-list-custom-by-illustrator-subrow">21 editions</div>
  </td>
  <td style="text-align: right">
    34
    <div class="set-list-custom-by-illustrator-subrow">15 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=D Lam">D Lam</a></td>
  <td style="text-align: right">
    8 cards
    <div class="set-list-custom-by-illustrator-subrow">14 editions</div>
  </td>
  <td style="text-align: right">
    25
    <div class="set-list-custom-by-illustrator-subrow">12 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Pinakes">Pinakes</a></td>
  <td style="text-align: right">
    8 cards
    <div class="set-list-custom-by-illustrator-subrow">13 editions</div>
  </td>
  <td style="text-align: right">
    16
    <div class="set-list-custom-by-illustrator-subrow">10 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gyool">Gyool</a></td>
  <td style="text-align: right">
    8 cards
    <div class="set-list-custom-by-illustrator-subrow">10 editions</div>
  </td>
  <td style="text-align: right">
    16
    <div class="set-list-custom-by-illustrator-subrow">8 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Tris">DragonArt Tris</a></td>
  <td style="text-align: right">
    8 cards
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td style="text-align: right">
    15
    <div class="set-list-custom-by-illustrator-subrow">8 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sineia">Sineia</a></td>
  <td style="text-align: right">
    7 cards
    <div class="set-list-custom-by-illustrator-subrow">12 editions</div>
  </td>
  <td style="text-align: right">
    15
    <div class="set-list-custom-by-illustrator-subrow">7 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=杭州新艺族">杭州新艺族</a></td>
  <td style="text-align: right">
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td style="text-align: right">
    16
    <div class="set-list-custom-by-illustrator-subrow">8 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=silvie">silvie</a></td>
  <td style="text-align: right">
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    6
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gendo">Gendo</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">11 editions</div>
  </td>
  <td style="text-align: right">
    20
    <div class="set-list-custom-by-illustrator-subrow">9 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ジェゼ一">ジェゼ一</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">9 editions</div>
  </td>
  <td style="text-align: right">
    17
    <div class="set-list-custom-by-illustrator-subrow">8 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ZERONEXT">ZERONEXT</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    8
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Deeya Chaturvedi">Deeya Chaturvedi</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    6
    <div class="set-list-custom-by-illustrator-subrow">3 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 倉倉">DragonArt 倉倉</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    7
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Taki">Taki</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    7
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿清Roro">阿清Roro</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    7
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=白帝">白帝</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td style="text-align: right">
    12
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=SODA">SODA</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    9
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=YOHAKU">YOHAKU</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    8
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Andrew Yang">Andrew Yang</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td style="text-align: right">
    4
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sunny">Sunny</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    4
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=桃李タロ">桃李タロ</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    4
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿冰">阿冰</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    4
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart Antilous">Dragonart Antilous</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    3
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Zhang Iris">DragonArt Zhang Iris</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    2
    <div class="set-list-custom-by-illustrator-subrow">1 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart 白霜搽">Dragonart 白霜搽</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    2
    <div class="set-list-custom-by-illustrator-subrow">1 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 艾瞳A-Ton">DragonArt 艾瞳A-Ton</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    2
    <div class="set-list-custom-by-illustrator-subrow">1 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Leviathan">Leviathan</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    2
    <div class="set-list-custom-by-illustrator-subrow">1 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Polar Engine">Polar Engine</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    2
    <div class="set-list-custom-by-illustrator-subrow">1 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart KS">Dragonart KS</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    1
    <div class="set-list-custom-by-illustrator-subrow">1 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=HYONEE">HYONEE</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    1
    <div class="set-list-custom-by-illustrator-subrow">1 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=蝦蝦">蝦蝦</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    1
    <div class="set-list-custom-by-illustrator-subrow">1 foil</div>
  </td>
</tr>
  </tbody>
</table>