<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Rarity</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=1">
  Common (C)
</a>
  </td>
  <td style="text-align: right">
    579 cards
    <div class="set-list-custom-by-illustrator-subrow">1,023 editions</div>
  </td>
  <td style="text-align: right">
    1,652
    <div class="set-list-custom-by-illustrator-subrow">629 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=2">
  Uncommon (U)
</a>
  </td>
  <td style="text-align: right">
    513 cards
    <div class="set-list-custom-by-illustrator-subrow">724 editions</div>
  </td>
  <td style="text-align: right">
    1,263
    <div class="set-list-custom-by-illustrator-subrow">538 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=3">
  Rare (R)
</a>
  </td>
  <td style="text-align: right">
    465 cards
    <div class="set-list-custom-by-illustrator-subrow">577 editions</div>
  </td>
  <td style="text-align: right">
    1,040
    <div class="set-list-custom-by-illustrator-subrow">463 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=6">
  Promotional Rare (PR)
</a>
  </td>
  <td style="text-align: right">
    334 cards
    <div class="set-list-custom-by-illustrator-subrow">358 editions</div>
  </td>
  <td style="text-align: right">
    387
    <div class="set-list-custom-by-illustrator-subrow">300 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=4">
  Super Rare (SR)
</a>
  </td>
  <td style="text-align: right">
    328 cards
    <div class="set-list-custom-by-illustrator-subrow">381 editions</div>
  </td>
  <td style="text-align: right">
    673
    <div class="set-list-custom-by-illustrator-subrow">323 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=7">
  Collector Super Rare (CSR)
</a>
  </td>
  <td style="text-align: right">
    155 cards
    <div class="set-list-custom-by-illustrator-subrow">159 editions</div>
  </td>
  <td style="text-align: right">
    159
    <div class="set-list-custom-by-illustrator-subrow">159 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=5">
  Ultra Rare (UR)
</a>
  </td>
  <td style="text-align: right">
    81 cards
    <div class="set-list-custom-by-illustrator-subrow">105 editions</div>
  </td>
  <td style="text-align: right">
    190
    <div class="set-list-custom-by-illustrator-subrow">94 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=9">
  Collector Promo Rare (CPR)
</a>
  </td>
  <td style="text-align: right">
    57 cards
    <div class="set-list-custom-by-illustrator-subrow">59 editions</div>
  </td>
  <td style="text-align: right">
    52
    <div class="set-list-custom-by-illustrator-subrow">52 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=8">
  Collector Ultra Rare (CUR)
</a>
  </td>
  <td style="text-align: right">
    17 cards
    <div class="set-list-custom-by-illustrator-subrow">17 editions</div>
  </td>
  <td style="text-align: right">
    17
    <div class="set-list-custom-by-illustrator-subrow">17 foil</div>
  </td>
</tr>
  </tbody>
</table>