<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Illustrator</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫&rarity=2">道漫</a></td>
  <td style="text-align: right">
    114 cards
    <div class="set-list-custom-by-illustrator-subrow">230 editions</div>
  </td>
  <td style="text-align: right">
    5,179,302
    <div class="set-list-custom-by-illustrator-subrow">72,302 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Primea Studio&rarity=2">Primea Studio</a></td>
  <td style="text-align: right">
    105 cards
    <div class="set-list-custom-by-illustrator-subrow">109 editions</div>
  </td>
  <td style="text-align: right">
    6,424,317
    <div class="set-list-custom-by-illustrator-subrow">80,517 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=木叶&rarity=2">木叶</a></td>
  <td style="text-align: right">
    71 cards
    <div class="set-list-custom-by-illustrator-subrow">74 editions</div>
  </td>
  <td style="text-align: right">
    3,941,158
    <div class="set-list-custom-by-illustrator-subrow">59,859 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart&rarity=2">Dragonart</a></td>
  <td style="text-align: right">
    24 cards
    <div class="set-list-custom-by-illustrator-subrow">29 editions</div>
  </td>
  <td style="text-align: right">
    1,603,822
    <div class="set-list-custom-by-illustrator-subrow">23,222 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hanh Chu&rarity=2">Hanh Chu</a></td>
  <td style="text-align: right">
    17 cards
    <div class="set-list-custom-by-illustrator-subrow">25 editions</div>
  </td>
  <td style="text-align: right">
    942,432
    <div class="set-list-custom-by-illustrator-subrow">15,832 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=檸檬夾心餅&rarity=2">檸檬夾心餅</a></td>
  <td style="text-align: right">
    14 cards
    <div class="set-list-custom-by-illustrator-subrow">18 editions</div>
  </td>
  <td style="text-align: right">
    788,450
    <div class="set-list-custom-by-illustrator-subrow">11,150 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=砂木烟&rarity=2">砂木烟</a></td>
  <td style="text-align: right">
    12 cards
    <div class="set-list-custom-by-illustrator-subrow">18 editions</div>
  </td>
  <td style="text-align: right">
    599,738
    <div class="set-list-custom-by-illustrator-subrow">8,538 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart Chu&rarity=2">Dragonart Chu</a></td>
  <td style="text-align: right">
    7 cards
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    389,124
    <div class="set-list-custom-by-illustrator-subrow">7,724 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=代々&rarity=2">代々</a></td>
  <td style="text-align: right">
    7 cards
    <div class="set-list-custom-by-illustrator-subrow">11 editions</div>
  </td>
  <td style="text-align: right">
    330,018
    <div class="set-list-custom-by-illustrator-subrow">5,818 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 白霜茶&rarity=2">DragonArt 白霜茶</a></td>
  <td style="text-align: right">
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    323,672
    <div class="set-list-custom-by-illustrator-subrow">6,272 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=坊橋夜泊&rarity=2">坊橋夜泊</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">9 editions</div>
  </td>
  <td style="text-align: right">
    274,757
    <div class="set-list-custom-by-illustrator-subrow">3,557 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Rachel Liu&rarity=2">Rachel Liu</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    271,212
    <div class="set-list-custom-by-illustrator-subrow">5,012 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Pinakes&rarity=2">Pinakes</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    250,264
    <div class="set-list-custom-by-illustrator-subrow">3,964 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=十尾&rarity=2">十尾</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    190,600
    <div class="set-list-custom-by-illustrator-subrow">3,700 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=北飞飞&rarity=2">北飞飞</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    195,096
    <div class="set-list-custom-by-illustrator-subrow">3,796 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gyool&rarity=2">Gyool</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    192,276
    <div class="set-list-custom-by-illustrator-subrow">3,276 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt TaroTarou&rarity=2">DragonArt TaroTarou</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    188,752
    <div class="set-list-custom-by-illustrator-subrow">3,752 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Faicha&rarity=2">Faicha</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    183,120
    <div class="set-list-custom-by-illustrator-subrow">4,320 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sineia&rarity=2">Sineia</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td style="text-align: right">
    169,937
    <div class="set-list-custom-by-illustrator-subrow">2,137 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=D Lam&rarity=2">D Lam</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    144,260
    <div class="set-list-custom-by-illustrator-subrow">2,660 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=SODA&rarity=2">SODA</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    70,520
    <div class="set-list-custom-by-illustrator-subrow">1,320 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ZERONEXT&rarity=2">ZERONEXT</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    65,919
    <div class="set-list-custom-by-illustrator-subrow">1,719 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=NR&rarity=2">NR</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    30,300
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hori&rarity=2">Hori</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    69,719
    <div class="set-list-custom-by-illustrator-subrow">519 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Zhang Iris&rarity=2">DragonArt Zhang Iris</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    67,460
    <div class="set-list-custom-by-illustrator-subrow">1,260 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Polar Engine&rarity=2">Polar Engine</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    67,460
    <div class="set-list-custom-by-illustrator-subrow">1,260 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ジェゼ一&rarity=2">ジェゼ一</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td style="text-align: right">
    58,260
    <div class="set-list-custom-by-illustrator-subrow">660 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿清Roro&rarity=2">阿清Roro</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    55,837
    <div class="set-list-custom-by-illustrator-subrow">837 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=桃李タロ&rarity=2">桃李タロ</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    33,260
    <div class="set-list-custom-by-illustrator-subrow">660 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Unknown&rarity=2">Unknown</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    32,000
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Andrew Yang&rarity=2">Andrew Yang</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    26,916
    <div class="set-list-custom-by-illustrator-subrow">616 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Deeya Chaturvedi&rarity=2">Deeya Chaturvedi</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    7,500
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
  </tbody>
</table>