<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Name</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Diana">
  Diana
</a>
  </td>
  <td style="text-align: right">
    7 cards
    <div class="set-list-custom-by-illustrator-subrow">21 editions</div>
  </td>
  <td style="text-align: right">
    28
    <div class="set-list-custom-by-illustrator-subrow">15 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Lorraine">
  Lorraine
</a>
  </td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">24 editions</div>
  </td>
  <td style="text-align: right">
    27
    <div class="set-list-custom-by-illustrator-subrow">10 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Silvie">
  Silvie
</a>
  </td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">19 editions</div>
  </td>
  <td style="text-align: right">
    22
    <div class="set-list-custom-by-illustrator-subrow">9 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Tristan">
  Tristan
</a>
  </td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">14 editions</div>
  </td>
  <td style="text-align: right">
    24
    <div class="set-list-custom-by-illustrator-subrow">16 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Zander">
  Zander
</a>
  </td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">14 editions</div>
  </td>
  <td style="text-align: right">
    17
    <div class="set-list-custom-by-illustrator-subrow">8 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Rai">
  Rai
</a>
  </td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">17 editions</div>
  </td>
  <td style="text-align: right">
    20
    <div class="set-list-custom-by-illustrator-subrow">8 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Arisanna">
  Arisanna
</a>
  </td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">12 editions</div>
  </td>
  <td style="text-align: right">
    16
    <div class="set-list-custom-by-illustrator-subrow">9 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Kongming">
  Kongming
</a>
  </td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">12 editions</div>
  </td>
  <td style="text-align: right">
    16
    <div class="set-list-custom-by-illustrator-subrow">9 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Tonoris">
  Tonoris
</a>
  </td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">12 editions</div>
  </td>
  <td style="text-align: right">
    16
    <div class="set-list-custom-by-illustrator-subrow">9 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Ciel">
  Ciel
</a>
  </td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">9 editions</div>
  </td>
  <td style="text-align: right">
    12
    <div class="set-list-custom-by-illustrator-subrow">6 foil</div>
  </td>
</tr>
  </tbody>
</table>