<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Class</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=CLERIC">
  CLERIC
</a>
  </td>
  <td style="text-align: right">
    231 cards
    <div class="set-list-custom-by-illustrator-subrow">380 editions</div>
  </td>
  <td style="text-align: right">
    606
    <div class="set-list-custom-by-illustrator-subrow">283 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=MAGE">
  MAGE
</a>
  </td>
  <td style="text-align: right">
    194 cards
    <div class="set-list-custom-by-illustrator-subrow">511 editions</div>
  </td>
  <td style="text-align: right">
    794
    <div class="set-list-custom-by-illustrator-subrow">351 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=WARRIOR">
  WARRIOR
</a>
  </td>
  <td style="text-align: right">
    170 cards
    <div class="set-list-custom-by-illustrator-subrow">441 editions</div>
  </td>
  <td style="text-align: right">
    683
    <div class="set-list-custom-by-illustrator-subrow">292 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=TAMER">
  TAMER
</a>
  </td>
  <td style="text-align: right">
    150 cards
    <div class="set-list-custom-by-illustrator-subrow">304 editions</div>
  </td>
  <td style="text-align: right">
    446
    <div class="set-list-custom-by-illustrator-subrow">212 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=GUARDIAN">
  GUARDIAN
</a>
  </td>
  <td style="text-align: right">
    136 cards
    <div class="set-list-custom-by-illustrator-subrow">227 editions</div>
  </td>
  <td style="text-align: right">
    351
    <div class="set-list-custom-by-illustrator-subrow">166 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=ASSASSIN">
  ASSASSIN
</a>
  </td>
  <td style="text-align: right">
    130 cards
    <div class="set-list-custom-by-illustrator-subrow">260 editions</div>
  </td>
  <td style="text-align: right">
    383
    <div class="set-list-custom-by-illustrator-subrow">205 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=RANGER">
  RANGER
</a>
  </td>
  <td style="text-align: right">
    124 cards
    <div class="set-list-custom-by-illustrator-subrow">194 editions</div>
  </td>
  <td style="text-align: right">
    315
    <div class="set-list-custom-by-illustrator-subrow">156 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=SPIRIT">
  SPIRIT
</a>
  </td>
  <td style="text-align: right">
    23 cards
    <div class="set-list-custom-by-illustrator-subrow">51 editions</div>
  </td>
  <td style="text-align: right">
    52
    <div class="set-list-custom-by-illustrator-subrow">14 foil</div>
  </td>
</tr>
  </tbody>
</table>