<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Illustrator</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫&rarity=1">道漫</a></td>
  <td style="text-align: right">
    134 cards
    <div class="set-list-custom-by-illustrator-subrow">308 editions</div>
  </td>
  <td style="text-align: right">
    14,301,365
    <div class="set-list-custom-by-illustrator-subrow">126,665 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hanh Chu&rarity=1">Hanh Chu</a></td>
  <td style="text-align: right">
    18 cards
    <div class="set-list-custom-by-illustrator-subrow">48 editions</div>
  </td>
  <td style="text-align: right">
    2,310,982
    <div class="set-list-custom-by-illustrator-subrow">16,182 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=砂木烟&rarity=1">砂木烟</a></td>
  <td style="text-align: right">
    15 cards
    <div class="set-list-custom-by-illustrator-subrow">25 editions</div>
  </td>
  <td style="text-align: right">
    1,377,063
    <div class="set-list-custom-by-illustrator-subrow">11,063 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hori&rarity=1">Hori</a></td>
  <td style="text-align: right">
    8 cards
    <div class="set-list-custom-by-illustrator-subrow">30 editions</div>
  </td>
  <td style="text-align: right">
    980,990
    <div class="set-list-custom-by-illustrator-subrow">2,190 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=十尾&rarity=1">十尾</a></td>
  <td style="text-align: right">
    8 cards
    <div class="set-list-custom-by-illustrator-subrow">24 editions</div>
  </td>
  <td style="text-align: right">
    840,172
    <div class="set-list-custom-by-illustrator-subrow">5,472 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Rachel Liu&rarity=1">Rachel Liu</a></td>
  <td style="text-align: right">
    8 cards
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td style="text-align: right">
    499,772
    <div class="set-list-custom-by-illustrator-subrow">2,972 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=北飞飞&rarity=1">北飞飞</a></td>
  <td style="text-align: right">
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">9 editions</div>
  </td>
  <td style="text-align: right">
    473,857
    <div class="set-list-custom-by-illustrator-subrow">1,957 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gendo&rarity=1">Gendo</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">11 editions</div>
  </td>
  <td style="text-align: right">
    532,748
    <div class="set-list-custom-by-illustrator-subrow">3,748 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 白霜茶&rarity=1">DragonArt 白霜茶</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    497,215
    <div class="set-list-custom-by-illustrator-subrow">3,715 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=代々&rarity=1">代々</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">11 editions</div>
  </td>
  <td style="text-align: right">
    280,153
    <div class="set-list-custom-by-illustrator-subrow">3,753 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=檸檬夾心餅&rarity=1">檸檬夾心餅</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    535,867
    <div class="set-list-custom-by-illustrator-subrow">6,767 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Kumai&rarity=1">Kumai</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">10 editions</div>
  </td>
  <td style="text-align: right">
    452,652
    <div class="set-list-custom-by-illustrator-subrow">1,252 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Faicha&rarity=1">Faicha</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    121,472
    <div class="set-list-custom-by-illustrator-subrow">2,972 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=坊橋夜泊&rarity=1">坊橋夜泊</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    274,205
    <div class="set-list-custom-by-illustrator-subrow">1,405 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Tris&rarity=1">DragonArt Tris</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    247,643
    <div class="set-list-custom-by-illustrator-subrow">3,443 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gyool&rarity=1">Gyool</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    189,886
    <div class="set-list-custom-by-illustrator-subrow">1,486 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ジェゼ一&rarity=1">ジェゼ一</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    182,362
    <div class="set-list-custom-by-illustrator-subrow">1,562 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=NR&rarity=1">NR</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    91,181
    <div class="set-list-custom-by-illustrator-subrow">781 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=白帝&rarity=1">白帝</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    254,681
    <div class="set-list-custom-by-illustrator-subrow">781 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ZERONEXT&rarity=1">ZERONEXT</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    186,700
    <div class="set-list-custom-by-illustrator-subrow">2,700 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart 白霜搽&rarity=1">Dragonart 白霜搽</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    168,700
    <div class="set-list-custom-by-illustrator-subrow">2,700 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Taki&rarity=1">Taki</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    168,700
    <div class="set-list-custom-by-illustrator-subrow">2,700 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sineia&rarity=1">Sineia</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    117,443
    <div class="set-list-custom-by-illustrator-subrow">743 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=D Lam&rarity=1">D Lam</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    94,943
    <div class="set-list-custom-by-illustrator-subrow">743 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Chu&rarity=1">DragonArt Chu</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    94,943
    <div class="set-list-custom-by-illustrator-subrow">743 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt TaroTarou&rarity=1">DragonArt TaroTarou</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    94,943
    <div class="set-list-custom-by-illustrator-subrow">743 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=杭州新艺族&rarity=1">杭州新艺族</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    94,943
    <div class="set-list-custom-by-illustrator-subrow">743 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿清Roro&rarity=1">阿清Roro</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    94,943
    <div class="set-list-custom-by-illustrator-subrow">743 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿冰&rarity=1">阿冰</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    91,181
    <div class="set-list-custom-by-illustrator-subrow">781 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=YOHAKU&rarity=1">YOHAKU</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    84,024
    <div class="set-list-custom-by-illustrator-subrow">624 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Andrew Yang&rarity=1">Andrew Yang</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    30,000
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
  </tbody>
</table>