<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Type</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/action.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=ACTION">
    ACTION
  </a>
</div>
  </td>
  <td style="text-align: right">
    266 cards
    <div class="set-list-custom-by-illustrator-subrow">554 editions</div>
  </td>
  <td style="text-align: right">
    891
    <div class="set-list-custom-by-illustrator-subrow">400 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/ally.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=ALLY">
    ALLY
  </a>
</div>
  </td>
  <td style="text-align: right">
    249 cards
    <div class="set-list-custom-by-illustrator-subrow">506 editions</div>
  </td>
  <td style="text-align: right">
    814
    <div class="set-list-custom-by-illustrator-subrow">384 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/item.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=ITEM">
    ITEM
  </a>
</div>
  </td>
  <td style="text-align: right">
    150 cards
    <div class="set-list-custom-by-illustrator-subrow">299 editions</div>
  </td>
  <td style="text-align: right">
    434
    <div class="set-list-custom-by-illustrator-subrow">209 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/champion.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=CHAMPION">
    CHAMPION
  </a>
</div>
  </td>
  <td style="text-align: right">
    60 cards
    <div class="set-list-custom-by-illustrator-subrow">172 editions</div>
  </td>
  <td style="text-align: right">
    199
    <div class="set-list-custom-by-illustrator-subrow">89 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/attack.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=ATTACK">
    ATTACK
  </a>
</div>
  </td>
  <td style="text-align: right">
    55 cards
    <div class="set-list-custom-by-illustrator-subrow">122 editions</div>
  </td>
  <td style="text-align: right">
    193
    <div class="set-list-custom-by-illustrator-subrow">84 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/weapon.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=WEAPON">
    WEAPON
  </a>
</div>
  </td>
  <td style="text-align: right">
    46 cards
    <div class="set-list-custom-by-illustrator-subrow">95 editions</div>
  </td>
  <td style="text-align: right">
    141
    <div class="set-list-custom-by-illustrator-subrow">66 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/domain.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=DOMAIN">
    DOMAIN
  </a>
</div>
  </td>
  <td style="text-align: right">
    22 cards
    <div class="set-list-custom-by-illustrator-subrow">28 editions</div>
  </td>
  <td style="text-align: right">
    53
    <div class="set-list-custom-by-illustrator-subrow">25 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/phantasia.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=PHANTASIA">
    PHANTASIA
  </a>
</div>
  </td>
  <td style="text-align: right">
    22 cards
    <div class="set-list-custom-by-illustrator-subrow">26 editions</div>
  </td>
  <td style="text-align: right">
    47
    <div class="set-list-custom-by-illustrator-subrow">23 foil</div>
  </td>
</tr>
  </tbody>
</table>