<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Element</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/norm.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=NORM">
    NORM
  </a>
</div>
  </td>
  <td style="text-align: right">
    301 cards
    <div class="set-list-custom-by-illustrator-subrow">744 editions</div>
  </td>
  <td style="text-align: right">
    1,073
    <div class="set-list-custom-by-illustrator-subrow">486 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/water.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=WATER">
    WATER
  </a>
</div>
  </td>
  <td style="text-align: right">
    135 cards
    <div class="set-list-custom-by-illustrator-subrow">221 editions</div>
  </td>
  <td style="text-align: right">
    388
    <div class="set-list-custom-by-illustrator-subrow">187 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/wind.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=WIND">
    WIND
  </a>
</div>
  </td>
  <td style="text-align: right">
    130 cards
    <div class="set-list-custom-by-illustrator-subrow">240 editions</div>
  </td>
  <td style="text-align: right">
    385
    <div class="set-list-custom-by-illustrator-subrow">178 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/fire.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=FIRE">
    FIRE
  </a>
</div>
  </td>
  <td style="text-align: right">
    123 cards
    <div class="set-list-custom-by-illustrator-subrow">236 editions</div>
  </td>
  <td style="text-align: right">
    400
    <div class="set-list-custom-by-illustrator-subrow">180 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/umbra.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=UMBRA">
    UMBRA
  </a>
</div>
  </td>
  <td style="text-align: right">
    47 cards
    <div class="set-list-custom-by-illustrator-subrow">73 editions</div>
  </td>
  <td style="text-align: right">
    96
    <div class="set-list-custom-by-illustrator-subrow">52 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/neos.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=NEOS">
    NEOS
  </a>
</div>
  </td>
  <td style="text-align: right">
    26 cards
    <div class="set-list-custom-by-illustrator-subrow">41 editions</div>
  </td>
  <td style="text-align: right">
    65
    <div class="set-list-custom-by-illustrator-subrow">30 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/astra.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=ASTRA">
    ASTRA
  </a>
</div>
  </td>
  <td style="text-align: right">
    26 cards
    <div class="set-list-custom-by-illustrator-subrow">39 editions</div>
  </td>
  <td style="text-align: right">
    63
    <div class="set-list-custom-by-illustrator-subrow">31 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/tera.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=TERA">
    TERA
  </a>
</div>
  </td>
  <td style="text-align: right">
    24 cards
    <div class="set-list-custom-by-illustrator-subrow">54 editions</div>
  </td>
  <td style="text-align: right">
    71
    <div class="set-list-custom-by-illustrator-subrow">33 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/crux.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=CRUX">
    CRUX
  </a>
</div>
  </td>
  <td style="text-align: right">
    19 cards
    <div class="set-list-custom-by-illustrator-subrow">58 editions</div>
  </td>
  <td style="text-align: right">
    83
    <div class="set-list-custom-by-illustrator-subrow">36 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/arcane.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=ARCANE">
    ARCANE
  </a>
</div>
  </td>
  <td style="text-align: right">
    19 cards
    <div class="set-list-custom-by-illustrator-subrow">55 editions</div>
  </td>
  <td style="text-align: right">
    85
    <div class="set-list-custom-by-illustrator-subrow">36 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/luxem.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=LUXEM">
    LUXEM
  </a>
</div>
  </td>
  <td style="text-align: right">
    19 cards
    <div class="set-list-custom-by-illustrator-subrow">38 editions</div>
  </td>
  <td style="text-align: right">
    61
    <div class="set-list-custom-by-illustrator-subrow">30 foil</div>
  </td>
</tr>
  </tbody>
</table>