<table class="set-list set-list-custom set-list-custom-by-illustrator">
<thead>
  <tr>
    <th style="text-align: left">Illustrator</th>
    <th style="text-align: left">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫">道漫</a></td>
  <td style="text-align: right">
    24,042,057
    <div class="set-list-custom-by-illustrator-subrow">368,572 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Primea Studio">Primea Studio</a></td>
  <td style="text-align: right">
    23,489,549
    <div class="set-list-custom-by-illustrator-subrow">341,221 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=木叶">木叶</a></td>
  <td style="text-align: right">
    18,411,780
    <div class="set-list-custom-by-illustrator-subrow">399,539 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart">Dragonart</a></td>
  <td style="text-align: right">
    8,681,654
    <div class="set-list-custom-by-illustrator-subrow">164,614 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hanh Chu">Hanh Chu</a></td>
  <td style="text-align: right">
    4,980,208
    <div class="set-list-custom-by-illustrator-subrow">73,870 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=砂木烟">砂木烟</a></td>
  <td style="text-align: right">
    4,161,104
    <div class="set-list-custom-by-illustrator-subrow">58,684 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Pinakes">Pinakes</a></td>
  <td style="text-align: right">
    2,690,189
    <div class="set-list-custom-by-illustrator-subrow">30,759 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=十尾">十尾</a></td>
  <td style="text-align: right">
    2,370,984
    <div class="set-list-custom-by-illustrator-subrow">51,042 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=檸檬夾心餅">檸檬夾心餅</a></td>
  <td style="text-align: right">
    1,914,180
    <div class="set-list-custom-by-illustrator-subrow">25,340 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Rachel Liu">Rachel Liu</a></td>
  <td style="text-align: right">
    1,589,275
    <div class="set-list-custom-by-illustrator-subrow">25,335 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gyool">Gyool</a></td>
  <td style="text-align: right">
    1,585,918
    <div class="set-list-custom-by-illustrator-subrow">24,963 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sineia">Sineia</a></td>
  <td style="text-align: right">
    1,248,636
    <div class="set-list-custom-by-illustrator-subrow">75,048 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=代々">代々</a></td>
  <td style="text-align: right">
    1,202,553
    <div class="set-list-custom-by-illustrator-subrow">32,263 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Parhelion Studio">Parhelion Studio</a></td>
  <td style="text-align: right">
    1,188,340
    <div class="set-list-custom-by-illustrator-subrow">18,340 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=坊橋夜泊">坊橋夜泊</a></td>
  <td style="text-align: right">
    1,146,702
    <div class="set-list-custom-by-illustrator-subrow">15,102 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hori">Hori</a></td>
  <td style="text-align: right">
    1,114,229
    <div class="set-list-custom-by-illustrator-subrow">11,969 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 白霜茶">DragonArt 白霜茶</a></td>
  <td style="text-align: right">
    1,101,781
    <div class="set-list-custom-by-illustrator-subrow">16,761 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=北飞飞">北飞飞</a></td>
  <td style="text-align: right">
    1,092,898
    <div class="set-list-custom-by-illustrator-subrow">16,378 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart Chu">Dragonart Chu</a></td>
  <td style="text-align: right">
    855,628
    <div class="set-list-custom-by-illustrator-subrow">18,908 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt TaroTarou">DragonArt TaroTarou</a></td>
  <td style="text-align: right">
    718,983
    <div class="set-list-custom-by-illustrator-subrow">13,023 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Kumai">Kumai</a></td>
  <td style="text-align: right">
    621,314
    <div class="set-list-custom-by-illustrator-subrow">9,164 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gendo">Gendo</a></td>
  <td style="text-align: right">
    532,748
    <div class="set-list-custom-by-illustrator-subrow">3,748 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Faicha">Faicha</a></td>
  <td style="text-align: right">
    476,389
    <div class="set-list-custom-by-illustrator-subrow">16,239 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=D Lam">D Lam</a></td>
  <td style="text-align: right">
    408,312
    <div class="set-list-custom-by-illustrator-subrow">7,722 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Tris">DragonArt Tris</a></td>
  <td style="text-align: right">
    348,802
    <div class="set-list-custom-by-illustrator-subrow">7,702 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=白帝">白帝</a></td>
  <td style="text-align: right">
    272,033
    <div class="set-list-custom-by-illustrator-subrow">1,373 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ZERONEXT">ZERONEXT</a></td>
  <td style="text-align: right">
    270,819
    <div class="set-list-custom-by-illustrator-subrow">5,119 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ジェゼ一">ジェゼ一</a></td>
  <td style="text-align: right">
    257,974
    <div class="set-list-custom-by-illustrator-subrow">2,814 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=杭州新艺族">杭州新艺族</a></td>
  <td style="text-align: right">
    243,838
    <div class="set-list-custom-by-illustrator-subrow">6,774 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Taki">Taki</a></td>
  <td style="text-align: right">
    207,630
    <div class="set-list-custom-by-illustrator-subrow">4,290 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=NR">NR</a></td>
  <td style="text-align: right">
    189,012
    <div class="set-list-custom-by-illustrator-subrow">2,292 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Ge-B">Ge-B</a></td>
  <td style="text-align: right">
    187,620
    <div class="set-list-custom-by-illustrator-subrow">1,620 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿清Roro">阿清Roro</a></td>
  <td style="text-align: right">
    174,817
    <div class="set-list-custom-by-illustrator-subrow">2,777 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Parhelion Studio Co.">Parhelion Studio Co.</a></td>
  <td style="text-align: right">
    172,453
    <div class="set-list-custom-by-illustrator-subrow">4,253 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart 白霜搽">Dragonart 白霜搽</a></td>
  <td style="text-align: right">
    168,700
    <div class="set-list-custom-by-illustrator-subrow">2,700 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 倉倉">DragonArt 倉倉</a></td>
  <td style="text-align: right">
    142,487
    <div class="set-list-custom-by-illustrator-subrow">3,347 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=YOHAKU">YOHAKU</a></td>
  <td style="text-align: right">
    113,067
    <div class="set-list-custom-by-illustrator-subrow">1,807 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿冰">阿冰</a></td>
  <td style="text-align: right">
    91,181
    <div class="set-list-custom-by-illustrator-subrow">781 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=SODA">SODA</a></td>
  <td style="text-align: right">
    70,520
    <div class="set-list-custom-by-illustrator-subrow">1,320 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Zhang Iris">DragonArt Zhang Iris</a></td>
  <td style="text-align: right">
    67,460
    <div class="set-list-custom-by-illustrator-subrow">1,260 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Polar Engine">Polar Engine</a></td>
  <td style="text-align: right">
    67,460
    <div class="set-list-custom-by-illustrator-subrow">1,260 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Andrew Yang">Andrew Yang</a></td>
  <td style="text-align: right">
    57,066
    <div class="set-list-custom-by-illustrator-subrow">766 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Unknown">Unknown</a></td>
  <td style="text-align: right">
    52,000
    <div class="set-list-custom-by-illustrator-subrow">200 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Deeya Chaturvedi">Deeya Chaturvedi</a></td>
  <td style="text-align: right">
    42,143
    <div class="set-list-custom-by-illustrator-subrow">693 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=繪來">繪來</a></td>
  <td style="text-align: right">
    41,980
    <div class="set-list-custom-by-illustrator-subrow">1,680 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 艾瞳A-Ton">DragonArt 艾瞳A-Ton</a></td>
  <td style="text-align: right">
    39,635
    <div class="set-list-custom-by-illustrator-subrow">935 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=桃李タロ">桃李タロ</a></td>
  <td style="text-align: right">
    33,260
    <div class="set-list-custom-by-illustrator-subrow">660 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=silvie">silvie</a></td>
  <td style="text-align: right">
    16,200
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sunny">Sunny</a></td>
  <td style="text-align: right">
    8,982
    <div class="set-list-custom-by-illustrator-subrow">532 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart Antilous">Dragonart Antilous</a></td>
  <td style="text-align: right">
    7,460
    <div class="set-list-custom-by-illustrator-subrow">860 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Leviathan">Leviathan</a></td>
  <td style="text-align: right">
    6,684
    <div class="set-list-custom-by-illustrator-subrow">344 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=蝦蝦">蝦蝦</a></td>
  <td style="text-align: right">
    1,500
    <div class="set-list-custom-by-illustrator-subrow">1,500 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=HYONEE">HYONEE</a></td>
  <td style="text-align: right">
    900
    <div class="set-list-custom-by-illustrator-subrow">900 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragon Art">Dragon Art</a></td>
  <td style="text-align: right">
    365
    <div class="set-list-custom-by-illustrator-subrow">365 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart KS">Dragonart KS</a></td>
  <td style="text-align: right">
    162
    <div class="set-list-custom-by-illustrator-subrow">162 foil</div>
  </td>
</tr>
</tbody>
</table>