<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Illustrator</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=十尾&rarity=7&rarity=8&rarity=9">十尾</a></td>
  <td style="text-align: right">
    9 cards
    <div class="set-list-custom-by-illustrator-subrow">10 editions</div>
  </td>
  <td style="text-align: right">
    993
    <div class="set-list-custom-by-illustrator-subrow">993 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hanh Chu&rarity=7&rarity=8&rarity=9">Hanh Chu</a></td>
  <td style="text-align: right">
    8 cards
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td style="text-align: right">
    1,335
    <div class="set-list-custom-by-illustrator-subrow">1,335 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hori&rarity=7&rarity=8&rarity=9">Hori</a></td>
  <td style="text-align: right">
    8 cards
    <div class="set-list-custom-by-illustrator-subrow">9 editions</div>
  </td>
  <td style="text-align: right">
    1,009
    <div class="set-list-custom-by-illustrator-subrow">1,009 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=代々&rarity=7&rarity=8&rarity=9">代々</a></td>
  <td style="text-align: right">
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    1,085
    <div class="set-list-custom-by-illustrator-subrow">1,085 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Faicha&rarity=7&rarity=8&rarity=9">Faicha</a></td>
  <td style="text-align: right">
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    900
    <div class="set-list-custom-by-illustrator-subrow">900 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Kumai&rarity=7&rarity=8&rarity=9">Kumai</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    428
    <div class="set-list-custom-by-illustrator-subrow">428 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=NR&rarity=7&rarity=8&rarity=9">NR</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    176
    <div class="set-list-custom-by-illustrator-subrow">176 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=砂木烟&rarity=7&rarity=8&rarity=9">砂木烟</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td style="text-align: right">
    364
    <div class="set-list-custom-by-illustrator-subrow">364 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=北飞飞&rarity=7&rarity=8&rarity=9">北飞飞</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td style="text-align: right">
    162
    <div class="set-list-custom-by-illustrator-subrow">162 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=坊橋夜泊&rarity=7&rarity=8&rarity=9">坊橋夜泊</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    714
    <div class="set-list-custom-by-illustrator-subrow">714 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫&rarity=7&rarity=8&rarity=9">道漫</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    449
    <div class="set-list-custom-by-illustrator-subrow">449 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Chu&rarity=7&rarity=8&rarity=9">DragonArt Chu</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    412
    <div class="set-list-custom-by-illustrator-subrow">412 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Pinakes&rarity=7&rarity=8&rarity=9">Pinakes</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    253
    <div class="set-list-custom-by-illustrator-subrow">253 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sineia&rarity=7&rarity=8&rarity=9">Sineia</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    153
    <div class="set-list-custom-by-illustrator-subrow">153 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=D Lam&rarity=7&rarity=8&rarity=9">D Lam</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    425
    <div class="set-list-custom-by-illustrator-subrow">425 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart Antilous&rarity=7&rarity=8&rarity=9">Dragonart Antilous</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    425
    <div class="set-list-custom-by-illustrator-subrow">425 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=YOHAKU&rarity=7&rarity=8&rarity=9">YOHAKU</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    289
    <div class="set-list-custom-by-illustrator-subrow">289 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt TaroTarou&rarity=7&rarity=8&rarity=9">DragonArt TaroTarou</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    192
    <div class="set-list-custom-by-illustrator-subrow">192 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿清Roro&rarity=7&rarity=8&rarity=9">阿清Roro</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    153
    <div class="set-list-custom-by-illustrator-subrow">153 foil</div>
  </td>
</tr>
  </tbody>
</table>