<table class="set-list set-list-custom set-list-custom-by-illustrator">
<thead>
  <tr>
    <th style="text-align: left">Illustrator</th>
    <th style="text-align: left">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Primea Studio">Primea Studio</a></td>
  <td style="text-align: right">
    34,182,438
    <div class="set-list-custom-by-illustrator-subrow">539,510 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫">道漫</a></td>
  <td style="text-align: right">
    26,362,847
    <div class="set-list-custom-by-illustrator-subrow">400,462 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=木叶">木叶</a></td>
  <td style="text-align: right">
    22,195,918
    <div class="set-list-custom-by-illustrator-subrow">449,177 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart">Dragonart</a></td>
  <td style="text-align: right">
    12,737,889
    <div class="set-list-custom-by-illustrator-subrow">224,599 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hanh Chu">Hanh Chu</a></td>
  <td style="text-align: right">
    5,175,394
    <div class="set-list-custom-by-illustrator-subrow">74,956 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=砂木烟">砂木烟</a></td>
  <td style="text-align: right">
    4,695,990
    <div class="set-list-custom-by-illustrator-subrow">83,260 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Parhelion Studio Co.">Parhelion Studio Co.</a></td>
  <td style="text-align: right">
    3,910,368
    <div class="set-list-custom-by-illustrator-subrow">83,468 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=十尾">十尾</a></td>
  <td style="text-align: right">
    3,427,387
    <div class="set-list-custom-by-illustrator-subrow">65,445 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Pinakes">Pinakes</a></td>
  <td style="text-align: right">
    2,863,189
    <div class="set-list-custom-by-illustrator-subrow">35,459 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Alkaid">Alkaid</a></td>
  <td style="text-align: right">
    2,429,954
    <div class="set-list-custom-by-illustrator-subrow">38,054 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=檸檬夾心餅">檸檬夾心餅</a></td>
  <td style="text-align: right">
    2,338,210
    <div class="set-list-custom-by-illustrator-subrow">27,970 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gyool">Gyool</a></td>
  <td style="text-align: right">
    1,880,166
    <div class="set-list-custom-by-illustrator-subrow">31,911 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Rachel Liu">Rachel Liu</a></td>
  <td style="text-align: right">
    1,589,275
    <div class="set-list-custom-by-illustrator-subrow">25,335 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=代々">代々</a></td>
  <td style="text-align: right">
    1,439,513
    <div class="set-list-custom-by-illustrator-subrow">34,323 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=坊橋夜泊">坊橋夜泊</a></td>
  <td style="text-align: right">
    1,298,282
    <div class="set-list-custom-by-illustrator-subrow">25,082 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sineia">Sineia</a></td>
  <td style="text-align: right">
    1,256,636
    <div class="set-list-custom-by-illustrator-subrow">75,048 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 白霜茶">DragonArt 白霜茶</a></td>
  <td style="text-align: right">
    1,241,581
    <div class="set-list-custom-by-illustrator-subrow">16,761 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=北飞飞">北飞飞</a></td>
  <td style="text-align: right">
    1,224,616
    <div class="set-list-custom-by-illustrator-subrow">15,846 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Parhelion Studio">Parhelion Studio</a></td>
  <td style="text-align: right">
    1,188,340
    <div class="set-list-custom-by-illustrator-subrow">18,340 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hori">Hori</a></td>
  <td style="text-align: right">
    1,154,229
    <div class="set-list-custom-by-illustrator-subrow">11,969 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart Chu">Dragonart Chu</a></td>
  <td style="text-align: right">
    989,628
    <div class="set-list-custom-by-illustrator-subrow">18,908 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt TaroTarou">DragonArt TaroTarou</a></td>
  <td style="text-align: right">
    719,083
    <div class="set-list-custom-by-illustrator-subrow">13,123 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Kumai">Kumai</a></td>
  <td style="text-align: right">
    629,314
    <div class="set-list-custom-by-illustrator-subrow">9,164 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gendo">Gendo</a></td>
  <td style="text-align: right">
    613,548
    <div class="set-list-custom-by-illustrator-subrow">3,748 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Faicha">Faicha</a></td>
  <td style="text-align: right">
    551,138
    <div class="set-list-custom-by-illustrator-subrow">17,038 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=D Lam">D Lam</a></td>
  <td style="text-align: right">
    499,312
    <div class="set-list-custom-by-illustrator-subrow">7,722 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Kaze">Kaze</a></td>
  <td style="text-align: right">
    439,580
    <div class="set-list-custom-by-illustrator-subrow">8,180 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=杭州新艺族">杭州新艺族</a></td>
  <td style="text-align: right">
    377,083
    <div class="set-list-custom-by-illustrator-subrow">13,919 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Marchon">Marchon</a></td>
  <td style="text-align: right">
    363,860
    <div class="set-list-custom-by-illustrator-subrow">6,460 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Tris">DragonArt Tris</a></td>
  <td style="text-align: right">
    348,802
    <div class="set-list-custom-by-illustrator-subrow">7,702 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=SalmonTea">SalmonTea</a></td>
  <td style="text-align: right">
    319,175
    <div class="set-list-custom-by-illustrator-subrow">4,775 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=KHΩA">KHΩA</a></td>
  <td style="text-align: right">
    318,995
    <div class="set-list-custom-by-illustrator-subrow">6,095 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Pekoe">Pekoe</a></td>
  <td style="text-align: right">
    312,155
    <div class="set-list-custom-by-illustrator-subrow">5,155 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ZERONEXT">ZERONEXT</a></td>
  <td style="text-align: right">
    301,819
    <div class="set-list-custom-by-illustrator-subrow">5,119 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=白帝">白帝</a></td>
  <td style="text-align: right">
    296,141
    <div class="set-list-custom-by-illustrator-subrow">1,381 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Yui">Yui</a></td>
  <td style="text-align: right">
    281,850
    <div class="set-list-custom-by-illustrator-subrow">4,850 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ジェゼ一">ジェゼ一</a></td>
  <td style="text-align: right">
    257,974
    <div class="set-list-custom-by-illustrator-subrow">2,814 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=NR">NR</a></td>
  <td style="text-align: right">
    212,024
    <div class="set-list-custom-by-illustrator-subrow">2,304 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Taki">Taki</a></td>
  <td style="text-align: right">
    207,630
    <div class="set-list-custom-by-illustrator-subrow">4,290 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=T_Blence">T_Blence</a></td>
  <td style="text-align: right">
    192,577
    <div class="set-list-custom-by-illustrator-subrow">3,377 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿清Roro">阿清Roro</a></td>
  <td style="text-align: right">
    190,817
    <div class="set-list-custom-by-illustrator-subrow">2,777 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Ge-B">Ge-B</a></td>
  <td style="text-align: right">
    187,620
    <div class="set-list-custom-by-illustrator-subrow">1,620 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Siriuf Long">Siriuf Long</a></td>
  <td style="text-align: right">
    178,898
    <div class="set-list-custom-by-illustrator-subrow">3,098 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart 白霜搽">Dragonart 白霜搽</a></td>
  <td style="text-align: right">
    168,700
    <div class="set-list-custom-by-illustrator-subrow">2,700 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=AquaGirl">AquaGirl</a></td>
  <td style="text-align: right">
    164,745
    <div class="set-list-custom-by-illustrator-subrow">3,945 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 倉倉">DragonArt 倉倉</a></td>
  <td style="text-align: right">
    142,487
    <div class="set-list-custom-by-illustrator-subrow">3,347 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=繪來">繪來</a></td>
  <td style="text-align: right">
    140,830
    <div class="set-list-custom-by-illustrator-subrow">3,530 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Andrew Yang">Andrew Yang</a></td>
  <td style="text-align: right">
    124,066
    <div class="set-list-custom-by-illustrator-subrow">766 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=YOHAKU">YOHAKU</a></td>
  <td style="text-align: right">
    121,067
    <div class="set-list-custom-by-illustrator-subrow">2,307 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿冰">阿冰</a></td>
  <td style="text-align: right">
    91,181
    <div class="set-list-custom-by-illustrator-subrow">781 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=SODA">SODA</a></td>
  <td style="text-align: right">
    78,520
    <div class="set-list-custom-by-illustrator-subrow">1,320 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Zhang Iris">DragonArt Zhang Iris</a></td>
  <td style="text-align: right">
    67,460
    <div class="set-list-custom-by-illustrator-subrow">1,260 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Polar Engine">Polar Engine</a></td>
  <td style="text-align: right">
    67,460
    <div class="set-list-custom-by-illustrator-subrow">1,260 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Unknown">Unknown</a></td>
  <td style="text-align: right">
    54,940
    <div class="set-list-custom-by-illustrator-subrow">35,140 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Deeya Chaturvedi">Deeya Chaturvedi</a></td>
  <td style="text-align: right">
    42,143
    <div class="set-list-custom-by-illustrator-subrow">693 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 艾瞳A-Ton">DragonArt 艾瞳A-Ton</a></td>
  <td style="text-align: right">
    39,635
    <div class="set-list-custom-by-illustrator-subrow">935 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=桃李タロ">桃李タロ</a></td>
  <td style="text-align: right">
    33,260
    <div class="set-list-custom-by-illustrator-subrow">660 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=silvie">silvie</a></td>
  <td style="text-align: right">
    16,200
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart Antilous">Dragonart Antilous</a></td>
  <td style="text-align: right">
    15,460
    <div class="set-list-custom-by-illustrator-subrow">860 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sunny">Sunny</a></td>
  <td style="text-align: right">
    8,982
    <div class="set-list-custom-by-illustrator-subrow">532 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=十尾t">十尾t</a></td>
  <td style="text-align: right">
    8,000
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫?">道漫?</a></td>
  <td style="text-align: right">
    8,000
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Leviathan">Leviathan</a></td>
  <td style="text-align: right">
    6,684
    <div class="set-list-custom-by-illustrator-subrow">344 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=蝦蝦">蝦蝦</a></td>
  <td style="text-align: right">
    1,500
    <div class="set-list-custom-by-illustrator-subrow">1,500 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=HYONEE">HYONEE</a></td>
  <td style="text-align: right">
    900
    <div class="set-list-custom-by-illustrator-subrow">900 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragon Art">Dragon Art</a></td>
  <td style="text-align: right">
    365
    <div class="set-list-custom-by-illustrator-subrow">365 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart KS">Dragonart KS</a></td>
  <td style="text-align: right">
    162
    <div class="set-list-custom-by-illustrator-subrow">162 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=TEDDYPOCKY">TEDDYPOCKY</a></td>
  <td style="text-align: right">
    0
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=南佑希">南佑希</a></td>
  <td style="text-align: right">
    0
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
</tbody>
</table>