<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Name</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Diao Chan">
  Diao Chan
</a>
  </td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">9 editions</div>
  </td>
  <td style="text-align: right">
    12
    <div class="set-list-custom-by-illustrator-subrow">6 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Guo Jia">
  Guo Jia
</a>
  </td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">9 editions</div>
  </td>
  <td style="text-align: right">
    12
    <div class="set-list-custom-by-illustrator-subrow">6 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Bertha">
  Bertha
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    3
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Hector">
  Hector
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    3
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Volda">
  Volda
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    3
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
  </tbody>
</table>