<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Class</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=CLERIC">
  CLERIC
</a>
  </td>
  <td style="text-align: right">
    190 cards
    <div class="set-list-custom-by-illustrator-subrow">299 editions</div>
  </td>
  <td style="text-align: right">
    497
    <div class="set-list-custom-by-illustrator-subrow">238 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=MAGE">
  MAGE
</a>
  </td>
  <td style="text-align: right">
    134 cards
    <div class="set-list-custom-by-illustrator-subrow">390 editions</div>
  </td>
  <td style="text-align: right">
    617
    <div class="set-list-custom-by-illustrator-subrow">268 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=GUARDIAN">
  GUARDIAN
</a>
  </td>
  <td style="text-align: right">
    123 cards
    <div class="set-list-custom-by-illustrator-subrow">194 editions</div>
  </td>
  <td style="text-align: right">
    308
    <div class="set-list-custom-by-illustrator-subrow">147 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=ASSASSIN">
  ASSASSIN
</a>
  </td>
  <td style="text-align: right">
    118 cards
    <div class="set-list-custom-by-illustrator-subrow">236 editions</div>
  </td>
  <td style="text-align: right">
    340
    <div class="set-list-custom-by-illustrator-subrow">184 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=TAMER">
  TAMER
</a>
  </td>
  <td style="text-align: right">
    113 cards
    <div class="set-list-custom-by-illustrator-subrow">260 editions</div>
  </td>
  <td style="text-align: right">
    365
    <div class="set-list-custom-by-illustrator-subrow">170 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=RANGER">
  RANGER
</a>
  </td>
  <td style="text-align: right">
    108 cards
    <div class="set-list-custom-by-illustrator-subrow">164 editions</div>
  </td>
  <td style="text-align: right">
    264
    <div class="set-list-custom-by-illustrator-subrow">129 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=WARRIOR">
  WARRIOR
</a>
  </td>
  <td style="text-align: right">
    103 cards
    <div class="set-list-custom-by-illustrator-subrow">325 editions</div>
  </td>
  <td style="text-align: right">
    503
    <div class="set-list-custom-by-illustrator-subrow">206 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?class=SPIRIT">
  SPIRIT
</a>
  </td>
  <td style="text-align: right">
    19 cards
    <div class="set-list-custom-by-illustrator-subrow">37 editions</div>
  </td>
  <td style="text-align: right">
    42
    <div class="set-list-custom-by-illustrator-subrow">13 foil</div>
  </td>
</tr>
  </tbody>
</table>