<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Type</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/action.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=ACTION">
    ACTION
  </a>
</div>
  </td>
  <td style="text-align: right">
    330 cards
    <div class="set-list-custom-by-illustrator-subrow">663 editions</div>
  </td>
  <td style="text-align: right">
    1,080
    <div class="set-list-custom-by-illustrator-subrow">483 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/ally.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=ALLY">
    ALLY
  </a>
</div>
  </td>
  <td style="text-align: right">
    329 cards
    <div class="set-list-custom-by-illustrator-subrow">626 editions</div>
  </td>
  <td style="text-align: right">
    1,018
    <div class="set-list-custom-by-illustrator-subrow">484 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/item.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=ITEM">
    ITEM
  </a>
</div>
  </td>
  <td style="text-align: right">
    174 cards
    <div class="set-list-custom-by-illustrator-subrow">337 editions</div>
  </td>
  <td style="text-align: right">
    482
    <div class="set-list-custom-by-illustrator-subrow">221 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/champion.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=CHAMPION">
    CHAMPION
  </a>
</div>
  </td>
  <td style="text-align: right">
    67 cards
    <div class="set-list-custom-by-illustrator-subrow">201 editions</div>
  </td>
  <td style="text-align: right">
    233
    <div class="set-list-custom-by-illustrator-subrow">103 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/attack.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=ATTACK">
    ATTACK
  </a>
</div>
  </td>
  <td style="text-align: right">
    67 cards
    <div class="set-list-custom-by-illustrator-subrow">144 editions</div>
  </td>
  <td style="text-align: right">
    234
    <div class="set-list-custom-by-illustrator-subrow">103 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/weapon.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=WEAPON">
    WEAPON
  </a>
</div>
  </td>
  <td style="text-align: right">
    58 cards
    <div class="set-list-custom-by-illustrator-subrow">108 editions</div>
  </td>
  <td style="text-align: right">
    163
    <div class="set-list-custom-by-illustrator-subrow">75 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/phantasia.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=PHANTASIA">
    PHANTASIA
  </a>
</div>
  </td>
  <td style="text-align: right">
    35 cards
    <div class="set-list-custom-by-illustrator-subrow">46 editions</div>
  </td>
  <td style="text-align: right">
    84
    <div class="set-list-custom-by-illustrator-subrow">40 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/domain.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=DOMAIN">
    DOMAIN
  </a>
</div>
  </td>
  <td style="text-align: right">
    26 cards
    <div class="set-list-custom-by-illustrator-subrow">36 editions</div>
  </td>
  <td style="text-align: right">
    65
    <div class="set-list-custom-by-illustrator-subrow">29 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
    <img src="https://img.silvie.org/misc/types/mastery.png" width="24px" />
  <a href="https://index.gatcg.com/cards?type=MASTERY">
    MASTERY
  </a>
</div>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    1
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
  </tbody>
</table>