<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Illustrator</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫&rarity=5">道漫</a></td>
  <td style="text-align: right">
    14 cards
    <div class="set-list-custom-by-illustrator-subrow">18 editions</div>
  </td>
  <td style="text-align: right">
    82,687
    <div class="set-list-custom-by-illustrator-subrow">4,487 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=木叶&rarity=5">木叶</a></td>
  <td style="text-align: right">
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    9,788
    <div class="set-list-custom-by-illustrator-subrow">1,230 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Kumai&rarity=5">Kumai</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    20,486
    <div class="set-list-custom-by-illustrator-subrow">1,130 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=十尾&rarity=5">十尾</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    2,080
    <div class="set-list-custom-by-illustrator-subrow">246 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart Antilous&rarity=5">Dragonart Antilous</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    7,035
    <div class="set-list-custom-by-illustrator-subrow">435 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Tris&rarity=5">DragonArt Tris</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    7,035
    <div class="set-list-custom-by-illustrator-subrow">435 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=D Lam&rarity=5">D Lam</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    4,199
    <div class="set-list-custom-by-illustrator-subrow">199 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=杭州新艺族&rarity=5">杭州新艺族</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    4,199
    <div class="set-list-custom-by-illustrator-subrow">199 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Pinakes&rarity=5">Pinakes</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    3,302
    <div class="set-list-custom-by-illustrator-subrow">246 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Primea Studio&rarity=5">Primea Studio</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    3,302
    <div class="set-list-custom-by-illustrator-subrow">246 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=代々&rarity=5">代々</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    3,302
    <div class="set-list-custom-by-illustrator-subrow">246 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Deeya Chaturvedi&rarity=5">Deeya Chaturvedi</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    3,199
    <div class="set-list-custom-by-illustrator-subrow">199 foil</div>
  </td>
</tr>
  </tbody>
</table>