<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Element</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/norm.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=NORM">
    NORM
  </a>
</div>
  </td>
  <td style="text-align: right">
    302 cards
    <div class="set-list-custom-by-illustrator-subrow">763 editions</div>
  </td>
  <td style="text-align: right">
    1,090
    <div class="set-list-custom-by-illustrator-subrow">488 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/water.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=WATER">
    WATER
  </a>
</div>
  </td>
  <td style="text-align: right">
    135 cards
    <div class="set-list-custom-by-illustrator-subrow">225 editions</div>
  </td>
  <td style="text-align: right">
    395
    <div class="set-list-custom-by-illustrator-subrow">190 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/wind.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=WIND">
    WIND
  </a>
</div>
  </td>
  <td style="text-align: right">
    130 cards
    <div class="set-list-custom-by-illustrator-subrow">247 editions</div>
  </td>
  <td style="text-align: right">
    396
    <div class="set-list-custom-by-illustrator-subrow">183 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/fire.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=FIRE">
    FIRE
  </a>
</div>
  </td>
  <td style="text-align: right">
    124 cards
    <div class="set-list-custom-by-illustrator-subrow">243 editions</div>
  </td>
  <td style="text-align: right">
    407
    <div class="set-list-custom-by-illustrator-subrow">183 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/umbra.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=UMBRA">
    UMBRA
  </a>
</div>
  </td>
  <td style="text-align: right">
    47 cards
    <div class="set-list-custom-by-illustrator-subrow">76 editions</div>
  </td>
  <td style="text-align: right">
    100
    <div class="set-list-custom-by-illustrator-subrow">54 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/neos.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=NEOS">
    NEOS
  </a>
</div>
  </td>
  <td style="text-align: right">
    26 cards
    <div class="set-list-custom-by-illustrator-subrow">47 editions</div>
  </td>
  <td style="text-align: right">
    72
    <div class="set-list-custom-by-illustrator-subrow">31 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/astra.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=ASTRA">
    ASTRA
  </a>
</div>
  </td>
  <td style="text-align: right">
    26 cards
    <div class="set-list-custom-by-illustrator-subrow">40 editions</div>
  </td>
  <td style="text-align: right">
    65
    <div class="set-list-custom-by-illustrator-subrow">32 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/tera.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=TERA">
    TERA
  </a>
</div>
  </td>
  <td style="text-align: right">
    24 cards
    <div class="set-list-custom-by-illustrator-subrow">54 editions</div>
  </td>
  <td style="text-align: right">
    71
    <div class="set-list-custom-by-illustrator-subrow">33 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/crux.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=CRUX">
    CRUX
  </a>
</div>
  </td>
  <td style="text-align: right">
    19 cards
    <div class="set-list-custom-by-illustrator-subrow">58 editions</div>
  </td>
  <td style="text-align: right">
    82
    <div class="set-list-custom-by-illustrator-subrow">35 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/arcane.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=ARCANE">
    ARCANE
  </a>
</div>
  </td>
  <td style="text-align: right">
    19 cards
    <div class="set-list-custom-by-illustrator-subrow">55 editions</div>
  </td>
  <td style="text-align: right">
    84
    <div class="set-list-custom-by-illustrator-subrow">35 foil</div>
  </td>
</tr>
<tr>
  <td>
    <div style="align-items: center; display: flex; column-gap: 8px;">
  <img src="https://img.silvie.org/misc/elements/luxem.png" width="24px" />
  <a href="https://index.gatcg.com/cards?element=LUXEM">
    LUXEM
  </a>
</div>
  </td>
  <td style="text-align: right">
    19 cards
    <div class="set-list-custom-by-illustrator-subrow">40 editions</div>
  </td>
  <td style="text-align: right">
    63
    <div class="set-list-custom-by-illustrator-subrow">31 foil</div>
  </td>
</tr>
  </tbody>
</table>