<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Illustrator</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=木叶&rarity=6&rarity=9">木叶</a></td>
  <td style="text-align: right">
    19 cards
    <div class="set-list-custom-by-illustrator-subrow">19 editions</div>
  </td>
  <td style="text-align: right">
    68,695
    <div class="set-list-custom-by-illustrator-subrow">68,695 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Primea Studio&rarity=6&rarity=9">Primea Studio</a></td>
  <td style="text-align: right">
    13 cards
    <div class="set-list-custom-by-illustrator-subrow">13 editions</div>
  </td>
  <td style="text-align: right">
    2,996
    <div class="set-list-custom-by-illustrator-subrow">2,996 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Pinakes&rarity=6&rarity=9">Pinakes</a></td>
  <td style="text-align: right">
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    1,398
    <div class="set-list-custom-by-illustrator-subrow">1,398 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=砂木烟&rarity=6&rarity=9">砂木烟</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    1,165
    <div class="set-list-custom-by-illustrator-subrow">1,165 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart&rarity=6&rarity=9">Dragonart</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    466
    <div class="set-list-custom-by-illustrator-subrow">466 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sineia&rarity=6&rarity=9">Sineia</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    12,900
    <div class="set-list-custom-by-illustrator-subrow">10,400 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Unknown&rarity=6&rarity=9">Unknown</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    2,200
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Faicha&rarity=6&rarity=9">Faicha</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    1,322
    <div class="set-list-custom-by-illustrator-subrow">572 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gyool&rarity=6&rarity=9">Gyool</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    233
    <div class="set-list-custom-by-illustrator-subrow">233 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hanh Chu&rarity=6&rarity=9">Hanh Chu</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    233
    <div class="set-list-custom-by-illustrator-subrow">233 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Parhelion Studio Co.&rarity=6&rarity=9">Parhelion Studio Co.</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    233
    <div class="set-list-custom-by-illustrator-subrow">233 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Deeya Chaturvedi&rarity=6&rarity=9">Deeya Chaturvedi</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    150
    <div class="set-list-custom-by-illustrator-subrow">150 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫&rarity=6&rarity=9">道漫</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    150
    <div class="set-list-custom-by-illustrator-subrow">150 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=代々&rarity=6&rarity=9">代々</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    0
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
  </tbody>
</table>