<table class="set-list set-list-custom set-list-custom-by-illustrator">
<thead>
  <tr>
    <th style="text-align: left">Illustrator</th>
    <th style="text-align: left">Population</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫">道漫</a></td>
  <td style="text-align: right">
    23,432,699
    <div class="set-list-custom-by-illustrator-subrow">367,982 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=木叶">木叶</a></td>
  <td style="text-align: right">
    11,702,394
    <div class="set-list-custom-by-illustrator-subrow">232,165 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Primea Studio">Primea Studio</a></td>
  <td style="text-align: right">
    10,152,204
    <div class="set-list-custom-by-illustrator-subrow">160,397 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart">Dragonart</a></td>
  <td style="text-align: right">
    5,358,743
    <div class="set-list-custom-by-illustrator-subrow">76,303 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hanh Chu">Hanh Chu</a></td>
  <td style="text-align: right">
    4,327,729
    <div class="set-list-custom-by-illustrator-subrow">51,980 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=砂木烟">砂木烟</a></td>
  <td style="text-align: right">
    3,504,315
    <div class="set-list-custom-by-illustrator-subrow">46,468 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Pinakes">Pinakes</a></td>
  <td style="text-align: right">
    1,894,498
    <div class="set-list-custom-by-illustrator-subrow">20,317 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=檸檬夾心餅">檸檬夾心餅</a></td>
  <td style="text-align: right">
    1,801,052
    <div class="set-list-custom-by-illustrator-subrow">24,006 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=十尾">十尾</a></td>
  <td style="text-align: right">
    1,786,102
    <div class="set-list-custom-by-illustrator-subrow">31,449 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gyool">Gyool</a></td>
  <td style="text-align: right">
    1,147,281
    <div class="set-list-custom-by-illustrator-subrow">16,552 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hori">Hori</a></td>
  <td style="text-align: right">
    1,114,229
    <div class="set-list-custom-by-illustrator-subrow">11,969 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Rachel Liu">Rachel Liu</a></td>
  <td style="text-align: right">
    1,067,804
    <div class="set-list-custom-by-illustrator-subrow">16,788 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=代々">代々</a></td>
  <td style="text-align: right">
    1,058,533
    <div class="set-list-custom-by-illustrator-subrow">19,648 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=坊橋夜泊">坊橋夜泊</a></td>
  <td style="text-align: right">
    1,039,837
    <div class="set-list-custom-by-illustrator-subrow">14,737 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=北飞飞">北飞飞</a></td>
  <td style="text-align: right">
    888,579
    <div class="set-list-custom-by-illustrator-subrow">13,576 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sineia">Sineia</a></td>
  <td style="text-align: right">
    880,094
    <div class="set-list-custom-by-illustrator-subrow">9,566 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 白霜茶">DragonArt 白霜茶</a></td>
  <td style="text-align: right">
    827,192
    <div class="set-list-custom-by-illustrator-subrow">11,921 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart Chu">Dragonart Chu</a></td>
  <td style="text-align: right">
    679,012
    <div class="set-list-custom-by-illustrator-subrow">15,988 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Kumai">Kumai</a></td>
  <td style="text-align: right">
    589,739
    <div class="set-list-custom-by-illustrator-subrow">8,725 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gendo">Gendo</a></td>
  <td style="text-align: right">
    532,748
    <div class="set-list-custom-by-illustrator-subrow">3,748 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt TaroTarou">DragonArt TaroTarou</a></td>
  <td style="text-align: right">
    447,166
    <div class="set-list-custom-by-illustrator-subrow">8,798 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Faicha">Faicha</a></td>
  <td style="text-align: right">
    411,653
    <div class="set-list-custom-by-illustrator-subrow">14,259 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=D Lam">D Lam</a></td>
  <td style="text-align: right">
    351,748
    <div class="set-list-custom-by-illustrator-subrow">7,055 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Tris">DragonArt Tris</a></td>
  <td style="text-align: right">
    307,171
    <div class="set-list-custom-by-illustrator-subrow">6,405 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=白帝">白帝</a></td>
  <td style="text-align: right">
    272,033
    <div class="set-list-custom-by-illustrator-subrow">1,373 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ZERONEXT">ZERONEXT</a></td>
  <td style="text-align: right">
    270,819
    <div class="set-list-custom-by-illustrator-subrow">5,119 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ジェゼ一">ジェゼ一</a></td>
  <td style="text-align: right">
    257,974
    <div class="set-list-custom-by-illustrator-subrow">2,814 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=杭州新艺族">杭州新艺族</a></td>
  <td style="text-align: right">
    217,638
    <div class="set-list-custom-by-illustrator-subrow">5,774 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Taki">Taki</a></td>
  <td style="text-align: right">
    207,662
    <div class="set-list-custom-by-illustrator-subrow">4,322 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=NR">NR</a></td>
  <td style="text-align: right">
    188,940
    <div class="set-list-custom-by-illustrator-subrow">2,220 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿清Roro">阿清Roro</a></td>
  <td style="text-align: right">
    174,817
    <div class="set-list-custom-by-illustrator-subrow">2,777 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart 白霜搽">Dragonart 白霜搽</a></td>
  <td style="text-align: right">
    168,700
    <div class="set-list-custom-by-illustrator-subrow">2,700 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Parhelion Studio Co.">Parhelion Studio Co.</a></td>
  <td style="text-align: right">
    144,250
    <div class="set-list-custom-by-illustrator-subrow">2,850 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=YOHAKU">YOHAKU</a></td>
  <td style="text-align: right">
    113,067
    <div class="set-list-custom-by-illustrator-subrow">1,807 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿冰">阿冰</a></td>
  <td style="text-align: right">
    91,181
    <div class="set-list-custom-by-illustrator-subrow">781 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 倉倉">DragonArt 倉倉</a></td>
  <td style="text-align: right">
    73,154
    <div class="set-list-custom-by-illustrator-subrow">2,017 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=SODA">SODA</a></td>
  <td style="text-align: right">
    70,520
    <div class="set-list-custom-by-illustrator-subrow">1,320 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Andrew Yang">Andrew Yang</a></td>
  <td style="text-align: right">
    57,066
    <div class="set-list-custom-by-illustrator-subrow">766 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Unknown">Unknown</a></td>
  <td style="text-align: right">
    46,530
    <div class="set-list-custom-by-illustrator-subrow">930 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=桃李タロ">桃李タロ</a></td>
  <td style="text-align: right">
    33,260
    <div class="set-list-custom-by-illustrator-subrow">660 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Zhang Iris">DragonArt Zhang Iris</a></td>
  <td style="text-align: right">
    32,181
    <div class="set-list-custom-by-illustrator-subrow">715 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Polar Engine">Polar Engine</a></td>
  <td style="text-align: right">
    32,181
    <div class="set-list-custom-by-illustrator-subrow">715 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Deeya Chaturvedi">Deeya Chaturvedi</a></td>
  <td style="text-align: right">
    26,143
    <div class="set-list-custom-by-illustrator-subrow">693 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 艾瞳A-Ton">DragonArt 艾瞳A-Ton</a></td>
  <td style="text-align: right">
    19,002
    <div class="set-list-custom-by-illustrator-subrow">557 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=silvie">silvie</a></td>
  <td style="text-align: right">
    16,200
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sunny">Sunny</a></td>
  <td style="text-align: right">
    8,982
    <div class="set-list-custom-by-illustrator-subrow">532 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart Antilous">Dragonart Antilous</a></td>
  <td style="text-align: right">
    7,460
    <div class="set-list-custom-by-illustrator-subrow">860 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Leviathan">Leviathan</a></td>
  <td style="text-align: right">
    6,684
    <div class="set-list-custom-by-illustrator-subrow">344 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=蝦蝦">蝦蝦</a></td>
  <td style="text-align: right">
    1,500
    <div class="set-list-custom-by-illustrator-subrow">1,500 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=HYONEE">HYONEE</a></td>
  <td style="text-align: right">
    900
    <div class="set-list-custom-by-illustrator-subrow">900 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart KS">Dragonart KS</a></td>
  <td style="text-align: right">
    100
    <div class="set-list-custom-by-illustrator-subrow">100 foil</div>
  </td>
</tr>
</tbody>
</table>