<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Card name</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Life Essence Amulet">
  Life Essence Amulet
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">13 editions</div>
  </td>
  <td style="text-align: right">
    15
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Idle Thoughts">
  Idle Thoughts
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">12 editions</div>
  </td>
  <td style="text-align: right">
    16
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Spirit of Fire">
  Spirit of Fire
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">10 editions</div>
  </td>
  <td style="text-align: right">
    10
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Spirit of Water">
  Spirit of Water
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">9 editions</div>
  </td>
  <td style="text-align: right">
    9
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Arcane Blast">
  Arcane Blast
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td style="text-align: right">
    12
    <div class="set-list-custom-by-illustrator-subrow">5 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Tariff Ring">
  Tariff Ring
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    7
    <div class="set-list-custom-by-illustrator-subrow">3 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Frostbind">
  Frostbind
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    7
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Cleric Robes">
  Cleric Robes
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    4
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Atmos Armor Type-Ares">
  Atmos Armor Type-Ares
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td style="text-align: right">
    5
    <div class="set-list-custom-by-illustrator-subrow">3 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Fractal of Insight">
  Fractal of Insight
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td style="text-align: right">
    5
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
  </tbody>
</table>