<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Illustrator</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫&rarity=1">道漫</a></td>
  <td style="text-align: right">
    134 cards
    <div class="set-list-custom-by-illustrator-subrow">321 editions</div>
  </td>
  <td style="text-align: right">
    14,485,415
    <div class="set-list-custom-by-illustrator-subrow">132,083 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hanh Chu&rarity=1">Hanh Chu</a></td>
  <td style="text-align: right">
    22 cards
    <div class="set-list-custom-by-illustrator-subrow">52 editions</div>
  </td>
  <td style="text-align: right">
    2,552,766
    <div class="set-list-custom-by-illustrator-subrow">19,794 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Primea Studio&rarity=1">Primea Studio</a></td>
  <td style="text-align: right">
    19 cards
    <div class="set-list-custom-by-illustrator-subrow">19 editions</div>
  </td>
  <td style="text-align: right">
    1,088,028
    <div class="set-list-custom-by-illustrator-subrow">16,254 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=砂木烟&rarity=1">砂木烟</a></td>
  <td style="text-align: right">
    17 cards
    <div class="set-list-custom-by-illustrator-subrow">28 editions</div>
  </td>
  <td style="text-align: right">
    1,528,630
    <div class="set-list-custom-by-illustrator-subrow">13,772 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Rachel Liu&rarity=1">Rachel Liu</a></td>
  <td style="text-align: right">
    13 cards
    <div class="set-list-custom-by-illustrator-subrow">13 editions</div>
  </td>
  <td style="text-align: right">
    802,002
    <div class="set-list-custom-by-illustrator-subrow">7,487 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=十尾&rarity=1">十尾</a></td>
  <td style="text-align: right">
    11 cards
    <div class="set-list-custom-by-illustrator-subrow">30 editions</div>
  </td>
  <td style="text-align: right">
    932,009
    <div class="set-list-custom-by-illustrator-subrow">7,993 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hori&rarity=1">Hori</a></td>
  <td style="text-align: right">
    8 cards
    <div class="set-list-custom-by-illustrator-subrow">30 editions</div>
  </td>
  <td style="text-align: right">
    980,990
    <div class="set-list-custom-by-illustrator-subrow">2,190 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=北飞飞&rarity=1">北飞飞</a></td>
  <td style="text-align: right">
    8 cards
    <div class="set-list-custom-by-illustrator-subrow">11 editions</div>
  </td>
  <td style="text-align: right">
    594,749
    <div class="set-list-custom-by-illustrator-subrow">3,763 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 白霜茶&rarity=1">DragonArt 白霜茶</a></td>
  <td style="text-align: right">
    7 cards
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td style="text-align: right">
    618,107
    <div class="set-list-custom-by-illustrator-subrow">5,521 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=代々&rarity=1">代々</a></td>
  <td style="text-align: right">
    7 cards
    <div class="set-list-custom-by-illustrator-subrow">13 editions</div>
  </td>
  <td style="text-align: right">
    401,045
    <div class="set-list-custom-by-illustrator-subrow">5,559 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=木叶&rarity=1">木叶</a></td>
  <td style="text-align: right">
    7 cards
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td style="text-align: right">
    333,621
    <div class="set-list-custom-by-illustrator-subrow">6,133 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=檸檬夾心餅&rarity=1">檸檬夾心餅</a></td>
  <td style="text-align: right">
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td style="text-align: right">
    656,759
    <div class="set-list-custom-by-illustrator-subrow">8,573 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gendo&rarity=1">Gendo</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">11 editions</div>
  </td>
  <td style="text-align: right">
    532,748
    <div class="set-list-custom-by-illustrator-subrow">3,748 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Kumai&rarity=1">Kumai</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">12 editions</div>
  </td>
  <td style="text-align: right">
    452,652
    <div class="set-list-custom-by-illustrator-subrow">1,252 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt TaroTarou&rarity=1">DragonArt TaroTarou</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    276,281
    <div class="set-list-custom-by-illustrator-subrow">3,452 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Faicha&rarity=1">Faicha</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    121,472
    <div class="set-list-custom-by-illustrator-subrow">2,972 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Tris&rarity=1">DragonArt Tris</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td style="text-align: right">
    278,130
    <div class="set-list-custom-by-illustrator-subrow">4,158 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Chu&rarity=1">DragonArt Chu</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td style="text-align: right">
    215,835
    <div class="set-list-custom-by-illustrator-subrow">2,549 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=坊橋夜泊&rarity=1">坊橋夜泊</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    274,205
    <div class="set-list-custom-by-illustrator-subrow">1,405 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gyool&rarity=1">Gyool</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td style="text-align: right">
    189,886
    <div class="set-list-custom-by-illustrator-subrow">1,486 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ジェゼ一&rarity=1">ジェゼ一</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    182,362
    <div class="set-list-custom-by-illustrator-subrow">1,562 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sineia&rarity=1">Sineia</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td style="text-align: right">
    177,889
    <div class="set-list-custom-by-illustrator-subrow">1,646 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=D Lam&rarity=1">D Lam</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    155,389
    <div class="set-list-custom-by-illustrator-subrow">1,646 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=NR&rarity=1">NR</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    91,181
    <div class="set-list-custom-by-illustrator-subrow">781 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=白帝&rarity=1">白帝</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    254,681
    <div class="set-list-custom-by-illustrator-subrow">781 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ZERONEXT&rarity=1">ZERONEXT</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    186,700
    <div class="set-list-custom-by-illustrator-subrow">2,700 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart 白霜搽&rarity=1">Dragonart 白霜搽</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    168,700
    <div class="set-list-custom-by-illustrator-subrow">2,700 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Taki&rarity=1">Taki</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    168,700
    <div class="set-list-custom-by-illustrator-subrow">2,700 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=杭州新艺族&rarity=1">杭州新艺族</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    94,943
    <div class="set-list-custom-by-illustrator-subrow">743 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿清Roro&rarity=1">阿清Roro</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    94,943
    <div class="set-list-custom-by-illustrator-subrow">743 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿冰&rarity=1">阿冰</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    91,181
    <div class="set-list-custom-by-illustrator-subrow">781 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=YOHAKU&rarity=1">YOHAKU</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    84,024
    <div class="set-list-custom-by-illustrator-subrow">624 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 倉倉&rarity=1">DragonArt 倉倉</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    60,446
    <div class="set-list-custom-by-illustrator-subrow">903 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Andrew Yang&rarity=1">Andrew Yang</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    30,000
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Deeya Chaturvedi&rarity=1">Deeya Chaturvedi</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    0
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
  </tbody>
</table>