<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Illustrator</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Primea Studio&rarity=3">Primea Studio</a></td>
  <td style="text-align: right">
    9 cards
    <div class="set-list-custom-by-illustrator-subrow">9 editions</div>
  </td>
  <td style="text-align: right">
    303,315
    <div class="set-list-custom-by-illustrator-subrow">3,215 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=木叶&rarity=3">木叶</a></td>
  <td style="text-align: right">
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    270,000
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=砂木烟&rarity=3">砂木烟</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td style="text-align: right">
    162,000
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart&rarity=3">Dragonart</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    72,000
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gyool&rarity=3">Gyool</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    72,000
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Pinakes&rarity=3">Pinakes</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    72,000
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫&rarity=3">道漫</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    34,477
    <div class="set-list-custom-by-illustrator-subrow">477 foil</div>
  </td>
</tr>
  </tbody>
</table>