<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Illustrator</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=道漫&rarity=4">道漫</a></td>
  <td style="text-align: right">
    65 cards
    <div class="set-list-custom-by-illustrator-subrow">93 editions</div>
  </td>
  <td style="text-align: right">
    473,496
    <div class="set-list-custom-by-illustrator-subrow">31,426 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=木叶&rarity=4">木叶</a></td>
  <td style="text-align: right">
    45 cards
    <div class="set-list-custom-by-illustrator-subrow">46 editions</div>
  </td>
  <td style="text-align: right">
    786,169
    <div class="set-list-custom-by-illustrator-subrow">17,069 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Primea Studio&rarity=4">Primea Studio</a></td>
  <td style="text-align: right">
    29 cards
    <div class="set-list-custom-by-illustrator-subrow">29 editions</div>
  </td>
  <td style="text-align: right">
    607,135
    <div class="set-list-custom-by-illustrator-subrow">12,595 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart&rarity=4">Dragonart</a></td>
  <td style="text-align: right">
    19 cards
    <div class="set-list-custom-by-illustrator-subrow">20 editions</div>
  </td>
  <td style="text-align: right">
    218,078
    <div class="set-list-custom-by-illustrator-subrow">8,378 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hanh Chu&rarity=4">Hanh Chu</a></td>
  <td style="text-align: right">
    13 cards
    <div class="set-list-custom-by-illustrator-subrow">20 editions</div>
  </td>
  <td style="text-align: right">
    168,569
    <div class="set-list-custom-by-illustrator-subrow">7,919 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Pinakes&rarity=4">Pinakes</a></td>
  <td style="text-align: right">
    10 cards
    <div class="set-list-custom-by-illustrator-subrow">10 editions</div>
  </td>
  <td style="text-align: right">
    389,765
    <div class="set-list-custom-by-illustrator-subrow">1,925 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=十尾&rarity=4">十尾</a></td>
  <td style="text-align: right">
    9 cards
    <div class="set-list-custom-by-illustrator-subrow">9 editions</div>
  </td>
  <td style="text-align: right">
    180,861
    <div class="set-list-custom-by-illustrator-subrow">4,661 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=北飞飞&rarity=4">北飞飞</a></td>
  <td style="text-align: right">
    9 cards
    <div class="set-list-custom-by-illustrator-subrow">13 editions</div>
  </td>
  <td style="text-align: right">
    106,783
    <div class="set-list-custom-by-illustrator-subrow">4,843 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=杭州新艺族&rarity=4">杭州新艺族</a></td>
  <td style="text-align: right">
    7 cards
    <div class="set-list-custom-by-illustrator-subrow">9 editions</div>
  </td>
  <td style="text-align: right">
    72,990
    <div class="set-list-custom-by-illustrator-subrow">3,350 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Kumai&rarity=4">Kumai</a></td>
  <td style="text-align: right">
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    83,991
    <div class="set-list-custom-by-illustrator-subrow">2,991 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Faicha&rarity=4">Faicha</a></td>
  <td style="text-align: right">
    6 cards
    <div class="set-list-custom-by-illustrator-subrow">6 editions</div>
  </td>
  <td style="text-align: right">
    56,577
    <div class="set-list-custom-by-illustrator-subrow">2,737 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=代々&rarity=4">代々</a></td>
  <td style="text-align: right">
    5 cards
    <div class="set-list-custom-by-illustrator-subrow">5 editions</div>
  </td>
  <td style="text-align: right">
    64,742
    <div class="set-list-custom-by-illustrator-subrow">2,742 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=D Lam&rarity=4">D Lam</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    47,475
    <div class="set-list-custom-by-illustrator-subrow">2,125 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=坊橋夜泊&rarity=4">坊橋夜泊</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    42,345
    <div class="set-list-custom-by-illustrator-subrow">2,005 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Gyool&rarity=4">Gyool</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    42,188
    <div class="set-list-custom-by-illustrator-subrow">2,008 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=砂木烟&rarity=4">砂木烟</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    41,704
    <div class="set-list-custom-by-illustrator-subrow">1,764 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Dragonart Chu&rarity=4">Dragonart Chu</a></td>
  <td style="text-align: right">
    4 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    28,094
    <div class="set-list-custom-by-illustrator-subrow">2,254 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Hori&rarity=4">Hori</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">4 editions</div>
  </td>
  <td style="text-align: right">
    37,683
    <div class="set-list-custom-by-illustrator-subrow">1,933 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 白霜茶&rarity=4">DragonArt 白霜茶</a></td>
  <td style="text-align: right">
    3 cards
    <div class="set-list-custom-by-illustrator-subrow">3 editions</div>
  </td>
  <td style="text-align: right">
    25,604
    <div class="set-list-custom-by-illustrator-subrow">1,764 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt Tris&rarity=4">DragonArt Tris</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    24,010
    <div class="set-list-custom-by-illustrator-subrow">1,410 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Rachel Liu&rarity=4">Rachel Liu</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    21,394
    <div class="set-list-custom-by-illustrator-subrow">1,054 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sineia&rarity=4">Sineia</a></td>
  <td style="text-align: right">
    2 cards
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    20,794
    <div class="set-list-custom-by-illustrator-subrow">954 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=ZERONEXT&rarity=4">ZERONEXT</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    18,200
    <div class="set-list-custom-by-illustrator-subrow">700 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt 倉倉&rarity=4">DragonArt 倉倉</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    14,710
    <div class="set-list-custom-by-illustrator-subrow">710 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Sunny&rarity=4">Sunny</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">2 editions</div>
  </td>
  <td style="text-align: right">
    8,982
    <div class="set-list-custom-by-illustrator-subrow">532 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=DragonArt TaroTarou&rarity=4">DragonArt TaroTarou</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    6,684
    <div class="set-list-custom-by-illustrator-subrow">344 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Leviathan&rarity=4">Leviathan</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    6,684
    <div class="set-list-custom-by-illustrator-subrow">344 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Taki&rarity=4">Taki</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    6,684
    <div class="set-list-custom-by-illustrator-subrow">344 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=阿清Roro&rarity=4">阿清Roro</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    6,684
    <div class="set-list-custom-by-illustrator-subrow">344 foil</div>
  </td>
</tr>
<tr>
  <td><a href="https://index.gatcg.com/cards?illustrator=Deeya Chaturvedi&rarity=4">Deeya Chaturvedi</a></td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">1 edition</div>
  </td>
  <td style="text-align: right">
    3,294
    <div class="set-list-custom-by-illustrator-subrow">344 foil</div>
  </td>
</tr>
  </tbody>
</table>