<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Rarity</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=1">
  Common (C)
</a>
  </td>
  <td style="text-align: right">
    662 cards
    <div class="set-list-custom-by-illustrator-subrow">1,256 editions</div>
  </td>
  <td style="text-align: right">
    1,949
    <div class="set-list-custom-by-illustrator-subrow">697 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=2">
  Uncommon (U)
</a>
  </td>
  <td style="text-align: right">
    605 cards
    <div class="set-list-custom-by-illustrator-subrow">923 editions</div>
  </td>
  <td style="text-align: right">
    1,519
    <div class="set-list-custom-by-illustrator-subrow">604 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=3">
  Rare (R)
</a>
  </td>
  <td style="text-align: right">
    573 cards
    <div class="set-list-custom-by-illustrator-subrow">765 editions</div>
  </td>
  <td style="text-align: right">
    1,307
    <div class="set-list-custom-by-illustrator-subrow">549 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=6">
  Promotional Rare (PR)
</a>
  </td>
  <td style="text-align: right">
    439 cards
    <div class="set-list-custom-by-illustrator-subrow">467 editions</div>
  </td>
  <td style="text-align: right">
    492
    <div class="set-list-custom-by-illustrator-subrow">399 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=4">
  Super Rare (SR)
</a>
  </td>
  <td style="text-align: right">
    427 cards
    <div class="set-list-custom-by-illustrator-subrow">535 editions</div>
  </td>
  <td style="text-align: right">
    875
    <div class="set-list-custom-by-illustrator-subrow">401 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=7">
  Collector Super Rare (CSR)
</a>
  </td>
  <td style="text-align: right">
    197 cards
    <div class="set-list-custom-by-illustrator-subrow">219 editions</div>
  </td>
  <td style="text-align: right">
    217
    <div class="set-list-custom-by-illustrator-subrow">217 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=5">
  Ultra Rare (UR)
</a>
  </td>
  <td style="text-align: right">
    114 cards
    <div class="set-list-custom-by-illustrator-subrow">155 editions</div>
  </td>
  <td style="text-align: right">
    259
    <div class="set-list-custom-by-illustrator-subrow">113 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=9">
  Collector Promo Rare (CPR)
</a>
  </td>
  <td style="text-align: right">
    69 cards
    <div class="set-list-custom-by-illustrator-subrow">78 editions</div>
  </td>
  <td style="text-align: right">
    71
    <div class="set-list-custom-by-illustrator-subrow">71 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=8">
  Collector Ultra Rare (CUR)
</a>
  </td>
  <td style="text-align: right">
    18 cards
    <div class="set-list-custom-by-illustrator-subrow">18 editions</div>
  </td>
  <td style="text-align: right">
    18
    <div class="set-list-custom-by-illustrator-subrow">18 foil</div>
  </td>
</tr>
  </tbody>
</table>