<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Rarity</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=1">
  Common (C)
</a>
  </td>
  <td style="text-align: right">
    525 cards
    <div class="set-list-custom-by-illustrator-subrow">951 editions</div>
  </td>
  <td style="text-align: right">
    1,525
    <div class="set-list-custom-by-illustrator-subrow">575 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=2">
  Uncommon (U)
</a>
  </td>
  <td style="text-align: right">
    461 cards
    <div class="set-list-custom-by-illustrator-subrow">658 editions</div>
  </td>
  <td style="text-align: right">
    1,137
    <div class="set-list-custom-by-illustrator-subrow">478 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=3">
  Rare (R)
</a>
  </td>
  <td style="text-align: right">
    405 cards
    <div class="set-list-custom-by-illustrator-subrow">509 editions</div>
  </td>
  <td style="text-align: right">
    914
    <div class="set-list-custom-by-illustrator-subrow">405 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=6">
  Promotional Rare (PR)
</a>
  </td>
  <td style="text-align: right">
    323 cards
    <div class="set-list-custom-by-illustrator-subrow">346 editions</div>
  </td>
  <td style="text-align: right">
    382
    <div class="set-list-custom-by-illustrator-subrow">298 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=4">
  Super Rare (SR)
</a>
  </td>
  <td style="text-align: right">
    292 cards
    <div class="set-list-custom-by-illustrator-subrow">341 editions</div>
  </td>
  <td style="text-align: right">
    602
    <div class="set-list-custom-by-illustrator-subrow">286 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=7">
  Collector Super Rare (CSR)
</a>
  </td>
  <td style="text-align: right">
    137 cards
    <div class="set-list-custom-by-illustrator-subrow">141 editions</div>
  </td>
  <td style="text-align: right">
    141
    <div class="set-list-custom-by-illustrator-subrow">141 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=5">
  Ultra Rare (UR)
</a>
  </td>
  <td style="text-align: right">
    62 cards
    <div class="set-list-custom-by-illustrator-subrow">86 editions</div>
  </td>
  <td style="text-align: right">
    162
    <div class="set-list-custom-by-illustrator-subrow">77 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=9">
  Collector Promo Rare (CPR)
</a>
  </td>
  <td style="text-align: right">
    53 cards
    <div class="set-list-custom-by-illustrator-subrow">55 editions</div>
  </td>
  <td style="text-align: right">
    47
    <div class="set-list-custom-by-illustrator-subrow">47 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?rarity=8">
  Collector Ultra Rare (CUR)
</a>
  </td>
  <td style="text-align: right">
    16 cards
    <div class="set-list-custom-by-illustrator-subrow">16 editions</div>
  </td>
  <td style="text-align: right">
    16
    <div class="set-list-custom-by-illustrator-subrow">16 foil</div>
  </td>
</tr>
  </tbody>
</table>