<table class="set-list set-list-custom set-list-custom-by-illustrator">
  <thead>
    <tr>
      <th style="text-align: left">Card name</th>
      <th style="text-align: left">Cards</th>
      <th style="text-align: left">Variants</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Life Essence Amulet">
  Life Essence Amulet
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">10 editions</div>
  </td>
  <td style="text-align: right">
    9
    <div class="set-list-custom-by-illustrator-subrow">2 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Inspiring Call">
  Inspiring Call
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td style="text-align: right">
    11
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Idle Thoughts">
  Idle Thoughts
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td style="text-align: right">
    9
    <div class="set-list-custom-by-illustrator-subrow">3 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Lorraine, Blademaster">
  Lorraine, Blademaster
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td style="text-align: right">
    9
    <div class="set-list-custom-by-illustrator-subrow">3 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Spirit of Wind">
  Spirit of Wind
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">8 editions</div>
  </td>
  <td style="text-align: right">
    7
    <div class="set-list-custom-by-illustrator-subrow">0 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Favorable Winds">
  Favorable Winds
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    11
    <div class="set-list-custom-by-illustrator-subrow">4 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Esteemed Knight">
  Esteemed Knight
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    10
    <div class="set-list-custom-by-illustrator-subrow">3 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Honorable Vanguard">
  Honorable Vanguard
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    10
    <div class="set-list-custom-by-illustrator-subrow">3 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Veteran Soldier">
  Veteran Soldier
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    10
    <div class="set-list-custom-by-illustrator-subrow">3 foil</div>
  </td>
</tr>
<tr>
  <td>
    <a href="https://index.gatcg.com/cards?name=Banner Knight">
  Banner Knight
</a>
  </td>
  <td style="text-align: right">
    1 card
    <div class="set-list-custom-by-illustrator-subrow">7 editions</div>
  </td>
  <td style="text-align: right">
    9
    <div class="set-list-custom-by-illustrator-subrow">3 foil</div>
  </td>
</tr>
  </tbody>
</table>