<table class="set-list set-list-custom">
  <thead>
    <tr>
      <th style="text-align: center">#</th>
      <th style="text-align: left">Number</th>
      <th style="text-align: left">Name</th>
      <th style="text-align: right">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
  <td style="text-align: center">
    1
  </td>
  <td class="set-list-card-number" style="text-align: left">
    P24
    <br />
    EN-043
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        2
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/water.png" alt="WATER element" />
      <abbr class="card-rarity-label card-rarity-label-CPR" title="Collector Promo Rare">CPR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/frostbind-p24-cpr" rel="noopener noreferrer" target="_blank">
          Frostbind
        </a>
        <span class="name-wrapper-set-name">
          <a href="/P24_(set)">
            Promotional 2024
          </a>
        </span>
      </span>
    </div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil =72
  </td>
</tr>
<tr>
  <td style="text-align: center">
    2
  </td>
  <td class="set-list-card-number" style="text-align: left">
    MRC 1st
    <br />
    EN-165
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        4
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/astra.png" alt="ASTRA element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/prima-materia-mrc-csr" rel="noopener noreferrer" target="_blank">
          Prima Materia
        </a>
        <span class="name-wrapper-set-name">
          <a href="/MRC-1st_(set)">
            Mercurial Heart First Edition
          </a>
        </span>
      </span>
    </div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈132
  </td>
</tr>
<tr>
  <td style="text-align: center">
    -
  </td>
  <td class="set-list-card-number" style="text-align: left">
    MRC 1st
    <br />
    EN-170
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        3
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/neos.png" alt="NEOS element" />
      <abbr class="card-rarity-label card-rarity-label-CSR" title="Collector Super Rare">CSR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/atmos-armor-type-ares-mrc-csr" rel="noopener noreferrer" target="_blank">
          Atmos Armor Type-Ares
        </a>
        <span class="name-wrapper-set-name">
          <a href="/MRC-1st_(set)">
            Mercurial Heart First Edition
          </a>
        </span>
      </span>
    </div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈132
  </td>
</tr>
<tr>
  <td style="text-align: center">
    4
  </td>
  <td class="set-list-card-number" style="text-align: left">
    DOA 1st
    <br />
    EN-239
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-reserve">
        11
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/arcane.png" alt="ARCANE element" />
      <abbr class="card-rarity-label card-rarity-label-U" title="Uncommon">U</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/arcane-blast-doa1e" rel="noopener noreferrer" target="_blank">
          Arcane Blast
        </a>
        <span class="name-wrapper-set-name">
          <a href="/DOA-1st_(set)">
            Dawn of Ashes First Edition
          </a>
        </span>
      </span>
    </div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈141
  </td>
</tr>
<tr>
  <td style="text-align: center">
    5
  </td>
  <td class="set-list-card-number" style="text-align: left">
    P24
    <br />
    EN-004
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        1
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/cleric-robes-p24" rel="noopener noreferrer" target="_blank">
          Cleric Robes
        </a>
        <span class="name-wrapper-set-name">
          <a href="/P24_(set)">
            Promotional 2024
          </a>
        </span>
      </span>
    </div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈150
  </td>
</tr>
<tr>
  <td style="text-align: center">
    -
  </td>
  <td class="set-list-card-number" style="text-align: left">
    P24
    <br />
    EN-008
  </td>
  <td style="text-align: left">
    <div class="set-list-card-name">
      <span class="card-cost card-cost-memory">
        0
      </span>
      <img class="image-element" src="https://img.silvie.org/misc/elements/norm.png" alt="NORM element" />
      <abbr class="card-rarity-label card-rarity-label-PR" title="Promotional Rare">PR</abbr>
      <span class="name-wrapper">
        <a href="https://index.gatcg.com/edition/life-essence-amulet-p24" rel="noopener noreferrer" target="_blank">
          Life Essence Amulet
        </a>
        <span class="name-wrapper-set-name">
          <a href="/P24_(set)">
            Promotional 2024
          </a>
        </span>
      </span>
    </div>
  </td>
  <td class="set-list-card-population" style="text-align: right">
    Foil ≈150
  </td>
</tr>
  </tbody>
</table>