<table class="set-list set-list-custom set-list-named-cards-article">
  <thead>
    <tr>
      <th style="text-align: left">Name</th>
      <th style="text-align: left">Cards</th>
    </tr>
  </thead>
  <tbody>
    <tr>
<th colspan="2">Champions</th>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/P23/CPR/EN-009.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=aithne">Aithne</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOA Alter/CSR/EN-016.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=allen">Allen</a></td>
  <td>1 <small>(3 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-007.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=arisanna">Arisanna</a></td>
  <td>4 <small>(12 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/ALCSD/CSR/EN-009.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=diana">Diana</a></td>
  <td>4 <small>(12 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/P23/CPR/EN-015.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=gwendolyn">Gwendolyn</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/AMBSD/CSR/EN-005.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=jin">Jin</a></td>
  <td>3 <small>(9 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/AMBSD/CSR/EN-008.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=kongming">Kongming</a></td>
  <td>3 <small>(10 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOASD/CSR/EN-006.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=lorraine">Lorraine</a></td>
  <td>4 <small>(22 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/FTC/CSR/EN-004A.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=merlin">Merlin</a></td>
  <td>2 <small>(6 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOA Alter/CSR/EN-018.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=mordred">Mordred</a></td>
  <td>1 <small>(3 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/P23/CPR/EN-010.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=morrigan">Morrigan</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/ALC/U/EN-017.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=nico">Nico</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/ALC/U/EN-016.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=polkhawk">Polkhawk</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/P24/CPR/EN-059.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=priscilla">Priscilla</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOASD/CSR/EN-009.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=rai">Rai</a></td>
  <td>4 <small>(17 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/P23/CPR/EN-020.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=sabrina">Sabrina</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOASD/CSR/EN-012.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=silvie">Silvie</a></td>
  <td>5 <small>(19 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/ALCSD/CSR/EN-012.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=tonoris">Tonoris</a></td>
  <td>4 <small>(12 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOA Alter/CSR/EN-019.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=tristan">Tristan</a></td>
  <td>5 <small>(14 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/ALC/U/EN-018.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=vanitas">Vanitas</a></td>
  <td>2 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/P24/CPR/EN-067.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=vyra">Vyra</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/SP2/CSR/EN-025.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=zander">Zander</a></td>
  <td>5 <small>(14 variants)</small></td>
</tr>
<tr>
<th colspan="2">Allies</th>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/MRC 1st/CSR/EN-134.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=andronika">Andronika</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOA Alter/SR/EN-266.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=arima">Arima</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-002.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=arthur">Arthur</a></td>
  <td>1 <small>(3 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-007.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=astarte">Astarte</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/FTC/CSR/EN-026.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=bedivere">Bedivere</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/MRC/SR/EN-040.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=bertha">Bertha</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/FTC/CSR/EN-027.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=blanche">Blanche</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/AMB 1st/CSR/EN-129.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=cao cao">Cao Cao</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/SP2/CSR/EN-002.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=carter">Carter</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-182.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=claude">Claude</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/MRC 1st/CSR/EN-175.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=cordelia">Cordelia</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-128.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=dahlia">Dahlia</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-013.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=dilu">Dilu</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/AMB 1st/UR/EN-220.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=dong zhou">Dong Zhou</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/SP2/CSR/EN-012.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=freydis">Freydis</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOA Alter/SR/EN-087.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=galahad">Galahad</a></td>
  <td>1 <small>(3 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-004.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=gawain">Gawain</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/MRC/R/EN-052.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=geldus">Geldus</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-008.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=geni">Geni</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/SP1/CSR/EN-009.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=gildas">Gildas</a></td>
  <td>1 <small>(4 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/AMB 1st/CSR/EN-179.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=guan yu">Guan Yu</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/ALC/SR/EN-112.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=inzali">Inzali</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-014.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=jueying">Jueying</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/FTC/CSR/EN-090.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=kraal">Kraal</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/FTC/CSR/EN-037.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=lancelot">Lancelot</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/ALC/SR/EN-061.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=lena">Lena</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/AMB 1st/CSR/EN-182.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=liu bei">Liu Bei</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-003.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=lunete">Lunete</a></td>
  <td>1 <small>(3 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/FTC/CSR/EN-039.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=morgan">Morgan</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/MRC 1st/CSR/EN-123.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=naia">Naia</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-001.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=nia">Nia</a></td>
  <td>1 <small>(3 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/SP1/CSR/EN-011.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=nimue">Nimue</a></td>
  <td>1 <small>(4 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-005.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=parcenet">Parcenet</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-009.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=perse">Perse</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/SP2/CSR/EN-017.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=rococo">Rococo</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/ALC 1st/CSR/EN-166.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=rose">Rose</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/MRC 1st/CSR/EN-069.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=sadi">Sadi</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/AMB 1st/CSR/EN-084.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=sun quan">Sun Quan</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/SP1/CSR/EN-017.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=triskit">Triskit</a></td>
  <td>1 <small>(3 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/EVP/CSR/EN-006.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=uther">Uther</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOA Alter/R/EN-275.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=vertus">Vertus</a></td>
  <td>1 <small>(3 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/AMB 1st/CSR/EN-164.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=xia hou dun">Xia Hou Dun</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/AMB 1st/CSR/EN-126.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=xiao qiao">Xiao Qiao</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/AMB 1st/CSR/EN-201.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=zhang fei">Zhang Fei</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/AMB 1st/UR/EN-214.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=zhao yun">Zhao Yun</a></td>
  <td>1</td>
</tr>
<tr>
<th colspan="2">Places</th>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOA Alter/SR/EN-160.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=avalon">Avalon</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOA Alter/SR/EN-204.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=camelot">Camelot</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/ALC/SR/EN-111.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=gloamspire">Gloamspire</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/AMB/SR/EN-045.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=guandu">Guandu</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/AMB/SR/EN-108.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=hulao gate">Hulao Gate</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOA Alter/SR/EN-158.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=varuck">Varuck</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr>
<th colspan="2">Items</th>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/FTC/SR/EN-015.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=arondight">Arondight</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOA Alter/R/EN-065.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=carnwennan">Carnwennan</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOAp/R/EN-012.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=clarent">Clarent</a></td>
  <td>1 <small>(3 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOA Alter/SR/EN-032.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=discordia">Discordia</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOAp/R/EN-014.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=endura">Endura</a></td>
  <td>1 <small>(4 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOA Alter/SR/EN-034.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=excalibur">Excalibur</a></td>
  <td>2 <small>(4 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/DOA Alter/SR/EN-037.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=galatine">Galatine</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/AMB/SR/EN-067.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=paired minds">Paired Minds</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/PRXY/PR/EN-006.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=polaris">Polaris</a></td>
  <td>1</td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/FTC/SR/EN-020.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=ventus">Ventus</a></td>
  <td>1</td>
</tr>
<tr>
<th colspan="2">Phantasia</th>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/AMB/SR/EN-229.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=yudi">Yudi</a></td>
  <td>1</td>
</tr>
  </tbody>
</table>