<table class="set-list set-list-custom set-list-named-cards-article">
  <thead>
    <tr>
      <th style="text-align: left">Name</th>
      <th style="text-align: left">Cards</th>
    </tr>
  </thead>
  <tbody>
    <tr>
<th colspan="2">Champions</th>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/HVN 1st/CSR/EN-006.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=diao chan">Diao Chan</a></td>
  <td>3 <small>(9 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/HVN 1st/CSR/EN-009.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=guo jia">Guo Jia</a></td>
  <td>3 <small>(9 variants)</small></td>
</tr>
<tr>
<th colspan="2">Allies</th>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/MRC Alter/CSR/EN-040.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=bertha">Bertha</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/MRC Alter/CSR/EN-201.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=hector">Hector</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
<tr style="background-image: url('https://img.silvie.org/cdn/cards/MRC Alter/CSR/EN-211.jpg')">
  <td><a href="https://index.gatcg.com/cards?name=volda">Volda</a></td>
  <td>1 <small>(2 variants)</small></td>
</tr>
  </tbody>
</table>